<em>Drag and drop to change list order</em>
<smart-sortable #sortable id="sortable"
items="li">
    <ol>
        <li>Strawberries</li>
        <li>Mango</li>
        <li>Watermelon</li>
        <li>Apples</li>
        <li>Bananas</li>
        <li>Grapes</li>
        <li>Pineapples</li>
        <li>Oranges</li>
        <li>Raspberries</li>
        <li>Peaches</li>
        <li>Cherries</li>
        <li>Kiwi</li>
        <li>Blueberries</li>
        <li>Pomegranate</li>
        <li>Lemons</li>
    </ol>
</smart-sortable>
<div class="options">
    <smart-check-box #checkbox id="handle"><code>drag-mode="handle"</code>
    </smart-check-box>
</div>