<smart-carousel #carousel id="carousel"></smart-carousel>
<div id="navigationBox">
    <smart-check-box #checkbox id="arrows" [checked]="true">Show Arrows</smart-check-box>
    <br />
    <smart-check-box #checkbox2 id="indicators" [checked]="true">Show Indicators</smart-check-box>
    <br />
    <smart-check-box #checkbox3 id="wheel">Navigate via Mouse Wheel</smart-check-box>
    <br />
    <smart-check-box #checkbox4 id="swipe">Navigate via Swipe Left / Swipe Right
    </smart-check-box>
    <br />
    <smart-check-box #checkbox5 id="slideShow">SlideShow</smart-check-box>
    <br />
    <smart-check-box #checkbox6 id="loop">Loop</smart-check-box>
    <br />
    <hr />
    <smart-button #button id="playButton">Play</smart-button>
    <smart-button #button2 id="pauseButton">Pause</smart-button>
    <br />
    <br />
    <smart-button #button3 id="prevButton">Prev</smart-button>
    <smart-button #button4 id="nextButton">Next</smart-button>
    <br />
    <br />
    <smart-button #button5 id="slideToButton">Slide To</smart-button>
    <br />
    <smart-text-box #textbox id="slideToValue" [placeholder]="'Value'"></smart-text-box>
</div>