#carousel {
    margin: 16px;
}

#navigationBox {
    position: absolute;
    padding: 16px;
    box-sizing: border-box;
    right: 20px;
    top: 2%;
    width: 500px;
    height: 95%;
    border: dashed lightgray 1px;
    color: gray;
    font-size: 20px;
}
