<header>
    <div class="header-container">
        <div class="logo">
            <h1>My Shop</h1>
        </div>

        <smart-menu id="menu" [minimizeWidth]="500" [dropDownPosition]="'bottom-left'">

            <smart-menu-item [shortcut]="'Ctrl+R'">
                <i class="material-icons">
                    payment
                </i>
            </smart-menu-item>

            <smart-menu-items-group>
                <i class="material-icons">
                    shopping_cart
                </i>

                <smart-menu-item [value]="'Cart'" class="menu-cart-title">
                    Cart
                </smart-menu-item>

                <smart-menu-item [value]="'Cart'">
                    <div class=" smart-grid-layout centered">
                        <div class="row menu-cart-row">
                            <div class="col-md-8 col-sm-12 menu-cart-product-content">
                                <div class="cart-product-title">
                                    Case for Amazon Fire 7
                                </div>

                                <div class="cart-product-price">
                                    $24.99
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <img src="./../../../../src/images/tablet-184888_960_720.jpg" class="menu-cart-product-image" />
                            </div>
                        </div>
                        <div class="row menu-cart-row">
                            <div class="col-md-8 col-sm-12 menu-cart-product-content">
                                <div class="cart-product-title">
                                    Propellers for 3DR Solo Drones
                                </div>

                                <div class="cart-product-price">
                                    $14.95
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <img src="./../../../../src/images/quadrocopter-1658967_960_720.png" class="menu-cart-product-image" />
                            </div>
                        </div>
                        <div class="row menu-cart-row">
                            <div class="col-md-8 menu-cart-product-content">
                                <div class="cart-product-title">
                                    Solo Smart Rechargeable Battery
                                </div>

                                <div class="cart-product-price">
                                    $149.95
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="./../../../../src/images/battery-1049664_960_720.jpg" class="menu-cart-product-image" />
                            </div>
                        </div>
                        <div class="row menu-cart-row">
                            <div class="col-md-8 menu-cart-product-content">
                                <div class="cart-product-title">
                                    Case for Amazon Fire 7
                                </div>

                                <div class="cart-product-price">
                                    $24.99
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="./../../../../src/images/tablet-184888_960_720.jpg" class="menu-cart-product-image" />
                            </div>
                        </div>
                    </div>
                </smart-menu-item>

                <smart-menu-item [value]="'Mars'">
                    <div class=" smart-grid-layout centered">
                        <div class="row menu-cart-row">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <smart-button>View Cart</smart-button>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <smart-button>Total $459,81</smart-button>
                            </div>

                        </div>
                    </div>
                </smart-menu-item>

            </smart-menu-items-group>

            <smart-menu-item [shortcut]="'Ctrl+F'">
                <i class="material-icons">
                    search
                </i>
            </smart-menu-item>

        </smart-menu>

    </div>
</header>


<section class="cart-container">

    <smart-grid #grid id="gridCartTable" [layout]="layout" [columns]="columns" [dataSource]="dataSource"></smart-grid>

    <div #total class="total">
        Total: $459,81
    </div>

    <div class="discount">
        <div class="smart-grid-layout centered">
            <div class="row">

                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-12">
                    <smart-input [placeholder]="'Discount Coupon'"></smart-input>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="buttons">
                        <smart-button class="primary btn-outlined icon text">Apply</smart-button>
                        <smart-button class="primary btn-success icon text">Checkout</smart-button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<smart-window #smartWindow id="delete-prod-modal" [label]="'Delete product'" [headerButtons]="[]">
    <div id="article">
        <section>
            <h3>Are you sure you want to delete this product?</h3>

            <div class=" smart-grid-layout centered">
                <div class="row delete-modal-cart-row">
                    <div class="col-md-6 col-sm-12 menu-cart-product-content">
                        <smart-button class="confirm-delete-modal">YES</smart-button>
                    </div>
                    <div class="col-md-6 col-sm-12 menu-cart-product-content">
                        <smart-button class="close-delete-modal">NO</smart-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</smart-window>