<div class="container">
    <div class="row">
        <div class="col">
            <div class="header-menu">
                <div class="welcome">Welcome back, John!</div>
                <smart-button class="today-button settings-button"><span class="material-icons">calendar_today</span>Today<span class="material-icons">keyboard_arrow_down</span></smart-button>
                <smart-button class="primary"><span class="material-icons">filter_alt</span></smart-button>
                <smart-button class="primary"><span class="material-icons">refresh</span></smart-button>
            </div>
        </div>
    </div>

    <div class="row row-mx-10">
        <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-primary mr-3 font-size-36px">shopping_cart</span></div>
                    <div>
                        <h5 class="font-weight-bold">218</h5>
                        <h6 class="">Sales Today</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-warning mr-3 font-size-36px">show_chart</span></div>
                    <div>
                        <h5 class="font-weight-bold">4.138</h5>
                        <h6 class="">Visitors Today</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-success mr-3 font-size-36px">attach_money</span></div>
                    <div>
                        <h5 class="font-weight-bold">109.783</h5>
                        <h6 class="">Total Earnings</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-6 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-info mr-3 font-size-36px">add_shopping_cart</span></div>
                    <div>
                        <h5 class="font-weight-bold">7</h5>
                        <h6 class="">Pending Orders</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-6 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-danger mr-3 font-size-36px">attach_money</span></div>
                    <div>
                        <h5 class="font-weight-bold">86.002</h5>
                        <h6 class="">Total Revenue</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Total Revenue</h4>
                    <div class="smart-badge smart-badge-primary smart-badge-pill">Monthly</div>
                </div>
                <div class="card-body maxh-350">
                    <div id="revenueChart" class="h-100 w-100 border-0"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Daily feed</h4>
                    <div class="smart-badge smart-badge-primary smart-badge-pill">Today</div>
                </div>

                <div class="card-body maxh-350 py-2">
                    <div class="feeds">
                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/phonebook/michael.png"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>Frederick Murphy</strong> reacted to your blog post</div>
                                <small class="text-muted">Today 8:19 PM</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">7 min ago</small>
                            </div>
                        </div>

                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/phonebook/maria.png"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>Elisha Scott</strong> is now engaged</div>
                                <small class="text-muted">Today 10:45 PM</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">10 hours ago</small>
                            </div>
                        </div>

                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/phonebook/michael.png"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>John Doe</strong> is now engaged</div>
                                <small class="text-muted">Today 12:03 PM</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">8 hours ago</small>
                            </div>
                        </div>
                    </div>

                    <smart-button id="loadMore" class="primary">Load more</smart-button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Calendar</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body p-0">
                    <smart-calendar id="calendar" class="w-100 border-0"></smart-calendar>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Weekly sales</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body">
                    <div id="weeklySalesChart" class="combo-chart h-auto w-100"></div>
                    <div id="weeklySalesTable" class="span-table no-border h-auto"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Appointments</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body maxh-350 p-0">
                    <div id="appointmentContainer" class="h-100">
                        <div class="appointment">
                            <div class="label"><strong>Contact Sales</strong><span>14:00</span></div>
                            <p class="">Proin sagittis nisl diam, in pretium velit congue et.</p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Meet with new client</strong><span>15:20</span></div>
                            <p class="">Donec sodales, tellus at facilisis commodo, lectus lectus pharetra neque, at
                                condimentum augue diam vitae massa.
                            </p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Dinner with manager</strong><span>19:00</span></div>
                            <p class="">Aenean facilisis mi ac vestibulum vestibulum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Latest Projects</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body">
                    <div id="projectsTable" class="no-border maxh-300"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Sales Comparison</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body">
                    <div id="salesComparisonChart" class="w-100 h-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate"></smart-menu-item>
    <smart-menu-item>First action</smart-menu-item>
    <smart-menu-item>Second action</smart-menu-item>
    <smart-menu-item separator>Third action</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>

<template id="settingsTemplate">SETTINGS</template>