<smart-chart #chart id="chart" [caption]="caption" [description]="description" [showLegend]="showLegend"
    [animationDuration]="animationDuration" [enableCrosshairs]="enableCrosshairs" [padding]="padding"
    [colorScheme]="colorScheme" [dataSource]="dataSource" [xAxis]="xAxis" [seriesGroups]="seriesGroups"></smart-chart>
<br />
<div class="options">
    <smart-check-box #checkbox id="renderTo">Render to external div</smart-check-box>
</div>
<br />
<div #selectorContainer id="selectorContainer"></div>