<div class="container">
    <div id="worldMap" class="map"></div>
    <div id="charts">
        <div>
            <div class="chart-header">
                <div class="title">Market share</div>
                <div class="share value">22.22 %</div>
            </div>
            <div id="marketShare"></div>
        </div>
        <div>
            <div class="chart-header">
                <div class="title">Revenue</div>
                <div class="revenue value">$ 85,183</div>
            </div>
            <div id="revenue"></div>
        </div>
        <div>
            <div class="chart-header">
                <div class="title">Orders</div>
                <div class="orders value">94</div>
            </div>
            <div id="orders"></div>
        </div>
        <div>
            <div class="chart-header">
                <div class="title">Customers</div>
                <div class="customers value">64</div>
            </div>
            <div id="customers"></div>
        </div>
    </div>
    <div id="topSelling">
        <div class="title">Top selling products</div>
        <div id="topSellingProducts"></div>
    </div>   
</div>