<div class="demo-description">
    <h1>Data Grid Sticky Columns Header</h1>
    <p>When the Grid's height is 'auto', the height is a sum of the total rows
        height. The Grid does not have vertical scrollbars in this mode and to
        scroll up, down, the web page's scrollbars are used. The Sticky Columns
        feature, allows the Grid's Columns to be visible, while the user scrolls
        up/down with the web page's scrollbars.</p>
</div>
<smart-grid #grid id="grid" [appearance]="appearance" [behavior]="behavior" [dataSource]="dataSource"
    [columns]="columns"></smart-grid>