<div class="demo-description">This demo showcases how to customize and style cells in Pivot Table based
    on their values.</div>
<smart-pivot-table #pivottable id="pivotTable" [columnTotals]="columnTotals"
    [columnTotalsPosition]="columnTotalsPosition" [dataSource]="dataSource" [freezeHeader]="freezeHeader"
    [grandTotal]="grandTotal" [groupLayout]="groupLayout" [keyboardNavigation]="keyboardNavigation"
    [rowTotals]="rowTotals" [sortMode]="sortMode" [columns]="columns"></smart-pivot-table>