<smart-list-box #listbox [selectionMode]="'checkBox'" id="list"></smart-list-box>
<div class="options">
    <div class="caption">Methods</div>
    <div class="option">
        <smart-button #button id="unsort">Unsort</smart-button>
        <smart-button #button2 id="sort">Sort</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="ungroup">Ungroup</smart-button>
        <smart-button #button4 id="group">Group</smart-button>
    </div>
    <div class="option">
        <smart-button #button5 id="default">Default</smart-button>
        <smart-button #button6 id="check">Check</smart-button>
        <br/>
        <smart-button #button7 id="radio">Radio</smart-button>
    </div>
    <div class="option">
        <smart-button #button8 id="insert">Insert</smart-button>
        <smart-button #button9 id="update">Update</smart-button>
        <br/>
        <smart-button #button10 id="remove">Remove</smart-button>
    </div>
    <div class="option">
        <smart-button #button11 style="width:auto;" id="disabled">Enable/Disable</smart-button>
        <br/>
        <smart-button #button12 id="clearItems">Clear Items</smart-button>
    </div>
</div>