.social-page {
    .small-button .material-icons {
        margin-right: 5px;
        font-size: inherit;
    }

    .profile-details-image {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        margin-bottom: 1rem;
    }

    .profile-details-title {
        margin-bottom: 1rem;
    }

    .activity-wrapper {
        padding: 0.75rem 0;

        .activity-main-image {
            width: 65px;
        }

        .name-row {
            padding-top: 0.75rem;
            padding-bottom: 0.5rem;

            .custom-col {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
        }

        .content {
            margin-bottom: 1.5rem;
        }

        .meta {
            margin-bottom: 0.75rem;
        }

        .comments {
            .comment {
                margin-bottom: 0.75rem;

                .content {
                    margin-left: 1rem;
                    margin-bottom: 0;
                }
            }
            .img-as-background {
                width: 30px;
            }
        }
    }

    .friends {
        .friend {
            padding: 0.75rem 0;

            .img-as-background {
                width: 50px;
            }
        }
    }

    .engagement-wrapper {
        .social-page-load-more {
            margin: 10px 0;
            width: 100%;
        }

        .feed {
            margin-left: -5px;
            margin-right: -5px;
            padding-bottom: 0.75rem;
            padding-top: 0.75rem;
            border-bottom: 1px solid var(--smart-border-color);

            .feed-image-wrapper,
            .feed-posted-ago-wrapper {
                position: relative;
                padding-left: 5px;
                padding-right: 5px;
                flex: 0 0 auto;
                width: auto;
                max-width: 100%;

                .img-as-background {
                    width: 50px;
                    border-radius: 50%;
                    border: 1px solid var(--smart-border-color);
                    margin-right: 0;
                }
            }

            .feed-text-wrapper {
                position: relative;
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
        }
    }

    @media (min-width: 768px) {
        .activity-wrapper {
            display: flex;
        }

        .activity-content {
            margin-left: 1rem;
        }

        .name-row {
            padding-top: 1.5rem !important;
            padding-bottom: 0.75rem !important;
        }

        .friend {
            display: flex !important;
        }

        .friend-info {
            margin-left: 1rem;
        }
    }

    @media (min-width: 992px) {
        .col-entity-lg-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-entity-lg-8 {
            flex: 0 0 auto;
            width: 66.66666667%;
        }

        .col-entity-lg-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
        }
    }
}
