<div class="demo-description">This demo showcases the <strong>dataSourceMap</strong> property of Kanban.
    It determines the the relation (mapping) between the Kanban's default fields
    (keywords) and the data fields from the data source. Only some of the default
    mapping can be overwritten.</div>
<smart-kanban #kanban id="kanban" [addNewButton]="addNewButton" [collapsible]="collapsible" [currentUser]="currentUser"
    [dataSource]="dataSource" [dataSourceMap]="dataSourceMap" [editable]="editable" [swimlanes]="swimlanes"
    [taskActions]="taskActions" [taskComments]="taskComments" [taskDue]="taskDue" [taskProgress]="taskProgress"
    [users]="users" [columns]="columns"></smart-kanban>