<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-xxl-4 mb-5">
            <div class="card overflow-hidden">
                <div class="top-0 left-0 position-absolute w-100" style="height: 215px; background: linear-gradient(45deg, rgb(255, 105, 165), rgb(250, 139, 12));"></div>

                <div class="card-header border-0 py-5" style="z-index: 1;">
                    <h5 class="card-title font-weight-bolder text-white">Daily Overview</h5>
                    <div class="settings-button material-icons text-white">expand_more</div>
                </div>

                <div class="card-body position-relative">
                    <div class="h-35px"></div>

                    <div class="card shadow-3 mb-5">
                        <div class="card-body">
                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h4 class="font-weight-bold mb-0 text-primary">5,461</h4>
                                    <p class="m-0 text-muted">Users Today</p>
                                </div>
                                <div class="col text-right">
                                    <h4 class="font-weight-bold mb-0">8,085</h4>
                                    <p class="m-0 text-muted">Expected Users</p>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center mb-4">
                                <div class="col-12">
                                    <smart-progress-bar value="70" class="primary"></smart-progress-bar>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center">
                                <div class="col">
                                    <small class="mb-0 text-muted"><span class="text-success font-weight-bold"><i class="material-icons" style="font-size: inherit;">arrow_upward</i> 25%</span> Since yesterday</small>
                                </div>
                                <div class="col text-right">
                                    <span class="">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-3 mb-5">
                        <div class="card-body">
                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h4 class="font-weight-bold mb-0 text-info">140</h4>
                                    <p class="m-0 text-muted">Goals Today</p>
                                </div>
                                <div class="col text-right">
                                    <h4 class="font-weight-bold mb-0">120</h4>
                                    <p class="m-0 text-muted">Expected Goals</p>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center mb-4">
                                <div class="col-12">
                                    <smart-progress-bar value="25" class="info"></smart-progress-bar>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center">
                                <div class="col">
                                    <small class="mb-0 text-muted"><span class="text-danger font-weight-bold"><i class="material-icons" style="font-size: inherit;">arrow_downward</i> 25%</span> Since yesterday</small>
                                </div>
                                <div class="col text-right">
                                    <span class="">25%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xl-12 col-xxl-8 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Website Performance</h4>
                </div>

                <div class="card-body d-flex flex-column maxh-450 py-2">
                    <ul class="nav nav-tabs mb-5" id="performanceTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link d-inline-block p-4 hover-shadow-2" data-toggle="tab" href="#performance-1" role="tab" aria-controls="performance-1" aria-selected="true">
                                <p class="m-0 text-muted">Users</p>
                                <h4 class="font-weight-bold mb-0 text-dark">72.6K <small class="text-success"><i class="material-icons" style="font-size: inherit;">arrow_upward</i> 25%</small></h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link d-inline-block p-4 hover-shadow-2" data-toggle="tab" href="#performance-2" role="tab" aria-controls="performance-2" aria-selected="false">
                                <p class="m-0 text-muted">Sessions</p>
                                <h4 class="font-weight-bold mb-0 text-dark">87.2K <small class="text-success"><i class="material-icons" style="font-size: inherit;">arrow_upward</i> 47%</small></h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link d-inline-block p-4 hover-shadow-2" data-toggle="tab" href="#performance-3" role="tab" aria-controls="performance-3" aria-selected="false">
                                <p class="m-0 text-muted">Bounce Rate</p>
                                <h4 class="font-weight-bold mb-0 text-dark">72.6K <small class="text-danger"><i class="material-icons" style="font-size: inherit;">arrow_downward</i> 28%</small></h4>
                            </a>
                        </li>

                        <li class="nav-item" role="presentation">
                            <a class="nav-link d-inline-block p-4 hover-shadow-2" data-toggle="tab" href="#performance-4" role="tab" aria-controls="performance-4" aria-selected="false">
                                <p class="m-0 text-muted">Session Duration</p>
                                <h4 class="font-weight-bold mb-0 text-dark">72.6K <small class="text-success"><i class="material-icons" style="font-size: inherit;">arrow_upward</i> 25%</small></h4>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content h-100" id="performanceTabContent">
                        <div class="tab-pane h-100 fade show active" id="performance-1" role="tabpanel" aria-labelledby="performance-1-tab">
                            <smart-chart id="performanceChart-1" class="h-100 w-100"></smart-chart>
                        </div>
                        <div class="tab-pane h-100 fade" id="performance-2" role="tabpanel" aria-labelledby="performance-2-tab">
                            <smart-chart id="performanceChart-2" class="h-100 w-100"></smart-chart>
                        </div>
                        <div class="tab-pane h-100 fade" id="performance-3" role="tabpanel" aria-labelledby="performance-3-tab">
                            <p class="text-center py-4">No data available</p>
                        </div>
                        <div class="tab-pane h-100 fade" id="performance-4" role="tabpanel" aria-labelledby="performance-4-tab">
                            <p class="text-center py-4">No data available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xl-12 col-xxl-8 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Traffic Channels</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body p-0">
                    <div id="traffic-channels" class="no-border table-hover w-100 h-100"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xl-12 col-xxl-4 mb-5">
            <div class="card h-100">
                <div class="card-header pb-0 d-block d-sm-flex">
                    <h4 class="label pb-4">Sessions by Device</h4>
                    <ul class="nav nav-tabs border-0 justify-content-end" id="sessionsTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link px-2 text-muted active" data-toggle="tab" href="#sessions-1" role="tab" aria-controls="sessions-1" aria-selected="true">Week</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link px-2 text-muted" data-toggle="tab" href="#sessions-2" role="tab" aria-controls="sessions-2" aria-selected="false">Month</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link px-2 text-muted" data-toggle="tab" href="#sessions-3" role="tab" aria-controls="sessions-3" aria-selected="false">Year</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content h-100" id="sessionsTabContent">
                        <div class="tab-pane h-100 position-relative fade show active" id="sessions-1" role="tabpanel" aria-labelledby="sessions-1-tab">
                            <div class="w-100 h-300 position-absolute top-0 left-0 text-center pt-9" style="z-index: 1; pointer-events: none;">
                                <h1 class="mt-3">1773</h1>
                                <p>Total visitors</p>
                            </div>
                            <div id="sourceChart1" class="combo-chart w-300 h-350 p-0 mx-auto"></div>
                        </div>

                        <div class="tab-pane h-100 position-relative fade" id="sessions-2" role="tabpanel" aria-labelledby="sessions-2-tab">
                            <div class="w-100 h-300 position-absolute top-0 left-0 text-center pt-9" style="z-index: 1; pointer-events: none;">
                                <h1 class="mt-3">12773</h1>
                                <p>Total visitors</p>
                            </div>
                            <div id="sourceChart2" class="combo-chart w-300 h-350 p-0 mx-auto"></div>
                        </div>

                        <div class="tab-pane h-100 position-relative fade" id="sessions-3" role="tabpanel" aria-labelledby="sessions-3-tab">
                            <p class="text-center py-4">No data available</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Top Landing Pages</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive h-100">
                        <table class="table table-hover h-100">
                            <thead>
                            <tr>
                                <th class="align-middle">Landing Pages</th>
                                <th class="align-middle">Sessions</th>
                                <th class="align-middle">Bounce Rate</th>
                                <th class="align-middle">CTR</th>
                                <th class="align-middle text-right">Goal Conv. Rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="align-middle"><a href="#">Homepage</a></td>
                                <td class="align-middle">93,397</td>
                                <td class="align-middle">4.2%</td>
                                <td class="align-middle">9225</td>
                                <td class="align-middle text-right">80%</td>
                            </tr>
                            <tr>
                                <td class="align-middle"><a href="#">Our Service</a></td>
                                <td class="align-middle">25,397</td>
                                <td class="align-middle">4.5%</td>
                                <td class="align-middle">12025</td>
                                <td class="align-middle text-right">70%</td>
                            </tr>
                            <tr>
                                <td class="align-middle"><a href="#">List of Products</a></td>
                                <td class="align-middle">100,397</td>
                                <td class="align-middle">3.5%</td>
                                <td class="align-middle">9025</td>
                                <td class="align-middle text-right">83%</td>
                            </tr>
                            <tr>
                                <td class="align-middle"><a href="#">Contact us</a></td>
                                <td class="align-middle">9397</td>
                                <td class="align-middle">3.5%</td>
                                <td class="align-middle">2025</td>
                                <td class="align-middle text-right">73%</td>
                            </tr>
                            <tr>
                                <td class="align-middle"><a href="#">Products</a></td>
                                <td class="align-middle">5,397</td>
                                <td class="align-middle">3.5%</td>
                                <td class="align-middle">225</td>
                                <td class="align-middle text-right">73%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Top Landing Pages</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5 col-xl-12 col-xxl-5 mb-5 mb-lg-0 mb-xl-5 mb-xxl-0">
                            <table class="table table-bordered table-sm table-hover rounded h-100">
                                <thead class="bg-secondary">
                                <tr>
                                    <th class="">Top Region</th>
                                    <th class="">Sessions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="align-middle">United State</td>
                                    <td class="align-middle">23942</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">United Kingdom</td>
                                    <td class="align-middle">13558</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">Canada</td>
                                    <td class="align-middle">2591</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">Japan</td>
                                    <td class="align-middle">3411</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">India</td>
                                    <td class="align-middle">3242</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">Bangladesh</td>
                                    <td class="align-middle">174</td>
                                </tr>
                                <tr>
                                    <td class="align-middle">Brazil</td>
                                    <td class="align-middle">110</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-7 col-xl-12 col-xxl-7">
                            <div id="salesMap" class="mh-300 h-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate"></smart-menu-item>
    <smart-menu-item>First action</smart-menu-item>
    <smart-menu-item>Second action</smart-menu-item>
    <smart-menu-item separator>Third action</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>

<template id="settingsTemplate">SETTINGS</template>