<smart-chart #chart id="chart" [caption]="caption" [description]="description" [animation]="animation"
    [showLegend]="showLegend" [padding]="padding" [titlePadding]="titlePadding" [colorScheme]="colorScheme"
    [dataSource]="dataSource" [xAxis]="xAxis" [valueAxis]="valueAxis" [seriesGroups]="seriesGroups"></smart-chart>
<div class="options">
    <table>
        <tr>
            <td>
                <p>Move the slider to change start angle:</p>
                <smart-slider #slider id="sliderStartAngle" [min]="0" [max]="360" [value]="0" [coerce]="true"
                    [labelsVisibility]="'endPoints'" [ticksVisibility]="'major'" [showUnit]="true" [unit]="'°'">
                </smart-slider>
            </td>
        </tr>
        <tr>
            <td>
                <p>Move the slider to change end angle:</p>
                <smart-slider #slider2 id="sliderEndAngle" [min]="0" [max]="360" [value]="270" [coerce]="true"
                    [labelsVisibility]="'endPoints'" [ticksVisibility]="'major'" [showUnit]="true" [unit]="'°'">
                </smart-slider>
            </td>
        </tr>
        <tr>
            <td>
                <p>Move the slider to rotate:</p>
                <smart-slider #slider3 id="sliderRotate" [min]="0" [max]="360" [value]="0" [coerce]="true"
                    [labelsVisibility]="'endPoints'" [ticksVisibility]="'major'"></smart-slider>
            </td>
        </tr>
        <tr>
            <td>
                <p>Move the slider to change the radius:</p>
                <smart-slider #slider4 id="sliderRadius" [min]="80" [max]="140" [value]="120" [coerce]="true"
                    [labelsVisibility]="'endPoints'" [ticksVisibility]="'major'"></smart-slider>
            </td>
        </tr>
        <tr>
            <td>
                <smart-check-box #checkbox id="checkBoxAutoRotateLabels" [checked]="true">Auto-rotate labels
                </smart-check-box>
            </td>
        </tr>
        <tr>
            <td>
                <smart-check-box #checkbox2 id="checkBoxTicksBetween">Ticks between values</smart-check-box>
            </td>
        </tr>
    </table>
</div>