.typography {
    .typography-header {
        margin-bottom: 0.75rem;
        flex: 0 0 100%;
        max-width: 100%;

        h4 {
            font-size: 1.5rem;
        }
    }

    .custom-card {
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        opacity: 0.9;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }

    ol,
    ul {
        padding-inline-start: 40px;
    }

    mark,
    .mark {
        padding: 0.2em;
        background-color: #fcf8e3;
    }

    @media (min-width: 992px) {
        .typography-entity {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
