smart-color-input {
  --smart-outline: var(--smart-primary);
  display: inline-block;
  border: none;
  width: var(--smart-text-box-default-width);
  height: var(--smart-text-box-default-height);
  overflow: visible;
  background: var(--smart-background);

  &[value-display-mode="colorBox"] {
    .smart-action-button {
      cursor: pointer;
    }
  }
}