<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cart demo - Checkout page</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="A page which shows Checkout Layout Template with our UI Components" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="../../../source/styles/smart.default.css" />
    <link rel="stylesheet" type="text/css" href="../common.css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />

    
</head>
<body>

    <header>
        <div class="header-container">
            <div class="logo">
                <h1>My Shop</h1>
            </div>

            <smart-menu id="menu" minimize-width="500" drop-down-position="bottom-left">
                <smart-menu-item shortcut="Ctrl+R" class="active-item">
                    <i class="material-icons">
                        payment
                    </i>
                </smart-menu-item>

                <smart-menu-item shortcut="Ctrl+G" onclick="window.location.href = '../cart'">
                    <i class="material-icons">
                        shopping_cart
                    </i>
                </smart-menu-item>

                <smart-menu-item shortcut="Ctrl+F">
                    <i class="material-icons">
                        search
                    </i>
                </smart-menu-item>

            </smart-menu>

        </div>
    </header>


    <section class="checkout-container">
        <div class="smart-card-holder">
            <div class=" smart-grid-layout centered">
                <div class="row">

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="subtitle">
                            Billing details
                        </div>

                        <div class=" smart-grid-layout centered">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-12">
                                    <label>First Name *</label>
                                    <smart-input></smart-input>
                                </div>
                                <div class="col-md-6 col-sm-12 col-12">
                                    <label>Last Name *</label>
                                    <smart-input></smart-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <label>Company Name</label>
                                    <smart-input></smart-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-12">
                                    <label>Email Address *</label>
                                    <smart-input></smart-input>
                                </div>
                                <div class="col-md-6 col-sm-12 col-12">
                                    <label>Mobile No</label>
                                    <smart-input></smart-input>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-12">
                                    <label>Country</label>
                                    <smart-drop-down-list drop-down-position="bottom" placeholder="Text">
                                        <smart-list-item selected>Australia</smart-list-item>
                                        <smart-list-item>Brazil</smart-list-item>
                                        <smart-list-item>France</smart-list-item>
                                        <smart-list-item>Germany</smart-list-item>
                                        <smart-list-item>United States</smart-list-item>
                                    </smart-drop-down-list>
                                </div>
                                <div class="col-md-6 col-sm-12 col-12">
                                    <label>City</label>
                                    <smart-input></smart-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <label>Address</label>
                                    <smart-input></smart-input>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <smart-input placeholder="Apartment, suite, unit etc. (optional)"></smart-input>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <smart-check-box>Create an account ?</smart-check-box>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div id="productCheckout">
                        </div>

                        <smart-button class="primary btn-outlined place-order text">Place Order</smart-button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- scripts -->
    <script type="module" src="../../../source/modules/smart.grid.js">
    </script>
    <script type="module" src="../../../source/modules/smart.textbox.js">
    </script>
    <script type="module" src="../../../source/modules/smart.input.js">
    </script>
    <script type="module" src="index.js">
    </script>

</body>
</html>