html,
body,
#root>div,
#kanban {
    width: 100%;
    height: 100%;
}

html,
body {
    margin: 0;
}

#menu {
    height: auto;
}

#menu.task #removeAll,
#menu.column #edit,
#menu.column #copy,
#menu.column #done {
    display: none;
}

#removeAll {
    margin-top: var(--smart-border-radius);
}