<div class="header">
    <div class="header">
        <div class="path"> <span class="home">all files</span>
            <span class="active">source/</span>
        </div>
        <div class="coverage-info">
            <div class="statements"> <span class="percantage">77.24%</span>
                <span class="text">Statements</span>
                <span class="overview">22470/29090</span>
            </div>
            <div class="branches"> <span class="percantage">67.32%</span>
                <span class="text">Branches</span>
                <span class="overview">14637/21741</span>
            </div>
            <div class="functions"> <span class="percantage">84.02%</span>
                <span class="text">Functions</span>
                <span class="overview">1992/2371</span>
            </div>
            <div class="functions"> <span class="percantage">77.31%</span>
                <span class="text">Lines</span>
                <span class="overview">22372/28938</span>
            </div>
        </div>
        <div class="status-line"></div>
    </div>
</div>
<smart-grid #grid [dataSource]="dataSource" [columns]="columns" [appearance]="appearance" [sorting]="sorting" id="grid">
</smart-grid>