<p>Right-click anywhere to show the context menu.</p>
<smart-menu #menu id="menu" [mode]="'dropDown'">
    <smart-menu-item [label]="'Default Formatting'" [separator]="true"></smart-menu-item>
    <smart-menu-item [label]="'Format Cells...'" [separator]="true"></smart-menu-item>
    <smart-menu-item [label]="'Insert...'"></smart-menu-item>
    <smart-menu-item [label]="'Delete...'"></smart-menu-item>
    <smart-menu-item [label]="'Cut'"></smart-menu-item>
    <smart-menu-item [label]="'Copy'"></smart-menu-item>
    <smart-menu-item [label]="'Paste'"></smart-menu-item>
    <smart-menu-item [label]="'Selection List...'"></smart-menu-item>
</smart-menu>