<form id="profileForm"></form>
<div class="options">
    <div class="option">
        <smart-button #addBtn id="addBtn">Add Form Control</smart-button>
    </div>
    <div class="option">
        <smart-button #insertBtn id="insertBtn">Insert After 'First Name'</smart-button>
    </div>
    <div class="option">
        <smart-button #removeBtn [disabled]="true" id="removeBtn">Remove Form Control</smart-button>
    </div>
    <div class="option">
        <smart-button #hideBtn id="hideBtn">Hide 'City'</smart-button>
    </div>
    <div class="option">
        <smart-button #showBtn [disabled]="true" id="showBtn">Show 'City'</smart-button>
    </div>
</div>