<div class="demo-description">Color Panel with display-mode="default"</div>
<smart-color-panel #colorpanel id="colorPanel" [displayMode]="'default'"></smart-color-panel>
<div class="options" #options>
    <div class="caption">Settings</div>
    <div class="option">
        <label>Selected color:</label>
        <br/>
        <input class="smart-input" type="text" placeholder="#RRGGBB" id="rgbValue" #rgbaInput/>
    </div>
    <div class="option">
        <label>Toggle Grid Color Size</label>
        <br/>
        <smart-radio-button #radiobutton [groupName]="'gridSettings'">10</smart-radio-button>
        <br/>
        <smart-radio-button #radiobutton2 [groupName]="'gridSettings'" [checked]="true">20</smart-radio-button>
        <br/>
        <smart-radio-button #radiobutton3 [groupName]="'gridSettings'">30</smart-radio-button>
        <br/>
    </div>
    <div class="option'">
        <label>Toggle Grid Column Gap</label>
        <br/>
        <smart-radio-button #radiobutton4 [groupName]="'gapSettings'" [checked]="true">1</smart-radio-button>
        <br/>
        <smart-radio-button #radiobutton5 [groupName]="'gapSettings'">2.5</smart-radio-button>
        <br/>
        <smart-radio-button #radiobutton6 [groupName]="'gapSettings'">5</smart-radio-button>
        <br/>
    </div>
    <div class="option">
        <label>Enable/Disable Custom Colors</label>
        <br/>
        <smart-check-box #checkbox id="enableCustomColors">Enable Custom Colors</smart-check-box>
    </div>
</div>