<div class="button-demo thin-buttons">
    <div class="header">
        <label>Thin Buttons</label>
    </div>
    <div class="buttons-group">
        <div class="box-1">
            <smart-button #button class="btn btn-one"> <span>HOVER ME</span>
            </smart-button>
        </div>
        <div class="box-2">
            <smart-button #button2 class="btn btn-two"> <span>HOVER ME</span>
            </smart-button>
        </div>
        <div class="box-3">
            <smart-button #button3 class="btn btn-three"> <span>HOVER ME</span>
            </smart-button>
        </div>
    </div>
</div>