<div class="container">False | True | Null | Disabled | Readonly</div>
<div class="container metro-blue">
    <smart-led></smart-led>
    <smart-led #led [checked]="true"></smart-led>
    <smart-led #led2 [checked]="true"="null"></smart-led>
    <smart-led #led3 [checked]="true" [disabled]="true"></smart-led>
    <smart-led #led4 [checked]="true" readonly></smart-led>
    <div class="theme-name">Blue theme</div>
    <div class="clearing"></div>
</div>
<div class="container metro-dark">
    <smart-led></smart-led>
    <smart-led #led5 [checked]="true"></smart-led>
    <smart-led #led6 [checked]="true"="null"></smart-led>
    <smart-led #led7 [checked]="true" [disabled]="true"></smart-led>
    <smart-led #led8 [checked]="true" readonly></smart-led>
    <div class="theme-name">Dark theme</div>
    <div class="clearing"></div>
</div>
<div class="container metro-light">
    <smart-led></smart-led>
    <smart-led #led9 [checked]="true"></smart-led>
    <smart-led #led10 [checked]="true"="null"></smart-led>
    <smart-led #led11 [checked]="true" [disabled]="true"></smart-led>
    <smart-led #led12 [checked]="true" readonly></smart-led>
    <div class="theme-name">Light theme</div>
    <div class="clearing"></div>
</div>
<div class="container metro-red">
    <smart-led></smart-led>
    <smart-led #led13 [checked]="true"></smart-led>
    <smart-led #led14 [checked]="true"="null"></smart-led>
    <smart-led #led15 [checked]="true" [disabled]="true"></smart-led>
    <smart-led #led16 [checked]="true" readonly></smart-led>
    <div class="theme-name">Red theme</div>
    <div class="clearing"></div>
</div>