
/* smart-multi-split-button */

smart-multi-split-button {
    width: var(--smart-multi-split-button-default-width);
    height: var(--smart-multi-split-button-default-height);
    overflow: initial;
    visibility: hidden;
    cursor: pointer;
}

    /* Overrides smartWidgets Framework - base.css selector */
    smart-multi-split-button.smart-element {
        overflow: visible;
        visibility: inherit;
        border-width: 0px;
    }

/*ListBox*/
.smart-multi-split-button smart-list-box {
    position: relative;
    width: 100%;
    height: 100%;
    border: initial;
    padding: initial;
    overflow: hidden;
    font-size: inherit;
    font-family: inherit;
    outline: none;
}

.smart-multi-split-button .smart-buttons-container .smart-input .smart-token {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
    user-select: none;
    margin-top: 0;
    margin-bottom: 0;
}

.smart-multi-split-button[selection-display-mode="tokens"] .smart-multi-split-button-unselect-button,
.smart-multi-split-button[selection-display-mode="tokens"] .smart-multi-split-button-unselect-button {
    pointer-events: initial;
}

.smart-multi-split-button[selection-display-mode="plain"] .smart-multi-split-button-unselect-button,
.smart-multi-split-button[selection-display-mode="plain"] .smart-multi-split-button-unselect-button {
    pointer-events: none;
}

.smart-multi-split-button .smart-drop-down.smart-visibility-hidden {
    transform: scale(0);
    transition: transform 0.2s ease-in;
    transform-origin: left top 0px;
}

.smart-multi-split-button .smart-template-container {
    width: 100%;
    height: 100%;
}

.smart-multi-split-button .smart-multi-split-button-buttons {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: space-around;
}

    .smart-multi-split-button .smart-multi-split-button-buttons .smart-action-split-button {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

        .smart-multi-split-button .smart-multi-split-button-buttons .smart-action-split-button[hover] {
            background: var(--smart-ui-state-hover);
            border: var(--smart-ui-state-border-hover);
            color: var(--smart-ui-state-color-hover);
        }

        .smart-multi-split-button .smart-multi-split-button-buttons .smart-action-split-button[active] {
            background: var(--smart-ui-state-active);
            border: var(--smart-ui-state-border-active);
            color: var(--smart-ui-state-color-active);
        }


/* --- Right-to-Left --- */

smart-multi-split-button[right-to-left] .smart-content,
smart-multi-split-button[right-to-left] .smart-label,
smart-multi-split-button[right-to-left] .smart-hint {
    direction: rtl;
}

smart-multi-split-button[right-to-left] .smart-drop-down {
    direction: initial;
}
