<<<<<<< HEAD

/* .smart-time-picker */

.smart-time-picker {
    display: block;
    width: var(--smart-time-picker-default-width);
    height: var(--smart-time-picker-default-height);
    line-height: initial;
    touch-action: none;
    min-width: 250px;
}

    .smart-time-picker[view="landscape"] {
        width: var(--smart-time-picker-default-height);
        height: var(--smart-time-picker-default-width);
        min-width: 400px;
    }

    .smart-time-picker > .smart-container,
    :host(smart-time-picker) > .smart-container {
        width: 100%;
        height: 100%;
    }

    .smart-time-picker[view="landscape"] > .smart-container,
    :host(smart-time-picker[view="landscape"]) > .smart-container,
    .smart-time-picker .smart-header,
    .smart-time-picker .smart-svg-container,
    .smart-time-picker .smart-hour-minute-container {
        display: flex;
    }

    .smart-time-picker .smart-header {
        width: 100%;
        height: var(--smart-calendar-title-height);
        background-color: var(--smart-primary);
        color: var(--smart-primary-color);
        justify-content: center;
        align-items: center;
    }

    .smart-time-picker[view="landscape"] .smart-header {
        flex-direction: column;
        width: 33%;
        height: 100%;
    }

    .smart-time-picker .smart-main-container {
        width: 100%;
        height: calc(100% - var(--smart-calendar-title-height));
        padding: 2%;
        background-color: var(--smart-background);
    }

    .smart-time-picker[view="landscape"] .smart-main-container {
        width: 67%;
        height: 100%;
    }

    .smart-time-picker .smart-svg-container {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .smart-time-picker[footer] .smart-svg-container {
        height: calc(100% - 30px);
    }

    .smart-time-picker .smart-footer {
        display: none;
    }

    .smart-time-picker[footer] .smart-footer {
        display: block;
        width: 100%;
        height: 30px;
    }

    .smart-time-picker .smart-hour-minute-container {
        font-size: 50px;
    }

    .smart-time-picker .smart-am-pm-container {
        margin-left: 10px;
    }

    .smart-time-picker[view="landscape"] .smart-am-pm-container {
        margin-left: 0;
    }

    .smart-time-picker .smart-hour-container,
    .smart-time-picker .smart-minute-container,
    .smart-time-picker .smart-am-container,
    .smart-time-picker .smart-pm-container {
        opacity: 0.5;
        cursor: pointer;
    }

    .smart-time-picker[readonly] .smart-hour-container,
    .smart-time-picker[disabled] .smart-hour-container,
    .smart-time-picker[readonly] .smart-minute-container,
    .smart-time-picker[disabled] .smart-minute-container,
    .smart-time-picker[readonly] .smart-am-container,
    .smart-time-picker[disabled] .smart-am-container,
    .smart-time-picker[readonly] .smart-pm-container,
    .smart-time-picker[disabled] .smart-pm-container {
        cursor: default;
    }

    .smart-time-picker .smart-selected {
        opacity: 1;
    }

    .smart-time-picker .smart-hour-minute-container div:nth-child(2) {
        opacity: 0.5;
    }

    .smart-time-picker .smart-svg-picker {
        border-radius: 50%;
        background-color: var(--smart-background);
        position: relative;
        box-sizing: content-box;
    }

        .smart-time-picker .smart-svg-picker.animate {
            animation: smart-time-picker-animation 0.5s linear;
        }

    .smart-time-picker .smart-needle,
    .smart-time-picker .smart-needle-central-circle {
        fill: var(--smart-primary);
    }

    .smart-time-picker .smart-label {
        fill: var(--smart-background-color);
    }

        .smart-time-picker .smart-label.smart-selected {
            fill: var(--smart-primary-color);
            stroke: var(--smart-primary-color);
            stroke-width: 0px;
        }

    .smart-time-picker .smart-header :focus {
        outline: 1px solid var(--smart-background);
    }

    .smart-time-picker .smart-svg-picker:focus {
        border: 1px solid var(--smart-outline);
        outline: none;
    }

@keyframes smart-time-picker-animation {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* ---  Right-To-Left --- */

.smart-time-picker[right-to-left] .smart-header,
.smart-time-picker[right-to-left] .smart-footer {
    direction: rtl;
}

.smart-time-picker[right-to-left] .smart-am-pm-container {
    margin: 0 10px 0 0;
}

.smart-time-picker[view="landscape"][right-to-left] > .smart-container,
:host(smart-time-picker[view="landscape"][right-to-left]) > .smart-container {
    flex-direction: row-reverse;
}

/* --- */
=======
jqx-time-picker{display:block;border:var(--jqx-time-picker-border-width) solid var(--jqx-time-picker-border);width:var(--jqx-time-picker-default-width);height:var(--jqx-time-picker-default-height);border-radius:var(--jqx-border-radius);font-family:var(--jqx-font-family);font-size:var(--jqx-font-size);line-height:initial;touch-action:none;min-width:250px}jqx-time-picker[view=landscape]{width:var(--jqx-time-picker-default-height);height:var(--jqx-time-picker-default-width);min-width:400px}jqx-time-picker>.jqx-container{width:100%;height:100%}jqx-time-picker .jqx-header,jqx-time-picker .jqx-hour-minute-container,jqx-time-picker .jqx-svg-container,jqx-time-picker[view=landscape]>.jqx-container{display:flex}jqx-time-picker .jqx-header{width:100%;height:var(--jqx-calendar-title-height);background-color:var(--jqx-time-picker-header-background);color:var(--jqx-time-picker-header-color);justify-content:center;align-items:center}jqx-time-picker[view=landscape] .jqx-header{flex-direction:column;width:33%;height:100%}jqx-time-picker .jqx-main-container{width:100%;height:calc(100% - var(--jqx-calendar-title-height));padding:2%;background-color:var(--jqx-time-picker-background)}jqx-time-picker[view=landscape] .jqx-main-container{width:67%;height:100%}jqx-time-picker .jqx-svg-container{justify-content:center;align-items:center;width:100%;height:100%}jqx-time-picker[footer] .jqx-svg-container{height:calc(100% - 30px)}jqx-time-picker .jqx-footer{display:none}jqx-time-picker[footer] .jqx-footer{display:block;width:100%;height:30px}jqx-time-picker .jqx-hour-minute-container{font-size:50px}jqx-time-picker .jqx-am-pm-container{margin-left:10px}jqx-time-picker[view=landscape] .jqx-am-pm-container{margin-left:0}jqx-time-picker .jqx-am-container,jqx-time-picker .jqx-hour-container,jqx-time-picker .jqx-minute-container,jqx-time-picker .jqx-pm-container{opacity:.5;cursor:pointer}jqx-time-picker[disabled] .jqx-am-container,jqx-time-picker[disabled] .jqx-hour-container,jqx-time-picker[disabled] .jqx-minute-container,jqx-time-picker[disabled] .jqx-pm-container,jqx-time-picker[readonly] .jqx-am-container,jqx-time-picker[readonly] .jqx-hour-container,jqx-time-picker[readonly] .jqx-minute-container,jqx-time-picker[readonly] .jqx-pm-container{cursor:default}jqx-time-picker .jqx-selected{opacity:1}jqx-time-picker .jqx-hour-minute-container div:nth-child(2){opacity:.5}jqx-time-picker .jqx-svg-picker{border-radius:50%;background-color:var(--jqx-time-picker-background);position:relative;box-sizing:content-box}jqx-time-picker .jqx-svg-picker.animate{animation:jqx-time-picker-animation .5s linear}jqx-time-picker .jqx-needle,jqx-time-picker .jqx-needle-central-circle{fill:var(--jqx-time-picker-needle-background)}jqx-time-picker .jqx-label{fill:var(--jqx-time-picker-color)}jqx-time-picker .jqx-label.jqx-selected{fill:var(--jqx-time-picker-needle-color);stroke:var(--jqx-time-picker-needle-color);stroke-width:0}jqx-time-picker .jqx-header :focus{outline:var(--jqx-time-picker-background) solid 1px}jqx-time-picker .jqx-svg-picker:focus{border:1px solid var(--jqx-outline);outline:0}@keyframes jqx-time-picker-animation{0%,100%{opacity:1}25%,75%{opacity:.5}50%{opacity:0}}
>>>>>>> origin/master
