
/* smart-combo-box */

smart-combo-box {
    width: var(--smart-combo-box-default-width);
    height: var(--smart-combo-box-default-height);
    overflow: initial;
    visibility: hidden;
    cursor: pointer;
}

    /* Overrides smartWidgets Framework - base.css selector */
    smart-combo-box.smart-element {
        overflow: visible;
        visibility: inherit;
        border-width: 0px;
    }

/*ListBox*/
.smart-combo-box smart-list-box {
    position: relative;
    width: 100%;
    height: 100%;
    border: initial;
    padding: initial;
    overflow: hidden;
    font-size: inherit;
    font-family: inherit;
    outline: none;
}

.smart-combo-box .smart-action-button input.smart-input {
    flex-grow: 1;
    align-self: center;
    width: var(--smart-editor-addon-width);
    min-width: var(--smart-editor-addon-width);
    min-height: 100%;
    max-height: 1rem;
    vertical-align: middle;
    margin: 0; /* Safari */
}

.smart-combo-box .smart-buttons-container .smart-token {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    margin: 0 2px;
    user-select: none;
}

/* Auto Complete string helper styles */
.smart-combo-box .smart-buttons-container .smart-combo-box-auto-complete-string {
    position: absolute;
    display: flex;
    pointer-events: none;
    align-items: center;
    padding: var(--smart-editor-label-padding);
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}

    .smart-combo-box .smart-buttons-container .smart-combo-box-auto-complete-string:empty {
        display: none;
    }

.smart-combo-box.smart-element .smart-drop-down.smart-visibility-hidden {
    transform: scale(0);
    transition: transform 0.2s ease-in;
    transform-origin: left top 0px;
}
