
/* smart-masked-text-box */

smart-masked-text-box {
    width: var(--smart-text-box-default-width);
    height: var(--smart-text-box-default-height);
}

    smart-masked-text-box.smart-element {
        border: none;
        background: transparent;
        overflow: visible;
    }

.smart-masked-text-box > .smart-container {
    position: relative;
}

.smart-masked-text-box .smart-input {
    width: 100%;
    height: 100%;
    color: inherit;
    font-family: inherit;
    position: relative;
    overflow: hidden;
    outline: none;
}

/*---  Right-To-Left --- */

.smart-masked-text-box[right-to-left] .smart-container {
    direction: rtl;
}

/* --- */