smart-rating .rating-star::after {
    width: 100%;
    height: 100%;
    top: 0;
    font-size: var(--smart-font-size);
    content: var(--smart-icon-star);
    color: var(--smart-primary);
    font-family: var(--smart-font-family-icon);
}

smart-rating .rating-star.hover::after {
    color: var(--smart-secondary);
}

smart-rating .rating-star.active::after {
    color: var(--smart-secondary);
}

smart-rating .rating-star.active.hover::after {
    color: var(--smart-secondary);
}
/* --- Right-To-Left  --- */

smart-rating[right-to-left] > .smart-container {
    direction: rtl;
}

/* --- */
