
/* .smart-badge */

.smart-badge {
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
}

    .smart-badge.smart-badge-dark {
        color: #fff;
        background-color: #333;
    }

    .smart-badge.smart-badge-primary {
        color: var(--smart-primary-color);
        background-color: var(--smart-primary);
    }

    .smart-badge.smart-badge-info {
        color: var(--smart-secondary-color);
        background-color: var(--smart-secondary);
    }

    .smart-badge.smart-badge-success {
        color: var(--smart-success-color);
        background-color: var(--smart-success);
    }

    .smart-badge.smart-badge-danger {
        color: var(--smart-error-color);
        background-color: var(--smart-error);
    }

    .smart-badge.smart-badge-warning {
        color: #fff;
        background-color: #C75200;
    }

    .smart-badge.smart-badge-pill {
        border-radius: 10rem;
    }

    /* --- Right to Left --- */

    .smart-badge[right-to-left] {
        direction: rtl;
    }

/* --- */
