<<<<<<< HEAD

/*smart-pager*/
smart-pager {
    min-width: 300px;
    height: var(--smart-pager-default-height);
    justify-content: center;
    padding: var(--smart-pager-padding);
}

    smart-pager.smart-element {
        overflow: visible;
        border-radius: 0px;
        background: var(--smart-surface);
        color: var(--smart-surface-color);
    }

    smart-pager > .smart-container,
    .smart-pager.smart-container {
        flex-direction: row;
        display: flex;
        align-items: center;
    }

.smart-pager-near-buttons-container {
    order: 0;
    height: 100%;
}

.smart-pager-middle-buttons-container {
    order: 1;
    height: 100%;
}

.smart-pager-far-buttons-container {
    order: 2;
    height: 100%;
}

.smart-pager-input-and-label-container {
    order: 3;
}

    .smart-pager-input-and-label-container.near {
        order: -2;
    }

.smart-pager-size-selector-and-label-container {
    order: 4;
}

    .smart-pager-size-selector-and-label-container.near {
        order: -1;
    }

.smart-pager-summary-container.near {
    order: -2;
}

.smart-pager-summary-container {
    order: 5;
}

.smart-pager-near-buttons-container.near {
    order: 0;
}

.smart-pager-far-buttons-container.near {
    order: 0;
}

.smart-pager-near-buttons-container.far {
    order: 2;
}

.smart-pager-far-buttons-container.far {
    order: 2;
}

.smart-pager .smart-pager-near-buttons-container,
.smart-pager .smart-pager-far-buttons-container,
.smart-pager .smart-pager-middle-buttons-container,
.smart-pager .smart-pager-input-and-label-container,
.smart-pager .smart-pager-size-selector-and-label-container,
.smart-pager .smart-pager-summary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 4px;
}

.smart-pager .smart-pager-page-index-selectors-container {
    display: flex;
    color: var(--smart-pager-color);
    width: auto;
    height: 100%;
    outline: none;
    align-items: center;
}

.smart-pager .smart-pager-label {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    margin: 0px 8px;
}

    .smart-pager .smart-pager-label span {
        padding: 2px;
    }

.smart-pager .smart-pager-button {
    display: flex;
    font-size: inherit;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    border-top-left-radius: var(--smart-border-top-left-radius);
    border-top-right-radius: var(--smart-border-top-right-radius);
    border-bottom-left-radius: var(--smart-border-bottom-left-radius);
    border-bottom-right-radius: var(--smart-border-bottom-right-radius);
    width: var(--smart-pager-button-width);
    height: var(--smart-pager-button-height);
    position: relative;
    overflow: hidden;
    /*margin-left: -1px;*/
}


.smart-pager:not([show-navigation-button-labels]) .smart-pager-button {
    border-radius: 100%;
    width: var(--smart-pager-page-index-selector-width);
}

.smart-pager .smart-pager-button:hover {
    background: var(--smart-ui-state-hover);
    border-color: var(--smart-ui-state-border-hover);
    color: var(--smart-ui-state-color-hover);
}

.smart-pager .smart-pager-button:active {
    background: var(--smart-ui-state-active);
    border-color: var(--smart-ui-state-border-active);
    color: var(--smart-ui-state-color-active);
}

.smart-pager .smart-pager-button[disabled] {
    opacity: 0.55;
}

.smart-pager .smart-pager-page-index-selector {
    font-size: inherit;
    font-family: inherit;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--smart-pager-page-index-selector-width);
    height: var(--smart-pager-page-index-selector-height);
    position: relative;
    margin-left: var(--smart-pager-page-index-selector-horizontal-offset);
    border-radius: 100%;
}

.smart-pager .smart-previous-ellipsis-button,
.smart-pager .smart-next-ellipsis-button {
    width: var(--smart-pager-page-index-ellipsis-selector-width);
    height: var(--smart-pager-page-index-ellipsis-selector-height);
}

.smart-pager .smart-pager-page-index-selector:first-child {
    margin-left: -1px;
}

.smart-pager[disabled] .smart-pager-page-index-selector {
    user-select: none;
    cursor: default;
}

.smart-pager .smart-pager-page-index-selector:hover {
    background-color: var(--smart-ui-state-hover);
    color: var(--smart-ui-state-color-hover);
    border-color: var(--smart-ui-state-border-hover);
}


.smart-pager .smart-pager-page-index-selector[selected] {
    background-color: var(--smart-ui-state-active);
    color: var(--smart-ui-state-color-active);
    border-color: var(--smart-ui-state-border-active);
    box-shadow: var(--smart-elevation-2);
}

.smart-pager .smart-pager-page-index-selector .smart-ripple,
.smart-pager .smart-pager-button .smart-ripple {
    background-color: var(--smart-ui-state-active);
}

.smart-pager .smart-pager-page-index-selector[selected] .smart-ripple,
.smart-pager .smart-pager-button:active .smart-ripple {
    background-color: var(--smart-ui-state-color-active);
}

.smart-pager .smart-page-size-selector {
    width: var(--smart-pager-page-size-selector-width);
    background: var(--smart-background);
    color: var(--smart-background-color);
}

.smart-pager .smart-pager-input {
    width: var(--smart-pager-input-width);
    box-sizing: border-box;
    padding: 0px var(--smart-editor-label-padding);
    margin: 0px 5px;
    background: var(--smart-background);
    color: var(--smart-background-color);
    border-top-left-radius: var(--smart-border-top-left-radius);
    border-top-right-radius: var(--smart-border-top-right-radius);
    border-bottom-left-radius: var(--smart-border-bottom-left-radius);
    border-bottom-right-radius: var(--smart-border-bottom-right-radius);
    border-color: var(--smart-border);
    border-style: solid;
    border-width: var(--smart-border-width);
    height: var(--smart-text-box-default-height);
}


/* --- Right To Left --- */

smart-pager[right-to-left] > .smart-container,
smart-pager[right-to-left] .smart-pager-middle-buttons-container,
smart-pager[right-to-left] .smart-pager-near-buttons-container,
smart-pager[right-to-left] .smart-pager-far-buttons-container,
smart-pager[right-to-left] .smart-pager-page-index-selectors-container,
smart-pager[right-to-left] .smart-pager-size-selector-and-label-container,
smart-pager[right-to-left] .smart-pager-input-and-label-container,
smart-pager[right-to-left] .smart-pager-label {
    flex-direction: row-reverse;
}

smart-pager[right-to-left] .smart-arrow-left:after,
smart-pager[right-to-left] .smart-arrow-right:after,
smart-pager[right-to-left] .smart-arrow-left-first:after,
smart-pager[right-to-left] .smart-arrow-right-last:after {
    transform: rotate(180deg);
    transform-origin: center;
}

smart-pager[right-to-left] .smart-pager-label > span,
smart-pager[right-to-left] .smart-first-button,
smart-pager[right-to-left] .smart-last-button,
smart-pager[right-to-left] .smart-next-page-button,
smart-pager[right-to-left] .smart-previous-page-button,
smart-pager[right-to-left] .smart-pager-page-index-selector,
smart-pager[right-to-left] .smart-pager-input,
smart-pager[right-to-left] .smart-pager-label {
    direction: rtl;
}

/* --- */
=======
.jqx-pager-button,.jqx-pager-page-index-selector{font-size:inherit;font-family:inherit;position:relative}jqx-pager{min-width:300px;display:block;border:var(--jqx-pager-border-width) solid var(--jqx-pager-border);background:var(--jqx-pager-background);border-radius:0;height:var(--jqx-pager-default-height);justify-content:center;padding:var(--jqx-pager-padding);border-top-left-radius:var(--jqx-pager-border-top-left-radius);border-top-right-radius:var(--jqx-pager-border-top-right-radius);border-bottom-left-radius:var(--jqx-pager-border-bottom-left-radius);border-bottom-right-radius:var(--jqx-pager-border-bottom-right-radius)}jqx-pager.jqx-element{overflow:visible}jqx-pager>.jqx-container{flex-direction:row;display:flex;align-items:center}.jqx-pager-near-buttons-container{order:0;height:100%}.jqx-pager-middle-buttons-container{order:1;height:100%}.jqx-pager-far-buttons-container{order:2;height:100%}.jqx-pager-input-and-label-container{order:3}.jqx-pager-input-and-label-container.near{order:-2}.jqx-pager-size-selector-and-label-container{order:4}.jqx-pager-size-selector-and-label-container.near{order:-1}.jqx-pager-summary-container.near{order:-2}.jqx-pager-summary-container{order:5}.jqx-pager-far-buttons-container.near,.jqx-pager-near-buttons-container.near{order:0}.jqx-pager-far-buttons-container.far,.jqx-pager-near-buttons-container.far{order:2}.jqx-pager-far-buttons-container,.jqx-pager-input-and-label-container,.jqx-pager-middle-buttons-container,.jqx-pager-near-buttons-container,.jqx-pager-size-selector-and-label-container,.jqx-pager-summary-container{display:flex;flex-direction:row;align-items:center;justify-content:center;margin:0 4px}.jqx-pager-page-index-selectors-container{display:flex;color:var(--jqx-pager-color);width:auto;height:100%;outline:0;align-items:center}.jqx-pager-label{display:flex;border:none;align-items:center;justify-content:center;overflow:hidden;text-overflow:ellipsis;height:100%;margin:0 8px}.jqx-pager-label span{padding:2px}.jqx-pager-button{display:flex;align-items:center;justify-content:center;border-top-left-radius:var(--jqx-pager-button-border-top-left-radius);border-top-right-radius:var(--jqx-pager-button-border-top-right-radius);border-bottom-left-radius:var(--jqx-pager-button-border-bottom-left-radius);border-bottom-right-radius:var(--jqx-pager-button-border-bottom-right-radius);background:var(--jqx-pager-button-background);border-color:var(--jqx-pager-button-border);color:var(--jqx-pager-button-color);width:var(--jqx-pager-button-width);height:var(--jqx-pager-button-height);overflow:hidden}.jqx-pager-page-index-selector,jqx-pager:not([show-navigation-button-labels]) .jqx-pager-button{width:var(--jqx-pager-page-index-selector-width);border-top-left-radius:var(--jqx-pager-page-index-selector-border-top-left-radius);border-top-right-radius:var(--jqx-pager-page-index-selector-border-top-right-radius);border-bottom-left-radius:var(--jqx-pager-page-index-selector-border-bottom-left-radius);border-bottom-right-radius:var(--jqx-pager-page-index-selector-border-bottom-right-radius)}.jqx-pager-button:hover{background:var(--jqx-pager-button-background-hover);border-color:var(--jqx-pager-button-border-hover);color:var(--jqx-pager-button-color-hover)}.jqx-pager-button:active{background:var(--jqx-pager-button-background-active);border-color:var(--jqx-pager-button-border-active);color:var(--jqx-pager-button-color-active)}.jqx-pager-button[disabled]{background:var(--jqx-pager-button-background);border-color:var(--jqx-pager-button-border);color:var(--jqx-pager-button-color)}.jqx-pager-page-index-selector{display:flex;flex-grow:1;align-items:center;justify-content:center;-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none;cursor:pointer;overflow:hidden;text-overflow:ellipsis;border-left:var(--jqx-pager-border-width) solid var(--jqx-pager-page-index-selector-border);background-color:var(--jqx-pager-page-index-selector-background);color:var(--jqx-pager-page-index-selector-color);height:var(--jqx-pager-page-index-selector-height);margin-left:var(--jqx-pager-page-index-selector-horizontal-offset)}.jqx-next-ellipsis-button,.jqx-previous-ellipsis-button{width:var(--jqx-pager-page-index-ellipsis-selector-width);height:var(--jqx-pager-page-index-ellipsis-selector-height)}.jqx-pager-page-index-selector:first-child{margin-left:-1px}jqx-pager[disabled] .jqx-pager-page-index-selector{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none;cursor:default}jqx-pager .jqx-pager-page-index-selector:hover{background-color:var(--jqx-pager-page-index-selector-background-hover);color:var(--jqx-pager-page-index-selector-color-hover);border-color:var(--jqx-pager-page-index-selector-border-hover)}.jqx-pager-button .jqx-ripple,.jqx-pager-page-index-selector .jqx-ripple,jqx-pager .jqx-pager-page-index-selector[selected]{background-color:var(--jqx-pager-page-index-selector-background-active)}jqx-pager .jqx-pager-page-index-selector[selected]{color:var(--jqx-pager-page-index-selector-color-active);border-color:var(--jqx-pager-page-index-selector-border-active);box-shadow:var(--jqx-elevation-2)}.jqx-pager-button:active .jqx-ripple,.jqx-pager-page-index-selector[selected] .jqx-ripple{background-color:var(--jqx-pager-page-index-selector-color-active)}.jqx-page-size-selector{width:var(--jqx-pager-page-size-selector-width)}.jqx-pager-input{width:var(--jqx-pager-input-width);box-sizing:border-box;padding:0 var(--jqx-editor-label-padding);margin:0 5px;background:var(--jqx-pager-input-background);color:var(--jqx-pager-input-color);border-top-left-radius:var(--jqx-pager-input-border-top-left-radius);border-top-right-radius:var(--jqx-pager-input-border-top-right-radius);border-bottom-left-radius:var(--jqx-pager-input-border-bottom-left-radius);border-bottom-right-radius:var(--jqx-pager-input-border-bottom-right-radius);border-color:var(--jqx-pager-input-border);border-style:solid;border-width:var(--jqx-pager-border-width);height:var(--jqx-text-box-default-height)}.jqx-pager-input::selection{background:var(--jqx-pager-input-selection);color:var(--jqx-pager-input-selection-color)}.jqx-pager-input:focus{outline:0}
>>>>>>> origin/master
