smart-filter-panel {
    width: var(--smart-filter-panel-default-width);
    height: var(--smart-filter-panel-default-height);
}

    smart-filter-panel.smart-element {
        padding: var(--smart-filter-panel-padding);
        border: none;
    }

.smart-filter-panel .smart-filter-panel-label,
.smart-filter-panel .smart-filter-panel-list,
.smart-filter-panel .smart-filter-panel-input,
.smart-filter-panel .smart-filter-panel-operator-list,
.smart-filter-panel smart-tree,
.smart-filter-panel smart-filter-builder {
    margin-bottom: var(--smart-filter-panel-vertical-offset);
}

.smart-filter-panel .smart-filter-panel-list {
    width: 100%;
}

.smart-filter-panel .smart-filter-panel-operator-list {
    width: 80px;
}

.smart-filter-panel .smart-filter-panel-button-container {
    width: 100%;
    min-height: 33px;
    height: var(--smart-editor-height);
    display: flex;
    justify-content: space-around;
}

    .smart-filter-panel .smart-filter-panel-button-container > smart-button {
        width: 80px;
    }

        .smart-filter-panel .smart-filter-panel-button-container > smart-button button {
            padding: 8px;
        }

.smart-filter-panel .smart-filter-panel-input {
    height: var(--smart-editor-height);
    width: 100%;
    display: block;
}

.smart-filter-panel smart-numeric-text-box.smart-filter-panel-input input {
    text-align: right;
}

.smart-filter-panel smart-tree,
.smart-filter-panel smart-filter-builder {
    width: 100%;
    height: var(--smart-filter-panel-main-element-height);
}

    .smart-filter-panel smart-tree.standard-excel .smart-tree-items-group-arrow,
    .smart-filter-panel smart-tree.date-excel smart-tree-items-group[level="1"] > .smart-tree-item-label-container > .smart-tree-items-group-arrow {
        visibility: hidden;
    }

    .smart-filter-panel smart-tree.standard-excel smart-tree-item:not([level="1"]) > .smart-tree-item-label-container {
        margin-left: -30px;
    }

.smart-filter-panel smart-filter-builder {
    --smart-filter-builder-item-width: 150px;
    display: block;
}

.smart-filter-panel[filter-type="string"] smart-filter-builder {
    height: calc(var(--smart-filter-panel-main-element-height) - var(--smart-editor-height));
    margin-bottom: 0;
}

.smart-filter-panel[filter-type="string"] .case-sensitive {
    display: block;
    margin-top: 5px;
    margin-bottom: calc(var(--smart-filter-panel-vertical-offset) - 5px);
}

.smart-filter-panel[filter-type="boolean"] smart-filter-builder {
    --smart-filter-builder-item-width: 34px;
}

    .smart-filter-panel[filter-type="boolean"] smart-filter-builder .smart-filter-value,
    .smart-filter-panel[filter-type="boolean"] smart-filter-builder .smart-editors-container {
        min-width: initial;
    }

    .smart-filter-panel[filter-type="boolean"] smart-filter-builder .smart-value-container {
        width: 100px;
    }

    .smart-filter-panel[filter-type="boolean"] smart-filter-builder .smart-editors-container[open] .smart-check-box-editor {
        width: 100%;
    }

.smart-filter-panel smart-filter-builder .smart-filter-field-name {
    display: none;
}

.smart-filter-panel smart-filter-builder .smart-scroll-viewer-content-container {
    padding: 0;
}

.smart-filter-panel smart-filter-builder .smart-content-container > .smart-filter-group > .smart-filter-group-operator {
    margin-left: 15px;
}

.smart-filter-panel smart-filter-builder .smart-filter-group-condition-container {
    padding-left: 15px;
}

.smart-filter-panel smart-menu-item[value="notand"],
.smart-filter-panel smart-menu-item[value="notor"] {
    display: none;
}
