<<<<<<< HEAD
/* .smart-tooltip */

smart-tooltip {
    position: absolute;
    text-align: center;
    z-index: var(--smart-editor-drop-down-z-index);
    font-family: var(--smart-font-family);
    font-size: var(--smart-font-size);
    visibility: hidden;
    pointer-events: none;
}

.smart-tooltip[visible] {
    visibility: visible;
    pointer-events: auto;
}

.smart-tooltip .smart-tooltip-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--smart-tooltip-padding);
    background-color: var(--smart-secondary);
    color: var(--smart-secondary-color);
    border: var(--smart-border-width) solid var(--smart-border);
    width: 100%;
    height: 100%;
    box-shadow: var(--smart-tooltip-content-shadow);
    opacity: 0.9;
    font-family: var(--smart-font-family);
}

.smart-tooltip[arrow],
.smart-tooltip[arrow][arrow-direction="bottom"] {
    padding-bottom: var(--smart-tooltip-arrow-width);
}

    .smart-tooltip[arrow][arrow-direction="top"] {
        padding-bottom: initial;
        padding-top: var(--smart-tooltip-arrow-width);
    }

    .smart-tooltip[arrow][arrow-direction="left"] {
        padding-bottom: initial;
        padding-left: var(--smart-tooltip-arrow-width);
    }

    .smart-tooltip[arrow][arrow-direction="right"] {
        padding-bottom: initial;
        padding-right: var(--smart-tooltip-arrow-width);
    }

    .smart-tooltip[arrow] .smart-tooltip-content:after,
    .smart-tooltip[arrow][arrow-direction="bottom"] .smart-tooltip-content:after {
        content: "";
        width: 0;
        height: 0;
        border-left: var(--smart-tooltip-arrow-width) solid transparent;
        border-right: var(--smart-tooltip-arrow-width) solid transparent;
        border-top: var(--smart-tooltip-arrow-width) solid var(--smart-tooltip-border);
        position: absolute;
        top: calc(100% - var(--smart-tooltip-arrow-width));
        left: calc(100% / 2 - var(--smart-tooltip-arrow-width));
        transform: translateX(var(--smart-tooltip-arrow-translate));
    }

    .smart-tooltip[arrow][arrow-direction="top"] .smart-tooltip-content:after {
        border-left: var(--smart-tooltip-arrow-width) solid transparent;
        border-right: var(--smart-tooltip-arrow-width) solid transparent;
        border-bottom: var(--smart-tooltip-arrow-width) solid var(--smart-tooltip-border);
        border-top: initial;
        top: 0;
        bottom: calc(100% + var(--smart-tooltip-arrow-width));
        transform: translateX(var(--smart-tooltip-arrow-translate));
    }

    .smart-tooltip[arrow][arrow-direction="right"] .smart-tooltip-content:after {
        border-bottom: var(--smart-tooltip-arrow-width) solid transparent;
        border-top: var(--smart-tooltip-arrow-width) solid transparent;
        border-left: var(--smart-tooltip-arrow-width) solid var(--smart-tooltip-border);
        border-right: initial;
        left: calc(100% - var(--smart-tooltip-arrow-width));
        top: calc(50% - var(--smart-tooltip-arrow-width));
        transform: translateY(var(--smart-tooltip-arrow-translate));
    }

    .smart-tooltip[arrow][arrow-direction="left"] .smart-tooltip-content:after {
        border-bottom: var(--smart-tooltip-arrow-width) solid transparent;
        border-top: var(--smart-tooltip-arrow-width) solid transparent;
        border-right: var(--smart-tooltip-arrow-width) solid var(--smart-tooltip-border);
        border-left: initial;
        left: 0;
        top: calc(50% - var(--smart-tooltip-arrow-width));
        transform: translateY(var(--smart-tooltip-arrow-translate));
    }

smart-tooltip:not([animation='none']) {
    visibility: visible;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

    smart-tooltip:not([animation='none'])[visible] {
        opacity: 1;
    }
=======
jqx-tooltip{position:absolute;text-align:center;z-index:var(--jqx-editor-drop-down-z-index);font-family:var(--jqx-tooltip-font-family);font-size:var(--jqx-tooltip-font-size);visibility:hidden;pointer-events:none}jqx-tooltip[visible]{visibility:visible;pointer-events:auto}jqx-tooltip .jqx-tooltip-content{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background-color:var(--jqx-tooltip-background);padding:var(--jqx-tooltip-padding);border-top-left-radius:var(--jqx-tooltip-border-top-left-radius);border-bottom-left-radius:var(--jqx-tooltip-border-bottom-left-radius);border-top-right-radius:var(--jqx-tooltip-border-top-right-radius);border-bottom-right-radius:var(--jqx-tooltip-border-bottom-right-radius);color:var(--jqx-tooltip-color);border:var(--jqx-tooltip-border-width) solid var(--jqx-tooltip-border);width:100%;height:100%;box-shadow:var(--jqx-tooltip-content-shadow)}jqx-tooltip[arrow],jqx-tooltip[arrow][arrow-direction=bottom]{padding-bottom:var(--jqx-tooltip-arrow-width)}jqx-tooltip[arrow][arrow-direction=top]{padding-bottom:initial;padding-top:var(--jqx-tooltip-arrow-width)}jqx-tooltip[arrow][arrow-direction=left]{padding-bottom:initial;padding-left:var(--jqx-tooltip-arrow-width)}jqx-tooltip[arrow][arrow-direction=right]{padding-bottom:initial;padding-right:var(--jqx-tooltip-arrow-width)}jqx-tooltip[arrow] .jqx-tooltip-content:after,jqx-tooltip[arrow][arrow-direction=bottom] .jqx-tooltip-content:after{content:"";width:0;height:0;border-left:var(--jqx-tooltip-arrow-width) solid transparent;border-right:var(--jqx-tooltip-arrow-width) solid transparent;border-top:var(--jqx-tooltip-arrow-width) solid var(--jqx-tooltip-border);position:absolute;top:calc(100% - var(--jqx-tooltip-arrow-width));left:calc(100% / 2 - var(--jqx-tooltip-arrow-width));transform:translateX(var(--jqx-tooltip-arrow-translate))}jqx-tooltip[arrow][arrow-direction=top] .jqx-tooltip-content:after{border-left:var(--jqx-tooltip-arrow-width) solid transparent;border-right:var(--jqx-tooltip-arrow-width) solid transparent;border-bottom:var(--jqx-tooltip-arrow-width) solid var(--jqx-tooltip-border);border-top:initial;top:0;bottom:calc(100% + var(--jqx-tooltip-arrow-width));transform:translateX(var(--jqx-tooltip-arrow-translate))}jqx-tooltip[arrow][arrow-direction=left] .jqx-tooltip-content:after,jqx-tooltip[arrow][arrow-direction=right] .jqx-tooltip-content:after{border-bottom:var(--jqx-tooltip-arrow-width) solid transparent;border-top:var(--jqx-tooltip-arrow-width) solid transparent;top:calc(50% - var(--jqx-tooltip-arrow-width));transform:translateY(var(--jqx-tooltip-arrow-translate))}jqx-tooltip[arrow][arrow-direction=right] .jqx-tooltip-content:after{border-left:var(--jqx-tooltip-arrow-width) solid var(--jqx-tooltip-border);border-right:initial;left:calc(100% - var(--jqx-tooltip-arrow-width))}jqx-tooltip[arrow][arrow-direction=left] .jqx-tooltip-content:after{border-right:var(--jqx-tooltip-arrow-width) solid var(--jqx-tooltip-border);border-left:initial;left:0}jqx-tooltip:not([animation=none]){visibility:visible;opacity:0;transition-property:opacity;transition-duration:.5s;transition-timing-function:ease-in-out}jqx-tooltip:not([animation=none])[visible]{opacity:1}
>>>>>>> origin/master
