<<<<<<< HEAD
/* .smart-path-item */
.smart-path-item {
    box-sizing: border-box;
    transition: opacity 280ms ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 9px 12px;
    width: 100%;
    height: calc(100% - var(--smart-list-item-vertical-offset));
    left: 0;
    top: 0;
    /*top: var(--smart-list-item-vertical-offset);*/
    color: var(--smart-list-item-color);
    border-width: var(--smart-list-item-border-width);
    border-style: solid;
    border-color: var(--smart-list-item-border);
    border-top-left-radius: var(--smart-list-item-border-top-left-radius);
    border-top-right-radius: var(--smart-list-item-border-top-right-radius);
    border-bottom-left-radius: var(--smart-list-item-border-bottom-left-radius);
    border-bottom-right-radius: var(--smart-list-item-border-bottom-right-radius);
}

    smart-path .smart-ripple,
    .smart-path-item .smart-ripple {
        background: var(--smart-list-item-color-active);
    }

    .smart-path-item[disabled] {
        opacity: 0.55;
        cursor: default;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .smart-path-item[hover] {
        color: var(--smart-list-item-color-hover);
        border-color: var(--smart-list-item-border-hover);
        background-color: var(--smart-list-item-background-hover);
    }

    .smart-path-item[active] {
        color: var(--smart-list-item-color-active);
        border-color: var(--smart-list-item-border-active);
        background-color: var(--smart-list-item-background-active);
        opacity: var(--smart-list-item-background-opacity-active);
    }

    .smart-path-item[focus] {
        color: var(--smart-list-item-color-focus);
        border-color: var(--smart-list-item-border-focus);
        background-color: var(--smart-list-item-background-focus);
    }

/* smart-path */
smart-path {
    display: block;
    width: var(--smart-path-default-width);
    height: var(--smart-path-default-height);
    background: var(--smart-path-background);
    color: var(--smart-path-color);
    border-color: var(--smart-path-border);
}

    /*Content*/
    smart-path .smart-content {
        position: relative;
        cursor: pointer;
        display: flex;
        width: 100%;
        height: 100%;
    }

    smart-path .smart-input,
    smart-path input.smart-input,
    smart-path .smart-path-multiline-container {
        cursor: initial;
        outline: 1px solid transparent;
        width: 100%;
        height: 100%;
        border: none;
        min-height: 100%;
        vertical-align: middle;
        padding: 0 var(--smart-editor-label-padding) 0 var(--smart-editor-label-padding);
        font-size: inherit;
        font-family: inherit;
        background-color: inherit;
        margin: 0; /* Safari */
        color: inherit;
        background: var(--smart-path-input-background);
        text-align: var(--smart-path-text-align);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    smart-path div.smart-input {
        padding: calc(var(--smart-editor-label-padding) + 2* var(--smart-path-border-width)) calc(var(--smart-editor-label-padding) - var(--smart-path-border-width)) calc(var(--smart-editor-label-padding) + 2* var(--smart-path-border-width)) calc(var(--smart-editor-label-padding) - var(--smart-path-border-width));
        outline: none;
        background: initial;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none; /* Firefox way of hidding the scrollbars */
    }

        smart-path div.smart-input[show-placeholder]::after {
            opacity: 1;
        }

    .smart-path-item,
    smart-path[readonly] .smart-input {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    }

    smart-path[indicator] .smart-input {
        background: var(--smart-path-buttons-background);
    }

    smart-path[indicator] .smart-path-input-container {
        border-top-right-radius: var(--smart-path-border-top-right-radius);
        border-bottom-right-radius: var(--smart-path-border-bottom-right-radius);
    }

    smart-path[indicator] .smart-browse-button {
        display: none;
    }

    smart-path[indicator] .smart-buttons-container {
        grid-template-columns: var(--smart-editor-addon-width) auto;
    }

    smart-path[disabled] input {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    smart-path .smart-buttons-container {
        display: grid;
        width: 100%;
        grid-template-columns: var(--smart-editor-addon-width) calc(100% - 2*var(--smart-editor-addon-width) - 2 * var(--smart-path-button-gap)) var(--smart-editor-addon-width);
        grid-column-gap: var(--smart-path-button-gap);
    }

    smart-path .smart-content .smart-input::selection {
        background: var(--smart-path-input-selection);
        color: var(--smart-path-input-selection-color);
    }

    /*Hover*/
    smart-path .smart-input[hover],
    smart-path .smart-drop-down-button[hover],
    smart-path .smart-browse-button[hover] {
        border-color: var(--smart-path-border-hover);
    }

    /*Focus*/
    smart-path .smart-input:focus,
    smart-path[focus] .smart-path-input-container,
    smart-path[focus] .smart-drop-down-button {
        outline: initial;
        border-color: var(--smart-path-border-focus);
        background-color: var(--smart-path-input-background-focus);
        color: var(--smart-path-input-color-focus);
    }

    smart-path[focus] .smart-drop-down-button,
    smart-path[focus] .smart-browse-button {
        outline: initial;
        border-color: var(--smart-path-button-border-focus);
        background-color: var(--smart-path-button-background-focus);
        color: var(--smart-path-button-color-focus);
    }

    smart-path .smart-drop-down.smart-visibility-hidden {
        transform: scale(0);
        transition: transform 0.2s ease-in;
        transform-origin: left top 0px;
    }

    /*Hint & Label*/

    smart-path > .smart-container,
    smart-path[label][hint] > .smart-container {
        display: flex;
        position: relative;
        align-items: center;
    }

    smart-path[hint] > .smart-container {
        align-items: flex-start;
    }

    smart-path[label] > .smart-container {
        align-items: flex-end;
    }

    smart-path .smart-label,
    smart-path .smart-hint {
        display: none;
        position: absolute;
    }

    smart-path[label] .smart-label,
    smart-path[hint] .smart-hint {
        position: absolute;
        left: 0;
        bottom: 100%;
        font-size: 12px;
        width: 100%;
        display: block;
        padding: var(--smart-editor-label-padding);
        pointer-events: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        user-select: none;
        text-align: initial;
        line-height: initial;
        vertical-align: initial;
    }

    smart-path[hint] .smart-hint {
        opacity: 0;
    }

    smart-path[hint][focus] .smart-hint {
        opacity: 1;
    }

    smart-path:not([animation="none"])[hint] .smart-hint {
        transition: opacity 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
    }

    smart-path:not([animation="none"])[hint][focus] .smart-hint {
        transition: opacity 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    smart-path[hint] .smart-hint {
        top: 100%;
        bottom: initial;
    }


    /*Disabled*/
    smart-path[disabled] > .smart-container,
    smart-path[disabled] .smart-drop-down-button,
    smart-path[disabled] .smart-browse-button,
    smart-path[disabled] input {
        cursor: default;
        background-color: initial;
    }

    /*Drop-Down-Button*/

    smart-path .smart-drop-down-button,
    smart-path .smart-browse-button {
        /*display: flex;
        align-items: center;
        justify-content: center;*/
        font-family: var(--smart-font-family-icon);
        font-size: 10px;
        width: var(--smart-editor-addon-width);
        min-width: var(--smart-editor-addon-width);
        min-height: var(--smart-path-button-min-height);
        height: 100%;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        color: var(--smart-path-buttons-color);
        outline: 1px solid transparent;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        background: var(--smart-path-buttons-background);
        border-width: var(--smart-path-border-width);
        border-style: solid;
        color: var(--smart-path-color);
        border-color: var(--smart-path-border);
        transition: background-color 100ms linear;
    }


    smart-path .smart-drop-down-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: var(--smart-path-border-top-left-radius);
        border-bottom-left-radius: var(--smart-path-border-bottom-left-radius);
    }

    smart-path .smart-browse-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--smart-path-border-top-right-radius);
        border-bottom-right-radius: var(--smart-path-border-bottom-right-radius);
    }

        smart-path .smart-drop-down-button span,
        smart-path .smart-browse-button span {
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            smart-path .smart-drop-down-button span:not(.smart-ripple)::after,
            smart-path .smart-browse-button span:not(.smart-ripple)::after,
            smart-path div.smart-input::after {
                content: var(--smart-icon-arrow-down);
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                width: 100%;
                height: 100%;
                top: 0;
                white-space: nowrap;
            }

            smart-path .smart-browse-button span:not(.smart-ripple)::after {
                content: '...';
                font-weight: 600;
                font-size: 1rem;
            }

    smart-path div.smart-input::after,
    smart-path .smart-input::-webkit-input-placeholder, /* Edge */
    smart-path .smart-input::placeholder {
        color: var(--smart-path-placeholder-color);
        font-style: var(--smart-path-placeholder-font-style);
    }

    /* button hover */
    smart-path .smart-drop-down-button[hover],
    smart-path .smart-browse-button[hover] {
        color: var(--smart-path-color-hover);
        background: var(--smart-path-background-hover);
        border-color: var(--smart-path-border-hover);
    }

    /* button active */
    smart-path[opened] .smart-drop-down-button,
    smart-path .smart-drop-down-button[active],
    smart-path .smart-drop-down-button:active,
    smart-path .smart-browse-button[active],
    smart-path .smart-browse-button:active {
        color: var(--smart-path-color-active);
        background: var(--smart-path-background-active);
        border-color: var(--smart-path-border-active);
    }


    /* renderMode */

    smart-path.outlined {
        background-color: transparent;
        color: inherit;
    }

    smart-path[label].outlined .smart-label {
        top: -11px;
        left: var(--smart-editor-label-padding);
        background: var(--smart-path-background);
        color: var(--smart-path-color);
        z-index: 1;
        height: auto;
        min-height: 20px;
        width: auto;
        transition: all 0.2s ease;
        transform: scale(1);
    }

    smart-path[label].outlined[focus] .smart-label {
        transform: scale(0.8);
        color: var(--smart-path-border-focus);
    }

    smart-path.outlined[hover] .smart-drop-down-button {
        color: var(--smart-path-color-hover);
        border-color: var(--smart-path-border-hover);
        background-color: var(--smart-path-background-hover);
    }


    /* render-mode="underlined" */

    smart-path.outlined,
    smart-path.underlined {
        background-color: transparent;
        color: inherit;
    }

        smart-path.underlined[hover]:not([opened]) .smart-input,
        smart-path.underlined .smart-input,
        smart-path.underlined .smart-drop-down-button,
        smart-path.underlined .smart-browse-button,
        smart-path.underlined .smart-path-input-container {
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }

            smart-path.underlined .smart-drop-down-button::after,
            smart-path.underlined .smart-browse-button::after,
            smart-path.underlined .smart-path-input-container::after {
                border-bottom-color: var(--smart-path-border-focus);
                content: '';
                width: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                transition: all 0.2s cubic-bezier(0.0, 0, 0.2, 1);
            }

        smart-path.underlined[focus] .smart-drop-down-button::after,
        smart-path.underlined[focus] .smart-browse-button::after,
        smart-path.underlined[focus] .smart-path-input-container::after {
            width: 100%;
        }

    smart-path div.smart-input::after {
        content: attr(placeholder);
        justify-content: initial;
        left: 0;
        padding: 0 var(--smart-editor-label-padding) 0 var(--smart-editor-label-padding);
        opacity: 0;
        pointer-events: none;
    }

    smart-path.underlined:not([opened]) .smart-input,
    smart-path.underlined:not([opened]):not([hover]) .smart-drop-down-button,
    smart-path.underlined:not([opened]):not([hover]) .smart-browse-button {
        background-color: transparent;
        color: inherit;
        border-radius: initial;
    }

    smart-path.underlined[hover]:not([opened]) .smart-input {
        background-color: transparent;
    }

    smart-path.underlined:not([hover]) .smart-drop-down-button:focus,
    smart-path.underlined:not([hover]) .smart-browse-button:focus {
        box-shadow: none
    }

    smart-path.underlined:not([hover]) .smart-input:focus {
        box-shadow: none;
        z-index: initial;
    }

    smart-path.underlined .smart-drop-down-button[active],
    smart-path.underlined .smart-browse-button[active],
    smart-path.underlined .smart-input[active] {
        background-color: var(--smart-path-background-active);
        color: var(--smart-path-color-active);
    }

    smart-path[label].underlined[value=""] .smart-label {
        bottom: 0px;
    }

    smart-path[label].underlined .smart-label {
        transition: all 0.2s cubic-bezier(0.0, 0, 0.2, 1);
        transform: scale(1);
        transform-origin: top left;
    }

    smart-path[label].underlined[focus] .smart-label,
    smart-path[label].underlined[opened] .smart-label {
        transform: scale(0.8);
        color: var(--smart-path-border-focus);
        bottom: 100%;
    }

    smart-path .smart-path-input-container {
        position: relative;
        overflow: hidden;
        /*width: 100%;*/
        border-style: solid;
        border-color: var(--smart-path-border);
        border-width: var(--smart-path-border-width);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    smart-path[wrap] .smart-path-input-wrapper {
        padding-top: calc(var(--smart-editor-label-padding) + 2* var(--smart-path-border-width));
        padding-bottom: calc(var(--smart-editor-label-padding) + 2* var(--smart-path-border-width));
        /*width: 100%;
        overflow: auto;*/
    }

    /*smart-path[wrap] .smart-path-input-wrapper[word-break] {
            white-space: initial;
            word-break: break-word;
        }*/

    /*smart-path[wrap] .smart-path-input-wrapper > div {
        word-break: break-word;
    }*/

    smart-path .smart-path-input-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        text-align: var(--smart-path-text-align);
        padding: 0 var(--smart-editor-label-padding) 0 var(--smart-editor-label-padding);
        vertical-align: middle;
        outline: none;
        pointer-events: none;
        visibility: hidden;
        white-space: nowrap;
    }

        smart-path .smart-path-input-wrapper::-moz-focus-inner {
            border: 0;
        }

    smart-path .smart-path-multiline-container {
        overflow: hidden;
        position: relative;
        padding: initial;
        border: none;
    }

        /* Hide the default Scrollbar for webkit Browsers */
        smart-path .smart-path-multiline-container .smart-input::-webkit-scrollbar {
            width: 0;
        }

    smart-path .smart-input[position-absolute] {
        position: absolute;
    }

/* Firefox line-height bug fix */
@-moz-document url-prefix() {
    smart-path .smart-path-input-wrapper {
        line-height: 1rem;
    }
}

/* --- Right To Left --- */

smart-path[right-to-left] > .smart-container,
.smart-drop-down.smart-drop-down-repositioned[right-to-left] {
    direction: rtl;
}

smart-path[right-to-left] .smart-browse-button {
    border-top-left-radius: var(--smart-path-border-top-left-radius);
    border-bottom-left-radius: var(--smart-path-border-bottom-left-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

smart-path[right-to-left] .smart-drop-down-button {
    border-top-right-radius: var(--smart-path-border-top-right-radius);
    border-bottom-right-radius: var(--smart-path-border-bottom-left-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

smart-path[right-to-left][indicator] .smart-path-input-container {
    border-top-left-radius: var(--smart-path-border-top-left-radius);
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--smart-path-border-bottom-left-radius);
    border-bottom-right-radius: 0;
}

/* --- */
=======
.jqx-path-item{box-sizing:border-box;transition:opacity 280ms ease-in-out;overflow:hidden;white-space:nowrap;display:flex;position:relative;align-items:flex-start;flex-direction:column;justify-content:center;padding:9px 12px;width:100%;height:calc(100% - var(--jqx-list-item-vertical-offset));left:0;top:0;color:var(--jqx-list-item-color);border-width:var(--jqx-list-item-border-width);border-style:solid;border-color:var(--jqx-list-item-border);border-top-left-radius:var(--jqx-list-item-border-top-left-radius);border-top-right-radius:var(--jqx-list-item-border-top-right-radius);border-bottom-left-radius:var(--jqx-list-item-border-bottom-left-radius);border-bottom-right-radius:var(--jqx-list-item-border-bottom-right-radius)}.jqx-path-item .jqx-ripple,jqx-path .jqx-ripple{background:var(--jqx-list-item-color-active)}.jqx-path-item[disabled]{opacity:.55;cursor:default;pointer-events:none;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}.jqx-path-item[hover]{color:var(--jqx-list-item-color-hover);border-color:var(--jqx-list-item-border-hover);background-color:var(--jqx-list-item-background-hover)}.jqx-path-item[active]{color:var(--jqx-list-item-color-active);border-color:var(--jqx-list-item-border-active);background-color:var(--jqx-list-item-background-active);opacity:var(--jqx-list-item-background-opacity-active)}.jqx-path-item[focus]{color:var(--jqx-list-item-color-focus);border-color:var(--jqx-list-item-border-focus);background-color:var(--jqx-list-item-background-focus)}jqx-path{display:block;width:var(--jqx-path-default-width);height:var(--jqx-path-default-height);background:var(--jqx-path-background);color:var(--jqx-path-color);border-color:var(--jqx-path-border)}jqx-path .jqx-content{position:relative;cursor:pointer;display:flex;width:100%;height:100%}jqx-path .jqx-input,jqx-path .jqx-path-multiline-container,jqx-path input.jqx-input{cursor:initial;outline:transparent solid 1px;width:100%;height:100%;border:none;min-height:100%;vertical-align:middle;padding:0 var(--jqx-editor-label-padding);font-size:inherit;font-family:inherit;background-color:inherit;margin:0;color:inherit;background:var(--jqx-path-input-background);text-align:var(--jqx-path-text-align);border-radius:0}jqx-path div.jqx-input{padding:calc(var(--jqx-editor-label-padding) + 2* var(--jqx-path-border-width)) calc(var(--jqx-editor-label-padding) - var(--jqx-path-border-width));outline:0;background:initial;overflow-y:auto;overflow-x:hidden;scrollbar-width:none}jqx-path div.jqx-input[show-placeholder]::after{opacity:1}.jqx-path-item,jqx-path[readonly] .jqx-input{user-select:none;-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none}jqx-path[indicator] .jqx-input{background:var(--jqx-path-buttons-background)}jqx-path[indicator] .jqx-path-input-container{border-top-right-radius:var(--jqx-path-border-top-right-radius);border-bottom-right-radius:var(--jqx-path-border-bottom-right-radius)}jqx-path[indicator] .jqx-browse-button{display:none}jqx-path[indicator] .jqx-buttons-container{grid-template-columns:var(--jqx-editor-drop-down-button-width) auto}jqx-path[disabled] input{user-select:none;-moz-user-select:none;-webkit-user-select:none}jqx-path .jqx-buttons-container{display:grid;width:100%;grid-template-columns:var(--jqx-editor-drop-down-button-width) calc(100% - 2*var(--jqx-editor-drop-down-button-width) - 2 * var(--jqx-path-button-gap)) var(--jqx-editor-drop-down-button-width);grid-column-gap:var(--jqx-path-button-gap)}jqx-path .jqx-content .jqx-input::selection{background:var(--jqx-path-input-selection);color:var(--jqx-path-input-selection-color)}jqx-path .jqx-browse-button[hover],jqx-path .jqx-drop-down-button[hover],jqx-path .jqx-input[hover]{border-color:var(--jqx-path-border-hover)}jqx-path .jqx-input:focus,jqx-path[focus] .jqx-drop-down-button,jqx-path[focus] .jqx-path-input-container{outline:initial;border-color:var(--jqx-path-border-focus);background-color:var(--jqx-path-input-background-focus);color:var(--jqx-path-input-color-focus)}jqx-path[focus] .jqx-browse-button,jqx-path[focus] .jqx-drop-down-button{outline:initial;border-color:var(--jqx-path-button-border-focus);background-color:var(--jqx-path-button-background-focus);color:var(--jqx-path-button-color-focus)}jqx-path .jqx-drop-down.jqx-visibility-hidden{transform:scale(0);transition:transform .2s ease-in;transform-origin:left top 0}jqx-path>.jqx-container,jqx-path[label][hint]>.jqx-container{display:flex;position:relative;align-items:center}jqx-path[hint]>.jqx-container{align-items:flex-start}jqx-path[label]>.jqx-container{align-items:flex-end}jqx-path .jqx-hint,jqx-path .jqx-label{display:none;position:absolute}jqx-path[hint] .jqx-hint,jqx-path[label] .jqx-label{position:absolute;left:0;bottom:100%;font-size:12px;width:100%;display:block;padding:var(--jqx-editor-label-padding);pointer-events:none;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;user-select:none;text-align:initial;line-height:initial;vertical-align:initial}jqx-path[hint] .jqx-hint{opacity:0;top:100%;bottom:initial}jqx-path[hint][focus] .jqx-hint{opacity:1}jqx-path:not([animation=none])[hint] .jqx-hint{transition:opacity .2s cubic-bezier(.4,0,.6,1)}jqx-path:not([animation=none])[hint][focus] .jqx-hint{transition:opacity .2s cubic-bezier(.4,0,.2,1)}jqx-path[disabled] .jqx-browse-button,jqx-path[disabled] .jqx-drop-down-button,jqx-path[disabled] input,jqx-path[disabled]>.jqx-container{cursor:default;background-color:initial}jqx-path .jqx-browse-button,jqx-path .jqx-drop-down-button{font-family:jqx-icons;font-size:10px;width:var(--jqx-editor-drop-down-button-width);min-width:var(--jqx-editor-drop-down-button-width);min-height:var(--jqx-path-button-min-height);height:100%;user-select:none;-moz-user-select:none;-webkit-user-select:none;outline:transparent solid 1px;cursor:pointer;overflow:hidden;position:relative;background:var(--jqx-path-buttons-background);border-width:var(--jqx-path-border-width);border-style:solid;color:var(--jqx-path-color);border-color:var(--jqx-path-border);transition:background-color .1s linear}jqx-path .jqx-drop-down-button{border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:var(--jqx-path-border-top-left-radius);border-bottom-left-radius:var(--jqx-path-border-bottom-left-radius)}jqx-path .jqx-browse-button{border-top-left-radius:0;border-bottom-left-radius:0;border-top-right-radius:var(--jqx-path-border-top-right-radius);border-bottom-right-radius:var(--jqx-path-border-bottom-right-radius)}jqx-path .jqx-browse-button span,jqx-path .jqx-drop-down-button span{font-family:inherit;font-size:inherit;color:inherit;pointer-events:none;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}jqx-path .jqx-browse-button span:not(.jqx-ripple)::after,jqx-path .jqx-drop-down-button span:not(.jqx-ripple)::after,jqx-path div.jqx-input::after{content:'\e804';position:absolute;display:flex;align-items:center;justify-content:center;pointer-events:none;width:100%;height:100%;top:0;white-space:nowrap}jqx-path .jqx-browse-button span:not(.jqx-ripple)::after{content:'...';font-weight:600;font-size:1rem}jqx-path .jqx-input::-webkit-input-placeholder,jqx-path .jqx-input::placeholder,jqx-path div.jqx-input::after{color:var(--jqx-path-placeholder-color);font-style:var(--jqx-path-placeholder-font-style)}jqx-path .jqx-browse-button[hover],jqx-path .jqx-drop-down-button[hover]{color:var(--jqx-path-color-hover);background:var(--jqx-path-background-hover);border-color:var(--jqx-path-border-hover)}jqx-path .jqx-browse-button:active,jqx-path .jqx-browse-button[active],jqx-path .jqx-drop-down-button:active,jqx-path .jqx-drop-down-button[active],jqx-path[opened] .jqx-drop-down-button{color:var(--jqx-path-color-active);background:var(--jqx-path-background-active);border-color:var(--jqx-path-border-active)}jqx-path[label].outlined .jqx-label{top:-11px;left:var(--jqx-editor-label-padding);background:var(--jqx-path-background);color:var(--jqx-path-color);z-index:1;height:auto;min-height:20px;width:auto;transition:all .2s ease;transform:scale(1)}jqx-path[label].outlined[focus] .jqx-label{transform:scale(.8);color:var(--jqx-path-border-focus)}jqx-path.outlined[hover] .jqx-drop-down-button{color:var(--jqx-path-color-hover);border-color:var(--jqx-path-border-hover);background-color:var(--jqx-path-background-hover)}jqx-path.outlined,jqx-path.underlined{background-color:transparent;color:inherit}jqx-path.underlined .jqx-browse-button,jqx-path.underlined .jqx-drop-down-button,jqx-path.underlined .jqx-input,jqx-path.underlined .jqx-path-input-container,jqx-path.underlined[hover]:not([opened]) .jqx-input{border-top-color:transparent;border-left-color:transparent;border-right-color:transparent}jqx-path.underlined .jqx-browse-button::after,jqx-path.underlined .jqx-drop-down-button::after,jqx-path.underlined .jqx-path-input-container::after{border-bottom-color:var(--jqx-path-border-focus);content:'';width:0;position:absolute;bottom:0;left:0;border-bottom-width:1px;border-bottom-style:solid;transition:all .2s cubic-bezier(0,0,.2,1)}jqx-path.underlined[focus] .jqx-browse-button::after,jqx-path.underlined[focus] .jqx-drop-down-button::after,jqx-path.underlined[focus] .jqx-path-input-container::after{width:100%}jqx-path div.jqx-input::after{content:attr(placeholder);justify-content:initial;left:0;padding:0 var(--jqx-editor-label-padding);opacity:0;pointer-events:none}jqx-path.underlined:not([opened]) .jqx-input,jqx-path.underlined:not([opened]):not([hover]) .jqx-browse-button,jqx-path.underlined:not([opened]):not([hover]) .jqx-drop-down-button{background-color:transparent;color:inherit;border-radius:initial}jqx-path.underlined[hover]:not([opened]) .jqx-input{background-color:transparent}jqx-path.underlined:not([hover]) .jqx-browse-button:focus,jqx-path.underlined:not([hover]) .jqx-drop-down-button:focus{box-shadow:none}jqx-path.underlined:not([hover]) .jqx-input:focus{box-shadow:none;z-index:initial}jqx-path.underlined .jqx-browse-button[active],jqx-path.underlined .jqx-drop-down-button[active],jqx-path.underlined .jqx-input[active]{background-color:var(--jqx-path-background-active);color:var(--jqx-path-color-active)}jqx-path[label].underlined[value=""] .jqx-label{bottom:0}jqx-path[label].underlined .jqx-label{transition:all .2s cubic-bezier(0,0,.2,1);transform:scale(1);transform-origin:top left}jqx-path[label].underlined[focus] .jqx-label,jqx-path[label].underlined[opened] .jqx-label{transform:scale(.8);color:var(--jqx-path-border-focus);bottom:100%}jqx-path .jqx-path-input-container{position:relative;overflow:hidden;border-style:solid;border-color:var(--jqx-path-border);border-width:var(--jqx-path-border-width);border-radius:0}jqx-path[wrap] .jqx-path-input-wrapper{padding-top:calc(var(--jqx-editor-label-padding) + 2* var(--jqx-path-border-width));padding-bottom:calc(var(--jqx-editor-label-padding) + 2* var(--jqx-path-border-width))}jqx-path .jqx-path-input-wrapper{position:absolute;top:0;left:0;opacity:0;text-align:var(--jqx-path-text-align);padding:0 var(--jqx-editor-label-padding);vertical-align:middle;outline:0;pointer-events:none;visibility:hidden;white-space:nowrap}jqx-path .jqx-path-input-wrapper::-moz-focus-inner{border:0}jqx-path .jqx-path-multiline-container{overflow:hidden;position:relative;padding:initial;border:none}jqx-path .jqx-path-multiline-container .jqx-input::-webkit-scrollbar{width:0}jqx-path .jqx-input[position-absolute]{position:absolute}@-moz-document url-prefix(){jqx-path .jqx-path-input-wrapper{line-height:1rem}}
>>>>>>> origin/master
