smart-drop-down-button {
    width: var(--smart-drop-down-button-default-width);
    height: var(--smart-drop-down-button-default-height);
    visibility: hidden;
}

    smart-drop-down-button.smart-element {
        display: inline-block;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: visible;
        border: none;
        visibility: initial;
    }

.smart-drop-down-button .smart-ripple {
    background: var(--smart-primary-color);
}

.smart-drop-down-button .smart-buttons-container > .smart-action-button:empty {
    padding: 0;
    width: 0;
}

.smart-drop-down-container > smart-scroll-viewer {
    --smart-scroll-viewer-min-width: calc(var(--smart-editor-drop-down-min-width) - 2 * var(--smart-border-width) - 2 * var(--smart-editor-drop-down-padding-size));
    --smart-scroll-viewer-max-width: calc(var(--smart-editor-drop-down-max-width) - 2 * var(--smart-border-width) - 2 * var(--smart-editor-drop-down-padding-size));
    --smart-scroll-viewer-min-height: calc(var(--smart-editor-drop-down-min-height) - 2 * var(--smart-border-width) - 2 * var(--smart-editor-drop-down-padding-size));
    --smart-scroll-viewer-max-height: calc(var(--smart-editor-drop-down-max-height) - 2 * var(--smart-border-width) - 2 * var(--smart-editor-drop-down-padding-size));
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    overflow: hidden;
}

.smart-drop-down-container:not([resize-mode='none']) > smart-scroll-viewer {
    --smart-scroll-viewer-min-height: calc(var(--smart-editor-drop-down-min-height) - 2 * var(--smart-border-width) - 2 * var(--smart-editor-drop-down-padding-size) - var(--smart-editor-drop-down-resize-bar-height));
    --smart-scroll-viewer-max-height: calc(var(--smart-editor-drop-down-max-height) - 2 * var(--smart-border-width) - 2 * var(--smart-editor-drop-down-padding-size) - var(--smart-editor- drop-down-resize-bar-height));
    height: calc(100% - var(--smart-editor-drop-down-resize-bar-height));
}

.smart-drop-down-container > smart-scroll-viewer > .smart-container > .smart-scroll-viewer-container > .smart-scroll-viewer-content-container {
    vertical-align: top; /* Fixes the height issue of display: inline-block */
    padding: 0;
}

.smart-drop-down-container[empty] > smart-scroll-viewer > .smart-container > .smart-scroll-viewer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
