<smart-list-menu #listmenu id="listMenu" [filterable]="true" [grouped]="true">
    <smart-menu-items-group>
        Janet Leverling
        <smart-menu-item [label]="'janetInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Andrew Fuller
        <smart-menu-item [label]="'andrewInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Robert King
        <smart-menu-item [label]="'robertInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Anne Dodsworth
        <smart-menu-item [label]="'anneInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Margaret Peacock
        <smart-menu-item [label]="'margaretInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Michael Suyama
        <smart-menu-item [label]="'michaelInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Nancy Davolio
        <smart-menu-item [label]="'nancyInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Steven Buchanan
        <smart-menu-item [label]="'stevenInfo'"></smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Laura Callahan
        <smart-menu-item [label]="'lauraInfo'"></smart-menu-item>
    </smart-menu-items-group>
</smart-list-menu>
