<smart-calendar #calendar></smart-calendar>
<div class="options">
    <div class="caption">
        <smart-button #clearSelection id="clearSelection">Clear Selection</smart-button>
    </div>
    <div class="option">
        <smart-button #today id="today">Today</smart-button>
    </div>
    <div class="option">
        <smart-button #navBackward id="navBackward">Navigate Backward</smart-button>
    </div>
    <div class="option">
        <smart-button #navForward id="navForward">Navigate Forward</smart-button>
    </div>
    <div class="option">
        <input class="text-input" #dateInput id="dateInput" placeholder="e.g. 2021-1-1" />
    </div>
    <div class="option">
        <smart-button #selectDate id="selectDate">Select Date</smart-button>
    </div>
    <div class="option">
        <smart-button #disabled style="width:auto;" id="disabled">Enable/Disable</smart-button>
    </div>
    <div class="option"></div>
</div>