:root {
    --header-background-color: #fff;
}

body {
    margin: 0px;
    padding: 0px;
}

.dashboard-header {
    box-shadow: -3px 1px 9px #6e6464;
    background-color: var(--header-background-color);
    padding: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .dashboard-header .header-name {
        margin-left: 20px;
        font-size: 25px;
        font-weight: 600;
    }

img.header-logo {
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: 10px;
}

smart-splitter {
    width: 100%;
    height: 100%;
    background: #EBEDF0 !important;
}

smart-splitter-item div.smart-container {
    overflow-y: hidden;
}

#leftPanel .upper {
    display: flex;
}

    #leftPanel .upper > * {
        height: 400px;
        width: 50%;
    }

#personInfo {
    background-color: #fff;
}

    #personInfo img {
        width: 30%;
        margin-right: 10px;
    }

    #personInfo #form {
        display: inline-block;
        width: 68%;
    }

        #personInfo #form label {
            display: inline-block;
            font-weight: 600;
        }

    #personInfo smart-text-box, #personInfo smart-date-time-picker {
        display: block;
        margin-bottom: 30px;
        width: 100%;
    }

    #personInfo .buttons {
        margin-top: 15px;
    }

        #personInfo .buttons smart-button {
            width: 45%;
        }

#chart, #personInfo, #grid {
    margin: 7px;
    padding: 15px;
}

#grid {
    width: 99%;
    height: 450px;
}

#listbox, #calendar {
    width: 95%;
    margin: 7px;
}

#listbox {
    height: 100%;
    border: none;
}

smart-calendar[view-sections*= "footer"] {
    --smart-calendar-default-height: calc(50px + var( --smart-calendar-cell-spacing) + 7 * (var( --smart-calendar-cell-spacing) + var(--smart-calendar-cell-size)));
}

.themes {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}

    .themes div {
        width: 18px;
        height: 18px;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid black;
    }

.list-item {
    display: flex;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    position: relative;
}



@media screen and (max-width: 1744px) {
    #personInfo #form {
        width: 67%;
    }
}

@media screen and (max-width: 1252px) {
    #personInfo #form {
        width: 66%;
    }
}

@media screen and (max-width: 1028px) {
    #personInfo #form {
        width: 65%;
    }
}

@media screen and (max-width: 894px) {
    #personInfo img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #leftPanel {
        height: auto !important;
    }

        #leftPanel .upper {
            flex-direction: column;
        }

            #leftPanel .upper > * {
                width: 100%;
            }
}
