<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Notifications</h4></div>
    </div>

    <div class="card">
        <div class="card-body">
            <p>Smart.Toast represents an element which displays an unobtrusive notification to the user.</p>
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex flex-column">
                        <label>Message</label>
                        <smart-input id="messageInput" placeholder="Enter a message" value="Sample notification"></smart-input>
                        <label>Type</label>
                        <smart-input id="typeInput" drop-down-height="400" data-source='["info", "warning", "success", "error", "mail", "time"]' drop-down-button-position="right" readonly value="warning"></smart-input>
                        <smart-check-box id="enableAutoClose" checked>Auto close</smart-check-box>
                        <smart-check-box id="enableBlink" checked>Blink</smart-check-box>
                        <smart-check-box id="enableCloseButton" checked>Close button</smart-check-box>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="d-flex flex-column">
                        <label>Position</label>
                        <smart-radio-button id="topLeft">Top-left</smart-radio-button>
                        <smart-radio-button id="topRight">Top-right</smart-radio-button>
                        <smart-radio-button id="bottomLeft">Bottom-left</smart-radio-button>
                        <smart-radio-button id="bottomRight" checked>Bottom-right</smart-radio-button>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <smart-button id="show" class="small-button primary">Show notification</smart-button>
                <smart-button id="clearAll" class="small-button primary outlined">Clear all</smart-button>
            </div>
        </div>
    </div>
</div>

<smart-toast id="toast" class="blink" auto-close position="bottom-right" show-close-button type="warning">Sample notification</smart-toast>