<div class="demo-description">
    <h1>Server-Side Pagination, Sort, Filter with MySQL and PHP</h1>
    Data in this demo is loaded on demand from MySql Database and especially
    the 'Customers' table of the Northwind Database. Server request is made
    when you change Page, Sort, Filter or expand a Group. This is achieved
    by using the Table's Data Virtualization in combination with DataAdapter's
    "virtualDataSource".
    <ul>
        <li>Paging is enabled by setting the property <strong>paging</strong> to <em>true</em>.</li>
        <li>Filtering is enabled by setting the properties <strong>filtering</strong> and <strong>filterRow</strong>
            to <em>true</em>.</li>
        <li>Sorting is enabled by setting the property <strong>sortMode</strong> to <em>'one'</em>.</li>
        <li>The number of rows returned per request is set to 10, which is equal to <strong>pageSize</strong>.</li>
        <li>The 'query' in the data request is used by the server to perform pagination,
            sorting and filtering.</li>
    </ul>
</div>
<smart-table #table id="table" [dataSource]="dataSource" [filtering]="filtering" [filterRow]="filterRow"
    [sortMode]="sortMode" [paging]="paging" [columns]="columns"></smart-table>
<br />
<br />
<h3>SQL Query</h3>
<div id="query"></div>