<div class="demo-horizontal-layout">
    <div>
        <div class="demo-buttons-group">
            <smart-toggle-button #togglebutton class="primary">Toggle Button</smart-toggle-button>
            <smart-toggle-button #togglebutton2
            class="primary raised">Raised Toggle Button</smart-toggle-button>
            <smart-toggle-button #togglebutton3
            class="primary outlined">Outlined Toggle Button</smart-toggle-button>
            <smart-toggle-button #togglebutton4
            class="primary flat">Flat Toggle Button</smart-toggle-button>
            <smart-toggle-button #togglebutton5
            class="primary floating"><span class="glyphicon glyphicon-cloud"></span>
            </smart-toggle-button>
        </div>
    </div>
</div>