<smart-accordion #accordion id="accordion">
    <smart-accordion-item label="Item 1">Content</smart-accordion-item>
    <smart-accordion-item label="Item 3">Content</smart-accordion-item>
    <smart-accordion-item label="Item 2">Content</smart-accordion-item>
    <smart-accordion-item label="Item 4">Content</smart-accordion-item>
    <smart-accordion-item label="Item 5">Content</smart-accordion-item>
    <smart-accordion-item label="Item 6">Content</smart-accordion-item>
    <smart-accordion-item label="Item 7">Content</smart-accordion-item>
    <smart-accordion-item label="Item 8">Content</smart-accordion-item>
    <smart-accordion-item label="Item 9">Content</smart-accordion-item>
</smart-accordion>