<div class="demo-description">
     <h1>Server-Side Cell Edit</h1>When a cell is updated a request with CRUD data object is made via 'virtualDataSource'
    on the Server-Side Datasource. The server uses the SQL query sent by the
    Server-Side Datasource to get the rows. The type of query is stored in
    the request's action property. Double-click on a cell to begin edit.
    <br
    />
    <br />This example uses a demo server with AlaSQL that generates SQL to show
    how a real server might use the requests sent by the Datagrid. The Server-Side
    Datagrid usage does not have any restrictions on the server-side technologies
    used.</div>
<smart-grid [appearance]="appearance" [selection]="selection" [editing]="editing" [sorting]="sorting" [dataSource]="dataSource" [columns]="columns" #grid id="grid"></smart-grid>
<br />
<br />
	<h3>SQL Query</h3>
<div id="query"></div>
<br />
<br />
 <h3>Data</h3>
<div id="dataLog"></div>