<smart-editor #editor id="editor" [editMode]="editMode" [toolbarItems]="toolbarItems" [value]="value"></smart-editor>
<div class="options">
    <h3>Description</h3>
    <div class="description">Smart Editor can be used as a Markdown editor thanks to the <b>editMode</b> property.
        When set to 'markdown' the Editor accepts markdown content and parses it
        to HTML when the user switches to SourceCode/Preview mode. Most of the
        toolbar items are available for the <b>markdown edit mode</b> like format,
        hyperlink, table, etc. Clicking on them will insert the approriate code
        inside the Editor. In order to view the HTML output click on the the <b>Source Code</b> Toolbar
        item or press the following keyboard key combination: Control + Shift +
        H.</div>
</div>