<smart-tabs #tabs id="tabs" class="demoTabs" [selectedIndex]="0">
    <smart-tab-item [label]="'TAB 1'">Content 1</smart-tab-item>
    <smart-tab-item [label]="'TAB 2'">Content 2</smart-tab-item>
    <smart-tab-item [label]="'TAB 3'">Content 3</smart-tab-item>
    <smart-tab-item [label]="'TAB 4'">Content 4</smart-tab-item>
</smart-tabs>
<div class="options">
    <div class="caption">Choose tab index</div>
    <div class="option">
        <input #index id="index" type="number" value="0" />
    </div>
    <div class="option">
        <smart-button #button id="insert" class="demoButton">Insert at index</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="remove" class="demoButton">Remove at index</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="update" class="demoButton">Update at index</smart-button>
    </div>
</div>