body,
html
{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    font-family: "Roboto",sans-serif;
}
.smart-map .smart-container{
    height: 600px;
}
smart-map {
    width: 100%;
    height: 600px;
    z-index: 1;
    
}
.header-menu{
    display: flex;
    width: 100%;
    height: 4rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    justify-content: space-between;
}
#menu{
    --smart-surface: white;
    --smart-border: white;
    --smart-outline:white;
    z-index:9;
    padding-left: 1.5rem;
    align-items: flex-start;
    justify-items: center;
    align-self: center;
}
#menu-part-2{
    --smart-surface: white;
    --smart-border: white;
    --smart-outline:white;
    justify-items: flex-end;
    align-items: flex-end;
    align-self: center;
    margin-right: 2rem;
}   
.smart-menu-minimized-items-container{
    justify-items: center;
    align-items: flex-start;
}
.smart-menu-item-label-element i {
    font-size:1.3em;
}

.smart-menu[minimized] .smart-minimized-header{
    justify-content: flex-start;

}
.smart-menu .smart-header{
    display: contents  ;
}

.smart-badge{
    margin-top:0.5rem
}
.footer{
    background-color:#6f7178;
    overflow: hidden;
    height: auto;
    text-align: center;
    color: white;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 2rem;
}

footer span{
    color: rgba(255,255,255,0.6);
    margin-top: auto;
    margin-bottom: auto;
    align-items: baseline;
    justify-items: baseline;
}
@media only screen and (max-width: 768px){
    .responsive-text{
        display: none;
    }
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}