<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Charts</h4></div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Line Chart</h4>
                </div>
                <div class="card-body">
                    <div id="lineChart"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Column Chart</h4>
                </div>
                <div class="card-body">
                    <div id="columnChart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Donut Chart</h4>
                </div>
                <div class="card-body">
                    <div id="donutChart"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Pie Chart</h4>
                </div>
                <div class="card-body">
                    <div id="pieChart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Spider Chart</h4>
                </div>
                <div class="card-body">
                    <div id="spiderChart"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Polar Chart</h4>
                </div>
                <div class="card-body">
                    <div id="polarChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>