<p>overflow: 'auto'</p>
<smart-tabs #tabs class="demoTabs" [selectedIndex]="1" [overflow]="'auto'">
    <smart-tab-item label="TAB 1">Content 1</smart-tab-item>
    <smart-tab-item label="TAB 2">Content 2</smart-tab-item>
    <smart-tab-item label="TAB 3">Content 3</smart-tab-item>
    <smart-tab-item label="TAB 4">Content 4</smart-tab-item>
    <smart-tab-item label="TAB 5">Content 5</smart-tab-item>
    <smart-tab-item label="TAB 6">Content 6</smart-tab-item>
    <smart-tab-item label="TAB 7">Content 7</smart-tab-item>
</smart-tabs>
<p>overflow: 'hidden'</p>
<smart-tabs #tabs2 class="demoTabs" [selectedIndex]="1" [overflow]="'hidden'">
    <smart-tab-item label="TAB 1">Content 1</smart-tab-item>
    <smart-tab-item label="TAB 2">Content 2</smart-tab-item>
    <smart-tab-item label="TAB 3">Content 3</smart-tab-item>
    <smart-tab-item label="TAB 4">Content 4</smart-tab-item>
    <smart-tab-item label="TAB 5">Content 5</smart-tab-item>
    <smart-tab-item label="TAB 6">Content 6</smart-tab-item>
    <smart-tab-item label="TAB 7">Content 7</smart-tab-item>
</smart-tabs>
<p>overflow: 'scroll'</p>
<smart-tabs #tabs3 class="demoTabs" [selectedIndex]="1" [overflow]="'scroll'">
    <smart-tab-item label="TAB 1">Content 1</smart-tab-item>
    <smart-tab-item label="TAB 2">Content 2</smart-tab-item>
    <smart-tab-item label="TAB 3">Content 3</smart-tab-item>
    <smart-tab-item label="TAB 4">Content 4</smart-tab-item>
    <smart-tab-item label="TAB 5">Content 5</smart-tab-item>
    <smart-tab-item label="TAB 6">Content 6</smart-tab-item>
    <smart-tab-item label="TAB 7">Content 7</smart-tab-item>
</smart-tabs>