.toasts {
    .toasts-header {
        margin-bottom: 0.75rem;
        flex: 0 0 100%;
        max-width: 100%;

        h4 {
            font-size: 1.5rem;
        }
    }
    
    .card {
        margin-bottom: 1.5rem;
    }

    #toastWithIconContainer {
        .smart-toast-item.bootstrap .smart-toast-item-container .smart-toast-item-icon {
            display: block;
        }
    }

    #toastWithNoIconContainer .smart-toast-item.bootstrap .smart-toast-item-container {
        line-height: 1.5;
    }

    #toastWithLargeContentContainer .smart-toast-item-content,
    #toastWithButtonsContainer .smart-toast-item-content {
        text-align: left;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .toasts-icon-option {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .toasts-option {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
