<h3>מקום עבודתי</h3>
<smart-sortable #sortable id="sortable" [mode]="'horizontal'" [dragMode]="'item'" [rightToLeft]="true">
    <div id="square1" class="square"> <i class="material-icons">

            person

        </i>
        <div>עובדים</div>
    </div>
    <div id="square2" class="square"> <i class="material-icons">

            work_outline

        </i>
        <div>פרויקטים</div>
    </div>
    <div id="square3" class="square"> <i class="material-icons">

            attach_money

        </i>
        <div>כספים</div>
    </div>
    <div id="square4" class="square"> <i class="material-icons">

            contact_mail

        </i>
        <div>שותפויות</div>
    </div>
    <div id="square5" class="square"> <i class="material-icons">

            speaker_phone

        </i>
        <div>קישוריות</div>
    </div>
    <div id="square6" class="square"> <i class="material-icons">

            location_on

        </i>
        <div>נסיעות</div>
    </div>
</smart-sortable>