smart-toggle-button {
    width: 100%;
    height: 100%;
    display: inherit;
}

    smart-toggle-button,
    smart-toggle-button .smart-button {
        border-radius: 100%;
        border: none;
        background-image: url('./images/power-button-off.svg');
        background-repeat: no-repeat;
    }

        smart-toggle-button[checked] .smart-button {
            background-image: url('./images/power-button-on.svg');
            background-color: #B9B9B9;
            background-repeat: no-repeat;
            border: 1px solid #A9A9A9;
        }
