<div class="container">
    <div class="text-center my-5">
        <h2>Reset password</h2>
        <p>Enter your email to reset your password</p>
    </div>

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card shadow-5">
                <div class="card-body">
                    <div class="form-group">
                        <label class="d-block">Email</label>
                        <smart-input class="w-100" placeholder="Enter your email"></smart-input>
                    </div>

                    <div class="text-center">
                        <smart-button class="primary">Reset password</smart-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>