#header {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin-bottom: 0;
}

#dates {
    margin-top: 10px;
}

/* main */
smart-grid {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.smart-grid-row-detail {
    padding: 20px;
}

.smart-grid-row-detail .label {
    font-weight: 600 !important;
    font-size: 16px;
    color: var(--smart-ui-state-color-selected);
}

.smart-grid-row-detail > div div {
    margin-bottom: 15px;
    margin-left: 15px;
}
