<div class="demo-description">
     <h1>Grid Row Reorder</h1>
    <p>The example demonstrates the row reorder feature of the grid component.
        Press the left mouse button or Tap, while you are on a row header and move
        it around to start drag. A feedback and reorder line will be shown, while
        you are in the Grid's bounds. Drop it to the position you wish to reorder
        the rows.</p>
</div>
<smart-grid [appearance]="appearance" [sorting]="sorting" [dataSource]="dataSource" [columns]="columns" [behavior]="behavior" #grid id="grid"></smart-grid>