<p>Click on the export buttons to create a downloadable file.</p>qrcode
<smart-qrcode #qrcodeToExport [value]="'HTMLELEMENTS.COM'" [labelPosition]="'bottom'" [labelFontSize]="10"></smart-qrcode>
<br />
<div class="options">
    <div class="caption">Export</div>
    <div class="option">		
		<smart-button (click)="svg()" #btnSVG>Export as SVG</smart-button>
        <br/><br/>
        <smart-button (click)="png()" #btnPNG>Export as PNG</smart-button>
        <br/><br/>
        <smart-button (click)="jpg()" #btnJPG>Export as JPG</smart-button>
    </div>
        
</div>