<smart-array #array id="smartArrayEmpty" show-index-display type="none"
dimensions="3"></smart-array>
<smart-array #array2 id="smartArrayNumeric" show-index-display
type="numeric" value="[[[10], [12]], [[1], [6]]]" dimensions="3" rows="3"
columns="3"></smart-array>
<smart-array #array3 id="smartArrayBoolean" show-index-display
type="boolean" value="[false, true]" dimensions="1" rows="1" columns="7"></smart-array>
<smart-array #array4 id="smartArrayString" show-index-display
type="string" value='[["A", "C"], ["B", "D"]]' dimensions="2" rows="4"
columns="2"></smart-array>