<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>General-Use Components</h4></div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Accordion</h4>
                </div>

                <div class="card-body">
                    <smart-accordion class="w-100">
                        <smart-accordion-item label="First Item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam at nunc sed aliquet. Quisque nec tristique lacus, sit amet venenatis risus. Pellentesque nisl odio, scelerisque nec ipsum ut, ullamcorper fringilla odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</smart-accordion-item>
                        <smart-accordion-item label="Second Item">Proin eu fringilla ante. Fusce tempus est at dui posuere blandit. Pellentesque id eros dui.</smart-accordion-item>
                        <smart-accordion-item label="Third Item">Duis ut nunc non eros rutrum laoreet commodo nec nulla. Duis volutpat dapibus mi in interdum. Praesent ornare ex metus.</smart-accordion-item>
                        <smart-accordion-item label="Fourth Item">Vestibulum in leo porta, tempus orci eleifend, pharetra libero.</smart-accordion-item>
                    </smart-accordion>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Breadcrumbs</h4>
                </div>
                <div class="card-body">
                    <smart-breadcrumb class="w-100 mb-5" data-source='[{ "label": "<a href="#home">Home</a>", "value": "home" }, { "label": "<a href="#catalog">Catalog</a>", "value": "catalog" }, { "label": "<a href="#apple_computers">Apple Computers</a>", "value": "apple_computers" }, { "label": "Macbook Pro 13", "value": "macbook_pro_13" }'></smart-breadcrumb>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Progressbars</h4>
                </div>
                <div class="card-body">
                    <smart-progress-bar class="w-100 mb-5" value="30"></smart-progress-bar>
                    <smart-progress-bar class="w-100 mb-5 barber-shop-effect" value="50"></smart-progress-bar>
                    <smart-progress-bar class="w-100 mb-5 barber-shop-effect" indeterminate></smart-progress-bar>
                    <div class="d-flex justify-content-between">
                        <smart-circular-progress-bar class="w-150 h-150" value="50"></smart-circular-progress-bar>
                        <smart-circular-progress-bar class="w-150 h-150 barber-shop-effect" indeterminate></smart-circular-progress-bar>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Badges</h4>
                </div>
                <div class="card-body">
                    <div class="mb-5">
                        <span class="smart-badge smart-badge-light">Light</span>
                        <span class="smart-badge smart-badge-dark">Dark</span>
                        <span class="smart-badge smart-badge-info">Info</span>
                        <span class="smart-badge smart-badge-success">Success</span>
                        <span class="smart-badge smart-badge-warning">Warning</span>
                        <span class="smart-badge smart-badge-danger">Danger</span>
                    </div>

                    <div>
                        <span class="smart-badge smart-badge-light smart-badge-pill">Light</span>
                        <span class="smart-badge smart-badge-dark smart-badge-pill">Dark</span>
                        <span class="smart-badge smart-badge-info smart-badge-pill">Info</span>
                        <span class="smart-badge smart-badge-success smart-badge-pill">Success</span>
                        <span class="smart-badge smart-badge-warning smart-badge-pill">Warning</span>
                        <span class="smart-badge smart-badge-danger smart-badge-pill">Danger</span>
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">List Boxes</h4>
                </div>
                <div class="card-body">
                    <div class="row d-flex">
                        <div class="col-6 mb-5">
                            <h6>With selection</h6>
                            <smart-list-box class="h-auto">
                                <smart-list-item>Item 1</smart-list-item>
                                <smart-list-item selected>Item 2</smart-list-item>
                                <smart-list-item>Item 3</smart-list-item>
                            </smart-list-box>
                        </div>
                        <div class="col-6 mb-5">
                            <h6>No selection</h6>
                            <smart-list-box class="h-auto" selection-mode="none">
                                <smart-list-item>Item 1</smart-list-item>
                                <smart-list-item>Item 2</smart-list-item>
                                <smart-list-item>Item 3</smart-list-item>
                            </smart-list-box>
                        </div>
                        <div class="col-6 mb-5">
                            <h6>Disabled item</h6>
                            <smart-list-box class="h-auto">
                                <smart-list-item disabled>Item 1</smart-list-item>
                                <smart-list-item selected>Item 2</smart-list-item>
                                <smart-list-item>Item 3</smart-list-item>
                            </smart-list-box>
                        </div>
                        <div class="col-6 mb-5">
                            <h6>With grouping</h6>
                            <smart-list-box class="h-auto">
                                <smart-list-items-group label="Group 1">
                                    <smart-list-item>Item 1</smart-list-item>
                                </smart-list-items-group>
                                <smart-list-items-group label="Group 2">
                                    <smart-list-item selected>Item 2</smart-list-item>
                                    <smart-list-item>Item 3</smart-list-item>
                                </smart-list-items-group>
                            </smart-list-box>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Pagers</h4>
                </div>
                <div class="card-body" id="pagersContainer">
                    <smart-pager class="mb-5" show-prev-next-navigation-buttons auto-ellipsis="both" show-page-index-selectors pages-count="20" page-index-selectors="10"></smart-pager>
                    <smart-pager class="mb-5" show-navigation-button-labels show-prev-next-navigation-buttons show-first-last-navigation-buttons show-page-index-selectors pages-count="5" page-index-selectors="5"></smart-pager>
                    <smart-pager class="w-100" show-page-size-selector show-navigation-input show-prev-next-navigation-buttons pages-count="10" show-summary></smart-pager>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Tooltips</h4>
                </div>
                <div class="card-body">
                    <smart-button id="buttonWithTooltip1" class="small-button success">Tooltip on left</smart-button>
                    <smart-tooltip selector="buttonWithTooltip1" arrow position="left">Tooltip on left</smart-tooltip>
                    <smart-button id="buttonWithTooltip2" class="small-button">Tooltip on top</smart-button>
                    <smart-tooltip selector="buttonWithTooltip2" arrow position="top">Tooltip on top</smart-tooltip>
                    <smart-button id="buttonWithTooltip3" class="small-button secondary">Tooltip on bottom</smart-button>
                    <smart-tooltip selector="buttonWithTooltip3" arrow position="bottom">Tooltip on bottom</smart-tooltip>
                    <smart-button id="buttonWithTooltip4" class="small-button primary">Tooltip on right</smart-button>
                    <smart-tooltip selector="buttonWithTooltip4" arrow position="right">Tooltip on right</smart-tooltip>
                </div>
            </div>
        </div>
    </div>
</div>