.grid-layout-page {
    .grid-cols .card {
        border: 1px solid var(--smart-border);
        background-color: var(--smart-primary);
        color: var(--smart-primary-color);
        text-align: center;
        margin: 10px 0;
        padding: 10px 5px;
    }
}
