<smart-path #path [label]="'Path Control'" [value]="'C:\\Users\\Inowotny\\Documents\\LabVIEW Projects\\PathControlPlay\\DesktopPath.gvi'"></smart-path>
<div class="options">
    <div class="option">
        <smart-button #button>setToNotAPath</smart-button>
    </div>
    <div class="option">
        <smart-button #button2>setToEmptyPath</smart-button>
    </div>
    <div class="option">
        <smart-button #button3>open</smart-button>
    </div>
    <div class="option">
        <smart-button #button4>close</smart-button>
    </div>
    <div class="option">
         <h4>Value:</h4>
        <div id="log" #log>C:\Users\Inowotny\Documents\LabVIEW Projects\PathControlPlay\DesktopPath.gvi</div>
    </div>
</div>