<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Toasts</h4></div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Toasts with icons</h4>
                </div>
                <div class="card-body">
                    <p>Toasts with contextual background color and icons.</p>
                    <div id="toastWithIconContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="info"><b>An info toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="warning"><b>A warning toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="success"><b>A success toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="error"><b>An error toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="mail"><b>A mail toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="time"><b>A time toast!</b></smart-toast>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Toasts with no icons</h4>
                </div>
                <div class="card-body">
                    <p>Toasts with contextual background color and icons.</p>
                    <div id="toastWithNoIconContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="info"><b>An info toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="warning"><b>A warning toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="success"><b>A success toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="error"><b>An error toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="mail"><b>A mail toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="time"><b>A time toast!</b></smart-toast>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Toasts with large content</h4>
                </div>
                <div class="card-body">
                    <div id="toastWithLargeContentContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithLargeContentContainer" type="mail">
                            <h3>Hello!</h3>
                            <p>Sed finibus libero mi. Cras convallis nibh ultrices leo tincidunt efficitur. Aliquam vehicula
                                iaculis nisl, at fringilla nisi bibendum id. Praesent efficitur leo ante, eget.</p>
                            <hr/>
                            <p>Nulla at molestie nulla. Quisque aliquam diam eget lectus consectetur placerat. Maecenas
                                sagittis massa semper.</p>
                        </smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithLargeContentContainer" type="success">
                            <h3>Hello!</h3>
                            <p>Sed finibus libero mi. Cras convallis nibh ultrices leo tincidunt efficitur. Aliquam vehicula
                                iaculis nisl, at fringilla nisi bibendum id. Praesent efficitur leo ante, eget.</p>
                            <hr/>
                            <p>Nulla at molestie nulla. Quisque aliquam diam eget lectus consectetur placerat. Maecenas
                                sagittis massa semper.</p>
                        </smart-toast>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Toasts with buttons</h4>
                </div>
                <div class="card-body">
                    <div id="toastWithButtonsContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithButtonsContainer" type="mail">
                            <h3>Hello!</h3>
                            <p>Sed finibus libero mi. Cras convallis nibh ultrices leo tincidunt efficitur. Aliquam vehicula
                                iaculis nisl, at fringilla nisi bibendum id. Praesent efficitur leo ante, eget.</p>
                            <hr/>
                            <p>
                                <smart-button class="small-button">OK</smart-button>
                                <smart-button class="small-button">Dismiss</smart-button>
                            </p>
                        </smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithButtonsContainer" type="success">
                            <h3>Hello!</h3>
                            <p>Sed finibus libero mi. Cras convallis nibh ultrices leo tincidunt efficitur. Aliquam vehicula
                                iaculis nisl, at fringilla nisi bibendum id. Praesent efficitur leo ante, eget.</p>
                            <hr/>
                            <p>
                                <smart-button class="small-button primary">OK</smart-button>
                                <smart-button class="small-button secondary">Dismiss</smart-button>
                            </p>
                        </smart-toast>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>