<div class="second">
    <div class="content">
        <div class="charts">
            <smart-chart id="channels-bars-chart"></smart-chart>
            <div id="map-chart"></div>
        </div>
    </div>
</div>
<div class="third">
    <div class="content">
        <div id="rangeSelector"></div>
        <smart-chart id="dates-chart"></smart-chart>
    </div>
</div>
<div class="first">
    <div class="content">
        <h3>Products</h3>
        <smart-table id="customers-table"></smart-table>
    </div>
</div>
