<div class="demo-description">
    <h1>Full Row Editing in Data Grid</h1>
    <p>The data grid offers different editing options in order to meet Enterprise
        needs. In this demo is demonstrated full row editing which is one of the
        editing modes supported by the grid. To enable the row editing, set the
        'editing.mode' to 'row'.</p>
    <br />
    <br />
</div>
<smart-grid #grid id="grid" [dataSource]="dataSource" [columns]="columns" [editing]="editing" [appearance]="appearance">
</smart-grid>