<h3>My Workplace</h3>
<smart-sortable #sortable id="sortable" [mode]="'horizontal'" [dragMode]="'handle'" [handlePosition]="'right'">
    <div id="square1" class="square"> <i class="material-icons">

            person

        </i>
        <div>Employees</div>
    </div>
    <div id="square2" class="square"> <i class="material-icons">

            work_outline

        </i>
        <div>Projects</div>
    </div>
    <div id="square3" class="square"> <i class="material-icons">

            attach_money

        </i>
        <div>Finance</div>
    </div>
    <div id="square4" class="square"> <i class="material-icons">

            contact_mail

        </i>
        <div>Partnerships</div>
    </div>
    <div id="square5" class="square"> <i class="material-icons">

            speaker_phone

        </i>
        <div>Connectivity</div>
    </div>
    <div id="square6" class="square"> <i class="material-icons">

            location_on

        </i>
        <div>Travel</div>
    </div>
</smart-sortable>