<smart-editor #editor id="editor">
    <p>smartEditor represents a ready-for-use HTML text editor which can simplify
        web content creation or be a replacement of your HTML Text Areas.</p>
    <h2>Features:</h2>
    <ul>
        <li>Basic &amp; advanced styling. With smartEditor, you can easily apply bold,
            italic, underline styles as well as different fonts and font size.</li>
        <li>Colors Picking. The built-in Color Pickers allow you to highlight text
            by changing its text color or background color.</li>
        <li>Inline editing. The feature allows you to edit inline and the smartEditor's
            toolbar is displayed on demand above the editing area.</li>
        <li>Right to left interface. smartEditor can switch to Right to Left layout
            and editing mode by setting a single property called "rtl" to true.</li>
        <li>Hyperlinks. A built-in tool for inserting, modifying and removing hyperlinks
            is available.</li>
        <li>Images. Images can be edited via a built-in Dialog where you can define
            the image's url, size, alt text and layout.</li>
        <li>Tables. The Editor allows to creata tables with custom rows/colums and
            apply attributes like header, alternation and etc.</li>
        <li>Export to HTML and Print.</li>
        <li>Customizable Toolbars. The Toolbar items can be customized as well as
            the Dialog Window for the table/image/hyperlink actions.</li>
        <li>Force paste as plain text. smartEditor has a property called "pasteFormat".
            By setting it to "plainText", the clipboard data will be always pasted
            as plain text</li>
        <li>PC, Touch and Mobile Devices Support</li>
        <li>Web Standards Compliant</li>
        <li>Rich and easy to use JavaScript API</li>
        <li>Easy customization and built-in themes</li>
    </ul>
    <table class="browserref notranslate">
        <tbody>
            <tr>
                <th style="font-size:16px;text-align:left;">Element</th>
                <th title="Chrome">
                    <div class="bsChrome"></div>
                </th>
                <th title="MS Edge">
                    <div class="bsEdge"></div>
                </th>
                <th title="Firefox">
                    <div class="bsFirefox"></div>
                </th>
                <th title="Safari">
                    <div class="bsSafari"></div>
                </th>
                <th title="Opera">
                    <div class="bsOpera"></div>
                </th>
            </tr>
            <tr>
                <td style="text-align:left;">&lt;smart-editor&gt;</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>
</smart-editor>
<div class="options">
    <div class="description">
        <h4>Description</h4>
        The following demo showcases most of the Smart Editor Methods. Clicking
        on a button below will call the according method.
    </div>
    <div class="option">
        <smart-button #button id="focus">Focus</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="blur">Blur</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="collapseToolbar">Collapse toolbar</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="expandToolbar">Expand Toolbar</smart-button>
    </div>
    <div class="option">
        <smart-button #button5 id="disableToolbarItem">Disable Formats Item</smart-button>
    </div>
    <div class="option">
        <smart-button #button6 id="enableToolbarItem" [disabled]="true">Enable Formats Item</smart-button>
    </div>
    <div class="option">
        <smart-button #button7 id="getCharCount">Get Char Count</smart-button>
    </div>
    <div class="option">
        <smart-button #button8 id="selectAll">Select All</smart-button>
    </div>
    <div class="option">
        <smart-button #button9 id="clearContent">Clear Content</smart-button>
    </div>
    <div class="option">
        <smart-button #button10 id="getHTML">Get HTML</smart-button>
    </div>
    <div class="option">
        <smart-button #button11 id="getText">Get Text</smart-button>
    </div>
    <div class="option">
        <smart-button #button12 id="splitMode">Split Mode</smart-button>
    </div>
    <div class="option">
        <smart-button #button13 id="previewMode">Preview / Source Code Mode</smart-button>
    </div>
</div>