<div class="demo-description">All Custom Elements are two-way data bound to a common Model. The log,
    below the custom elements logs the changes with declarative data bindings.</div>
<div id="form">
    <smart-text-box #textbox id="textBox1"></smart-text-box>
    <br />
    <smart-text-box #textbox2 id="textBox2"></smart-text-box>
    <br />
    <smart-list-box #listbox id="listBox"></smart-list-box>
    <br />
    <smart-drop-down-list #dropdownlist id="dropDownList"></smart-drop-down-list>
    <br />
    <br />
    <smart-button #button id="button"></smart-button>

</div>