body[theme="nimble"] {
    --smart-border: #161617;
    --smart-primary-rgb: 3, 181, 133;
    --smart-primary: #00B888;
    --smart-primary-color: #000000;
    --smart-secondary: #D3D5D6;
    --smart-secondary-color: #000000;
    --smart-background: #ffffff;
    --smart-surface: #ffffff;
    --smart-outline: #161617;
    --smart-background-color: #161617;
    --smart-ui-state-border-active: var(--smart-border);
    --smart-ui-state-border-focus: var(--smart-border);
    --smart-ui-state-border-hover: var(--smart-primary);
    --smart-ui-state-hover: var(--smart-background);
    --smart-ui-state-focus: var(--smart-background);
    --smart-ui-state-active: var(--smart-background);
    --smart-ui-state-color-active: var(--smart-background-color);
    --smart-ui-state-selected: rgba(var(--smart-primary-rgb), .1);
    --smart-ui-state-border-selected: var(--smart-primary);
    /* --smart-ui-state-color-hover: var(--smart-primary); */
    --smart-border-top-left-radius: 0;
    --smart-border-top-right-radius: 0;
    --smart-border-bottom-left-radius: 0;
    --smart-border-bottom-right-radius: 0;
    /* New Variable */
    --smart-editor-label-indent-size: 20px;
    --smart-font-bold: 600;
    --smart-editor-text-align: start;
    /* Creates a specific indend/padding-left for the inputs */
    --smart-arrow-size: 20px;
    /* Button */ 
    --smart-button-padding: 12px 40px;
    /* Numeric Text Box */
    --smart-numeric-text-box-text-align: var(--smart-editor-text-align);
    --smart-editor-label-padding: 5px var(--smart-editor-label-indent-size) 5px var(--smart-editor-label-indent-size);
    /* Scroll Bar */
    --smart-scroll-bar-background: #AEB0B3;
    --smart-scroll-bar-thumb-size: 50%;
    --smart-scroll-bar-thumb-border: var(--smart-scroll-bar-background);
    --smart-scroll-bar-track-background: var(--smart-background);
    --smart-scroll-bar-thumb-background: var(--smart-background);
    --smart-scroll-bar-thumb-border-active: var(--smart-border);
    --smart-scroll-bar-thumb-background-active: var(--smart-background);
    --smart-scroll-bar-thumb-border-hover: var(--smart-ui-state-border-hover);
    --smart-scroll-bar-thumb-background-hover: var(--smart-background);
    --smart-scroll-bar-thumb-border-bottom-right-radius: 10px;
    --smart-scroll-bar-thumb-border-bottom-left-radius: 10px;
    --smart-scroll-bar-thumb-border-top-left-radius: 10px;
    --smart-scroll-bar-thumb-border-top-right-radius: 10px;
    --smart-scroll-button-size: 2px;
    /* Slider */
    --smart-slider-spin-button-height: 15px;
    --smart-slider-spin-button-width: 15px;
    --smart-slider-thumb-width: 7px;
    --smart-slider-thumb-height: var(--smart-slider-thumb-width);
    --smart-slider-value-offset: 20px;
    /* MultilineTextBox */
    --smart-multiline-text-box-default-height: 70px;
    /* ListBox, DropDownList, ComboBox */
    --smart-editor-drop-down-padding-size: 0;
    --smart-item-border-top-left-radius: 0;
    --smart-item-border-bottom-left-radius: 0;
    --smart-item-border-top-left-radius: 0;
    --smart-item-border-bottom-right-radius: 0;
    --smart-item-border-top-right-radius: 0;
    --smart-list-box-default-width: 125px;
    --smart-list-box-default-height: 104px;
    --smart-list-item-height: 22px;
    --smart-list-item-padding: 9px 12px 9px var(--smart-editor-label-indent-size);
    /* ComboBox */
    --smart-combo-box-default-width: 125px;
    /* Window */
    --smart-window-header-height: 26px;
    --smart-window-header-padding: 10px;
    --smart-window-footer-padding: var(--smart-window-header-padding);
    --smart-window-header-button-size: 10px;
    --smart-window-default-width: 600px;
    --smart-window-default-height: 300px;
    /* New */
    --smart-window-footer-background: #F1F1F2;
    --smart-window-header-background: var(--smart-surface);
    --smart-window-footer-button-width: 80px;
    --smart-window-content-padding: 20px;
    /* Grid */
    --smart-grid-row-height: 24px;
    --smart-grid-column-header-height: 24px;
    --smart-grid-default-width: 600px;
    --smart-grid-default-height: 300px;
    --smart-grid-column-horizontal-border: 0;
    --smart-grid-column-vertical-border: var(--smart-grid-column-horizontal-border);
    --smart-grid-cell-horizontal-border: var(--smart-grid-column-horizontal-border);
    --smart-grid-cell-vertical-border: var(--smart-grid-cell-horizontal-border);
    --smart-grid-column-header-height: 24px;
    --smart-grid-cell-vertical-border-opacity-selected: 0;
    --smart-grid-cell-horizontal-border-opacity-selected: 0;
    /* Table */
    --smart-table-column-header-height: 24px;
    --smart-table-row-height: var(--smart-table-column-header-height);
}

body[theme="nimble-dark"] {
    --smart-border: #D3D5D6;
    --smart-primary-rgb: 211, 213, 214;
    --smart-primary: #00B888; 
    --smart-primary-color: #FFFFFF;
    --smart-secondary: #00B888;
    --smart-secondary-color: #D3D5D6;
    --smart-background: #000;
    --smart-background-color: #fff;
    --smart-surface: #333;
    --smart-surface-color: #fff;
    --smart-outline: #161617;
    --smart-ui-state-border-active: var(--smart-border);
    --smart-ui-state-border-focus: var(--smart-border);
    --smart-ui-state-border-hover: var(--smart-primary);
    --smart-ui-state-hover: rgba(var(--smart-primary-rgb), .1);
    --smart-ui-state-active: rgba(var(--smart-primary-rgb), .1);
    --smart-ui-state-focus: var(--smart-background);
    --smart-ui-state-color-focus: #fff;
    --smart-ui-state-color-hover: #fff;
    --smart-ui-state-color-active: var(--smart-background-color);
    --smart-ui-state-selected: rgba(var(--smart-primary-rgb), .1);
    --smart-ui-state-border-selected: var(--smart-primary);
}

/* Transitions only on class 'animation' */

.smart-button[theme="nimble"].animation, .smart-button[theme="nimble"].animation[hover], .smart-numeric-text-box[theme="nimble"].animation input.smart-input, .smart-check-box.smart-toggle-box[theme="nimble"].animation .smart-input, .smart-radio-button.smart-toggle-box[theme="nimble"].animation .smart-input, .smart-numeric-text-box[theme="nimble"].animation input.smart-input, .smart-scroll-bar[theme="nimble"].animation .smart-thumb, .smart-slider[theme="nimble"].animation .smart-thumb, .smart-text-box[theme="nimble"].animation .smart-input, .smart-multiline-text-box[theme="nimble"].animation, .smart-date-time-picker[theme="nimble"].animation .smart-input.smart-date-time-input, .smart-date-time-picker[theme="nimble"].animation .smart-drop-down-button.smart-calendar-button, .smart-path[theme="nimble"].animation .smart-path-input-container, .smart-path[theme="nimble"].animation .smart-drop-down-button, .smart-path[theme="nimble"].animation .smart-browse-button, .smart-drop-down-box[theme="nimble"].animation .smart-buttons-container, .smart-drop-down-box[theme="nimble"].animation .smart-drop-down-button, .smart-date-time-picker[theme="nimble"].animation .smart-spin-button {
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.smart-slider[theme="nimble"].animation .smart-thumb.enable-animation {
    transition: margin-left .4s cubic-bezier(.25, .8, .25, 1), border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.smart-slider[theme="nimble"].animation[orientation="vertical"] .smart-thumb.enable-animation {
    transition: margin-top .4s cubic-bezier(.25, .8, .25, 1), border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.smart-slider[theme="nimble"].animation .smart-value.enable-animation {
    transition: width .4s cubic-bezier(.25, .8, .25, 1), border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.smart-slider[theme="nimble"].animation[orientation="vertical"] .smart-value.enable-animation {
    transition: height .4s cubic-bezier(.25, .8, .25, 1), margin-top .4s cubic-bezier(.25, .8, .25, 1), border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.smart-slider[theme="nimble"].animation .smart-value {
    transition: background-color 0.2s ease-in-out;
}

.smart-button[hover]:not(.animation), .smart-button[active]:not(.animation) {
    transition: none;
}

.smart-button:not(.animation) .smart-ripple {
    display: none;
}

/* Button */

.smart-button[theme="nimble"] {
    --smart-ui-state-border-active: var(--smart-primary);
    --smart-ui-state-border-focus: var(--smart-primary);
}

.smart-button[theme="nimble"]:not(button)[focus]:not([active]) {
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-ui-state-border-focus);
}

/* Keyboard focus */

@media (hover: hover) {
    .smart-button[theme="nimble"][focus]:not([active]):not([hover]) button {
        box-shadow: 0 0 0 var(--smart-border-width) inset var(--smart-ui-state-focus), 0 0 0 calc(2 * var(--smart-border-width)) inset var(--smart-ui-state-border-hover);
    }
}

.smart-button[theme="nimble"]:not(button)[hover]:not([active]) {
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-ui-state-border-hover);
    border-color: var(--smart-ui-state-border-hover);
}

.smart-button[theme="nimble"][active] {
    border-color: var(--smart-ui-state-border-active);
}

[theme="nimble"] button.smart-button .smart-ripple, button.smart-button[theme="nimble"] .smart-ripple {
    --smart-background-color: var(--smart-primary);
}

.smart-button.nimble-primary {
    --smart-button-opacity-hover: 0.75;
    --smart-button-opacity-focus: 0.7;
    --smart-button-opacity-active: 0.65;
    --smart-background: var(--smart-primary);
    --smart-border: var(--smart-primary);
    --smart-background-color: var(--smart-primary-color);
    --smart-ui-state-hover: var(--smart-primary);
    --smart-ui-state-border-hover: var(--smart-primary);
    --smart-ui-state-color-hover: var(--smart-primary-color);
    --smart-ui-state-active: var(--smart-primary);
    --smart-ui-state-border-active: var(--smart-primary);
    --smart-ui-state-color-active: var(--smart-primary-color);
    --smart-ui-state-focus: var(--smart-primary);
    --smart-ui-state-border-focus: var(--smart-primary);
    --smart-ui-state-color-focus: var(--smart-primary-color);
    --smart-button-flat-color: var(--smart-primary);
    --smart-button-outlined-color: var(--smart-primary);
    --smart-button-outlined-border: var(--smart-primary);
}

.smart-button.nimble-secondary {
    --smart-button-opacity-hover: 0.75;
    --smart-button-opacity-focus: 0.7;
    --smart-button-opacity-active: 0.65;
    --smart-background: var(--smart-secondary);
    --smart-border: var(--smart-secondary);
    --smart-background-color: var(--smart-secondary-color);
    --smart-ui-state-hover: var(--smart-secondary);
    --smart-ui-state-border-hover: var(--smart-secondary);
    --smart-ui-state-color-hover: var(--smart-secondary-color);
    --smart-ui-state-active: var(--smart-secondary);
    --smart-ui-state-border-active: var(--smart-secondary);
    --smart-ui-state-color-active: var(--smart-secondary-color);
    --smart-ui-state-focus: var(--smart-secondary);
    --smart-ui-state-border-focus: var(--smart-secondary);
    --smart-ui-state-color-focus: var(--smart-secondary-color);
    --smart-button-flat-color: var(--smart-secondary);
    --smart-button-outlined-color: var(--smart-secondary);
    --smart-button-outlined-border: var(--smart-secondary);
}

.smart-button.nimble-primary .smart-ripple, .smart-button.nimble-secondary .smart-ripple {
    background-color: var(--smart-button-outlined-color);
}

.smart-button.nimble-primary, .smart-button.nimble-secondary {
    color: var(--smart-button-outlined-color);
    border-color: var(--smart-button-outlined-border);
    background: transparent;
    border-width: calc(2 * var(--smart-border-width));
}

/*Outlined Button - Hover State*/

.smart-button.nimble-primary[hover], .smart-button.nimble-secondary[hover] {
    color: var(--smart-button-outlined-color);
    border-color: var(--smart-button-outlined-border);
    background: transparent;
}

/*Outlined Button - Active State*/

.smart-button.nimble-primary[active], .smart-button.nimble-secondary[active] {
    color: var(--smart-button-outlined-color);
    border-color: var(--smart-button-outlined-border);
    background: transparent;
}

/*Outlined Button - focus State*/

.smart-button.nimble-primary[focus], .smart-button.nimble-secondary[focus] {
    color: var(--smart-button-outlined-color);
    border-color: var(--smart-ui-state-focus);
    background: transparent;
}

/* CheckBox, RadioButton */

.smart-check-box.smart-toggle-box[theme="nimble"] .smart-input:after, .smart-check-box.smart-toggle-box[theme="nimble"][checked] .smart-input:after, .smart-check-box.smart-toggle-box[theme="nimble"][checked="null"] .smart-input:after {
    font-weight: var(--smart-font-bold);
}

.smart-check-box.smart-toggle-box[theme="nimble"] .smart-input, .smart-toggle-box[theme="nimble"]:focus .smart-input, .smart-toggle-box[theme="nimble"][focus] .smart-input {
    background-color: var(--smart-background);
}

.smart-check-box.smart-toggle-box[theme="nimble"][focus] .smart-input, .smart-radio-button.smart-toggle-box[theme="nimble"][focus] .smart-input {
    box-shadow: 0 0 0 1px var(--smart-border);
}

.smart-check-box.smart-toggle-box[theme="nimble"][hover]:not([focus]) .smart-input, .smart-radio-button.smart-toggle-box[theme="nimble"][hover]:not([focus]) .smart-input {
    box-shadow: 0 0 0 1px var(--smart-ui-state-border-hover);
}

.smart-toggle-box[theme="nimble"]:focus .smart-input, .smart-toggle-box[theme="nimble"][focus] .smart-input {
    border-color: var(--smart-ui-state-border-focus);
}

/* NumericTextBox */

.smart-numeric-text-box[theme="nimble"][focus] input.smart-input, .smart-numeric-text-box[theme="nimble"][hover] input.smart-input:hover {
    box-shadow: 0 var(--smart-border-width) 0 0 var(--smart-border);
}

.smart-numeric-text-box[theme="nimble"][hover]:not([focus]) input.smart-input:hover {
    border-color: var(--smart-ui-state-border-hover);
    box-shadow: 0 var(--smart-border-width) 0 0 var(--smart-ui-state-border-hover);
}

.smart-numeric-text-box[theme="nimble"] input.smart-input, .smart-numeric-text-box[theme="nimble"] .smart-input-addon, .smart-numeric-text-box[theme="nimble"] .smart-spin-button {
    border-top: initial;
    border-left: initial;
    border-right: initial;
}

.smart-numeric-text-box[theme="nimble"] .smart-spin-button {
    border-bottom: initial;
    --smart-ui-state-color-hover: var(--smart-primary);
}

.smart-numeric-text-box[theme="nimble"] input.smart-input {
    caret-color: var(--smart-primary);
}

.smart-numeric-text-box[theme="nimble"] input.smart-input::selection {
    background-color: rgba(var(--smart-primary-rgb), 0.1);
    color: var(--smart-primary-color);
}

.smart-numeric-text-box[theme="nimble"][label] .smart-label, .smart-numeric-text-box[theme="nimble"][hint] .smart-hint {
    padding: initial;
}

[theme="nimble"] .smart-numeric-text-box-pressed-component .smart-arrow::after, .smart-numeric-text-box-pressed-component[theme="nimble"] .smart-arrow::after, .smart-numeric-text-box[theme="nimble"] .smart-spin-button[hover] .smart-arrow::after {
    font-weight: var(--smart-font-bold);
}

/* ScrollBar */

.smart-scroll-bar[theme="nimble"] .smart-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smart-scroll-bar[theme="nimble"] .smart-track::before {
    content: '';
    position: absolute;
    pointer-events: none;
    background: var(--smart-scroll-bar-background);
}

.smart-scroll-bar[theme="nimble"]:not([orientation="vertical"]) .smart-track::before {
    width: 100%;
    height: calc( 2 * var(--smart-border-width));
}

.smart-scroll-bar[theme="nimble"][orientation="vertical"] .smart-track::before {
    height: 100%;
    width: calc( 2 * var(--smart-border-width));
}

.smart-scroll-bar[theme="nimble"] .smart-thumb:hover {
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-ui-state-border-hover);
}

.smart-scroll-bar[theme="nimble"] .smart-thumb:active {
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-ui-state-border-focus);
}

/* Creates a padding around the track and at the same time hides the buttons */

.smart-scroll-bar[theme="nimble"][show-buttons] .smart-scroll-button, .smart-scroll-bar[theme="nimble"][disabled] .smart-thumb {
    visibility: hidden;
}

/* Slider */

.smart-slider[theme="nimble"] {
    --smart-ui-state-active: var(--smart-primary);
    --smart-ui-state-color-hover: var(--smart-primary);
}

.smart-slider[theme="nimble"] .smart-track {
    border: none;
}

.smart-slider[theme="nimble"][show-buttons] .smart-track {
    grid-area: track;
    align-self: center;
    justify-self: center;
}

.smart-slider[theme="nimble"][show-buttons]:not([orientation="vertical"]) .smart-track {
    width: calc(100% - var(--smart-slider-thumb-width));
    height: var(--smart-slider-track-size);
}

.smart-slider[theme="nimble"][show-buttons][orientation="vertical"] .smart-track {
    height: calc(100% - var(--smart-slider-thumb-width));
    width: var(--smart-slider-track-size);
}

.smart-slider[theme="nimble"] .smart-track, .smart-slider[theme="nimble"]:not([dragged]) .smart-value {
    background-color: var(--smart-border);
}

.smart-slider[theme="nimble"] .smart-thumb::before {
    content: none;
}

.smart-slider[theme="nimble"] .smart-thumb, .smart-slider[theme="nimble"][value="0"] .smart-thumb {
    background-color: var(--smart-background);
}

.smart-slider[theme="nimble"][value="0"][dragged] .smart-thumb, .smart-slider[theme="nimble"][value="0"] .smart-thumb:hover {
    border-color: var(--smart-ui-state-border-hover);
}

.smart-slider[theme="nimble"]:not([dragged]) .smart-thumb:not(:hover) {
    border-color: var(--smart-border);
}

.smart-slider[theme="nimble"][dragged] .smart-thumb, .smart-slider[theme="nimble"] .smart-thumb:hover {
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-ui-state-border-hover);
}

.smart-slider[theme="nimble"] .smart-value {
    height: var(--smart-slider-track-size);
    top: initial;
    transform: scaleY(2);
}

.smart-slider[theme="nimble"][orientation="vertical"] .smart-value {
    width: var(--smart-slider-track-size);
    left: initial;
    transform: scaleX(2);
}

.smart-slider[theme="nimble"][show-buttons] .smart-track-container {
    display: grid;
    align-items: center;
    margin: initial;
}

.smart-slider[theme="nimble"][show-buttons][orientation="vertical"] .smart-track-container {
    align-items: center;
}

.smart-slider[theme="nimble"][show-buttons]:not([orientation="vertical"]) .smart-track-container {
    grid-template-areas: 'track rButton ' 'track lButton';
    grid-template-columns: 1fr var(--smart-slider-spin-button-width);
    grid-template-rows: repeat(2, var(--smart-slider-spin-button-height));
    height: 100%;
}

.smart-slider[theme="nimble"][show-buttons][inverted]:not([orientation="vertical"]) .smart-track-container {
    grid-template-areas: 'lButton track' 'rButton track';
    grid-template-columns: var(--smart-slider-spin-button-width) 1fr;
}

.smart-slider[theme="nimble"][theme="nimble"][show-buttons][orientation="vertical"] .smart-track-container {
    grid-template-areas: 'track track' 'lButton rButton';
    grid-template-rows: 1fr var(--smart-slider-spin-button-height);
    grid-template-columns: repeat(2, var(--smart-slider-spin-button-height));
    width: 100%;
    margin: initial;
}

.smart-slider[theme="nimble"][show-buttons][orientation="vertical"][inverted] .smart-track-container {
    grid-template-areas: 'lButton rButton' 'track track';
    grid-template-rows: var(--smart-slider-spin-button-height) 1fr;
}

.smart-slider[theme="nimble"][show-buttons] .smart-spin-button {
    --smart-ui-state-active: var(--smart-background);
    grid-area: rButton;
    margin: initial;
    border: initial;
}

.smart-slider[theme="nimble"][show-buttons] .smart-spin-button:first-of-type {
    grid-area: lButton;
}

.smart-slider[theme="nimble"][show-buttons]:not([orientation="vertical"]) .smart-spin-button .smart-arrow {
    left: initial;
    top: initial;
}

.smart-slider[theme="nimble"][show-buttons]:not([orientation="vertical"]) .smart-spin-button .smart-arrow {
    transform: rotate(-90deg);
}

.smart-slider[theme="nimble"][show-buttons][inverted]:not([orientation="vertical"]) .smart-spin-button .smart-arrow {
    transform: rotate(90deg);
}

.smart-slider[theme="nimble"][show-buttons] .smart-spin-button[active] .smart-arrow::after {
    font-weight: var(--smart-font-bold);
}

.smart-slider[theme="nimble"][show-buttons] .smart-spin-button[hover] {
    border: none;
}

.smart-slider[theme="nimble"] {
    position: relative;
}

.smart-slider[theme="nimble"]:not([scale-position="none"])::before, .smart-slider[theme="nimble"]:not([scale-position="none"])::after {
    display: none;
}

.smart-slider[theme="nimble"]::before, .smart-slider[theme="nimble"]::after {
    position: absolute;
    display: flex;
    white-space: nowrap;
    pointer-events: none;
}

.smart-slider[theme="nimble"]::before {
    content: attr(value);
}

.smart-slider[theme="nimble"][show-unit][inverted]::before {
    content: attr(unit);
}

.smart-slider[theme="nimble"][inverted]::after {
    content: attr(value);
}

.smart-slider[theme="nimble"][show-unit]::after {
    content: attr(unit);
    justify-content: flex-end;
    z-index: -1;
}

.smart-slider[theme="nimble"]:not([orientation="vertical"])::before, .smart-slider[theme="nimble"]:not([orientation="vertical"])::after {
    top: calc( -1 * var(--smart-slider-thumb-width) / 4);
    left: var(--smart-slider-value-offset);
    height: calc(50% - var(--smart-slider-thumb-width) / 2);
    width: calc(100% - var(--smart-slider-spin-button-width) - var(--smart-slider-thumb-width) - var(--smart-slider-value-offset));
    margin: 0 calc(var(--smart-slider-thumb-width) / 2) 0 calc(var(--smart-slider-thumb-width) / 2);
    align-items: center;
}

.smart-slider[theme="nimble"]:not([orientation="vertical"])::before {
    width: calc(100% - var(--smart-slider-spin-button-width) - var(--smart-slider-thumb-width) - 2 * var(--smart-slider-value-offset));
    justify-content: var(--smart-editor-text-align);
}

.smart-slider[theme="nimble"][inverted]:not([orientation="vertical"])::before, .smart-slider[theme="nimble"][inverted]:not([orientation="vertical"])::after {
    right: var(--smart-slider-value-offset);
    margin: 0 calc(var(--smart-slider-thumb-width) / 2) 0 calc(var(--smart-slider-thumb-width) / 2);
    align-items: center;
}

.smart-slider[theme="nimble"]:not([value]):not([inverted])::before {
    content: '0';
}

.smart-slider[theme="nimble"][inverted]:not([value])::after {
    content: '0';
}

.smart-slider[theme="nimble"][orientation="vertical"]::after, .smart-slider[theme="nimble"][orientation="vertical"]::before {
    top: 0;
    left: calc( -1 * var(--smart-slider-thumb-width) / 4);
    width: calc(50% - var(--smart-slider-thumb-width) / 2);
    height: calc(100% - var(--smart-slider-spin-button-width) - var(--smart-slider-thumb-width) - var(--smart-slider-value-offset));
    margin: calc(var(--smart-slider-thumb-width) / 2) 0 calc(var(--smart-slider-thumb-width) / 2) 0;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.smart-slider[theme="nimble"][scale-position="none"]:not([show-buttons])[orientation="vertical"]::after, .smart-slider[theme="nimble"][scale-position="none"]:not([show-buttons])[orientation="vertical"]::before {
    height: calc(100% - var(--smart-slider-thumb-width) - var(--smart-slider-value-offset));
}

.smart-slider[theme="nimble"][orientation="vertical"][inverted]::after, .smart-slider[theme="nimble"][orientation="vertical"][inverted]::before {
    bottom: 0;
    top: initial;
}

.smart-slider[theme="nimble"][orientation="vertical"]::before {
    align-items: flex-end;
}

.smart-slider[theme="nimble"] .smart-track-container {
    display: flex;
}

.smart-slider[theme="nimble"][scale-position="none"]:not([show-buttons]):not([orientation="vertical"]) .smart-track-container {
    height: 100%;
    align-items: center;
}

.smart-slider[theme="nimble"][scale-position="none"]:not([show-buttons])[orientation="vertical"] .smart-track-container {
    width: 100%;
    justify-content: center;
}

.smart-slider[theme="nimble"][show-buttons]:not([orientation="vertical"]) .smart-scale {
    margin-left: calc(var(--smart-slider-thumb-width) / 2 + var(--smart-border-width))
}

.smart-slider[theme="nimble"][show-buttons][orientation="vertical"] .smart-scale {
    margin-top: calc(var(--smart-slider-thumb-height) / 2 + var(--smart-border-width));
    height: calc(100% - var(--smart-slider-spin-button-height) - var(--smart-slider-thumb-height))
}

.smart-slider[theme="nimble"][show-buttons]:not([orientation="vertical"]) .smart-scale-near {
    transform: translateY(calc(var(--smart-slider-spin-button-height) / 2));
}

.smart-slider[theme="nimble"][show-buttons]:not([orientation="vertical"]) .smart-scale-far {
    transform: translateY(calc(-1 * var(--smart-slider-spin-button-height)));
}

.smart-slider[theme="nimble"][show-buttons][orientation="vertical"] .smart-scale-near {
    transform: translateX(calc(var(--smart-slider-spin-button-width) / 2));
}

.smart-slider[theme="nimble"][show-buttons][orientation="vertical"] .smart-scale-far {
    transform: translateX(calc(-1 * var(--smart-slider-spin-button-width) / 2));
}

.smart-slider[theme="nimble"] .smart-arrow::after {
    align-content: center;
}

.smart-slider[theme="nimble"][show-buttons][inverted]:not([orientation="vertical"]) .smart-scale {
    margin-left: calc(var(--smart-slider-spin-button-width) + var(--smart-slider-thumb-width) / 2);
}

.smart-slider[theme="nimble"][show-buttons][inverted][orientation="vertical"] .smart-scale {
    margin-top: calc(var(--smart-slider-spin-button-height) + var(--smart-slider-thumb-height) / 2);
}

.smart-slider[theme="nimble"][hint]:not([orientation="vertical"]) .smart-hint {
    bottom: calc(100% + var(--smart-editor-label-indent-size) / 2);
}

/* TextBox, MultilineTextBox */

.smart-text-box[theme="nimble"] .smart-input, .smart-multiline-text-box[theme="nimble"] {
    border-top: initial;
    border-left: initial;
    border-right: initial;
}

.smart-text-box[theme="nimble"][readonly] .smart-input, .smart-multiline-text-box[theme="nimble"][readonly] {
    border: initial;
}

.smart-multiline-text-box[theme="nimble"][readonly] .smart-container .smart-scroll-bar, .smart-multiline-text-box[theme="nimble"][readonly] .smart-container .smart-scroll-bar[orientation="vertical"] {
    display: none;
}

.smart-text-box[theme="nimble"][focus]:not([readonly]) .smart-input, .smart-multiline-text-box[theme="nimble"][focus]:not([readonly]), .smart-combo-box[theme="nimble"][focus]:not([readonly]) .smart-action-button {
    border-color: var(--smart-ui-state-border-focus);
    box-shadow: 0 var(--smart-border-width) 0 0 var(--smart-border);
}

.smart-text-box[theme="nimble"][hover]:not([focus]):not([readonly]) .smart-input, .smart-multiline-text-box[theme="nimble"][hover]:not([focus]):not([readonly]), .smart-text-box[theme="nimble"][hover]:not([readonly]) .smart-input:active {
    border-color: var(--smart-ui-state-border-hover);
    box-shadow: 0 var(--smart-border-width) 0 0 var(--smart-ui-state-border-hover);
}

.smart-text-box[theme="nimble"] .smart-input::selection, .smart-multiline-text-box[theme="nimble"] .smart-input::selection {
    background-color: rgba(var(--smart-primary-rgb), 0.1);
    color: var(--smart-primary-color);
}

.smart-text-box[theme="nimble"] .smart-input, .smart-multiline-text-box[theme="nimble"] .smart-input {
    caret-color: var(--smart-primary);
    text-align: var(--smart-editor-text-align);
}

.smart-text-box[theme="nimble"][label] .smart-label, .smart-multiline-text-box[theme="nimble"][label] .smart-label {
    padding: initial;
}

.smart-text-box.error[theme="nimble"], .smart-drop-down-box.error[theme="nimble"], [theme="nimble"] .smart-list-item.error, .smart-list-item.error[theme="nimble"] {
    --smart-primary: var(--smart-error);
    --smart-border: var(--smart-primary);
    --smart-primary-rgb: var(--smart-error-rgb);
    --smart-ui-state-border-active: var(--smart-border);
    --smart-ui-state-border-focus: var(--smart-border);
    --smart-ui-state-border-hover: var(--smart-primary);
    --smart-editor-label-padding: 5px;
    --smart-surface: rgba(var(--smart-primary-rgb), 0.10);
}

.smart-text-box.error[theme="nimble"]>.smart-container::before, .smart-text-box.error[theme="nimble"].smart-container::before, .smart-drop-down-box.error[theme="nimble"][right-to-left] .smart-buttons-container::after, .smart-drop-down-box.error[theme="nimble"]:not([right-to-left]) .smart-buttons-container::before, [theme="nimble"] .smart-list-item.error .smart-list-item-container::before, .smart-list-item.error[theme="nimble"] .smart-list-item-container::before {
    content: '!';
    width: var(--smart-editor-label-indent-size);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--smart-error);
    color: white;
}

[theme="nimble"] .smart-list-item.error .smart-list-item-container, .smart-list-item.error[theme="nimble"] .smart-list-item-container {
    flex-direction: initial;
    justify-content: initial;
    padding: initial;
    align-items: center;
    background: var(--smart-surface);
}

[theme="nimble"] .smart-list-item.error .smart-list-item-container::before, .smart-list-item.error[theme="nimble"] .smart-list-item-container::before {
    margin-right: 5px;
}

.smart-element[theme="nimble"][right-to-left] .smart-list-item.error .smart-list-item-container::before, .smart-list-item.error[theme="nimble"][right-to-left] .smart-list-item-container::before {
    margin-left: 5px;
    margin-right: initial;
}

/* DateTimePicker, Path */

.smart-date-time-picker[theme="nimble"] {
    --smart-ui-state-color-hover: var(--smart-primary);
}

.smart-date-time-picker[theme="nimble"], .smart-date-time-picker[theme="nimble"] .smart-spin-button, .smart-date-time-picker[theme="nimble"] .smart-drop-down-button.smart-calendar-button, .smart-date-time-picker[theme="nimble"][readonly] .smart-input.smart-date-time-input, .smart-path[theme="nimble"][readonly] .smart-path-input-container {
    border: none;
}

.smart-date-time-picker[theme="nimble"][readonly] .smart-drop-down-button.smart-calendar-button, .smart-date-time-picker[theme="nimble"][readonly] .smart-spin-button, .smart-path[theme="nimble"][readonly] .smart-drop-down-button, .smart-path[theme="nimble"][readonly] .smart-browse-button {
    display: none;
}

.smart-date-time-picker[theme="nimble"] .smart-input.smart-date-time-input, .smart-path[theme="nimble"] .smart-path-input-container, .smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"] .smart-buttons-container {
    border-bottom: var(--smart-border-width) solid var(--smart-border);
    caret-color: var(--smart-primary);
    text-align: var(--smart-editor-text-align);
}

.smart-date-time-picker[theme="nimble"] .smart-input.smart-date-time-input::selection, .smart-path[theme="nimble"] .smart-input.smart-path-input::selection, .smart-drop-down-box[theme="nimble"] .smart-input::selection {
    background-color: rgba(var(--smart-primary-rgb), 0.1);
    color: var(--smart-primary-color);
}

.smart-date-time-picker[theme="nimble"][focus] .smart-input.smart-date-time-input, .smart-path[theme="nimble"][focus] .smart-path-input-container, .smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"][focus]:not([opened]) .smart-buttons-container, .smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"]:not(.smart-drop-down-list)[action-button-focus]:not([opened]) .smart-buttons-container, .smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"]:not(.smart-drop-down-list)[drop-down-button-focus]:not([opened]) .smart-buttons-container {
    border-color: var(--smart-ui-state-border-focus);
    box-shadow: 0 var(--smart-border-width) 0 0 var(--smart-border);
}

.smart-date-time-picker[theme="nimble"][hover]:not([focus]):not([readonly]) .smart-input.smart-date-time-input:hover, .smart-date-time-picker[theme="nimble"][hover]:not([readonly]) .smart-input.smart-date-time-input:active, .smart-path[theme="nimble"]:not([focus]):not([readonly]) .smart-path-input-container:hover, .smart-path:hover[theme="nimble"]:not([readonly]) .smart-path-input-container:active, .smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"]:not(.smart-drop-down-list):not([focus]):not([readonly])[hover]:not([drop-down-button-hover]) .smart-buttons-container {
    border-color: var(--smart-ui-state-border-hover);
    box-shadow: 0 var(--smart-border-width) 0 0 var(--smart-ui-state-border-hover);
}

.smart-date-time-picker[theme="nimble"] .smart-drop-down-button.smart-calendar-button, .smart-path[theme="nimble"] .smart-drop-down-button, .smart-path[theme="nimble"] .smart-browse-button {
    border: var(--smart-border-width) solid transparent;
}

.smart-date-time-picker[theme="nimble"][hover] .smart-drop-down-button.smart-calendar-button:hover, .smart-date-time-picker[theme="nimble"] .smart-drop-down-button.smart-calendar-button[active], .smart-path[theme="nimble"] .smart-drop-down-button:hover, .smart-path[theme="nimble"] .smart-drop-down-button:active, .smart-path[theme="nimble"][opened] .smart-drop-down-button, .smart-path[theme="nimble"] .smart-browse-button:hover, .smart-path[theme="nimble"] .smart-browse-button:active {
    border-color: var(--smart-ui-state-border-hover);
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-ui-state-border-hover);
}

.smart-date-time-picker[theme="nimble"][hover] .smart-drop-down-button.smart-calendar-button:active {
    color: var(--smart-primary-color);
}

.smart-date-time-picker[theme="nimble"] .smart-spin-button[hover] .smart-arrow::after, .smart-date-time-picker[theme="nimble"] .smart-spin-button[active] .smart-arrow::after {
    font-weight: var(--smart-font-bold);
}

.smart-date-time-picker[theme="nimble"][label]>.smart-container>.smart-label, .smart-path[theme="nimble"][label] .smart-label {
    padding: initial;
}

.smart-date-time-picker[theme="nimble"] .smart-drop-down-button.smart-calendar-button:not(:hover):not([active]), .smart-path[theme="nimble"]:not([opened]) .smart-drop-down-button:not(:hover), .smart-path[theme="nimble"] .smart-browse-button:not(:hover) {
    border-color: transparent;
}

/* Path */

.smart-drop-down[theme="nimble"] .smart-path-item:not([hover]) {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.smart-drop-down[theme="nimble"] .smart-path-item[active], .smart-drop-down[theme="nimble"] .smart-path-item[focus] {
    color: var(--smart-ui-state-color-selected);
    background-color: var(--smart-ui-state-selected)
}

.smart-drop-down[theme="nimble"]:not([right-to-left]) .smart-path-item[focus]:not([hover]) {
    box-shadow: var(--smart-border-width) 0 0 0 inset var(--smart-primary);
    border-right-color: transparent;
}

.smart-drop-down[theme="nimble"][right-to-left] .smart-path-item[focus]:not([hover]) {
    box-shadow: calc(-1 * var(--smart-border-width)) 0 0 0 inset var(--smart-primary);
    border-left-color: transparent;
}

.smart-path[theme="nimble"] .smart-buttons-container {
    grid-template-columns: minmax(0, 1fr) repeat(2, var(--smart-editor-addon-width));
}

.smart-path[theme="nimble"] .smart-path-input-container {
    border-top: initial;
    border-left: initial;
    border-right: initial;
}

.smart-path[theme="nimble"] .smart-drop-down-button {
    order: 1;
}

.smart-path[theme="nimble"] .smart-browse-button {
    order: 2
}

[theme="nimble"] input.smart-input, input.smart-input[theme="nimble"], .smart-path[theme="nimble"] .smart-path-multiline-container {
    padding: var(--smart-editor-label-padding);
}

/* ListBox */

.smart-list-box[theme="nimble"] .smart-list-item[hover] .smart-content, .smart-drop-down[theme="nimble"] .smart-path-item[hover] {
    border-color: var(--smart-ui-state-border-hover);
    box-shadow: 0 0 0 var(--smart-border-width) inset var(--smart-ui-state-border-hover);
}

.smart-list-box[theme="nimble"] .smart-list-item[selected]:not([hover]) .smart-content {
    border-top: initial;
    border-bottom: initial;
}

.smart-list-box[theme="nimble"]:not([right-to-left]) .smart-list-item[selected]:not([hover]) .smart-content {
    box-shadow: var(--smart-border-width) 0 0 0 inset var(--smart-primary);
    border-right: initial;
}

.smart-list-box[theme="nimble"][right-to-left] {
    --smart-list-item-padding: 9px var(--smart-editor-label-indent-size) 9px 12px;
}

.smart-list-box[theme="nimble"][right-to-left] .smart-list-item[selected]:not([hover]) .smart-content {
    box-shadow: calc(-1 * var(--smart-border-width)) 0 0 0 inset var(--smart-primary);
    border-left: initial;
}

/* ComboBox */

.smart-combo-box[theme="nimble"] {
    --smart-editor-drop-down-max-height: 104px;
}

.smart-drop-down-box[theme="nimble"] .smart-action-button, .smart-drop-down-box[theme="nimble"][drop-down-button-position] .smart-action-button, .smart-drop-down-box[theme="nimble"] .smart-drop-down-button, .smart-drop-down-box[theme="nimble"][drop-down-button-position] .smart-drop-down-button, .smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"] .smart-drop-down-button {
    border: none;
}

.smart-drop-down-box[theme="nimble"]:not([drop-down-open-mode="dropDownButton"]) .smart-buttons-container, .smart-drop-down-list[theme="nimble"] .smart-buttons-container {
    border: var(--smart-border-width) solid var(--smart-border);
}

.smart-drop-down-box[theme="nimble"] .smart-action-button[hover] {
    border-color: var(--smart-ui-state-border-hover);
}

.smart-drop-down-box[theme="nimble"] .smart-drop-down-button[hover] {
    border-color: var(--smart-border);
}

.smart-drop-down-box[theme="nimble"][hover] .smart-drop-down-button:not([hover]), .smart-drop-down-box[theme="nimble"][hover]:not([drop-down-open-mode="dropDownButton"]) .smart-action-button {
    color: var(--smart-surface-color);
}

.smart-drop-down-box[theme="nimble"]:not([drop-down-open-mode="dropDownButton"])[focus]:not([opened]) .smart-buttons-container, .smart-drop-down-list[theme="nimble"][focus]:not([opened]) .smart-buttons-container, .smart-drop-down-list[theme="nimble"][action-button-focus]:not([opened]) .smart-buttons-container, .smart-drop-down-list[theme="nimble"][drop-down-button-focus]:not([opened]) .smart-buttons-container {
    border-color: var(--smart-ui-state-border-focus);
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-border);
}

.smart-drop-down-box[theme="nimble"]:not([drop-down-open-mode="dropDownButton"]):not([focus]):not([readonly])[hover] .smart-buttons-container, .smart-drop-down-list[theme="nimble"][hover]:not([opened]):not([readonly]) .smart-buttons-container {
    border-color: var(--smart-ui-state-border-hover);
    box-shadow: 0 0 0 var(--smart-border-width) var(--smart-ui-state-border-hover);
}

.smart-drop-down-box[theme="nimble"]:not([drop-down-open-mode="dropDownButton"])[hover]:not([focus]) .smart-drop-down-button {
    color: var(--smart-ui-state-color-hover);
}

.smart-drop-down.smart-drop-down-container[theme="nimble"][drop-down-open-mode]:not([drop-down-open-mode="dropDownButton"])[top] {
    border-bottom: none;
}

.smart-drop-down.smart-drop-down-container[theme="nimble"][drop-down-open-mode]:not([drop-down-open-mode="dropDownButton"])[bottom] {
    border-top: none;
}

/* DropDownList */

.smart-drop-down-box[theme="nimble"] .smart-drop-down.smart-drop-down-container, .smart-drop-down.smart-drop-down-repositioned[theme="nimble"] {
    box-shadow: var(--smart-elevation-0);
}

.smart-drop-down-box[theme="nimble"][readonly]:not([focus]) .smart-buttons-container {
    border: var(--smart-border-width) solid transparent;
}

.smart-drop-down-box[theme="nimble"][readonly] .smart-drop-down-button {
    display: none;
}

.smart-drop-down-box[theme="nimble"][readonly] .smart-action-button {
    width: 100%;
}

.smart-drop-down-list[theme="nimble"] {
    --smart-editor-label-padding: var(--smart-editor-label-indent-size);
}

.smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"][drop-down-button-position="right"]:not([hover]) .smart-action-button:focus, .smart-drop-down-box[theme="nimble"][drop-down-open-mode="dropDownButton"]:not([drop-down-button-position]):not([hover]) .smart-action-button:focus {
    box-shadow: none;
}

/* Window */

.smart-window[theme="nimble"]:not(.smart-container) {
    box-shadow: 0px 0px 13px #00000029;
}

.smart-window[theme="nimble"] .smart-content-container>.smart-footer .smart-button {
    --smart-button-padding: 0;
}

.smart-window[theme="nimble"] .smart-content-container>.smart-footer {
    justify-content: flex-end;
}

.smart-window[theme="nimble"] .smart-content-container>.smart-content {
    align-items: flex-start;
}

/* Grid */

.smart-grid[theme="nimble"] {
    --smart-surface: #F1F1F2;
}

.smart-grid[theme="nimble"] .smart-scroll-bar, .smart-grid[theme="nimble"] .smart-scroll-bar[orientation="vertical"] {
    border: none;
}

.smart-grid[theme="nimble"]>.smart-container .smart-grid-column-header, .smart-grid.smart-container[theme="nimble"] .smart-grid-column-header {
    min-height: var(--smart-grid-column-header-height);
}

.smart-grid[theme="nimble"][right-to-left] smart-scroll-bar[orientation="vertical"] {
    border-right: initial;
}

/* Table */

.smart-table[theme="nimble"] thead th, .smart-table[theme="nimble"] .smart-table-select-all.freeze-near {
    --smart-surface: #F1F1F2;
}

.smart-table[theme="nimble"] .freeze-near {
    box-shadow: none;
}

.smart-table[theme="nimble"] th, .smart-table[theme="nimble"] td, .smart-table[theme="nimble"] tbody tr.last-visible.sized {
    --smart-border: transparent;
}

.smart-table[theme="nimble"] thead th {
    padding-top: 0;
    padding-bottom: 0;
}

.smart-table[theme="nimble"] th.smart-table-select-all.selected>div, .smart-table[theme="nimble"] td.smart-table-select-row.selected>div {
    border-color: var(--smart-ui-state-border-active);
    background-color: var(--smart-background);
}

.smart-table[theme="nimble"] th.smart-table-select-all.selected>div::after, .smart-table[theme="nimble"] td.smart-table-select-row.selected>div::after {
    font-weight: var(--smart-font-bold);
}

/* Chrome default browser styles */

.smart-element[theme="nimble"] ::-webkit-scrollbar {
    width: calc(var(--smart-scroll-bar-size) /2);
}

.smart-element[theme="nimble"] ::-webkit-scrollbar-track {
    background-color: transparent;
    background-clip: padding-box;
}

.smart-element[theme="nimble"] ::-webkit-scrollbar-track-piece, .smart-table[theme="nimble"] th.smart-table-select-all.indeterminate>div {
    background-color: var(--smart-scroll-bar-background);
    box-shadow: 0 0 0 3.5px inset var(--smart-background);
}

.smart-element[theme="nimble"] ::-webkit-scrollbar-thumb {
    border: var(--smart-border-width) solid var(--smart-scroll-bar-thumb-border);
    background-color: var(--smart-scroll-bar-thumb-background);
    border-top-left-radius: var(--smart-scroll-bar-thumb-border-top-left-radius);
    border-top-right-radius: var(--smart-scroll-bar-thumb-border-top-right-radius);
    border-bottom-left-radius: var(--smart-scroll-bar-thumb-border-bottom-left-radius);
    border-bottom-right-radius: var(--smart-scroll-bar-thumb-border-bottom-right-radius);
}

.smart-element[theme="nimble"] ::-webkit-scrollbar-corner {
    background-color: var(--smart-scroll-bar-background);
}

/* Other elements */

.smart-switch-button[theme="nimble"] {
    --smart-surface: #F1F1F2;
}

.smart-color-picker[theme="nimble"] .smart-color-box {
    margin-left: 5px;
    margin-right: initial;
}

/* .smart-drop-down-box[theme="nimble"] .smart-action-button {
    padding: var(--smart-editor-label-padding)
} */

.smart-pager[theme="nimble"] .smart-pager-page-index-selector[selected] {
    border-width: var(--smart-border-width);
    border-style: solid;
}

/* Disable animations */