<smart-docking-layout #dockinglayout id="layout" [layout]="layout"></smart-docking-layout>
<div class="options">
    <div class="caption">Insert Outside Tab 0 and Tab 1 group:</div>
    <div class="option">
        <smart-button #button id="insertOutsideTargetGroupLeft">Left</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="insertOutsideTargetGroupRight">Right</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="insertOutsideTargetGroupTop">Top</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="insertOutsideTargetGroupBottom">Bottom</smart-button>
    </div>
</div>
<br />