<div class="demo-description">The filtering feature is enabled by using the <strong>filtering</strong> property.
    If the <strong>enabled</strong> sub-property is set to <strong>true</strong>,
    the column's filtering menu is enabled. Filter Menu displays Inputs, Numeric
    Inputs or Date Pickers depending on the column's type. The column's <strong>allowFilter</strong> determines
    whether a column is filterable. The Grid has options to customize the visibility
    of filter icons, filter column background, custom filter icons, enabled/disable
    filter menu animations.</div>
<smart-grid #grid id="grid" [dataSource]="dataSource" [columns]="columns" [filtering]="filtering" [sorting]="sorting">
</smart-grid>