body, html {
	height: 800px;
}

smart-color-panel.column-count-small {
    --smart-color-panel-grid-mode-column-count: 4;
}

smart-color-panel.column-count-medium {
    --smart-color-panel-grid-mode-column-count: 8;
}

smart-color-panel.column-count-large {
    --smart-color-panel-grid-mode-column-count: 14;
}
