html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.smart-editor {
    width: 100%;
    height: 100%;
}

.smart-editor .holiday img {
    float: left;
    padding: 15px;
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, .15);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 260px;
}

@media (max-width: 750px) {
    .options {
        position: relative;
        top: 30px;
        width: 240px;
        margin: 0 auto;
    }
}