<div class="container">
    <div id="main">
        <div id="listboxContainer">
            <div id="listBoxTitle">Team Members</div>
            <smart-list-box id="phoneBook" sorted selected-indexes='[0]'>
                <smart-list-item><i class="icon"></i>Andrew Watson</smart-list-item>
                <smart-list-item><i class="icon"></i>Anne Kean</smart-list-item>
                <smart-list-item><i class="icon"></i>Avril Janin</smart-list-item>
                <smart-list-item><i class="icon"></i>Janet Pattenson</smart-list-item>
                <smart-list-item><i class="icon"></i>Johanna Svensson</smart-list-item>
                <smart-list-item><i class="icon"></i>Johnny Abana</smart-list-item>
                <smart-list-item><i class="icon"></i>Laura Thene</smart-list-item>
                <smart-list-item><i class="icon"></i>Margaret Vetton</smart-list-item>
                <smart-list-item><i class="icon"></i>Maria Sevrano</smart-list-item>
                <smart-list-item><i class="icon"></i>Mark Yemen</smart-list-item>
                <smart-list-item><i class="icon"></i>Maya Verdara</smart-list-item>
            </smart-list-box>
        </div>
        <div id="dataContainer">
            <div id="info">
                <div>
                    <div class="title">About</div>
                    <div id="about">
                        <i class="about icon"></i>
                        <span>Andrew Watson</span>
                    </div>
                </div>
                <div>
                    <div class="title">Sales Volume</div>
                    <div id="salesVolume">$ 2,536.87</div>
                    <div id="toDateSalesChart"></div>
                </div>
                <div>
                    <div class="title">Monthly Average Sales</div>
                    <div id="averageSales">$ 8,536.08</div>
                    <div id="averageSalesChart"></div>
                </div>
            </div>
            <div>
                <div class="title">Representative Sales vs. Total Sales</div>
                <div id="salesChart"></div>
            </div>
            <div id="tasks">
                <div class="title">Employee Tasks</div>
                <div id="scheduler"></div>
            </div>
        </div>
    </div>
</div>