<div class="demo-description">
    <h1>Command Column in Data Grid</h1>
    <p>One of the Data Grid editing features is the command column. The command
        column can be used to 'Edit' or 'Delete' a row. It can be positioned as
        first or last column in the Grid. The Column width is 'auto' by default,
        but it can be fixed as well. The 'commands' can be 'icons', 'labels' or
        'icons and labels'.</p>
    <br />
    <br />
</div>
<smart-grid #grid id="grid" [dataSource]="dataSource" [columns]="columns" [editing]="editing" [appearance]="appearance">
</smart-grid>