html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% minmax(0, 1fr);
    grid-column-gap: 10px;
}

.smart-scheduler {
    height: 100vh;
    --smart-scheduler-view-item-size: 100px;
}

.smart-tree {
    width: 100%;
    height: 100%;
}

#root > div {
    width: 100%;
    height: 100%;
}