
#donut-chart-sector, #donut-chart-region, #donut-chart-channel {
    width: 300px;
    height: 260px;
}

#products-table {
    width: 100%;
	height: auto;
    margin-bottom: 10px;
}

#rangeSelector {
    margin-top: 15px;
}

@media (max-width: 960px) {
    .first .donut-charts {
       flex-direction: column;
       height: auto;
    }
}