<div class="first">
    <div class="content">
        <h3>Products</h3>

        <div class="donut-charts">
            <smart-chart id="donut-chart-sector"></smart-chart>
            <smart-chart id="donut-chart-region"></smart-chart>
            <smart-chart id="donut-chart-channel"></smart-chart>
        </div>
    </div>
</div>
<div class="second">
    <div class="content">
        <smart-table id="products-table"></smart-table>
    </div>
</div>
<div class="third">
    <div class="content">
        <div id="rangeSelector"></div>
        <smart-chart id="dates-chart"></smart-chart>
    </div>
</div>