<div class="demo-description">
	<p> <b>Smart.DateInput</b> is an input that allows selection of a single date.
		It uses the Intl.DateTimeFormat API for formatting the dates.</p>
</div>
<h3>Default</h3>
<smart-date-input #dateinput [placeholder]="'Please Enter a Date'"></smart-date-input>
<br />
<br />
<br />
<h3>Underlined</h3>
<smart-date-input #dateinput2 class="underlined" [placeholder]="'Please Enter a Date'"></smart-date-input>
<br />
<br />
<br />
<h3>Outlined</h3>
<smart-date-input #dateinput3 class="outlined" [placeholder]="'Please Enter a Date'"></smart-date-input>