<div class="demo-description">Start typing to see the strength popup feedback positioned differently.</div>
<smart-password-text-box #passwordtextbox [showPasswordStrength]="true" [showPasswordIcon]="true"
    [selectAllOnFocus]="true" [tooltipArrow]="true" [placeholder]="'Popup on top'" [tooltipPosition]="'top'">
</smart-password-text-box>
<br />
<br />
<smart-password-text-box #passwordtextbox2 [showPasswordStrength]="true" [showPasswordIcon]="true"
    [selectAllOnFocus]="true" [tooltipArrow]="true" [placeholder]="'Popup on right'" [tooltipPosition]="'right'">
</smart-password-text-box>
<br />
<br />
<smart-password-text-box #passwordtextbox3 [showPasswordStrength]="true" [showPasswordIcon]="true"
    [selectAllOnFocus]="true" [tooltipArrow]="true" [placeholder]="'Popup on bottom + icon'"
    [tooltipPosition]="'bottom'">
</smart-password-text-box>