<smart-filter-builder #filterbuilder disable-context-menu></smart-filter-builder>
<smart-menu #menu id="customFilterBuilderMenu"
mode="dropDown">
    <smart-menu-item label="Add Group" value="addGroup"></smart-menu-item>
    <smart-menu-item label="Add Condition" value="addCondition"
    separator></smart-menu-item>
    <smart-menu-item label="Delete" value="delete" separator></smart-menu-item>
    <smart-menu-item label="And" value="and"></smart-menu-item>
    <smart-menu-item label="Or" value="or" separator></smart-menu-item>
    <smart-menu-item label="Equals" value="="></smart-menu-item>
    <smart-menu-item label="Does not equal" value="<>" separator></smart-menu-item>
    <smart-menu-item label="id" value="id"></smart-menu-item>
    <smart-menu-item label="Product" value="productName"></smart-menu-item>
    <smart-menu-item label="Unit Price" value="price"></smart-menu-item>
    <smart-menu-item label="Total" value="total"></smart-menu-item>
    <smart-menu-item label="Active" value="active"></smart-menu-item>
</smart-menu>