<div class="demo-description">To add spacing between stacked items, use 'spacing' or 'spacing-#' where
    # is from 2 to 6.</div>
<div class="smart-stack-layout spacing">
    <smart-button #button class="primary item">OK</smart-button>
    <smart-button #button2 class="secondary item">Cancel</smart-button>
</div>
<label>Stack Layout Spacing - 1</label>
<br/>
<div class="smart-stack-layout spacing-2">
    <smart-button #button3 class="primary item">OK</smart-button>
    <smart-button #button4 class="secondary item">Cancel</smart-button>
</div>
<label>Stack Layout Spacing - 2</label>
<br/>
<div class="smart-stack-layout spacing-3">
    <smart-button #button5 class="primary item">OK</smart-button>
    <smart-button #button6 class="secondary item">Cancel</smart-button>
</div>
<label>Stack Layout Spacing - 3</label>
<br/>
<div class="smart-stack-layout spacing-4">
    <smart-button #button7 class="primary item">OK</smart-button>
    <smart-button #button8 class="secondary item">Cancel</smart-button>
</div>
<label>Stack Layout Spacing - 4</label>
<br/>
<div class="smart-stack-layout spacing-5">
    <smart-button #button9 class="primary item">OK</smart-button>
    <smart-button #button10 class="secondary item">Cancel</smart-button>
</div>
<label>Stack Layout Spacing - 5</label>
<br/>
<div class="smart-stack-layout spacing-6">
    <smart-button #button11 class="primary item">OK</smart-button>
    <smart-button #button12 class="secondary item">Cancel</smart-button>
</div>
<label>Stack Layout Spacing - 6</label>
<br/>