<div class="demo-description">Chart fully supports right-to-left (RTL) language locales. You can enable/disable
    the right-to-left support using rightToLeft property.</div>
<smart-chart #chart id="chart" [rightToLeft]="true" [locale]="'he'" [caption]="caption" [description]="description"
    [showLegend]="showLegend" [padding]="padding" [titlePadding]="titlePadding" [dataSource]="dataSource"
    [colorScheme]="colorScheme" [xAxis]="xAxis" [valueAxis]="valueAxis" [seriesGroups]="seriesGroups"></smart-chart>