.cards-page {
    smart-card,
    smart-card:hover {
        box-shadow: unset;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    smart-card p, smart-card ul, smart-card a{
        line-height: 1.5;
    }
}
