.projects-list-2 {
    .projects-list-2-header {
        margin-bottom: 0.75rem;
    }

    smart-progress-bar {
        width: 100%;
    }

    .col-entity-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-entity-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .item-col {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;

        .card-header {
            padding: 2rem 2rem 8px 2rem;

            .img-as-background {
                width: 65px;
                margin-right: 1rem;
                flex-shrink: 0;
                border-radius: 50%;
            }

            .img-as-background:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            .card-header-info {
                display: flex;
                flex-direction: column;
                margin-right: auto;
            }
        }

        .card-body {
            padding-left: 2rem;
            padding-right: 2rem;

            .projects-list-2-dates {
                display: flex;
                flex-direction: column;
                margin-bottom: 1.5rem;
            }

            .progress-col {
                margin-bottom: 1.5rem;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }

            .dates-progress-span {
                margin-bottom: 1rem;
                font-weight: 700;
                display: block;
            }

            .progress-wrapper {
                width: 100%;
                margin: 0.5rem 0;
            }

            .progress-value {
                margin-left: 0.75rem;
            }

            .custom-btn {
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                user-select: none;
                border: 1px solid transparent;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
                padding: 0.25rem 0.5rem;
                font-size: 0.875rem !important;
                line-height: 1.5;
                border-radius: 0.2rem;
            }

            .item-info {
                margin-bottom: 1.5rem;
                opacity: 0.9;
            }

            .members-col {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;

                .members {
                    .img-as-background {
                        width: 30px;
                        border: 2px solid var(--white);
                        border-radius: 50%;
                    }

                    .members-indicator {
                        border: 2px solid var(--white);
                        height: 30px;
                        width: 30px;
                        align-items: center;
                        justify-content: center;
                        display: inline-flex;
                        border-radius: 50%;
                        background-color: var(--smart-secondary);
                    }
                }
            }

            .budget-expenses-members-row {
                .custom-col {
                    margin-bottom: 3rem;

                    .budget-expenses-span {
                        margin-bottom: 0.75rem;
                    }
                }
            }
        }

        .card-footer {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .tasks-comments-wrapper {
                margin-right: 3rem;

                .task-comments {
                    margin-left: 0.5rem;
                }
            }

            .details-wrapper {
                margin-right: auto;
                margin-top: 1.5rem;
            }
        }
    }

    @media (min-width: 576px) {
        .card-footer {
            align-items: center;
            flex-direction: row !important;

            .details-wrapper {
                margin-left: auto !important;
                margin-right: 0 !important;
                margin-top: 0 !important; 
            }
        }
    }

    @media (min-width: 768px) {
        .col-entity-md-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
    }

    @media (min-width: 992px) {
        .col-entity-lg-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
