<div id="demoBox">
    <div id="frame" #frame>
        <div id="frameHeader" #frameHeader>Header</div>
        <div id="frameContent" #frameContent>Content</div>
    </div>
</div>
<br />
<div>Border Color</div>
<br />
<smart-color-picker #colorpicker [dropDownAppendTo]="'body'" [displayMode]="'default'" [dropDownWidth]="'auto'"
    [placeholder]="'Border Color'" id="borderColor"></smart-color-picker>
<br />
<div>Header Background</div>
<br />
<smart-color-picker #colorpicker2 [dropDownAppendTo]="'body'" [displayMode]="'default'" [dropDownWidth]="'auto'"
    [placeholder]="'Header Background Color'" id="headerBackground"></smart-color-picker>
<div>Header Font Color</div>
<br />
<smart-color-picker #colorpicker3 [dropDownAppendTo]="'body'" [displayMode]="'default'" [dropDownWidth]="'auto'"
    [placeholder]="'Header Font Color'" id="headerColor"></smart-color-picker>
<div>Background</div>
<br />
<smart-color-picker #colorpicker4 [dropDownAppendTo]="'body'" [displayMode]="'default'" [dropDownWidth]="'auto'"
    [placeholder]="'Background Color'" id="background"></smart-color-picker>
<div>Font Color</div>
<br />
<smart-color-picker #colorpicker5 [dropDownAppendTo]="'body'" [displayMode]="'default'" [dropDownWidth]="'auto'"
    [placeholder]="'Font Color'" id="color"></smart-color-picker>