.embed-video {
    .embed-video-header {
        margin-bottom: 0.75rem;
        flex: 0 0 100%;
        max-width: 100%;
        h4 {
            font-size: 1.5rem;
        }
    }

    .embed-video-entity {
        margin-bottom: 1.5rem;

        iframe {
            width: 100%;
        }
    }

    @media (min-width: 992px) {
        .embed-video-entity {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
