<div class="underlined">Horizontal tank</div>Value: <span id="horizontalTankValue" #horizontalTankValue>30.00</span>
<smart-tank #tank id="horizontalTank" [orientation]="'horizontal'" [min]="0" [max]="100" [value]="30"
            scalePosition="'none'"></smart-tank>
<br />
<br />
<br />
<div class="underlined">Inverted horizontal tank</div>Value: <span id="invertedHorizontalTankValue" #invertedHorizontalTankValue>30.00</span>
<smart-tank #tank2 id="invertedHorizontalTank" [orientation]="'horizontal'" [inverted]="true" [min]="0"
            [max]="100" [value]="30" scalePosition="'none'"></smart-tank>
<br />
<br />
<br />
<div class="underlined">Vertical Tank</div>Value: <span id="verticalTankValue" #verticalTankValue>30.00</span>
<smart-tank #tank3 id="verticalTank" [orientation]="'vertical'" [min]="0" [max]="100" [value]="30"
            scalePosition="'none'"></smart-tank>
<br />
<br />
<br />
<div class="underlined">Inverted vertical Tank</div>Value: <span id="invertedVerticalTankValue" #invertedVerticalTankValue>30.00</span>
<smart-tank #tank4 id="invertedVerticalTank" [orientation]="'vertical'" [inverted]="true" [min]="0"
            [max]="100" [value]="30" scalePosition="'none'"></smart-tank>