<div class="demo-description">In this example is shown how to replace the default task window.</div>
<smart-kanban #kanban [addNewColumn]="addNewColumn" [allowColumnRemove]="allowColumnRemove" [collapsible]="collapsible" 
[addNewButton]="addNewButton" [editable]="editable" [columnActions]="columnActions" [columnEditMode]="columnEditMode"
 [columnFooter]="columnFooter" [columnSummary]="columnSummary" [columnColors]="columnColors" 
 [columnColorEntireSurface]="columnColorEntireSurface" [allowColumnEdit]="allowColumnEdit" [allowColumnReorder]="allowColumnReorder" 
 [taskActions]="taskActions" [dataSource]="dataSource" [taskDue]="taskDue"  [taskProgress]="taskProgress" [columns]="columns">
</smart-kanban>
<smart-window #window></smart-window>
