<smart-progress-bar #progressbar id="linearProgressBar" [value]="50"></smart-progress-bar>
<smart-tooltip #tooltip id="tooltip" [selector]="'linearProgressBar'" [arrow]="true"></smart-tooltip>
<smart-circular-progress-bar #circularProgressBar id="circularProgressBar" [value]="75"></smart-circular-progress-bar>
<smart-tooltip #tooltip2 id="tooltip2" [selector]="'circularProgressBar'" [arrow]="true" [position]="'left'"></smart-tooltip>
<div class="options">
     <h3>Tooltip Position:</h3>
    <smart-radio-button #radiobutton [checked]="true">Top</smart-radio-button>
    <br/>
    <smart-radio-button #radiobutton2>Bottom</smart-radio-button>
    <br/>
    <smart-radio-button #radiobutton3>Left</smart-radio-button>
    <br/>
    <smart-radio-button #radiobutton4>Right</smart-radio-button>
</div>