.five-o-o-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    h1,
    h5 {
        font-weight: 700;
    }

    h1 {
        font-size: 2.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    .five-o-o-text {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) {
    .five-o-o-wrapper {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
}
