<p>The barcode component supports a wide variety of customization options.</p>
<p>Use the settings menu to style the barcode:</p>
<smart-barcode #barcodeToStyle [value]="'A5600B'"></smart-barcode>
<br />
<div class="options">
        <h4>Background Color:</h4>		
        <smart-color-picker #backgroundColorPicker class="option" [value]="'white'"></smart-color-picker>
        <br/>
        <h4>Line Color:</h4>		
        <smart-color-picker #lineColorPicker class="option" [value]="'black'"></smart-color-picker>
        <br/>
        <h4>Line Width:</h4>		
        <smart-number-input #lineWidthInput class="option" [value]="4" [min]="1" [max]="10"></smart-number-input>
        <br/>
        <h4>Line Height:</h4>		
        <smart-number-input #lineHeightInput class="option" [value]="50" [min]="25" [max]="100"></smart-number-input>
        <br/>
        <h4>Label Color:</h4>		
        <smart-color-picker #labelColorPicker class="option" [value]="'black'"></smart-color-picker>
        <br/>
        <h4>Label Font Size:</h4>		
        <smart-number-input #labelFontSizeInput class="option" [value]="14" [max]="60" [min]="10"></smart-number-input>
        <br/><br/>
        <smart-button (click)="apply()" #applyBtn>Apply</smart-button>	
</div>