<smart-grid #grid id="grid" [dataSource]="dataSource" [columns]="columns"></smart-grid>
<div class="options">
    <div class="caption">Settings</div>
    <div class="option">
        <smart-button #button id="addRow">Add Row</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="removeLastRow">Remove Last Row</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="removeFirstRow">Remove First Row</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="updateFirstRow">Update First Row</smart-button>
    </div>
</div>