<header>
    <div class="logo">Company name</div>
    <div class="button-group">
        <smart-button #button class="flat">FEATURES</smart-button>
        <smart-button #button2 class="flat">ENTERPRICE</smart-button>
        <smart-button #button3 class="flat">SUPPORT</smart-button>
        <smart-button #button4 id="login" class="primary outlined">LOGIN</smart-button>
    </div>
</header>
<section class="user">
    <div class="container">
         <h1 class="headline">Pricing</h1>
        <p class="content">Quickly build an effective pricing table for your potential customers
            with this layout. It's built with default Material-UI components with little
            customization.</p>
    </div>
</section>
<section class="articles">
    <div class="container">
        <smart-card #card id="free">
            <div class="thumb-section">
                 <h2>Free</h2>
            </div>
            <div class="content">
                 <h3>$0<sub>/mo</sub></h3>
                <p>10 users included</p>
                <p>2 GB of storage</p>
                <p>Help center access</p>
                <p>Email support</p>
                <smart-button #button5 class="primary outlined">SIGN UP FOR FREE</smart-button>
            </div>
        </smart-card>
        <smart-card #card2 class="popular" id="pro">
            <div class="thumb-section">
                 <h2>Pro</h2>
                <p class="subheadline">Most popular</p>
            </div>
            <div class="content">
                 <h3>$15<sub>/mo</sub></h3>
                <p>20 users included</p>
                <p>10 GB of storage</p>
                <p>Help center access</p>
                <p>Priority email support</p>
                <smart-button #button6 class="primary">GET STARTED</smart-button>
            </div>
        </smart-card>
        <smart-card #card3 id="enterprice">
            <div class="thumb-section">
                 <h2>Enterprise</h2>
            </div>
            <div class="content">
                 <h3>$30<sub>/mo</sub></h3>
                <p>50 users included</p>
                <p>30 GB of storage</p>
                <p>Help center access</p>
                <p>Phone & email support</p>
                <smart-button #button7 class="primary outlined">CONTACT US</smart-button>
            </div>
        </smart-card>
    </div>
</section>
<footer>
    <div class="container">
        <ul>Company
            <li>Team</li>
            <li>History</li>
            <li>Contact us</li>
            <li>Locations</li>
        </ul>
        <ul>Features
            <li>Cool stuff</li>
            <li>Random feature</li>
            <li>Team feature</li>
            <li>Developer stuff</li>
            <li>Another one</li>
        </ul>
        <ul>Resources
            <li>Resource</li>
            <li>Resource name</li>
            <li>Another resource</li>
            <li>Final resource</li>
        </ul>
        <ul>Legal
            <li>Privacy policy</li>
            <li>Terms of use</li>
        </ul>
    </div>
</footer>