<smart-scheduler #scheduler id="scheduler" [dataSource]="dataSource" [view]="view" [hourStart]="hourStart"
    [hourEnd]="hourEnd" [firstDayOfWeek]="firstDayOfWeek"></smart-scheduler>
<div class="options">
    <div class="demo-description">Scheduler's events can be exported to a PDF or XLSX file via the <b>exportData</b>
        method
        by clicking on the corresponding button.</div>
    <div class="option">
        <smart-button #button id="exportToXLSX" (onClick)="handleExport('xlsx')">Export to XLSX</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="exportToPDF" (onClick)="handleExport('pdf')">Export to PDF</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="exportToHTML" (onClick)="handleExport('html')">Export to HTML</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="exportToICal" (onClick)="handleExport('ical')">Export to iCal</smart-button>
    </div>
    <div class="option">
        <smart-button #button5 id="print" (onClick)="handlePrint()">Print</smart-button>
    </div>
</div>