<div class="demo-description">
    <h1>Dialog Row Editing in the Grid Web Component</h1>
    <p>Cell and Row editing in the Data grid component is optionally displayed
        in a dialog. This is achieved by setting the 'editing.dialog.enabled' property
        to 'true'. In this mode, when a user clicks on a cell or row, cell or row
        data is shown in a dialog window. The 'dialog' properties are 'header',
        'top', 'left', 'width', 'height' and 'header'.</p>
</div>
<smart-grid #grid id="grid" [dataSource]="dataSource" [columns]="columns" [editing]="editing"></smart-grid>