<div class="options">
    <div class="option">
        <smart-button #button id="openButton" (onClick)="onButtonClick($event)">Open/Close</smart-button>
    </div>
</div>
<smart-window #window [opened]="true" [label]="'Window 1'">
    <div id="article">
        <section>
             <h3>Window Minimizataion?</h3>
            <p>Window minimization allows the element to be temporarly minimized and
                placed in the bottom left corner of the viewport. When minimized the window
                can't be dragged nor resized. The window can be restored to it's normal
                state by calling the <b>restore</b> method.</p>
        </section>
    </div>
</smart-window>
<smart-window #window2 [opened]="true" [label]="'Window 2'">
    <div id="article">
        <section>
             <h3>Usage</h3>
            <p>When multiple windows are opened the user can minimize those that are
                not in use in order to free the screen and see the background. Minimized
                windows are placed next to each other in a single line starting from the
                bottom left corner of the viewport. When a window has been restored, the
                minimized windows are re-aranged.</p>
        </section>
    </div>
</smart-window>