<div class="button-demo fancy-buttons">
    <label>Fancy Buttons</label>
    <div class="demo-buttons-group">
        <section class="content">
            <div>
                <smart-button #button class="doar-btn"> <a href="javascript:void(0)" class="btn btn--doar">Click</a>
                </smart-button>
            </div>
            <br />
            <div> <a href="javascript:void(0)" class="btn btn--promo"><smart-button   #button2 class="promtion-btn">Promo</smart-button></a>
            </div>
            <br />
            <div>
                <smart-button #button3 class="pausar-btn"> <a href="javascript:void(0)" class="btn btn--action"><span>Pause</span></a>
                </smart-button>
            </div>
            <!-- Redes Sociais -->
            <div class='flat-under'>
                <div class='grow-container'>
                    <smart-button #button4 class="share-btn"> <a href="javascript:void(0)" class='to-twitter circle-button'>

                                <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>

                            </a>
                    </smart-button>
                </div>
                <div class='grow-container'>
                    <smart-button #button5 class="share-btn"> <a href="javascript:void(0)" class='to-facebook circle-button'>

                                <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>

                            </a>
                    </smart-button>
                </div>
                <div class='grow-container'>
                    <smart-button #button6 class="share-btn"> <a href="javascript:void(0)" class='to-linkedin circle-button'>

                                <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>

                            </a>
                    </smart-button>
                </div>
                <div class='grow-container'>
                    <smart-button #button7 class="share-btn"> <a href="javascript:void(0)" class='to-reddit circle-button'>

                                <i class="fa fa-reddit-alien fa-fw" aria-hidden="true"></i>

                            </a>
                    </smart-button>
                </div>
            </div>
            <!-- WOOOOOW -->
            <div class="box">
                <button class="cta">
                    <smart-button #button8 class="click-me"> <a href="javascript:void(0)">Click me</a>
                    </smart-button> <span class="shape">

                            <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span></span>
                </button>
            </div>
        </section>
    </div>
</div>