<h2>64-bit(Large) Integer Scale</h2>
<br />
<h3>Horizontal</h3>
<smart-slider #slider id="horizontalSlider" [showTooltip]="true" [scaleType]="'integer'"
              [min]="'-1000000000000000000000'" [max]="'100000000000000000000'" [value]="0" [scalePosition]="'both'"></smart-slider>
<br />
<h3>Vertical</h3>
<smart-slider #slider2 id="verticalSlider" [showTooltip]="true" [tooltipPosition]="'far'"
              [orientation]="'vertical'" [scaleType]="'integer'" [min]="'-1000000000000000000000'"
              [max]="'100000000000000000000'" [value]="0" [scalePosition]="'far'"></smart-slider>