<smart-calendar #calendar></smart-calendar>
<div class="options">
    <div class="option">
        <h3>SelectionMode</h3>
        <smart-drop-down-list #modeSelector id="modeSelector">
            <smart-list-item selected>default</smart-list-item>
            <smart-list-item>many</smart-list-item>
            <smart-list-item>none</smart-list-item>
            <smart-list-item>one</smart-list-item>
            <smart-list-item>oneExtended</smart-list-item>
            <smart-list-item>oneOrMany</smart-list-item>
            <smart-list-item>range</smart-list-item>
            <smart-list-item>week</smart-list-item>
            <smart-list-item>zeroOrOne</smart-list-item>
            <smart-list-item>zeroOrMany</smart-list-item>
        </smart-drop-down-list>
    </div>
    <div class="option">
        <h3>Description:</h3>
        <div id="modeDescription"></div>
    </div>
</div>