<smart-numeric-text-box #numerictextbox id="floatingPointNumericTextBox"
                        [inputFormat]="'floatingPoint'" [value]="300000000" [scientificNotation]="true" [spinButtons]="true"
                        [spinButtonsPosition]="'right'" [spinButtonsStep]="1" [enableMouseWheelAction]="true"></smart-numeric-text-box>
<br />
<smart-numeric-text-box #numerictextbox2 id="complexNumericTextBox" [inputFormat]="'complex'"
                        [value]="'300000000 + 5000i'" [scientificNotation]="true" [spinButtons]="true" [spinButtonsPosition]="'right'"
                        [spinButtonsStep]="'1 + 1i'" [enableMouseWheelAction]="true"></smart-numeric-text-box>
<div class="options">
    <div class="caption">Settings</div>
    <div class="option">
        <smart-toggle-button #togglebutton id="toggleScientificNotation" [checked]="true">Toggle SI notation</smart-toggle-button>
    </div>
</div>