<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Embed Video</h4></div>
    </div>

    <div class="row">
        <div class="col-lg-6  mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Responsive embeded video 21:9</h4>
                </div>
                <div class="card-body">
                    <iframe class="w-100"id="iframe21" src="https://www.youtube.com/embed/N1-Jmq7BLFE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-6  mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Responsive embeded video 16:9</h4>
                </div>
                <div class="card-body">
                    <iframe class="w-100"id="iframe16" src="https://www.youtube.com/embed/hVvEISFw9w0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6  mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Responsive embeded video 4:3</h4>
                </div>
                <div class="card-body">
                    <iframe class="w-100"id="iframe4" src="https://www.youtube.com/embed/mHUOCxVT5ro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6  mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Responsive embeded video 1:1</h4>
                </div>
                <div class="card-body">
                    <iframe class="w-100"id="iframe1" src="https://www.youtube.com/embed/9QgT6ZIoXN8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>