body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#root > div {
    width: 100%;
    height: 100%;
}

smart-carousel {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('./images/carousel-background-1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border-width: 0px;
}

    smart-carousel .smart-indicators-container {
        display: flex;
        flex-direction: column;
        bottom: auto;
        left: auto;
        right: 50px;
        top: 30px;
    }
