.changelog {
    .changelog-header {
        margin-bottom: 0.75rem;
        flex: 0 0 100%;
        max-width: 100%;

        h4 {
            font-size: 1.5rem;
        }
    }

    .custom-card {

        .smart-badge {
            margin-right: 0.25rem;
        }

        ul {
            padding-inline-start: 40px;
        }
    }
}
