<div class="demo-description">
    <p>Resouces can be assigned to tasks via the <b>dataSource</b> property on
        initialization or the API methods. Clicking on the + icon will add a new
        task to the list at the same level.</p>
</div>
<smart-gantt-chart #ganttChart id="ganttChart" [dataSource]="dataSource" [taskColumns]="taskColumns"
    [treeSize]="treeSize" [hideResourcePanel]="hideResourcePanel" [durationUnit]="durationUnit" [view]="view"
    [timelineHeaderFormatFunction]="timelineHeaderFormatFunction" [groupByResources]="groupByResources"></smart-gantt-chart>
<div class="options">
    <h3>Switch view:</h3>
    <div class="option">
        <smart-check-box #checkBox [checked]="true" id="resourceView">Resource View</smart-check-box>
    </div>
    <div class="option">
        Resource view displays groups the tasks according to their assigned resources. Tasks that do not have resources
        assigned are added to the "Unassigned" group. Resource groups are sorted alphabetically.
    </div>
</div>