body,
html
{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}
#root{
    width: 100%;
    height: 600px;
}
.demo-description{
    margin-bottom: 3rem;
}
smart-map .smart-container iframe{
    width: 100%;
    height: 500px;
}
smart-map {
    width: 100%;
    height: 100px;
}