<smart-calendar #calendar></smart-calendar>
<div class="options">
    <div class="caption">Scroll Buttons Position</div>
    <div class="option">
        <smart-radio-button #radiobutton group-name="a">Near</smart-radio-button>
        <br/>
        <smart-radio-button #radiobutton2 group-name="a">Far</smart-radio-button>
        <br/>
        <smart-radio-button #radiobutton3 [checked]="true" group-name="a">Both</smart-radio-button>
        <br/>
    </div>
    <div class="caption">Scroll Buttons Navigation Mode</div>
    <div class="option">
        <smart-radio-button #radiobutton4 [checked]="true" group-name="b">Landscape</smart-radio-button>
        <br/>
        <smart-radio-button #radiobutton5 group-name="b">Portrait</smart-radio-button>
    </div>
</div>