<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Clients</h4></div>
    </div>

    <div class="row d-flex">
        <div class="col-lg-8 mb-5 order-2 order-lg-1">
            <div class="card">
                <div class="card-header">
                    <h4 class="label">Clients</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body p-0">
                    <div id="clientsTable" class="no-border table-striped"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5 order-1 order-lg-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="label">Marcia Gomez</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>

                <div class="card-body">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <div class="img-as-background square rounded-circle w-60px">
                                <img src="../../images/phonebook/avril.png">
                            </div>
                        </div>

                        <div class="col">
                            <h6 class="font-weight-bold">About client</h6>
                            <p class="">Vestibulum aliquam arcu ut nisl commodo auctor. Pellentesque at bibendum metus, sit amet tempor elit.</p>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table  border-bottom w-100" style="table-layout: fixed;">
                            <thead style="display: none;">
                            <tr>
                                <td style="width: 100px;"></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tr>
                                <td class="font-weight-bold">Name</td>
                                <td class="text-right">Marcia Gomez</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Company</td>
                                <td class="text-right">Sandy Lake</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Email</td>
                                <td class="text-right">marcia.gomez@example.com</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Phone</td>
                                <td class="text-right">+883123123321</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Status</td>
                                <td class="text-right">Active</td>
                            </tr>
                        </table>
                    </div>

                    <h6 class="font-weight-bold">Activity</h6>

                    <div id="appointmentContainer" class="h-100">
                        <div class="appointment">
                            <div class="label"><strong>Contacted manager</strong><span>14:00</span></div>
                            <p class="">Proin sagittis nisl diam, in pretium velit congue et.</p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Renewed contract</strong><span>yesterday</span></div>
                            <p class="">Donec sodales, tellus at facilisis commodo, lectus lectus pharetra neque, at
                                condimentum augue diam vitae massa.
                            </p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Requested invoice</strong><span>2d ago</span></div>
                            <p class="">Aenean facilisis mi ac vestibulum vestibulum.</p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Custom support payment</strong><span>1 mo ago</span></div>
                            <p class="">Praesent molestie convallis consequat.</p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Bought license</strong><span>3 mo ago</span></div>
                            <p class="">Aenean facilisis mi ac vestibulum vestibulum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate"></smart-menu-item>
    <smart-menu-item>First action</smart-menu-item>
    <smart-menu-item>Second action</smart-menu-item>
    <smart-menu-item separator>Third action</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>

<template id="settingsTemplate">SETTINGS</template>