h3 {
    text-transform: uppercase;
}

.charts {
    height: 280px;
}

#daily-summary {
    width: 30%;
}

#channels-chart {
    height: calc(100% - 65px);
}

#rangeSelector {
    margin-top: 20px;
}

.chart-header .title {
    border-bottom: none;
}

#daily-summary .row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#daily-stats {
    width: 70%;
    margin-top: 50px;
}

#daily-stats .value {
    color: #000;
}

@media (max-width: 1175px) {
    .second .charts {
       flex-direction: column; 
       height: auto;
    }

    #bars-chart {
        width: 100%;
    }
}

@media (max-width: 1160px) {
    .first .charts {
       flex-direction: column; 
       height: auto;
    }
    #daily-summary {
        width: 60%;
    }
    #daily-stats {
        margin-top: 25px;
    }
    #daily-sales-performance {
        margin-top: 20px;
    }    
    #channels-chart {
        width: 100%;
    }
}

@media (max-width: 468px) {
    .charts .options {
        flex-direction: column;
    }
}