<div class="row">
    <div class="col standalone-header">
        Customers
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div>
            <smart-button id="addBtn" class="primary">
                <span class="material-icons">add_circle_outline</span>Add
            </smart-button>
        </div>
        <div id="customersTable" table-striped></div>
    </div>
</div>
<smart-window id="addWindow" label="Add Customer" header-buttons="['close']" window-parent="content">
    <form id="addForm" />
</smart-window>