<div class="demo-description">
    <h1>DateTimePicker Editor in smartGrid</h1>
    <p>Click on any cell in the 'Order Date' column to display a DateTimePicker
        column editor. When the Grid Column's 'dataType' is set to 'dateTime',
        the editor will display Calendar and TimePicker popups. When the column's
        'dataType' is 'time' the DateTimePicker displays TimePicker component for
        editing. For 'date' column, the Calendar component is used for editing.</p>
    <smart-grid [editing]="editing" [columns]="columns" [dataSource]="dataSource" #grid id="grid"></smart-grid>