<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Advanced Inputs</h4></div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">DropDownList</h4>
                </div>
                <div class="card-body">
                    <p>Smart.DropDownList and Smart.ComboBox - alternatives of HTML select boxes.</p>
                    <smart-drop-down-list drop-down-append-to="body" filterable placeholder="Please select...">
                        <smart-list-items-group label="Cats">
                            <smart-list-item>Lion</smart-list-item>
                            <smart-list-item>Tiger</smart-list-item>
                            <smart-list-item disabled>Jaguar</smart-list-item>
                            <smart-list-item>Domestic cat</smart-list-item>
                        </smart-list-items-group>
                        <smart-list-items-group label="Dogs">
                            <smart-list-item>Wolf</smart-list-item>
                            <smart-list-item>Domestic dog</smart-list-item>
                            <smart-list-item disabled>Coyote</smart-list-item>
                            <smart-list-item>Jackal</smart-list-item>
                            <smart-list-item>Fox</smart-list-item>
                        </smart-list-items-group>
                    </smart-drop-down-list>

                    <smart-combo-box drop-down-append-to="body" placeholder="Please select...">
                        <smart-list-items-group label="Cats">
                            <smart-list-item>Lion</smart-list-item>
                            <smart-list-item>Tiger</smart-list-item>
                            <smart-list-item disabled>Jaguar</smart-list-item>
                            <smart-list-item>Domestic cat</smart-list-item>
                        </smart-list-items-group>
                        <smart-list-items-group label="Dogs">
                            <smart-list-item>Wolf</smart-list-item>
                            <smart-list-item>Domestic dog</smart-list-item>
                            <smart-list-item disabled>Coyote</smart-list-item>
                            <smart-list-item>Jackal</smart-list-item>
                            <smart-list-item>Fox</smart-list-item>
                        </smart-list-items-group>
                    </smart-combo-box>

                    <smart-combo-box drop-down-append-to="body" placeholder="Please select..." selection-display-mode="tokens"
                                     selection-mode="zeroOrMany">
                        <smart-list-items-group label="Cats">
                            <smart-list-item>Lion</smart-list-item>
                            <smart-list-item>Tiger</smart-list-item>
                            <smart-list-item disabled>Jaguar</smart-list-item>
                            <smart-list-item>Domestic cat</smart-list-item>
                        </smart-list-items-group>
                        <smart-list-items-group label="Dogs">
                            <smart-list-item>Wolf</smart-list-item>
                            <smart-list-item>Domestic dog</smart-list-item>
                            <smart-list-item disabled>Coyote</smart-list-item>
                            <smart-list-item>Jackal</smart-list-item>
                            <smart-list-item>Fox</smart-list-item>
                        </smart-list-items-group>
                    </smart-combo-box>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">DateRangeInput</h4>
                </div>
                <div class="card-body">
                    <p>Smart.DateRangeInput is an input that allows to select a Date/Date range from a Calendar drop down.</p>
                    <label>Date range</label>
                    <smart-date-range-input placeholder="Please select..." drop-down-button-position="right" drop-down-width="300"></smart-date-range-input>
                    <label>DateTime range</label>
                    <smart-date-range-input placeholder="Please select..." drop-down-button-position="right" drop-down-width="300" timepicker></smart-date-range-input>
                </div>
            </div>
        </div>

        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="label">DateTimePicker</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Default</label>
                            <smart-date-time-picker calendar-button drop-down-append-to="body"></smart-date-time-picker>
                            <label>Time only</label>
                            <smart-date-time-picker calendar-button drop-down-append-to="body" drop-down-display-mode="timePicker" format-string="t"></smart-date-time-picker>
                        </div>
                        <div class="col-lg-6">
                            <label>Date only</label>
                            <smart-date-time-picker calendar-button drop-down-append-to="body" drop-down-display-mode="calendar" format-string="d"></smart-date-time-picker>
                            <label>With spin buttons</label>
                            <smart-date-time-picker calendar-button drop-down-append-to="body" spin-buttons></smart-date-time-picker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="label">MaskedTextBox</h4>
                </div>
                <div class="card-body">
                    <p>Masked Text fields use a mask to distinguish between proper and improper user input.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Date</label>
                            <smart-masked-text-box mask="##/##/####"></smart-masked-text-box>
                            <label>Time</label>
                            <smart-masked-text-box mask="##:##:##"></smart-masked-text-box>
                            <label>Date and Time</label>
                            <smart-masked-text-box mask="##/##/#### ##:##:##"></smart-masked-text-box>
                            <label>ZIP Code</label>
                            <smart-masked-text-box mask="#####-###"></smart-masked-text-box>
                            <label>Money</label>
                            <smart-masked-text-box mask="###.###,##"></smart-masked-text-box>
                        </div>
                        <div class="col-lg-6">
                            <label>Phone Number</label>
                            <smart-masked-text-box mask="####-####"></smart-masked-text-box>
                            <label>Phone Number with Area Code</label>
                            <smart-masked-text-box mask="(##) ####-####"></smart-masked-text-box>
                            <label>US Phone Number</label>
                            <smart-masked-text-box mask="+1 (###) ###-####"></smart-masked-text-box>
                            <label>IPv4</label>
                            <smart-masked-text-box mask="###.###.###.###"></smart-masked-text-box>
                            <label>IPv6</label>
                            <smart-masked-text-box mask="zzzz:zzzz:zzzz:zzzz:zzzz:zzzz:zzzz:zzzz"></smart-masked-text-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>