<smart-splitter #splitter>
    <smart-splitter-item [collapsible]="true" [collapsed]="true" [size]="'250'">
		<smart-drop-down-list>
			<smart-list-item>Item 1</smart-list-item>
			<smart-list-item>Item 2</smart-list-item>
			<smart-list-item>Item 3</smart-list-item>
		</smart-drop-down-list>
	</smart-splitter-item>
    <smart-splitter-item [collapsible]="true"></smart-splitter-item>
</smart-splitter>
<div class="options">
        <div>Event Log:</div>
		<div class=" option">
    <div id="log" #log></div>
</div>
</div>