<smart-tabs #tabs class="styleOneTabs demoTabs">
    <smart-tab-item [label]="'TAB 1'">Content 1</smart-tab-item>
    <smart-tab-item [label]="'TAB 2'" [selected]="true">Content 2</smart-tab-item>
    <smart-tab-item [label]="'TAB 3'">Content 3</smart-tab-item>
    <smart-tab-item [label]="'TAB 4'">Content 4</smart-tab-item>
</smart-tabs>
<br />
<smart-tabs #tabs2 class="styleOneTabs demoTabs" tab-position="left">
    <smart-tab-item [label]="'TAB 1'">Content 1</smart-tab-item>
    <smart-tab-item [label]="'TAB 2'">Content 2</smart-tab-item>
    <smart-tab-item [label]="'TAB 3'">Content 3</smart-tab-item>
    <smart-tab-item [label]="'TAB 4'" [selected]="true">Content 4</smart-tab-item>
</smart-tabs>
<br />
<smart-tabs #tabs3 id="styleTwoTab" class="demoTabs">
    <smart-tab-item [label]="'TAB 1'">Content 1</smart-tab-item>
    <smart-tab-item [label]="'TAB 2'" [selected]="true">Content 2</smart-tab-item>
    <smart-tab-item [label]="'TAB 3'">Content 3</smart-tab-item>
    <smart-tab-item [label]="'TAB 4'">Content 4</smart-tab-item>
</smart-tabs>