<smart-multiline-text-box #multilinetextbox [enterKeyBehavior]="'newLine'" [verticalScrollBarVisibility]="'auto'"
    [horizontalScrollBarVisibility]="'auto'" [placeholder]="'Auto Scrollbars'"></smart-multiline-text-box>
<smart-multiline-text-box #multilinetextbox2 [enterKeyBehavior]="'newLine'" [verticalScrollBarVisibility]="'disabled'"
    [horizontalScrollBarVisibility]="'disabled'" [placeholder]="'Disabled Scrollbars'"></smart-multiline-text-box>
<smart-multiline-text-box #multilinetextbox3 [enterKeyBehavior]="'newLine'" [verticalScrollBarVisibility]="'visible'"
    [horizontalScrollBarVisibility]="'visible'" [placeholder]="'Visible Scrollbars'"></smart-multiline-text-box>
<smart-multiline-text-box #multilinetextbox4 [enterKeyBehavior]="'newLine'" [verticalScrollBarVisibility]="'hidden'"
    [horizontalScrollBarVisibility]="'hidden'" [placeholder]="'Hidden Scrollbars'"></smart-multiline-text-box>