.overview-1 {
    .small-button .material-icons {
        margin-right: 5px;
        font-size: inherit;
    }

    .main-cols {
        margin-bottom: 1.5rem;
    }

    .profile-details-image {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        margin-bottom: 1rem;
    }

    .profile-details-title {
        margin-bottom: 1rem;
    }

    .profile-info {
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        margin-top: 1.5rem;
        text-align: left;

        .list-inline-item {
            margin-bottom: 0.25rem;
            margin-right: 0.25rem;
        }

        .about-info:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        .about-info span,
        .connect-info i {
            font-size: 22px;
            margin-right: 0.5rem;
        }
    }

    .activity-wrapper {
        padding: 0.75rem 0;

        .activity-main-image {
            width: 65px;
        }

        .name-row {
            padding-top: 0.75rem;
            padding-bottom: 0.5rem;

            .custom-col {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }
        }

        .content {
            margin-bottom: 1.5rem;
        }

        .meta {
            margin-bottom: 0.75rem;
        }

        .comments {

            .comment {
                margin-bottom: 0.75rem;

                .content {
                    margin-left: 1rem;
                    margin-bottom: 0;
                }
            }
            .img-as-background {
                width: 30px;
            }
        }
    }

    @media (min-width: 768px) {
        .activity-wrapper {
            display: flex;
        }

        .activity-content {
            margin-left: 1rem;
        }

        .name-row {
            padding-top: 1.5rem !important;
            padding-bottom: 0.75rem !important;
        }
    }

    @media (min-width: 992px) {
        .col-entity-lg-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .col-entity-lg-8 {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }
    }
}
