<header>
    <div class="dashboard-header">
        <span class="header-title">
      {{naming}}
    </span>
        <div class="header-customer-info">
            <div class="icon-holder">
                <img class="header-logo" src="https://www.htmlelements.com/demos/images/people/anne.jpg" />
            </div>
            <div class="header-name">{{customerName}}</div>
        </div>
    </div>
</header>

<main>
    <div class="notification-section">
        <div class="notification">
            <div id="notificationContainer">
                <div id="toastWrapper">
                    <smart-toast #toast append-to="toastWrapper" [position]="'top-left'" [autoOpen]="true" [showCloseButton]="false" [type]="'success'">
                        You could reveal more options with the context menu over the Smart.Grid!
                    </smart-toast>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="grid-container">
            <div class="context-menu">
                <smart-menu #menu id="menu" (onItemClick)="itemClick($event)" [mode]="'dropDown'"></smart-menu>
            </div>
            <smart-grid #grid id="grid"></smart-grid>
        </div>

        <smart-window #window (onClose)="windowClose()" [label]="customWindowHeaderName" [opened]="false" [resizeMode]="'both'" [liveResize]="true" [headerButtons]="['close']">
            <section>
                <smart-splitter #splitter>
                    <smart-splitter-item [collapsible]="false" [collapsed]="false">
                        <div class="buttons-container">
                            <smart-button (onClick)="exportToImage()" class="floating"><i class="material-icons">vertical_align_bottom</i></smart-button>
                            <smart-button (onClick)="openSettings()" class="secondary floating"><i class="material-icons cyan-text text-darken-4">settings</i></smart-button>
                        </div>
                        <div class="chart-container">
                            <smart-chart #chart id="chart"></smart-chart>
                        </div>
                    </smart-splitter-item>
                    <smart-splitter-item [collapsible]="true" [collapsed]="true" [min]="180">
                        <h2>Configuration</h2>
                        <div class="settings">
                            <aside id="type">
                                <label for="type">Type:</label>
                                <div name="type">
                                    <p>(simplified types)</p>
                                    <smart-drop-down-list #dropdownlist (change)="selectType($event)" (close)="closeDropDownList($event)" [dropDownPosition]="'bottom'" [itemHeight]="28" [dataSource]="chartTypes" [selectedIndexes]="[-1]" [placeholder]="'Please choose:'"></smart-drop-down-list>
                                </div>
                            </aside>
                            <aside id="colors">
                                <label for="colors">Colors Schemes:</label>
                                <div name="colors">
                                    <smart-list-box #listbox (onReady)="onReady()" (change)="selectColorScheme($event)" [dataSource]="colorSchemes" [selectedIndexes]="[4]"></smart-list-box>
                                </div>
                            </aside>
                        </div>
                    </smart-splitter-item>
                </smart-splitter>
            </section>
        </smart-window>
    </div>
</main>
<footer>
    <div class="footer-content">{{ footerContent }}</div>
</footer>