@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0px;
    padding: 0px;
}


/* Header */

:root {
    --image-size: 80px;
    --specialColor: var(--smart-background);
}

header {
    width: 100%;
    height: auto;
}

.dashboard-header {
    background-color: var(--smart-primary);
    color: whitesmoke;
    padding: 5px 20px 0 0;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header .header-title {
    margin-left: 20px;
    font-size: 2.5em;
}

.dashboard-header .header-name {
    font-size: 1.25em;
    opacity: 0.5;
}

.icon-holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

img.header-logo {
    float: right;
    width: 100%;
    height: auto;
    margin-top: -14px;
}


/* Notification */

#toastWrapper {
    pointer-events: none;
}

.smart-toast-item {
    background-color: orange;
}

.smart-toast-item.info {
    background-color: blue !important;
}


/* Main */

main {
    height: 100%;
}

.main-content {
    padding: 0;
    margin: 0;
}

.grid-container {
    padding: 65px 80px 8px 80px;
}

smart-grid {
    width: 100%;
    height: calc(100vh - 248px);
    margin: 0px auto;
}

.change-container.negative {
    color: rgb(229, 57, 53);
}

.change-container.positive {
    color: rgb(67, 160, 71);
}


/* Chart inside the Grid */


[column="DayChanges"] .smart-chart-tooltip {
    width: 40px;
    height: 20px;
}

[column="DayChanges"] smart-chart {
    background-color: transparent;
}

[column="DayChanges"] smart-chart rect {
    fill: transparent;
    stroke-width: 0;
}

[column="DayChanges"] smart-chart line {
    stroke-width: 0 !important;
}


/* Context Menu */

smart-menu {
    height: 200px;
    background-color: red;
}

.smart-menu {
    height: 85px !important;
    background-color: orange;
}

smart-menu[mode=vertical] {
    height: 70px;
}


/* Chart & Window */

smart-window {
    width: 550px !important;
    z-index: var(--smart-editor-drop-down-z-index) !important;
    height: 450px !important;
}

smart-window .smart-header {
    font-size: 18px;
}

smart-window .smart-content section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

smart-window .smart-content section smart-button.floating {
    border-radius: 4px !important;
    margin-left: 7px;
}

smart-splitter {
    width: 100%;
    height: 100%;
    border: none;
}

smart-splitter smart-splitter-item:last-child .smart-content:first-child {
    border-left: 1px solid lightgrey;
    padding-left: 8px !important;
}

smart-splitter .smart-splitter-bar {
    width: 2px;
}

.buttons-container {
    display: inline-block;
    position: relative;
    top: 4px;
    left: calc(100% - 90px);
    z-index: 100;
}

.buttons-container smart-button {
    width: 30px;
    height: 30px;
}

.buttons-container smart-button.floating i {
    margin-left: -14px;
    margin-top: -6px;
}

.chart-container {
    margin: 0;
    padding: 0;
    height: 92%;
    width: 95%;
    position: relative;
    top: -25px;
}

smart-chart {
    width: 100%;
    height: 100%;
    border: none;
}

.smart-chart-title-description {
    font-size: 10px !important;
    word-wrap: break-word;
}

smart-drop-down-list {
    width: 160px;
}

#type [name="type"] {
    padding-top: 4px;
}

#type p {
    font-size: 11px;
    margin: 2px;
}

#colors {
    margin-top: 20px;
}

smart-list-box {
    width: 160px;
    height: 170px;
    border: none;
}

.smart-list-item-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

smart-list-item .smart-content {
    white-space: normal;
    word-wrap: break-word;
}


/* Footer */

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #005c99;
}

footer .footer-content {
    text-align: center;
    vertical-align: middle;
    margin: 10px auto;
    color: whitesmoke;
    opacity: 0.5;
    user-select: none;
}