<div class="container">
    <div class="row row-mx-10">
        <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-primary mr-3 font-size-36px">shopping_cart</span></div>
                    <div>
                        <h5 class="font-weight-bold">744</h5>
                        <h6 class="">Sales this Week</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-warning mr-3 font-size-36px">show_chart</span></div>
                    <div>
                        <h5 class="font-weight-bold">52.138</h5>
                        <h6 class="">Visitors this Week</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-4 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-success mr-3 font-size-36px">attach_money</span></div>
                    <div>
                        <h5 class="font-weight-bold">409.783</h5>
                        <h6 class="">Earnings this Week</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-6 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-info mr-3 font-size-36px">add_shopping_cart</span></div>
                    <div>
                        <h5 class="font-weight-bold">153</h5>
                        <h6 class="">Pending Orders</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-px-10 mb-5 col-sm-6 col-md-6 col-lg">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center">
                    <div><span class="material-icons text-danger mr-3 font-size-36px">attach_money</span></div>
                    <div>
                        <h5 class="font-weight-bold">8.126.002</h5>
                        <h6 class="">Total Revenue</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-8 mb-5">
            <div class="card h-100">
                <div class="card-header border-0 pt-4 d-block d-sm-flex">
                    <div>
                        <h4 class="label">Last Orders</h4>
                        <small class="d-block text-muted">Quick management of the last 10 orders</small>
                    </div>
                    <div>
                        <ul class="nav nav-pills mt-3 mt-sm-0">
                            <li class="nav-item">
                                <a class="nav-link py-1 px-3 active" data-toggle="tab" href="#">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-1 px-3" data-toggle="tab" href="#">Waiting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-1 px-3" data-toggle="tab" href="#">Completed</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 375px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="p-0 mw-200"></th>
                                <th class="p-0"></th>
                                <th class="p-0 mw-125"></th>
                                <th class="p-0 mw-125"></th>
                                <th class="p-0 mw-175"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="pl-0 align-middle">
                                    <a href="#" class="font-weight-bold hover-text-primary mb-1">Order #12312</a>
                                    <div>
                                        <span class="font-weight-bold">Receiver:</span>
                                        <a class="text-muted font-weight-bold hover-text-primary" href="#">John Doe</a>
                                    </div>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="font-weight-bold d-block">$2,320</span>
                                    <span class="text-muted font-weight-bold">Paid</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="text-muted font-weight-500">PayPal</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="smart-badge smart-badge-primary">Approved</span>
                                </td>
                                <td class="text-right align-middle pr-0">
                                    <a href="#" class="btn btn-sm text-danger btn-light hover-bg-primary hover-text-secondary">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="#" class="btn btn-sm text-primary btn-light hover-bg-primary hover-text-secondary mx-3">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0 align-middle">
                                    <a href="#" class="font-weight-bold hover-text-primary mb-1">Order #12313</a>
                                    <div>
                                        <span class="font-weight-bold">Receiver:</span>
                                        <a class="text-muted font-weight-bold hover-text-primary" href="#">Teresa Clark</a>
                                    </div>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="font-weight-bold d-block">$1,500</span>
                                    <span class="text-warning font-weight-bold">Unpaid</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="text-muted font-weight-500">Pay on Delivery</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="smart-badge smart-badge-warning">Waiting</span>
                                </td>
                                <td class="text-right align-middle pr-0">
                                    <a href="#" class="btn btn-sm text-danger btn-light hover-bg-primary hover-text-secondary">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="#" class="btn btn-sm text-primary btn-light hover-bg-primary hover-text-secondary mx-3">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0 align-middle">
                                    <a href="#" class="font-weight-bold hover-text-primary mb-1">Order #12314</a>
                                    <div>
                                        <span class="font-weight-bold">Receiver:</span>
                                        <a class="text-muted font-weight-bold hover-text-primary" href="#">Elijah Smith</a>
                                    </div>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="font-weight-bold d-block">$338</span>
                                    <span class="text-primary font-weight-bold">Refund</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="text-muted font-weight-500">Sofort</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="smart-badge smart-badge-danger">Canceled</span>
                                </td>
                                <td class="text-right align-middle pr-0">
                                    <a href="#" class="btn btn-sm text-danger btn-light hover-bg-primary hover-text-secondary">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="#" class="btn btn-sm text-primary btn-light hover-bg-primary hover-text-secondary mx-3">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0 align-middle">
                                    <a href="#" class="font-weight-bold hover-text-primary mb-1">Order #12315</a>
                                    <div>
                                        <span class="font-weight-bold">Receiver:</span>
                                        <a class="text-muted font-weight-bold hover-text-primary" href="#">Mark Thomas</a>
                                    </div>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="font-weight-bold d-block">$1,125</span>
                                    <span class="text-muted font-weight-bold">Paid</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="text-muted font-weight-500">Pay on Delivery</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="smart-badge smart-badge-secondary">Completed</span>
                                </td>
                                <td class="text-right align-middle pr-0">
                                    <a href="#" class="btn btn-sm text-danger btn-light hover-bg-primary hover-text-secondary">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="#" class="btn btn-sm text-primary btn-light hover-bg-primary hover-text-secondary mx-3">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="pl-0 align-middle">
                                    <a href="#" class="font-weight-bold hover-text-primary mb-1">Order #12312</a>
                                    <div>
                                        <span class="font-weight-bold">Receiver:</span>
                                        <a class="text-muted font-weight-bold hover-text-primary" href="#">John Doe</a>
                                    </div>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="font-weight-bold d-block">$2,320</span>
                                    <span class="text-muted font-weight-bold">Paid</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="text-muted font-weight-500">PayPal</span>
                                </td>
                                <td class="text-right align-middle">
                                    <span class="smart-badge smart-badge-primary">Approved</span>
                                </td>
                                <td class="text-right align-middle pr-0">
                                    <a href="#" class="btn btn-sm text-danger btn-light hover-bg-primary hover-text-secondary">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="#" class="btn btn-sm text-primary btn-light hover-bg-primary hover-text-secondary mx-3">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Traffic this month</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body">
                    <div id="sourceChart" class="combo-chart h-auto w-100"></div>
                    <div id="sourceTable" class="span-table no-border h-auto"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Last messeges</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body p-0">
                    <div id="hoverableTable" class="table-hover"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Popular products</h4>
                    <div class="smart-badge smart-badge-primary smart-badge-pill">Today</div>
                </div>

                <div class="card-body py-2">
                    <div class="feeds">
                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/products/1.jpg"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>Black Luxury Lamp</strong></div>
                                <small class="text-muted">Category: Home accessories</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">1452 visits</small>
                            </div>
                        </div>

                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/products/2.jpg"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>White chair</strong></div>
                                <small class="text-muted">Category: Furnitures</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">1322 visits</small>
                            </div>
                        </div>

                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/products/3.jpg"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>Fresh Flower</strong></div>
                                <small class="text-muted">Category: Home coziness</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">1113 visits</small>
                            </div>
                        </div>

                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/products/1.jpg"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>Black Luxury Lamp</strong></div>
                                <small class="text-muted">Category: Home accessories</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">1452 visits</small>
                            </div>
                        </div>

                        <div class="row row-mx-5 hover-text-primary border-bottom py-3">
                            <div class="col-auto col-px-5">
                                <div class="img-as-background rounded-circle w-50px square border">
                                    <img src="../../images/products/2.jpg"/>
                                </div>
                            </div>

                            <div class="col col-px-5">
                                <div class=""><strong>White chair</strong></div>
                                <small class="text-muted">Category: Furnitures</small>
                            </div>

                            <div class="col-auto col-px-5">
                                <small class="w-auto text-muted">1322 visits</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate"></smart-menu-item>
    <smart-menu-item>First action</smart-menu-item>
    <smart-menu-item>Second action</smart-menu-item>
    <smart-menu-item separator>Third action</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>

<template id="settingsTemplate">SETTINGS</template>