<div class="button-demo more-fancy-icon-buttons">
    <label>More fancy Icon buttons</label>
    <div class="demo-buttons-group">
        <div class="icon-container">
            <smart-button #button class="icon icon-fill"><i class="fa fa-home"></i>
            </smart-button>
            <smart-button #button2 class="icon icon-enter"><i class="fa fa-user"></i>
            </smart-button>
            <smart-button #button3 class="icon icon-expand"> <i class="fa fa-bars"></i>
            </smart-button>
            <smart-button #button4 class="icon icon-collapse"><i class="fa fa-sign-in"></i>
            </smart-button>
            <smart-button #button5 class="icon icon-rotate"><i class="fa fa-phone"></i>
            </smart-button>
        </div>
    </div>
</div>