<h2>Horizontal 3D Carousel</h2>
<smart-carousel #carousel id="carouselHorizontal" class="horizontal" [autoPlay]="true" [slideShow]="true" [loop]="true"
    [hideIndicators]="true" [keyboard]="true" [displayMode]="'3d'" [interval]="10000"></smart-carousel>
<smart-carousel #carousel2 id="carouselHorizontal2" class="horizontal circle" [autoPlay]="true" [slideShow]="true"
    [loop]="true" [hideIndicators]="true" [keyboard]="true" [displayMode]="'3d'" [interval]="10000"></smart-carousel>
<br />
<br />
<h2>Bottom - Top 3D Carousel</h2>
<smart-carousel #carousel3 id="carouselBottomTop" class="bottom-top" [autoPlay]="true" [slideShow]="true" [loop]="true"
    [hideIndicators]="true" [keyboard]="true" [displayMode]="'3d'"></smart-carousel>
<smart-carousel #carousel4 id="carouselBottomTop2" class="bottom-top circle" [autoPlay]="true" [slideShow]="true"
    [loop]="true" [hideIndicators]="true" [keyboard]="true" [displayMode]="'3d'"></smart-carousel>
<br />
<br />
<h2>Top - Bottom 3D Carousel</h2>
<smart-carousel #carousel5 id="carouselTopBottom" class="top-bottom" [autoPlay]="true" [slideShow]="true" [loop]="true"
    [hideIndicators]="true" [keyboard]="true" [displayMode]="'3d'"></smart-carousel>
<smart-carousel #carousel6 id="carouselTopBottom2" class="top-bottom circle" [autoPlay]="true" [slideShow]="true"
    [loop]="true" [hideIndicators]="true" [keyboard]="true" [displayMode]="'3d'"></smart-carousel>