smart-button {
    margin-left: 100px;
    margin-top: 150px;
}

#tooltip1 {
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

#tooltip2 {
    transition-duration: 0.5s;
    transition-delay: 0.6s;
}

#tooltip3 {
    transition-duration: 0.5s;
    transition-delay: 1s;
}

#tooltip4 {
    transition-duration: 0.5s;
    transition-delay: 1.4s;
}
