<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>QA Dashboard</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="QA Dashboard showcase example with Web Components" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="../../source/styles/smart.default.css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />

    
</head>
<body>
    <header>
        <div class="header-container">
            <h1>QA Dashboard</h1>

            <smart-menu id="menu" minimize-width="500" drop-down-position="bottom-left">
                <smart-menu-item shortcut="Shopping Cart">
                    <i class="material-icons">shopping_cart</i>
                </smart-menu-item>

                <smart-menu-item shortcut="Notifications">
                    <i class="material-icons">notifications</i>
                </smart-menu-item>

                <smart-menu-item shortcut="Search">
                    <i class="material-icons">search</i>
                </smart-menu-item>
            </smart-menu>
        </div>
    </header>


    <section class="page-container">

        <div class="smart-grid-layout centered">
            <div class="row">

                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-12">

                    <div id="top-qa-container" class="top-qa-container">

                        <smart-card class="recent-tickets-card">
                            <div class="title">
                                Top QA
                            </div>

                            <smart-card class="top-qa-card">
                                <div class="image">
                                    <img src="../../images/girl-2771001_960_720.jpg" />
                                </div>
                                <div class="rating">
                                    <smart-rating></smart-rating>
                                </div>
                                <div class="title">
                                    Daisy Fitzroy
                                </div>
                                <div class="description">
                                    Automation
                                </div>
                                <div class="points">
                                    135
                                </div>
                            </smart-card>

                            <smart-card class="top-qa-card">
                                <div class="image">
                                    <img src="../../images/woman-3096664_960_720.jpg" />
                                </div>
                                <div class="rating">
                                    <smart-rating></smart-rating>
                                </div>
                                <div class="title">
                                    Elizabeth DeWitt
                                </div>
                                <div class="description">
                                    Automation
                                </div>
                                <div class="points">
                                    336
                                </div>
                            </smart-card>


                            <smart-card class="top-qa-card">
                                <div class="image">
                                    <img src="../../images/man-4252192_960_720.jpg" />
                                </div>
                                <div class="rating">
                                    <smart-rating></smart-rating>
                                </div>
                                <div class="title">
                                    Elizabeth DeWitt
                                </div>
                                <div class="description">
                                    Automation
                                </div>
                                <div class="points">
                                    228
                                </div>
                            </smart-card>

                            <smart-card class="top-qa-card">
                                <div class="image">
                                    <img src="../../images/girl-2366438_960_720.jpg" />
                                </div>
                                <div class="rating">
                                    <smart-rating></smart-rating>
                                </div>
                                <div class="title">
                                    Elizabeth DeWitt
                                </div>
                                <div class="description">
                                    Automation
                                </div>
                                <div class="points">
                                    216
                                </div>
                            </smart-card>

                            <smart-card class="top-qa-card">
                                <div class="image">
                                    <img src="../../images/entrepreneur-593358_960_720.jpg" />
                                </div>
                                <div class="rating">
                                    <smart-rating></smart-rating>
                                </div>
                                <div class="title">
                                    Elizabeth DeWitt
                                </div>
                                <div class="description">
                                    Automation
                                </div>
                                <div class="points">
                                    426
                                </div>
                            </smart-card>

                            <smart-card class="top-qa-card">
                                <div class="image">
                                    <img src="../../images/woman-2003647_960_720.jpg" />
                                </div>
                                <div class="rating">
                                    <smart-rating></smart-rating>
                                </div>
                                <div class="title">
                                    Elizabeth DeWitt
                                </div>
                                <div class="description">
                                    Automation
                                </div>
                                <div class="points">
                                    435
                                </div>
                            </smart-card>

                        </smart-card>
                    </div>

                    <div class="user-activity-container">
                        <smart-card class="maps-card">
                            <div class="title">
                                User activity
                            </div>

                            <div id="map"></div>
                        </smart-card>
                    </div>

                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

                    <div class="recent-tickets-container">
                        <smart-card class="recent-tickets-card">
                            <div class="title">
                                Recent tickets
                            </div>

                            <div id="recentTickets"></div>

                        </smart-card>
                    </div>

                </div>

            </div>
        </div>

    </section>

    <!-- scripts -->
    <script type="module" src="../../source/modules/smart.rating.js">
    </script>
    <script type="module" src="../../source/modules/smart.window.js">
    </script>
    <script type="module" src="../../source/modules/smart.grid.js">
    </script>
    <script type="module" src="index.js">
    </script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLNo8WFhrz_4zuLdl423WX9h5Kh0SedHQ"></script>

</body>
</html>