<smart-array #smartArray id="smartArray" style="margin-bottom: 50px;" show-index-display type="numeric" value="[[[10], [12]], [[1], [6]]]" dimensions="3" rows="3" columns="3"></smart-array>
<div style="margin-bottom: 10px;">
	<smart-button #hideSpinButtons id="hideSpinButtons">
		Hide spin buttons
	</smart-button>
	<smart-button #changePrecisionDigits id="changePrecisionDigits">
		Change precision digits
	</smart-button>
</div>
<div>
	<smart-button #changeElementWidth id="changeElementWidth">
		Change element width
	</smart-button>
	<smart-button #changeElementHeight id="changeElementHeight">
		Change element height
	</smart-button>
</div>