:root {
    --nav-width: 260px;
}

#app {
    display: flex;
    height: 100%;
}

app-nav {
    width: var(--nav-width);
}

app-main {
    width: calc(100% - var(--nav-width));
    height: fit-content;
    min-height: calc(100% - 50px);
    background-color: #f2f2f2;
    padding: 25px;
}