smart-gantt-chart {
    width: calc(100% - 300px);
    height: auto;
    --smart-gantt-chart-task-fill-border-radius: 2px;
    --smart-gantt-chart-header-height: 40px;
}

@media only screen and (max-width: 600px) {
    .smart-gantt-chart {
        width: 100%;
    }
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, .15);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 260px
}

@media (max-width: 750px) {
    .options {
        position: relative;
        top: 30px;
        width: 240px;
        margin: 0 auto;
    }
}

smart-gantt-chart .priority-low {
    --smart-gantt-chart-task-color: var(--smart-success);
    --smart-gantt-chart-task-label-color: var(--smart-success-color);
    --smart-gantt-chart-task-label-color-selected: var(--smart-success-color);
    --smart-gantt-chart-project-label-color: var(--smart-success-color);
    --smart-gantt-chart-project-label-color-selected: var(--smart-success-color);
}

smart-gantt-chart .priority-medium {
    --smart-gantt-chart-task-color: var(--smart-toast-warning-background);
    --smart-gantt-chart-task-label-color: var(--smart-toast-warning-color);
    --smart-gantt-chart-task-label-color-selected: var(--smart-toast-warning-color);
    --smart-gantt-chart-project-label-color: var(--smart-toast-warning-color);
    --smart-gantt-chart-project-label-color-selected: var(--smart-toast-warning-color);
}

smart-gantt-chart .priority-high {
    --smart-gantt-chart-task-color: var(--smart-error);
    --smart-gantt-chart-task-label-color: var(--smart-error-color);
    --smart-gantt-chart-task-label-color-selected: var(--smart-error-color);
    --smart-gantt-chart-project-label-color: var(--smart-error-color);
    --smart-gantt-chart-project-label-color-selected: var(--smart-error-color);
}

.task-filtering-container  {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;
    --smart-background: var(--smart-surface);
}

.priority-container {
    display: flex;
}