img {
    width: 50px;
    position: absolute;
    left: 383px;
    top: 12px;
}

#chart {
    width: 100%;
}

    #chart .smart-chart-axis-text,
    #chart .smart-chart-legend-text {
        fill: #FFFFFF;
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

.smart-chart-tooltip-text {
    color: #000000;
}

.smart-chart-tooltip-content {
    border-width: 2px;
    background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px ), linear-gradient( to bottom, #eee, #999 );
}
