html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.smart-editor {
    width: 100%;
    height: 100%;
}

.smart-editor .airplanes img {
    padding: 15px;
    margin: 0 20px 20px 0;
    box-shadow: 0 0 5px 3px var(--smart-border);
}

.smart-editor table tr {
    height: 30px;
}

.smart-editor .table-wrapper {
    padding: 10px;
}

.smart-editor {
    width: calc(100% - 300px);
    height: 100%;
}

@media (max-width: 750px) {
    .smart-editor {
        width: 100%;
    }
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, .15);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 260px;
}

@media (max-width: 750px) {
    .options {
        position: relative;
        top: 30px;
        width: 240px;
        margin: 0 auto;
    }
}