<i>Hint: Scroll to the bottom to lazy load items.</i>
<smart-list-menu #listmenu id="listMenu">
    <smart-menu-item>Janet Leverling</smart-menu-item>
    <smart-menu-item>Andrew Fuller</smart-menu-item>
    <smart-menu-item>Robert King</smart-menu-item>
    <smart-menu-item>Anne Dodsworth</smart-menu-item>
    <smart-menu-item>Margaret Peacock</smart-menu-item>
    <smart-menu-item>Michael Suyama</smart-menu-item>
    <smart-menu-item>Nancy Davolio</smart-menu-item>
    <smart-menu-item>Steven Buchanan</smart-menu-item>
    <smart-menu-item>Laura Callahan</smart-menu-item>
</smart-list-menu>