<smart-card #charts id="charts" class="image-card large" item-template="largeTemplate"></smart-card>
<smart-card #marketing id="marketing" class="image-card small"
item-template="smallTemplate"></smart-card>
<smart-card #conversion id="conversion" class="image-card medium"
item-template="mediumTemplate"></smart-card>
<smart-card #impressions id="impressions" class="image-card medium"
item-template="mediumTemplate"></smart-card>
<smart-card #sales id="sales" class="image-card small" item-template="smallTemplate"></smart-card>
<smart-card #design id="design" class="image-card small" item-template="smallTemplate"></smart-card>
<smart-card #clicks id="clicks" class="image-card small" item-template="smallTemplate"></smart-card>
