.smart-grid-layout .row div {
	background-color: #444;
	color: #fff;
}
.smart-grid-layout {
	--smart-grid-layout-rows: 100px 1fr 100px;
	height:100%;
}
.smart-grid-layout .row {
	padding: 0px;
}
body,
html {
	padding: 0px;
	margin: 0px;
	overflow:hidden;
	height: 100%;
}