<smart-array #smartArray id="smartArray" show-index-display type="numeric"
value="[[[10, 1], [12, 6]]]" dimensions="3" rows="3" columns="3" show-selection></smart-array>
<br />
<div style="margin-top: 50px;">
    <smart-button #selectElement id="selectElement" class="demoButton">selectElement (0, 0)</smart-button>
    <smart-button #startSelection id="startSelection"
    class="demoButton">startSelection (0, 0)</smart-button>
    <smart-button #endSelection id="endSelection"
    class="demoButton">endSelection (0, 1)</smart-button>
    <smart-button #selectAll id="selectAll"
    class="demoButton">selectAll</smart-button>
    <smart-button #clearSelection id="clearSelection" class="demoButton">clearSelection</smart-button>
</div>