.e-commerce-dashboard {
    .smart-badge-pill.css {
        background-color: navy;
    }

    .smart-badge-pill.c-sharp {
        background-color: orchid;
    }

    .smart-badge-pill.html {
        background-color: orange;
    }

    .smart-badge-pill.java {
        background-color: coral;
    }

    .smart-badge-pill.javascript {
        background-color: yellow;
        color: black;
    }

    .smart-badge-pill.typescript {
        background-color: #2f6897;
    }
}
