<smart-accordion #accordion expand-mode="toggle" id="accordion">
    <smart-accordion-item label="Item 0">Content 0</smart-accordion-item>
    <smart-accordion-item label="Item 1">Content 1</smart-accordion-item>
    <smart-accordion-item label="Item 2">Content 2</smart-accordion-item>
</smart-accordion>
<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        <smart-button #collapse id="collapse">Collapse #</smart-button>
    </div>
    <div class="option">
        <smart-button #expand id="expand">Expand #</smart-button>
    </div>
    <div class="option">
        <smart-input #expandCollapseIndex class="text-input" type="text" id="expandCollapseIndex"
        placeholder="Item Index" value="0"></smart-input>
    </div>
    <div class="option">
        <smart-button #insert id="insert">Insert #</smart-button>
    </div>
    <div class="option">
        <smart-button #update id="update">Update #</smart-button>
    </div>
    <div class="option">
        <smart-button #remove id="remove">Remove #</smart-button>
    </div>
    <div class="option">
        <smart-input #crudIndex class="text-input" type="text" placeholder="Item Index"
        id="crudIndex" value="0"></smart-input>
    </div>
</div>