<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Projects List 2</h4></div>
    </div>

    <div class="row">
        <div class="col-md-10 col-lg-6 mb-5 mx-auto">
            <div class="card h-100">
                <div class="card-header border-0 px-6 pt-6">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 mr-4 w-65px square rounded-circle img-as-background">
                            <img src="../../images/brands/circle-google.png" alt="image">
                        </div>

                        <div class="d-flex flex-column mr-auto">
                            <h5 class="mb-1"><a href="#" class="text-dark font-weight-bold text-decoration-none">Google - Next generation search engine</a></h5>
                            <small class="text-muted font-weight-bold">Find what you search</small>
                        </div>
                    </div>

                    <div class="settings-button">…</div>
                </div>

                <div class="card-body px-6">
                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Start Date</span>
                            <small class="font-weight-bold bg-primary-opacity-2 btn btn-sm text-primary">14 Jan, 08</small>
                        </div>
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Due Date</span>
                            <small class="font-weight-bold bg-danger-opacity-2 btn btn-sm text-danger">21 Nov, 12</small>
                        </div>

                        <div class="col mb-5">
                            <span class="d-block font-weight-bold mb-4">Progress</span>
                            <div class="d-flex align-items-center pt-1">
                                <div class="mt-2 mb-2 w-100">
                                    <smart-progress-bar value="100" class="success"></smart-progress-bar>
                                </div>
                                <span class="ml-3 font-weight-bold">100%</span>
                            </div>
                        </div>
                    </div>

                    <p class="mb-5">I distinguish three main text objectives.First, your objective could be merely to inform people.A second be to persuade people.</p>

                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Budget</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>1 855 249,500</span>
                        </div>

                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Expenses</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>3 855 249,500</span>
                        </div>

                        <div class="col flex-column mb-7">
                            <span class="font-weight-bold d-block mb-2">Members</span>
                            <div class="members d-flex">
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Mark Stone">
                                    <img alt="Pic" src="../../images/phonebook/andrew.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Charlie Stone" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/johnny.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Luca Doncic" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/mark.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Nick Mana" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/steven.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Teresa Fox" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/janet.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 h-30px rounded-circle bg-secondary d-inline-flex align-items-center justify-content-center" style="margin-left: -10px; z-index: 9;">
                                    <small>99+</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
                    <div class="d-flex">
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">5969 Tasks</a>
                        </div>
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">6248 Comments</a>
                        </div>
                    </div>
                    <div class="mt-5 mt-sm-0 mr-auto mr-sm-0 ml-sm-auto">
                        <smart-button class="small-button primary text-uppercase">Details</smart-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-lg-6 mb-5 mx-auto">
            <div class="card h-100">
                <div class="card-header border-0 px-6 pt-6">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 mr-4 w-65px square rounded-circle img-as-background">
                            <img src="../../images/brands/circle-jqwidgets.png" alt="image">
                        </div>

                        <div class="d-flex flex-column mr-auto">
                            <h5 class="mb-1"><a href="https://www.jqwidgets.com/" class="text-dark font-weight-bold text-decoration-none" target="_blank">jQWidgets - Next generation UI</a></h5>
                            <small class="text-muted font-weight-bold">Better web, less time</small>
                        </div>
                    </div>

                    <div class="settings-button">…</div>
                </div>

                <div class="card-body px-6">
                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Start Date</span>
                            <small class="font-weight-bold bg-primary-opacity-2 btn btn-sm text-primary">14 Jan, 16</small>
                        </div>
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Due Date</span>
                            <small class="font-weight-bold bg-danger-opacity-2 btn btn-sm text-danger">21 Nov, 18</small>
                        </div>

                        <div class="col mb-5">
                            <span class="d-block font-weight-bold mb-4">Progress</span>
                            <div class="d-flex align-items-center pt-1">
                                <div class="mt-2 mb-2 w-100">
                                    <smart-progress-bar value="89" class="primary"></smart-progress-bar>
                                </div>
                                <span class="ml-3 font-weight-bold">89%</span>
                            </div>
                        </div>
                    </div>

                    <p class="mb-5">The leading HTML5 UI Widgets Framework. Build responsive Web Apps with Angular, React, Vue, Web Components and jQuery. </p>

                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Budget</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>249,500</span>
                        </div>

                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Expenses</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>439,500</span>
                        </div>

                        <div class="col flex-column mb-7">
                            <span class="font-weight-bold d-block mb-2">Members</span>
                            <div class="members d-flex">
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Mark Stone">
                                    <img alt="Pic" src="../../images/phonebook/andrew.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Charlie Stone" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/johnny.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Luca Doncic" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/mark.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Nick Mana" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/steven.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Teresa Fox" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/janet.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 h-30px rounded-circle bg-secondary d-inline-flex align-items-center justify-content-center" style="margin-left: -10px; z-index: 9;">
                                    <small>5+</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
                    <div class="d-flex">
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">372 Tasks</a>
                        </div>
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">598 Comments</a>
                        </div>
                    </div>
                    <div class="mt-5 mt-sm-0 mr-auto mr-sm-0 ml-sm-auto">
                        <smart-button class="small-button primary text-uppercase">Details</smart-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-lg-6 mb-5 mx-auto">
            <div class="card h-100">
                <div class="card-header border-0 px-6 pt-6">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 mr-4 w-65px square rounded-circle img-as-background">
                            <img src="../../images/brands/circle-angular.svg" alt="image">
                        </div>

                        <div class="d-flex flex-column mr-auto">
                            <h5 class="mb-1"><a href="#" class="text-dark font-weight-bold text-decoration-none" target="_blank">Angular - Web framework</a></h5>
                            <small class="text-muted font-weight-bold">TypeScript-based open-source web application framework</small>
                        </div>
                    </div>

                    <div class="settings-button">…</div>
                </div>

                <div class="card-body px-6">
                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Start Date</span>
                            <small class="font-weight-bold bg-primary-opacity-2 btn btn-sm text-primary">14 Jan, 12</small>
                        </div>
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Due Date</span>
                            <small class="font-weight-bold bg-danger-opacity-2 btn btn-sm text-danger">21 Nov, 16</small>
                        </div>

                        <div class="col mb-5">
                            <span class="d-block font-weight-bold mb-4">Progress</span>
                            <div class="d-flex align-items-center pt-1">
                                <div class="mt-2 mb-2 w-100">
                                    <smart-progress-bar value="27" class="error"></smart-progress-bar>
                                </div>
                                <span class="ml-3 font-weight-bold">27%</span>
                            </div>
                        </div>
                    </div>

                    <p class="mb-5">Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS</p>

                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Budget</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>139,500</span>
                        </div>

                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Expenses</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>939,500</span>
                        </div>

                        <div class="col flex-column mb-7">
                            <span class="font-weight-bold d-block mb-2">Members</span>
                            <div class="members d-flex">
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Mark Stone">
                                    <img alt="Pic" src="../../images/phonebook/andrew.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Charlie Stone" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/johnny.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Luca Doncic" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/mark.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Nick Mana" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/steven.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Teresa Fox" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/janet.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 h-30px rounded-circle bg-secondary d-inline-flex align-items-center justify-content-center" style="margin-left: -10px; z-index: 9;">
                                    <small>5+</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
                    <div class="d-flex">
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">72 Tasks</a>
                        </div>
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">648 Comments</a>
                        </div>
                    </div>
                    <div class="mt-5 mt-sm-0 mr-auto mr-sm-0 ml-sm-auto">
                        <smart-button class="small-button primary text-uppercase">Details</smart-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-lg-6 mb-5 mx-auto">
            <div class="card h-100">
                <div class="card-header border-0 px-6 pt-6">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 mr-4 w-65px square rounded-circle img-as-background">
                            <img src="../../images/brands/circle-htmlelements.png" alt="image">
                        </div>

                        <div class="d-flex flex-column mr-auto">
                            <h5 class="mb-1"><a href="#" class="text-dark font-weight-bold text-decoration-none" target="_blank">HTMElements - Web Components for Enterprise</a></h5>
                            <small class="text-muted font-weight-bold">Smart is a modern Vanilla JS and ES6 library</small>
                        </div>
                    </div>

                    <div class="settings-button">…</div>
                </div>

                <div class="card-body px-6">
                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Start Date</span>
                            <small class="font-weight-bold bg-primary-opacity-2 btn btn-sm text-primary">13 Mar, 11</small>
                        </div>
                        <div class="col-auto d-flex flex-column mb-5">
                            <span class="d-block font-weight-bold mb-4">Due Date</span>
                            <small class="font-weight-bold bg-danger-opacity-2 btn btn-sm text-danger">2 Jan, 21</small>
                        </div>

                        <div class="col mb-5">
                            <span class="d-block font-weight-bold mb-4">Progress</span>
                            <div class="d-flex align-items-center pt-1">
                                <div class="mt-2 mb-2 w-100">
                                    <smart-progress-bar value="99" class="warning"></smart-progress-bar>
                                </div>
                                <span class="ml-3 font-weight-bold">99%</span>
                            </div>
                        </div>
                    </div>

                    <p class="mb-5">Web Components for Enterprise Apps. Next-generation Vanilla JS and ES6 Front-End Web UI. Material Web Components. Angular, React, Vue, Typescript.</p>

                    <div class="row">
                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Budget</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>1 249,500</span>
                        </div>

                        <div class="col-auto d-flex flex-column mb-7">
                            <span class="font-weight-bold mb-3">Expenses</span>
                            <span class="font-weight-bold pt-1"><span class="font-weight-bold text-dark-50">$</span>939,500</span>
                        </div>

                        <div class="col flex-column mb-7">
                            <span class="font-weight-bold d-block mb-2">Members</span>
                            <div class="members d-flex">
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Mark Stone">
                                    <img alt="Pic" src="../../images/phonebook/andrew.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Charlie Stone" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/johnny.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Luca Doncic" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/mark.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Nick Mana" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/steven.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 square img-as-background rounded-circle" data-toggle="tooltip" title="Teresa Fox" style="margin-left: -10px;">
                                    <img alt="Pic" src="../../images/phonebook/janet.png">
                                </div>
                                <div class="w-30px border border-color-white border-width-2 h-30px rounded-circle bg-secondary d-inline-flex align-items-center justify-content-center" style="margin-left: -10px; z-index: 9;">
                                    <small>9+</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-sm-center flex-wrap flex-column flex-sm-row">
                    <div class="d-flex">
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">1469 Tasks</a>
                        </div>
                        <div class="d-flex mr-7">
                            <a href="#" class="text-primary ml-2">2648 Comments</a>
                        </div>
                    </div>
                    <div class="mt-5 mt-sm-0 mr-auto mr-sm-0 ml-sm-auto">
                        <smart-button class="small-button primary text-uppercase">Details</smart-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate" class="text-primary"></smart-menu-item>
    <smart-menu-item><i class="material-icons font-size-18px text-primary mr-2">shopping_cart</i> Order</smart-menu-item>
    <smart-menu-item><i class="material-icons font-size-18px text-primary mr-2">event</i> Event</smart-menu-item>
    <smart-menu-item separator><i class="material-icons font-size-18px text-primary mr-2">report</i> Report</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>