.kanban-tasks-2 {
    .header-col {
        margin-bottom: 0.75rem;
    }

    .col-entity-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #kanban-tasks-2 {
        border: none;
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    #kanban-tasks-2 .smart-kanban-column-header {
        --smart-border: var(--smart-outline);
    }

    #kanban-tasks-2 .smart-kanban-task {
        background-color: var(--light);
    }

    #kanban-tasks-2 .smart-kanban-task {
        display: flex;
        flex-flow: column;
        border: 1px solid var(--smart-border);
        border-radius: var(--smart-border-radius);
    }

    #kanban-tasks-2 .smart-kanban-task-footer {
        order: 1;
    }

    #kanban-tasks-2 .smart-kanban-task-tag {
        padding: 0.25em 0.4em;
        font-weight: 700;
        font-size: 12px;
        line-height: 1;
        border-radius: 0.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    #kanban-tasks-2 .smart-kanban-task-text {
        order: 2;
        width: 100%;
        text-align: left;
    }

    #kanban-tasks-2 .smart-kanban-task-content {
        order: 3;
        display: flex;
        flex-flow: column;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    #kanban-tasks-2 .smart-kanban-column-header {
        --smart-border: transparent;
        background: transparent;
    }
}
