.inbox {
    .col-entity-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header-col {
        margin-bottom: 0.75rem;
    }

    .mailbox {
        .left-side,
        .right-side {
            margin-bottom: 1.5rem;
        }

        .btn:hover,
        .btn:focus {
            border-color: transparent;
        }

        .left-side {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
            min-width: 300px;

            .compose-button-wrapper {
                padding: 0 0.75rem;
                margin-bottom: 1.5rem;

                a {
                    border-radius: 0.25rem;
                }
            }

            .upper-nav {
                margin-bottom: 1rem;
            }
        }

        .right-side {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;

            .card-body {
                padding-left: 0;
                padding-right: 0;

                .list-header {
                    margin-bottom: 1rem;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    .dropdown-menu {
                        border-radius: 0.25rem;

                        .dropdown-item {
                            padding: 0.25rem 1.5rem;
                        }
                    }

                    .list-header-first-col-buttons {
                        margin: 0.5rem 0.25rem 0.5rem 0;

                        .btn:hover,
                        .btn:focus {
                            border-color: transparent;
                        }

                        .dropdown-menu {
                            border-radius: 0.25rem;

                            .dropdown-item {
                                padding: 0.25rem 1.5rem;
                            }
                        }

                        .list-header-first-col-button {
                            margin-right: 0.5rem;
                        }
                    }

                    .search-col {
                        height: fit-content; //be aware
                    }

                    .search-field {
                        min-width: 150px;
                    }

                    .search-field input {
                        padding-left: 1rem;
                    }
                    .search-field input,
                    .search-field button {
                        background: var(--light);
                        border-color: transparent;
                        outline: unset !important;
                        box-shadow: unset !important;
                        border-radius: 0;
                    }

                    .search-button-wrapper {
                        display: flex;
                    }

                    .search-button {
                        padding-right: 0.75rem;
                    }

                    .records-per-page {
                        margin-right: 0.5rem;

                        button {
                            margin-right: 0.5rem;
                        }
                    }

                    .records-per-page-button {
                        margin-right: 0.5rem;
                    }

                    .btn-light:hover {
                        color: #212529;
                        background-color: #e2e6ea;
                        border-color: #dae0e5;
                    }
                }

                .list {

                    .mail {
                        padding: 0.75rem 1rem;

                        .check-star-label-wrapper {
                            margin-right: 0.75rem;
                        }

                        .avatar-wrapper {
                            min-width: 200px;
                            margin-right: 0.75rem;

                            .img-as-background,
                            .no-image {
                                width: 35px;
                                margin-right: 0.75rem;
                                border-radius: 0.25rem !important;
                            }

                            .no-image {
                                height: 35px;
                            }
                        }

                        .content-holder {
                            margin: 0.5rem 0.5rem 0 0;
                        }

                        .badges-wrapper {
                            margin-top: 0.5rem;

                            .badge:not(:last-child) {
                                margin-right: 0.5rem;
                            }

                            .badge {
                                padding: 0.25em 0.4em;
                            }
                        }

                        .time-right,
                        .time-left {
                            min-width: 150px;
                            margin-top: 0.5rem;
                            margin-right: 0.75rem;
                        }

                        .time-left  {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

    .mailbox .list .list-item .custom-control-label::before {
        border-color: transparent;
        background-color: var(--secondary);
    }

    .btn-icon .material-icons,
    .smart-button.smart-button-icon .material-icons {
        line-height: 0;
        margin-inline-end: 6px;
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5rem;
    }

    .custom-control-input {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 1rem;
        height: 1.25rem;
        opacity: 0;
    }

    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }

    .mailbox .list-header .custom-control-label::before {
        border-color: transparent;
        background-color: var(--secondary);
    }
    .custom-checkbox .custom-control-label::before {
        border-radius: 0.25rem;
    }
    .custom-control-label::before,
    .custom-file-label,
    .custom-select {
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .custom-control-label::before {
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        background-color: #ffffff;
        border: #adb5bd solid 1px;
    }

    .custom-control-label::after {
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background: no-repeat 50%/50% 50%;
    }

    .mailbox .nav:not(.nav-labels) .nav-link:hover,
    .mailbox .nav:not(.nav-labels) .nav-link.active {
        background: var(--light);
        color: var(--primary);
    }
    .mailbox .nav:not(.nav-labels) .nav-link {
        margin: 3px 0;
        display: flex;
        align-items: center;
        color: var(--dark);
        font-weight: bold;
        justify-content: space-between;
    }

    .mailbox .nav-labels .nav-link {
        margin: 3px 0;
        display: flex;
        align-items: center;
        color: var(--dark);
        font-weight: bold;
        justify-content: space-between;
    }

    .mailbox .nav-labels .nav-link span {
        display: flex;
        align-items: center;
    }

    .mailbox .nav-labels .nav-link i {
        margin-right: 7px;
        font-size: 14px;
        width: 24px;
        text-align: center;
    }

    .mailbox .nav:not(.nav-labels) .nav-link span {
        display: flex;
        align-items: center;
    }

    .mailbox .nav:not(.nav-labels) .nav-link i {
        opacity: 0.2;
        margin-right: 7px;
    }

    .mailbox .nav:not(.nav-labels) .nav-link:hover i,
    .mailbox .nav:not(.nav-labels) .nav-link.active i {
        opacity: 1;
    }

    .mailbox .nav-labels .nav-link:hover,
    .mailbox .nav-labels .nav-link.active {
        background: var(--light);
        color: var(--primary);
    }

    .mailbox .list .list-item:hover {
        background: var(--light);
    }

    .badge {
        border-radius: 0.25rem;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    @media (min-width: 576px) {
        .justify-content-sm-end {
            justify-content: flex-end !important;
        }

        .col-entity-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (min-width: 992px) {
        .col-entity-lg-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }

        .col-entity-lg-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1439px) {
        .mailbox .right-side .list-item {
            display: block !important;
        }
    }

    @media (min-width: 1200px) {
        .col-entity-xl-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }
    }
}
