<div class="smart-grid-layout">
    <div class="row">
        <div class="col">A</div>
    </div>
    <div class="row">
        <div class="col-sm-4">B</div>
        <div class="col-sm-8 clearstyle">
            <div class="smart-grid-layout">
                <div class="row">
                    <div class="col-sm-4">D</div>
                    <div class="col-sm-4">E</div>
                    <div class="col-sm-4">F</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">O</div>
                    <div class="col-sm-4">P</div>
                    <div class="col-sm-4">Q</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">C</div>
    </div>