<div class="container">
    <div class="text-center my-5">
        <h2>Welcome back, John!</h2>
        <p>Please sign in to your account to continue</p>
    </div>

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card shadow-5">
                <div class="card-body">
                    <div class="img-as-background square rounded-circle w-125 mx-auto mb-4">
                        <img src="../../images/phonebook/mark.png">
                    </div>

                    <div class="form-group">
                        <label class="d-block">Email</label>
                        <smart-input class="w-100"></smart-input>
                    </div>

                    <div class="form-group">
                        <label class="d-block">Password</label>
                        <smart-password-text-box class="w-100"></smart-password-text-box>
                        <a href="#" class="small">Forgot your password?</a>
                    </div>

                    <div class="form-group">
                        <smart-check-box checked>Remember me</smart-check-box>
                    </div>

                    <div class="text-center">
                        <smart-button class="primary">Sign in</smart-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>