<smart-drop-down-list #dropdownlist [selectionDisplayMode]="'tokens'" [tokenTemplate]="'tokenTemplate'"
    [selectionMode]="'zeroOrMany'">
    <smart-list-item [selected]="true">Andrew Watson</smart-list-item>
    <smart-list-item>Anne Kean</smart-list-item>
    <smart-list-item>Avril Janin</smart-list-item>
    <smart-list-item>Janet Pattenson</smart-list-item>
    <smart-list-item>Johanna Svensson</smart-list-item>
    <smart-list-item>Johnny Abana</smart-list-item>
    <smart-list-item>Laura Thene</smart-list-item>
    <smart-list-item>Margaret Vetton</smart-list-item>
    <smart-list-item>Maria Sevrano</smart-list-item>
    <smart-list-item>Mark Yemen</smart-list-item>
    <smart-list-item>Maya Verdara</smart-list-item>
    <smart-list-item>Michael Barton</smart-list-item>
    <smart-list-item>Monica Oghini</smart-list-item>
    <smart-list-item>Nancy Queens</smart-list-item>
    <smart-list-item>Robert Drawny</smart-list-item>
    <smart-list-item>Steven Fedrichy</smart-list-item>
    <smart-list-item>Toni Versachi</smart-list-item>
</smart-drop-down-list>