html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#root > div {
    width: 100%;
    height: 100%;
}

.smart-scheduler {
    width: calc(100% - 260px);
    height: 100%;
    --smart-scheduler-timeline-cell-height: 50px;
}

@media (max-width: 750px) {
    .smart-scheduler {
        width: 100%;
    }
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, .15);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 260px
}

.options {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 750px) {
    .options {
        position: relative;
        top: 30px;
        width: 240px;
        margin: 0 auto;
    }
}