<smart-combo-box #combobox id="dropDownListMethodsDemo"></smart-combo-box>
<div class="options">
    <div class="option">Settings</div>
    <div class="option">
        <smart-button #buttonUnsort id="unsort">Unsort</smart-button>
        <smart-button #buttonSort id="sort">Sort</smart-button>
        <br />
        <br />
        <smart-button #buttonUngroup id="ungroup">Ungroup</smart-button>
        <smart-button #buttonGroup id="group">Group</smart-button>
        <br />
        <br />
        <smart-button #buttonOpen id="open">Open</smart-button>
        <smart-button #buttonClose id="close">Close</smart-button>
        <br />
        <br />
        <smart-button #buttonDefault id="default">Default</smart-button>
        <smart-button #buttonCheck id="check">Check</smart-button>
        <br />
        <br />
        <smart-button #buttonRadio id="radio">Radio</smart-button>
        <br />
        <br />
        <smart-button #buttonInsert id="insert">Insert</smart-button>
        <smart-button #buttonUpdate id="update">Update</smart-button>
        <br />
        <br />
        <smart-button #buttonRemove id="remove">Remove</smart-button>
        <br />
        <br />
        <smart-button #buttonDisable style="width:auto;" id="disabled">Enable/Disable</smart-button>
    </div>
</div>