<div class="first">
    <div class="content">
        <h3>Revenue by product</h3>
        <div class="charts">
            <smart-chart id="donut-chart"></smart-chart>
            <div>
                <div class='chart-header'>
                    <div>2021</div>
                    <div>PRODUCT SALES BY RANGE</div>
                </div>
                <smart-chart id="bars-chart"></smart-chart>
            </div>
        </div>
    </div>
</div>
<div class="second">
    <div class="content">
        <div class="charts">
            <div id="daily-sales">
                <div class="chart-header">
                    <div class="daily-sales-title title">DAILY SALES PERFORMANCE</div>
                    <div class="options">
                        <div class="stats">
                            <div class="parameters">
                                Today
                                <div class="parameter" id="TodaySales">$918K</div>
                            </div>
                            <div class="parameters">
                                Yesterday
                                <div class="parameter" id="YesterdaySales">$1,027K</div>
                            </div>
                            <div class="parameters">
                                Last Week
                                <div class="parameter" id="LastWeekSales">$7,839K</div>
                            </div>
                        </div>
                        <div class="day-switcher">
                            <span class="material-icons left">arrow_left</span>
                            <span id="date">Oct <span id="day"></span>, 2021</span>
                            <span class="material-icons right">arrow_right</span>
                        </div>
                    </div>
                </div>
                <smart-chart id="daily-sales-chart"></smart-chart>
            </div>
            <div id="unit-sales">
                <div class="chart-header">
                    <div class="daily-sales-title title">UNIT SALES BY PRODUCT</div>
                    <div class="options">
                        <div class="stats">
                            <div class="parameters">
                                This Month
                                <div class="parameter" id="TodaySales">4,327</div>
                            </div>
                            <div class="parameters">
                                Last Month
                                <div class="parameter" id="YesterdaySales">17,943</div>
                            </div>
                            <div class="parameters">
                                YTD
                                <div class="parameter" id="LastWeekSales">169,645</div>
                            </div>
                        </div>
                        <div class="day-switcher">
                            <span class="material-icons left">arrow_left</span>
                            <span id="month">OCTOBER</span>
                            <span class="material-icons right">arrow_right</span>
                        </div>
                    </div>
                </div>
                <smart-chart id="unit-sales-chart"></smart-chart>
            </div>
        </div>
    </div>
</div>
<div class="third">
    <div class="content">
        <div id="rangeSelector"></div>
        <smart-chart id="dates-chart"></smart-chart>
    </div>
</div>