<div class="demo-description">
    <h1>Server-Side CRUD operations</h1>
    When a new Table row is added, removed or updated a request with CRUD
    data object is made via 'virtualDataSource' on the Server-Side Datasource.
    The server uses the SQL query sent by the Server-Side Datasource to get
    the rows which are then passed as the Pivot Table's data source and aggregated.
    <br />
    <br />This example uses a demo server with AlaSQL that generates SQL to show
    how a real server might use the requests sent by the Table. The Server-Side
    Table usage does not have any restrictions on the server-side technologies
    used.
</div>
<div id="tableContainer">
    <smart-table #table id="table" [dataSource]="dataSource" [editing]="editing" [editMode]="editMode"
        [keyboardNavigation]="keyboardNavigation" [filtering]="filtering" [filterRow]="filterRow" [pageSize]="pageSize"
        [sortMode]="sortMode" [columns]="columns"></smart-table>
    <smart-button #button id="addNewRow" class="primary" title="Add new row" (onClick)="handleButtonClick()">+
    </smart-button>
</div>
<smart-pivot-table #pivottable id="pivotTable" [freezeHeader]="freezeHeader" [grandTotal]="grandTotal"
    [keyboardNavigation]="keyboardNavigation" [rowTotals]="rowTotals" [columns]="pivotTableColumns"></smart-pivot-table>
<br />
<br />
<h3>SQL Query</h3>
<div id="query"></div>
<br />
<br />
<h3>Data</h3>
<div id="dataLog"></div>