#startDate, #endDate {
    display: none;
}

.container {
    padding: 0;
    height: 100%;
}

#about {
    font-size: 15px;
    line-height: 24px;
}

#about > div {
    padding: 55px 110px;
}

#about p {
    max-width: 960px;
}

#about ul {
    list-style: disc;
    color: var(--smart-primary);
}

.section-title {
    font-size: 36px;
    color: #35373d;
}
 
.section-sub-title {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: .5em;
}

.section-white {
    width: 100%;
    background-color: #fff;
}

.section-white .row{
    width: 50%;
}

.row {
    margin-left: 0 !important;
}

smart-button {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    font-size: 16px !important;
}

/* theme=dark */

[theme="dark"] .section-white  {
    background-color: rgb(36 36 36);
}

[theme="dark"] .section-title {
    color: #fff;
}