<div class="container">
    <div id="about" class="main-section-content row">
        <div>
            <p class="section-title">Smart HTML Elements Dashboard</p>
            <p>This Dashboard web app is built with <a href="https://www.htmlelements.com/">Smart HTML Elements
                    Framework</a> - a comprehensive
                and innovative UI library built on top of JavaScript, HTML and CSS. It empowers developers to deliver
                professional,
                cross-browser compatible web applications, while significantly minimizing their development time.
                Smart HTML Elements contains more than 60 UI components and is one of the fastest growing JavaScript UI
                frameworks on the Web.</p>

            <p>The sample app showcases some of the main Smart Web Components, such as Grid, Chart, Scheduler,
                ListBox and Tree in a real world scenario. It has a simple and responsive UI and works on a wide range
                of devices.</p>

            <smart-button id="getSmart" class="primary">Get Smart HTML Elements</smart-button>
        </div>

        <div class="section-white">
            <p class="section-title">Most popular Smart Web Components</p>
            <div class="row">
                <ul class="col-lg-6">
                    <li>
                        <a href="https://www.htmlelements.com/demos/grid/overview/">Grid</a>
                    </li>
                    <li>
                        <a href="https://www.htmlelements.com/demos/scheduler/overview/">Scheduler</a>
                    </li>
                    <li>
                        <a href="https://www.htmlelements.com/demos/chart/overview/">Chart</a>
                    </li>
                    <li>
                        <a href="https://www.htmlelements.com/demos/gantt/overview/">Gantt Chart</a>
                    </li>
                </ul>
                <ul class="col-lg-6">
                    <li>
                        <a href="https://www.htmlelements.com/demos/kanban/overview/">Kanban</a>
                    </li>
                    <li>
                        <a href="https://www.htmlelements.com/demos/pivottable/basic/">Pivot Table</a>
                    </li>
                    <li>
                        <a href="https://www.htmlelements.com/demos/cardview/overview/">Card View</a>
                    </li>
                    <li>
                        <a href="https://www.htmlelements.com/demos/docking-layout/overview/">Docking Layout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>