<smart-calendar #calendar class="calendar-demo" min="2018, 7, 1" max="2019-7-31"
selected-dates='["2019-7-2", "2029-7-17"]'></smart-calendar>
<div class="options" id="controlContainer">
    <div>Min/Max Set</div>
    <div class="option"> <pre>Min </pre>
        <input class="text-input" value="2019-7-1" #minInput placeholder="2021-01-01"
        id="minInput" />
    </div>
    <div class="option"> <pre>Max </pre>
        <input class="text-input" value="2021-7-31" #maxInput placeholder="2021-01-01"
        id="maxInput" />
    </div>
</div>