<smart-window #window>
    <smart-splitter>
        <smart-splitter-item [size]="250" [collapsed]="true" [collapsible]="true">
            <smart-drop-down-list>
				<smart-list-item>Item 1</smart-list-item>
				<smart-list-item>Item 2</smart-list-item>
				<smart-list-item>Item 3</smart-list-item>
			</smart-drop-down-list>
        </smart-splitter-item>
        <smart-splitter-item>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Tiger_in_Ranthambhore.jpg/220px-Tiger_in_Ranthambhore.jpg"
            />
            <p>The Bengal tiger's coat is yellow to light orange, with stripes ranging
                from dark brown to black; the belly and the interior parts of the limbs
                are white, and the tail is orange with black rings. The white tiger is
                a recessive mutant of the tiger, which is reported in the wild from time
                to time in Assam, Bengal, Bihar, and especially from the former State of
                Rewa. However, it is not to be mistaken as an occurrence of albinism. In
                fact, there is only one fully authenticated case of a true albino tiger,
                and none of black tigers, with the possible exception of one dead specimen
                examined in Chittagong in 1846.</p>
            <p>Males have an average total length of 270 to 310 cm (110 to 120 in) including
                the tail, while females measure 240 to 265 cm (94 to 104 in) on average.
                The tail is typically 85 to 110 cm (33 to 43 in) long, and on average,
                tigers are 90 to 110 cm (35 to 43 in) in height at the shoulders. The weight
                of males ranges from 180 to 258 kg (397 to 569 lb), while that of the females
                ranges from 100 to 160 kg (220 to 350 lb). The smallest recorded weights
                for Bengal tigers are from the Bangladesh Sundarbans, where adult females
                are 75 to 80 kg (165 to 176 lb).</p>
            <p>The tiger has exceptionally stout teeth.Its canines are 7.5 to 10 cm (3.0
                to 3.9 in) long and thus the longest among all cats. The greatest length
                of its skull is 332 to 376 mm (13.1 to 14.8 in)</p>
        </smart-splitter-item>
    </smart-splitter>
</smart-window>