@import "../../tabula_vars";

$primary: #6200EE;
$on-primary: #FFFFFF;
$primary-rgb: 98, 0, 238;
$primary-light: #d1b3ff;
$on-primary-light: #000000;
$primary-lighter: rgba(98, 0, 238, 0.13);
$on-primary-lighter: #000000;
$primary-dark: #9a67ff;
$primary-darker: #1a0033;

$secondary: #5b6371;
$secondary-rgb: 91, 99, 113;
$secondary-light: #c2c7d1;
$secondary-lighter: rgba(91, 99, 113, 0.13);
$secondary-dark: #8a92a3;
$secondary-darker: #1f242c;
@import "../../_vars";
@import "../../_light";