@import "../../tabula_vars";

$primary: #3949ab;
$on-primary: #FFFFFF;
$primary-rgb: 57, 73, 171;
$primary-light: #aeb6de;
$on-primary-light: #14193c;
$primary-lighter: rgba(57, 73, 171, 0.13);
$on-primary-lighter: #14193c;
$primary-dark: #6f7bc4;
$primary-darker: #14193c;

$secondary: #5b6371;
$secondary-rgb: 91, 99, 113;
$secondary-light: #c2c7d1;
$secondary-lighter: rgba(91, 99, 113, 0.13);
$secondary-dark: #8a92a3;
$secondary-darker: #1f242c;

@import "../../_vars";
@import "../../_light";
