@import "./tree.scss";
@import "./sidebar-smart-style-override.scss";

.hide-logo {
    display: none;
}

.sidebar {
    display: block;
    margin-left: 0px;
    width: var(--menu-width);
    min-height: 100vh;
    background-color: var(--sidebar-background);
    position: fixed;
    z-index: 9999;
    --smart-scroll-bar-size: 5px;
}

.sidebar-not-expanded {
    width: var(--menu-width-closed);

    .toggle-button path {
        fill: var(--smart-primary);
    }

    .toggle-button {
        transform: rotate(180deg);
    }
}

.sidebar-toggle-on-hover:hover {
    width: var(--menu-width);

    .hide-logo {
        display: block;
    }

    .toggle-button {
        transform: rotate(360deg);
    }

    .toggle-button path {
        fill: var(--dark);
    }

    .toggle-button:hover path {
        fill: var(--smart-primary);
    }
}

.logo-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    height: var(--header-height);
}

.logo a {
    cursor: pointer;
}

.logo img {
    max-width: 90%;
    filter: invert(0.8);
    vertical-align: middle;
    border-style: none;
}

body[theme="dark"] .sidebar .logo img {
    filter: invert(0);
}

.toggle-button {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.toggle-button path {
    fill: var(--dark);
}

.toggle-button:hover path {
    fill: var(--smart-primary);
}

#usageTooltipNormal {
    width: max-content;

    span.show {
        display: none;
    }

    span.hide {
        display: block;
    }
}

.sidebar-not-expanded #usageTooltipNormal {
    span.show {
        display: block;
    }

    span.hide {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        left: 0;
        z-index: 999;
        transition: left 0.3s ease-in;
    }

    .logo-holder {
        display: none;
    }

    .logo img {
        filter: invert(0);
    }

    .sidebar-not-expanded {
        left: calc(0% - var(--menu-width));
    }
}
