<div class="button-demo button-n-45">
    <label>Button N° 045</label>
    <div class="demo-buttons-group">
        <div class="container">
            <div class="center">
                <smart-button #button class="btn">
                    <svg width="180px" height="60px" viewBox="0 0 180 60">
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                    </svg> <span>HOVER ME</span>
                </smart-button>
            </div>
        </div>
    </div>
</div>