<smart-3d-chart #chart id="chart" [caption]="caption" [description]="description" [showLegend]="showLegend"
    [dataSource]="dataSource" [colorScheme]="colorScheme" [seriesGroups]="seriesGroups"
    [cameraPosition]="cameraPosition"></smart-3d-chart>

<div class="options">
    <div class="caption">Chart Export</div>
    <div class="option">
        <smart-check-box #includeLegend checked>Include Legend</smart-check-box>
        <br /><br />
        <smart-check-box #includeCaption checked>Include Caption</smart-check-box>
        <br /><br />
    </div>
    <div class="option">
        <smart-button id="btn1" (click)="ExportPdf()">Export as PDF</smart-button>
        <br /><br />
        <smart-button id="btn2" (click)="ExportPNG()">Export as PNG</smart-button>
        <br /><br />
        <smart-button id="btn3" (click)="ExportJPEG()">Export as JPEG</smart-button>
    </div>

</div>