<smart-button #button id="button">Button</smart-button>
<smart-tooltip #tooltip id="tooltip1" [selector]="'button'" [position]="'absolute'" [offset]="[2,5]">This is a tooltip
    with absolute position [2,5]</smart-tooltip>
<smart-tooltip #tooltip2 id="tooltip2" [selector]="'button'" [position]="'absolute'" [offset]="[2,40]">This is a tooltip
    with absolute position [2,40]</smart-tooltip>
<smart-tooltip #tooltip3 id="tooltip3" [selector]="'button'" [position]="'absolute'" [offset]="[2,75]">This is a tooltip
    with absolute position [2,75]</smart-tooltip>
<smart-tooltip #tooltip4 id="tooltip4" [selector]="'button'" [position]="'absolute'" [offset]="[2,110]">This is a tooltip with
    absolute position [2,110]</smart-tooltip>