<smart-scheduler #scheduler id="scheduler" [dataSource]="dataSource" [view]="view" [views]="views" [dateCurrent]="dateCurrent"></smart-scheduler>
<div class="options">
    <div class="description">
         <h4>Description</h4>
        <p>The demos shows how to load Google Calendar tasks directly via URL.</p>
        <p>Thanks to the Smart.DataAdapter utility it is possible to load Google
            Calendar events to the Smart.Scheduler via the <b>dataSource</b> property.</p>
    </div>
</div>