<div class="smart-grid-layout">
    <div class="row">
        <div class="col">Header</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Side Bar</div>
        <div class="col-sm-8">Content. Grid system with 3 rows. The Header and Footer are with 100px
            height. The Content and Side Bar fill the rest of the remaining space.
            The Side Bar and Content sre stacked on small device screen.</div>
    </div>
    <div class="row">
        <div class="col">Footer</div>
    </div>
</div>