<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Doctor Dashboard Web Template</title>
    <meta name="description" content="Doctor Dashboard showcase example with Grid, Chart, Calendar and Editors Web Components" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
    <link rel="stylesheet" type="text/css" href="../../source/styles/smart.default.css" />
    <link rel="stylesheet" type="text/css" href="../../styles/demos.css" />

    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="dashboard-header">
        <span class="header-name">
            Nancy Davolio
        </span>
        <div>
            <span class="icon-holder">
                <img class="header-logo" src="../../images/people/nancy.jpg" />
            </span>
        </div>
    </div>
    <smart-splitter id="dashboard" expanded>
        <smart-splitter-item collapsible id="leftPanel">
            <div class="upper">
                <smart-chart id="chart"></smart-chart>
                <div id="personInfo">
                    <img width="30%" />
                    <div id="form">
                        <label>Name</label>
                        <smart-text-box id="name"></smart-text-box>
                        <label>Date</label>
                        <smart-date-time-picker calendar-button="true" format-string="MM/dd/yyyy" drop-down-append-to="body"></smart-date-time-picker>
                        <label>Email</label>
                        <smart-text-box id="email"></smart-text-box>
                        <smart-radio-button id="inpatient" enable-container-click>Inpatient</smart-radio-button>
                        <smart-radio-button id="outpatient" enable-container-click>Outpatient</smart-radio-button>
                        <div class="buttons">
                            <smart-button id="save">Save</smart-button>
                            <smart-button id="reset">Reset</smart-button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <smart-grid id="grid"></smart-grid>
            </div>
        </smart-splitter-item>
        <smart-splitter-bar class="smart-hidden"></smart-splitter-bar>
        <smart-splitter-item collapsible id="rightPanel" size="17%" min="250">
            <smart-list-box id="listbox" filterable item-template="template"
                          item-height="53" display-member="name"
                          selection-mode="zeroOrOne" selected-indexes="[0]">
            </smart-list-box>
            <template id="template">
                <span class="list-item">
                    <img height="53px" class="icon" src="../../images/people/nancy.jpg" />
                    {{label}}
                </span>
            </template>
            <smart-calendar id="calendar" footer-template="calendatFooter" view-sections="['footer']"></smart-calendar>
            <template id="calendatFooter">
                <smart-button class="flat primary">Clear</smart-button>
            </template>
        </smart-splitter-item>
    </smart-splitter>

    <script type="module" src="../../source/modules/smart.chart.js"></script>
    <script type="module" src="../../source/modules/smart.grid.js"></script>
    <script type="module" src="../../source/modules/smart.splitter.js"></script>
    <script type="module" src="../../source/modules/smart.textbox.js"></script>
    <script type="module" src="../../source/modules/smart.radiobutton.js"></script>
    <script type="module" src="../../source/modules/smart.listbox.js"></script>
    <script type="module" src="../../source/modules/smart.calendar.js"></script>
    <script type="module" src="../../source/modules/smart.datetimepicker.js"></script>
    <script type="module" src="index.js"></script>
</body>
</html>