<smart-drop-down-list #dropdownlist class="drop-down-list-modes-demo"></smart-drop-down-list>
<div class="options">
    <div class="caption">DropDown list Position:</div>
    <div class="option">
        <smart-radio-button #radiobuttonauto [checked]="true">Auto</smart-radio-button>
        <br/>
        <br/>
        <smart-radio-button #radiobuttonbottom>Bottom</smart-radio-button>
        <br/>
        <br/>
        <smart-radio-button #radiobuttonoverlaybottom>Overlay-bottom</smart-radio-button>
        <br/>
        <br/>
        <smart-radio-button #radiobuttonoverlaycenter>Overlay-center</smart-radio-button>
        <br/>
        <br/>
        <smart-radio-button #radiobuttonoverlaytop>Overlay-top</smart-radio-button>
        <br/>
        <br/>
        <smart-radio-button #radiobuttontop>Top</smart-radio-button>
        <br/>
        <br/>
        <smart-radio-button #radiobuttoncenterbottom>Center-bottom</smart-radio-button>
        <br/>
        <br/>
        <smart-radio-button #radiobuttoncentertop>Center-top</smart-radio-button>
        <br/>
        <br/>
    </div>
</div>