<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Wizard</h4></div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <smart-tabs class="w-100 h-150" animation="none">
                        <smart-tab-item label="Step 1">
                            Do this first
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev" disabled>Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 2">
                            Do this second
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 3">
                            Do this third
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 4">
                            Do this fourth
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next" disabled>Next</smart-button>
                            </div>
                        </smart-tab-item>
                    </smart-tabs>

                    <smart-tabs class="w-100 h-150 success" animation="none">
                        <smart-tab-item label="Step 1">
                            Do this first
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev" disabled>Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 2">
                            Do this second
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 3">
                            Do this third
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 4">
                            Do this fourth
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next" disabled>Next</smart-button>
                            </div>
                        </smart-tab-item>
                    </smart-tabs>

                    <smart-tabs class="w-100 h-150 error" animation="none">
                        <smart-tab-item label="Step 1">
                            Do this first
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev" disabled>Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 2">
                            Do this second
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 3">
                            Do this third
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 4">
                            Do this fourth
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next" disabled>Next</smart-button>
                            </div>
                        </smart-tab-item>
                    </smart-tabs>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <smart-tabs class="w-100 h-150 fancy" animation="none">
                        <smart-tab-item label="Step 1">
                            Do this first
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev" disabled>Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 2">
                            Do this second
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 3">
                            Do this third
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 4">
                            Do this fourth
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next" disabled>Next</smart-button>
                            </div>
                        </smart-tab-item>
                    </smart-tabs>

                    <smart-tabs class="w-100 h-150 fancy success" animation="none">
                        <smart-tab-item label="Step 1">
                            Do this first
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev" disabled>Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 2">
                            Do this second
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 3">
                            Do this third
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 4">
                            Do this fourth
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next" disabled>Next</smart-button>
                            </div>
                        </smart-tab-item>
                    </smart-tabs>

                    <smart-tabs class="w-100 h-150 fancy error" animation="none">
                        <smart-tab-item label="Step 1">
                            Do this first
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev" disabled>Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 2">
                            Do this second
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 3">
                            Do this third
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next">Next</smart-button>
                            </div>
                        </smart-tab-item>
                        <smart-tab-item label="Step 4">
                            Do this fourth
                            <div class="d-flex justify-content-end">
                                <smart-button class="mr-2 small-button primary outlined prev">Previous</smart-button>
                                <smart-button class="small-button primary next" disabled>Next</smart-button>
                            </div>
                        </smart-tab-item>
                    </smart-tabs>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form id="checkoutForm"></form>
                </div>
            </div>
        </div>
    </div>
</div>