<smart-scheduler #scheduler id="scheduler" [dataSource]="dataSource" [view]="view" [views]="views"></smart-scheduler>
<div class="options">
    <div class="description">
         <h3>Server-Side Events Loading with MySql and PHP</h3>
Data in this demo is loaded on demand from MySql Database and especially
        the 'Employees' table of the Northwind Database. Server request is made
        when you refresh the page. This is achieved by using the Smart.DataAdapter
        by setting it to the <b>dataSource</b> property of the Smart.Scheduler. The
        Server reponse represents a JSON array which contains the records for the
        Employees table.</div>
</div>