.crypto-dashboard {
    .header-menu {
        display: grid;
        grid-template-columns: 1fr 35px 35px;
        grid-template-rows: 35px 35px;
        grid-template-areas:
            "welcome welcome welcome"
            "today filter refresh";
        gap: 5px;
        justify-content: start;
        margin-bottom: 20px;

        .welcome {
            font-size: 1.5rem;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            grid-area: welcome;
        }

        .today-button {
            margin-left: auto;
            width: 133px;
            grid-area: today;
            --smart-button-padding: 5px;

            button {
                display: flex;
                align-items: center;

                * {
                    margin: 0 5px;
                }
            }
        }

        .smart-button:last-child {
            grid-area: refresh;
        }
    }

    .crypto-table {
        --smart-table-column-header-height: 40px;
        --smart-table-row-height: 25px;
        --smart-table-cell-padding: 10px;
        height: auto;
    }

    #currencyTable [data-field="price"],
    #currencyTable [data-field="volume"],
    #currencyTable [data-field="change"],
    #sellTable [data-field],
    #buyTable [data-field] {
        text-align: right;
    }

    #currencyTable [data-field="price"] .wrapper,
    #currencyTable [data-field="volume"] .wrapper,
    #currencyTable [data-field="change"] .wrapper,
    #sellTable [data-field] .wrapper,
    #buyTable [data-field] .wrapper {
        justify-content: flex-end;
    }

    .cards-row {
        .custom-col {
            margin-bottom: 1.5rem;
        }

        .card-heading {
            margin-bottom: 0.75rem;
        }

        p {
            opacity: 0.9;
        }
    }

    .markets-btc-chart-row,
    .buy-sell-orders-row {
        .custom-col {
            margin-bottom: 1.5rem;
        }
    }

    .crypto-exchange-chart,
    .currency-table,
    .sell-table,
    .buy-table {
        max-height: 350px;
    }

    @media (min-width: 768px) {
        .header-menu {
            grid-template-columns: 1fr auto 35px 35px;
            grid-template-rows: 35px;
            grid-template-areas: "welcome today filter refresh";
        }

        .col-entity-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (min-width: 992px) {
        .col-entity-lg-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (min-width: 1200px) {
        .col-entity-xl-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}
