/* smart-password-text-box */
smart-password-text-box {

    //Right To Left
    &[right-to-left] {

        .smart-label,
        .smart-hint,
        >.smart-container {
            direction: rtl;
        }

        smart-tooltip {
            direction: initial;
        }

        .smart-password-icon {
            left: 0;
            right: initial;
        }
    }
}