<smart-tabs #tabs id="tabs">
    <smart-tab-item [label]="'template1'">The Sun is the star at the center of the Solar System.</smart-tab-item>
    <smart-tab-item [label]="'template2'" [selected]="true">Earth is the third planet from the Sun and the only object
        in the Universe known to harbor life.</smart-tab-item>
    <smart-tab-item [label]="'template3'">The Moon is an astronomical body that orbits planet Earth, being Earth's
        only permanent natural satellite.</smart-tab-item>
    <smart-tab-item [label]="'template4'">Mars is the fourth planet from the Sun and the second-smallest planet
        in the Solar System, after Mercury.</smart-tab-item>
</smart-tabs>