<smart-check-box #checkbox id="showLines" [checked]="true">Show lines</smart-check-box>
<smart-check-box #checkbox2 id="showRootLines" [checked]="true">Show root lines</smart-check-box>
<br />
<br />
<smart-tree #tree id="tree1" [autoLoadState]="true" [showLines]="true" [showRootLines]="true" [autoSaveState]="true"
    [filterable]="true" [filterInputPlaceholder]="'Filter query...'" [filterMode]="'containsIgnoreCase'"
    [toggleElementPosition]="'far'">
    <smart-tree-item>Home</smart-tree-item>
    <smart-tree-items-group>Solutions
        <smart-tree-item>Education</smart-tree-item>
        <smart-tree-item>Financial services</smart-tree-item>
        <smart-tree-item>Government</smart-tree-item>
        <smart-tree-item>Manufacturing</smart-tree-item>
        <smart-tree-items-group>Solutions
            <smart-tree-item>Consumer photo and video</smart-tree-item>
            <smart-tree-item>Mobile</smart-tree-item>
            <smart-tree-item>Rich Internet applications</smart-tree-item>
            <smart-tree-item>Technical communication</smart-tree-item>
            <smart-tree-item>Training and eLearning</smart-tree-item>
            <smart-tree-item>Web conferencing</smart-tree-item>
        </smart-tree-items-group>
        <smart-tree-item>All industries and solutions</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Products
        <smart-tree-item>PC products</smart-tree-item>
        <smart-tree-item>Mobile products</smart-tree-item>
        <smart-tree-item>All products</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Support
        <smart-tree-item>Support home</smart-tree-item>
        <smart-tree-item>Customer Service</smart-tree-item>
        <smart-tree-item>Knowledge base</smart-tree-item>
        <smart-tree-item>Books</smart-tree-item>
        <smart-tree-item>Training and certification</smart-tree-item>
        <smart-tree-item>Support programs</smart-tree-item>
        <smart-tree-item>Forums</smart-tree-item>
        <smart-tree-item>Documentation</smart-tree-item>
        <smart-tree-item>Updates</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Communities
        <smart-tree-item>Designers</smart-tree-item>
        <smart-tree-item>Developers</smart-tree-item>
        <smart-tree-item>Educators and students</smart-tree-item>
        <smart-tree-item>Partners</smart-tree-item>
        <smart-tree-items-group>By resource
            <smart-tree-item>Labs</smart-tree-item>
            <smart-tree-item>TV</smart-tree-item>
            <smart-tree-item>Forums</smart-tree-item>
            <smart-tree-item>Exchange</smart-tree-item>
            <smart-tree-item>Blogs</smart-tree-item>
            <smart-tree-item>Experience Design</smart-tree-item>
        </smart-tree-items-group>
    </smart-tree-items-group>
    <smart-tree-items-group>Company
        <smart-tree-item>About Us</smart-tree-item>
        <smart-tree-item>Press</smart-tree-item>
        <smart-tree-item>Investor Relations</smart-tree-item>
        <smart-tree-item>Corporate Affairs</smart-tree-item>
        <smart-tree-item>Careers</smart-tree-item>
        <smart-tree-item>Showcase</smart-tree-item>
        <smart-tree-item>Events</smart-tree-item>
        <smart-tree-item>Contact Us</smart-tree-item>
        <smart-tree-item>Become an affiliate</smart-tree-item>
    </smart-tree-items-group>
</smart-tree>
<smart-tree #tree2 id="tree2" [autoLoadState]="true" [showLines]="true" [showRootLines]="true" [autoSaveState]="true"
    [filterable]="true" [filterInputPlaceholder]="'Filter query...'" [filterMode]="'containsIgnoreCase'">
    <smart-tree-item>Home</smart-tree-item>
    <smart-tree-items-group>Solutions
        <smart-tree-item>Education</smart-tree-item>
        <smart-tree-item>Financial services</smart-tree-item>
        <smart-tree-item>Government</smart-tree-item>
        <smart-tree-item>Manufacturing</smart-tree-item>
        <smart-tree-items-group>Solutions
            <smart-tree-item>Consumer photo and video</smart-tree-item>
            <smart-tree-item>Mobile</smart-tree-item>
            <smart-tree-item>Rich Internet applications</smart-tree-item>
            <smart-tree-item>Technical communication</smart-tree-item>
            <smart-tree-item>Training and eLearning</smart-tree-item>
            <smart-tree-item>Web conferencing</smart-tree-item>
        </smart-tree-items-group>
        <smart-tree-item>All industries and solutions</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Products
        <smart-tree-item>PC products</smart-tree-item>
        <smart-tree-item>Mobile products</smart-tree-item>
        <smart-tree-item>All products</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Support
        <smart-tree-item>Support home</smart-tree-item>
        <smart-tree-item>Customer Service</smart-tree-item>
        <smart-tree-item>Knowledge base</smart-tree-item>
        <smart-tree-item>Books</smart-tree-item>
        <smart-tree-item>Training and certification</smart-tree-item>
        <smart-tree-item>Support programs</smart-tree-item>
        <smart-tree-item>Forums</smart-tree-item>
        <smart-tree-item>Documentation</smart-tree-item>
        <smart-tree-item>Updates</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Communities
        <smart-tree-item>Designers</smart-tree-item>
        <smart-tree-item>Developers</smart-tree-item>
        <smart-tree-item>Educators and students</smart-tree-item>
        <smart-tree-item>Partners</smart-tree-item>
        <smart-tree-items-group>By resource
            <smart-tree-item>Labs</smart-tree-item>
            <smart-tree-item>TV</smart-tree-item>
            <smart-tree-item>Forums</smart-tree-item>
            <smart-tree-item>Exchange</smart-tree-item>
            <smart-tree-item>Blogs</smart-tree-item>
            <smart-tree-item>Experience Design</smart-tree-item>
        </smart-tree-items-group>
    </smart-tree-items-group>
    <smart-tree-items-group>Company
        <smart-tree-item>About Us</smart-tree-item>
        <smart-tree-item>Press</smart-tree-item>
        <smart-tree-item>Investor Relations</smart-tree-item>
        <smart-tree-item>Corporate Affairs</smart-tree-item>
        <smart-tree-item>Careers</smart-tree-item>
        <smart-tree-item>Showcase</smart-tree-item>
        <smart-tree-item>Events</smart-tree-item>
        <smart-tree-item>Contact Us</smart-tree-item>
        <smart-tree-item>Become an affiliate</smart-tree-item>
    </smart-tree-items-group>
</smart-tree>
<smart-tree #tree3 id="tree3" [autoLoadState]="true" [showLines]="true" [showRootLines]="true" [autoSaveState]="true"
    [filterable]="true" [filterInputPlaceholder]="'Filter query...'" [filterMode]="'containsIgnoreCase'"
    [rightToLeft]="true" [toggleElementPosition]="'far'">
    <smart-tree-item>Home</smart-tree-item>
    <smart-tree-items-group>Solutions
        <smart-tree-item>Education</smart-tree-item>
        <smart-tree-item>Financial services</smart-tree-item>
        <smart-tree-item>Government</smart-tree-item>
        <smart-tree-item>Manufacturing</smart-tree-item>
        <smart-tree-items-group>Solutions
            <smart-tree-item>Consumer photo and video</smart-tree-item>
            <smart-tree-item>Mobile</smart-tree-item>
            <smart-tree-item>Rich Internet applications</smart-tree-item>
            <smart-tree-item>Technical communication</smart-tree-item>
            <smart-tree-item>Training and eLearning</smart-tree-item>
            <smart-tree-item>Web conferencing</smart-tree-item>
        </smart-tree-items-group>
        <smart-tree-item>All industries and solutions</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Products
        <smart-tree-item>PC products</smart-tree-item>
        <smart-tree-item>Mobile products</smart-tree-item>
        <smart-tree-item>All products</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Support
        <smart-tree-item>Support home</smart-tree-item>
        <smart-tree-item>Customer Service</smart-tree-item>
        <smart-tree-item>Knowledge base</smart-tree-item>
        <smart-tree-item>Books</smart-tree-item>
        <smart-tree-item>Training and certification</smart-tree-item>
        <smart-tree-item>Support programs</smart-tree-item>
        <smart-tree-item>Forums</smart-tree-item>
        <smart-tree-item>Documentation</smart-tree-item>
        <smart-tree-item>Updates</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Communities
        <smart-tree-item>Designers</smart-tree-item>
        <smart-tree-item>Developers</smart-tree-item>
        <smart-tree-item>Educators and students</smart-tree-item>
        <smart-tree-item>Partners</smart-tree-item>
        <smart-tree-items-group>By resource
            <smart-tree-item>Labs</smart-tree-item>
            <smart-tree-item>TV</smart-tree-item>
            <smart-tree-item>Forums</smart-tree-item>
            <smart-tree-item>Exchange</smart-tree-item>
            <smart-tree-item>Blogs</smart-tree-item>
            <smart-tree-item>Experience Design</smart-tree-item>
        </smart-tree-items-group>
    </smart-tree-items-group>
    <smart-tree-items-group>Company
        <smart-tree-item>About Us</smart-tree-item>
        <smart-tree-item>Press</smart-tree-item>
        <smart-tree-item>Investor Relations</smart-tree-item>
        <smart-tree-item>Corporate Affairs</smart-tree-item>
        <smart-tree-item>Careers</smart-tree-item>
        <smart-tree-item>Showcase</smart-tree-item>
        <smart-tree-item>Events</smart-tree-item>
        <smart-tree-item>Contact Us</smart-tree-item>
        <smart-tree-item>Become an affiliate</smart-tree-item>
    </smart-tree-items-group>
</smart-tree>
<smart-tree #tree4 id="tree4" [autoLoadState]="true" [showLines]="true" [showRootLines]="true" [autoSaveState]="true"
    [filterable]="true" [filterInputPlaceholder]="'Filter query...'" [filterMode]="'containsIgnoreCase'"
    [rightToLeft]="true">
    <smart-tree-item>Home</smart-tree-item>
    <smart-tree-items-group>Solutions
        <smart-tree-item>Education</smart-tree-item>
        <smart-tree-item>Financial services</smart-tree-item>
        <smart-tree-item>Government</smart-tree-item>
        <smart-tree-item>Manufacturing</smart-tree-item>
        <smart-tree-items-group>Solutions
            <smart-tree-item>Consumer photo and video</smart-tree-item>
            <smart-tree-item>Mobile</smart-tree-item>
            <smart-tree-item>Rich Internet applications</smart-tree-item>
            <smart-tree-item>Technical communication</smart-tree-item>
            <smart-tree-item>Training and eLearning</smart-tree-item>
            <smart-tree-item>Web conferencing</smart-tree-item>
        </smart-tree-items-group>
        <smart-tree-item>All industries and solutions</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Products
        <smart-tree-item>PC products</smart-tree-item>
        <smart-tree-item>Mobile products</smart-tree-item>
        <smart-tree-item>All products</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Support
        <smart-tree-item>Support home</smart-tree-item>
        <smart-tree-item>Customer Service</smart-tree-item>
        <smart-tree-item>Knowledge base</smart-tree-item>
        <smart-tree-item>Books</smart-tree-item>
        <smart-tree-item>Training and certification</smart-tree-item>
        <smart-tree-item>Support programs</smart-tree-item>
        <smart-tree-item>Forums</smart-tree-item>
        <smart-tree-item>Documentation</smart-tree-item>
        <smart-tree-item>Updates</smart-tree-item>
    </smart-tree-items-group>
    <smart-tree-items-group>Communities
        <smart-tree-item>Designers</smart-tree-item>
        <smart-tree-item>Developers</smart-tree-item>
        <smart-tree-item>Educators and students</smart-tree-item>
        <smart-tree-item>Partners</smart-tree-item>
        <smart-tree-items-group>By resource
            <smart-tree-item>Labs</smart-tree-item>
            <smart-tree-item>TV</smart-tree-item>
            <smart-tree-item>Forums</smart-tree-item>
            <smart-tree-item>Exchange</smart-tree-item>
            <smart-tree-item>Blogs</smart-tree-item>
            <smart-tree-item>Experience Design</smart-tree-item>
        </smart-tree-items-group>
    </smart-tree-items-group>
    <smart-tree-items-group>Company
        <smart-tree-item>About Us</smart-tree-item>
        <smart-tree-item>Press</smart-tree-item>
        <smart-tree-item>Investor Relations</smart-tree-item>
        <smart-tree-item>Corporate Affairs</smart-tree-item>
        <smart-tree-item>Careers</smart-tree-item>
        <smart-tree-item>Showcase</smart-tree-item>
        <smart-tree-item>Events</smart-tree-item>
        <smart-tree-item>Contact Us</smart-tree-item>
        <smart-tree-item>Become an affiliate</smart-tree-item>
    </smart-tree-items-group>
</smart-tree>