$dark-theme: true;
@import "../../strata_vars";
@import "../../../bootstrap/_bootstrap_vars";

$primary: #DD2C00;
$primary-color: #ffffff;
$body-bg: #0A0A0A;
$body-color: $white;
$blue: $primary;
$link-color: $primary;
$link-hover-color: mix(black, $primary, 12%);

@import "../../../bootstrap/_mixins";
@import "../../../bootstrap/_vars";
@import "../../../bootstrap/_styles";
@import "../../_vars";
@import "../../dark";
