:root {
    --smart-primary: #6200EE;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
}

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#root>div {
    width: 100%;
    height: 100%;
}

smart-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

smart-card>.smart-container {
    padding: 30px;
}

smart-button, smart-text-box {
    display: block;
    width: 100%;
    margin-top: 30px;
}

smart-button {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
    font-size: 26px;
    text-align: center;
}

smart-check-box {
    margin-top: 15px;
    margin-left: -8px;
}

.material-icons {
    color: white;
    background-color: #E10050;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

smart-text-box[label] .smart-label {
    margin-top: 10px;
}

.note {
    color: white;
    background-color: orange;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 3px;
}