html,
body,
#root>div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.smart-editor {
    width: 100%;
    height: 100%;
}

#popupWindow {
    --smart-window-default-width: 60%;
    --smart-window-default-height: 60%;
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, .15);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 260px;
}

@media (max-width: 750px) {
    .options {
        position: relative;
        top: 30px;
        width: 240px;
        margin: 0 auto;
    }
}