form {
  display: flex;
  width: 350px;
  flex-direction: column;
}

.form-row {
  display: flex;
  width: 350px;
  flex-direction: column;
  margin: 5px 0px;
}

.form-component {
  width: 100%;
  margin: 5px 0px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.alert {
  background: #F2DEDE;
  color: #a94442;
}