<smart-breadcrumb #breadcrumb id="breadcrumb1" add-new-item allow-drag
allow-drop close-buttons data-source='[{ "label": "Planets", "value": "A" }, { "label": "Continents", "value": "B" }, { "label": "Countries", "value": "C" }, { "label": "States", "value": "D" }, { "label": "Cities", "value": "E" }]'></smart-breadcrumb>
<br />
<smart-breadcrumb #breadcrumb2 id="breadcrumb2" allow-drag allow-drop
close-buttons data-source='[{ "label": "Email", "value": "alternate_email" }, { "label": "Phone", "value": "phone" }, { "label": "TV", "value": "tv" }, { "label": "Video game", "value": "videogame_asset" }, { "label": "Laptop", "value": "laptop" }]'
item-template="breadcrumb2Template"></smart-breadcrumb>
<br />
<smart-breadcrumb #breadcrumb3 id="breadcrumb3" minimize-width="150" allow-drag
allow-drop close-buttons data-source='[{ "label": "Planets", "value": "A" }, { "label": "Continents", "value": "B" }, { "label": "Countries", "value": "C" }, { "label": "States", "value": "D" }, { "label": "Cities", "value": "E" }]'></smart-breadcrumb>
