<div class="demo-description">
     <h1>Basic Map Overview</h1>
    <div>In this demo, we show how to use our "smart-map" component. "smart-map"
        is a component which displays a map of an area defined by a user. Maps
        are usually used in combination with forms and modal windows. It's quite
        easy to implement a Google map in your project since all it requires is
        a small piece of code.</div>
</div>
<div class="map-holder">
    <smart-map #map [query] = "query" [apiKey] = "apiKey" [mapType] = "mapType"></smart-map>
</div>