<div class="demo-description">The <b>showProgressLabel</b> property shows the progress of the tasks inside
    each task bar in the Timeline. The user can change the progress of a task
    by selecting a task and sliding the progress thumb.</div>
<smart-gantt-chart #ganttchart id="ganttChart" [view]="view" [dateStart]="dateStart" [treeSize]="treeSize"
    [hideTimelineHeaderDetails]="hideTimelineHeaderDetails" [snapToNearest]="snapToNearest"
    [showProgressLabel]="showProgressLabel" [progressLabelFormatFunction]="progressLabelFormatFunction"
    [timelineHeaderFormatFunction]="timelineHeaderFormatFunction" [durationUnit]="durationUnit"
    [taskColumns]="taskColumns" [dataSource]="dataSource"></smart-gantt-chart>