<div class="footer">
    <div class="footer-nav">
        <a href="https://www.htmlelements.com/forums/" target="_blank">Support</a>
        <a href="https://www.htmlelements.com/faq/" target="_blank">Help Center</a>
        <a href="https://www.htmlelements.com/privacy-policy/" target="_blank">Privacy</a>
        <a href="https://www.htmlelements.com/terms-of-use/" target="_blank">Terms of Service</a>
    </div>
    <div>© 2021 - <a href="https://www.htmlelements.com/" target="_blank">jQWidgets LTD</a></div>
</div>