<smart-kanban #kanban id="kanban" [collapsible]="collapsible" [currentUser]="currentUser" [dataSource]="dataSource"
    [editable]="editable" [headerPosition]="headerPosition" [locale]="locale" [messages]="messages"
    [rightToLeft]="rightToLeft" [taskActions]="taskActions" [taskComments]="taskComments" [taskDue]="taskDue"
    [taskPriority]="taskPriority" [taskProgress]="taskProgress" [taskTags]="taskTags" [taskUserIcon]="taskUserIcon"
    [userList]="userList" [users]="users" [columns]="columns">
</smart-kanban>