<header>
    <div class="header-container">
        <div class="apps-icon"> <i class="material-icons">

                    apps

                </i>
        </div>
        <div class="header-title-container"> <span class="header-title">

                    Webmail

                </span>
        </div>
        <div class="header-icon-container"> <i class="material-icons">

                    search

                </i>
 <i class="material-icons">

                    notifications

                </i>
 <i class="material-icons">

                    language

                </i>
        </div>
    </div>
</header>
<section class="page-container">
    <div class="smart-grid-layout centered">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <smart-tree #tree id="tree">
                    <smart-tree-items-group>Favorites</smart-tree-items-group>
                    <smart-tree-items-group>Andrew Fuller
                        <smart-tree-item id="inbox">Inbox</smart-tree-item>
                        <smart-tree-item id="clutter">Clutter</smart-tree-item>
                        <smart-tree-item id="drafts">Drafts</smart-tree-item>
                        <smart-tree-item id="sentItems">Sent Items</smart-tree-item>
                        <smart-tree-item id="deletedItems">Deleted Items</smart-tree-item>
                        <smart-tree-item id="archive">Archive</smart-tree-item>
                        <smart-tree-item id="junkMail">Junk Mail</smart-tree-item>
                        <smart-tree-item id="personnel">Personnel</smart-tree-item>
                        <smart-tree-item id="salesReports">Sales Reports</smart-tree-item>
                        <smart-tree-item id="marketingReports">Marketing Reports</smart-tree-item>
                        <smart-tree-item id="trash">Trash</smart-tree-item>
                        <smart-tree-item id="outbox">Outbox</smart-tree-item>
                    </smart-tree-items-group>
                </smart-tree>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="mails-container"></div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="view-mail-container"></div>
            </div>
        </div>
    </div>
</section>