     /* ------------ Google fonts ------------ */

     /* APACHE LICENSE 2.0 ! */

     /* fallback */

     @font-face {
         font-family: 'Material Icons';
         font-style: normal;
         font-weight: 400;
         src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
     }

     .material-icons {
         font-family: 'Material Icons';
         font-weight: normal;
         font-style: normal;
         font-size: inherit;
         line-height: 1;
         letter-spacing: normal;
         text-transform: none;
         display: inline-block;
         white-space: nowrap;
         word-wrap: normal;
         direction: ltr;
         -webkit-font-feature-settings: 'liga';
         -webkit-font-smoothing: antialiased;
     }

     /* ------------ */

     #materialListBoxContainer {
         line-height: 24px;
         font-size: 13px;
         margin-left: 0;
         margin: 0px;
         padding-top: 0px;
     }

     #materialListBoxContainer section h2 {
         border-top: 1px solid rgba(0, 0, 0, .12);
         font-weight: 400;
         font-size: 24px;
         line-height: 40px;
         margin-bottom: 30px;
         color: #3949ab;
         padding-top: 80px;
     }

     @media (max-width: 1026px) {
         #materialListBoxContainer section h2 {
             padding-top: 0px;
         }
     }

     #materialListBoxContainer section:first-of-type h2 {
         font-size: 34px;
         border-top: initial;
     }

     #materialListBoxContainer #usage h2 {
         border-top: initial;
     }

     #materialListBoxContainer section:first-of-type div h2 {
         font-size: 20px;
     }

     #materialListBoxContainer section {
         margin-top: 80px;
     }

     #materialListBoxContainer section:first-of-type {
         margin-top: 0;
     }

     #materialListBoxContainer section div h2 {
         color: #212121;
         font-size: 20px;
         font-weight: 400;
         line-height: 32px;
         margin-bottom: 30px;
         max-width: 940px;
     }

     .smart-demo-container {
         margin: 0;
     }

     #materialListBoxContainer nav {
         display: block;
         border-left: 5px #3949ab solid;
         padding-left: 20px;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         -webkit-font-smoothing: antialiased;
         font: inherit;
         margin-top: 60px;
     }

     #materialListBoxContainer nav ul {
         list-style: none;
         margin-top: 0;
         padding-left: 0;
         margin: 0;
         padding: 0;
         border: 0;
         font: inherit;
         vertical-align: baseline;
         display: block;
         list-style-type: disc;
     }

     #materialListBoxContainer nav li {
         list-style: none;
         margin: 0;
         padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         font-size: 20px;
         line-height: 40px;
     }

     #materialListBoxContainer nav li a {
         text-decoration: none;
     }

     #materialListBoxContainer nav h2 {
         font-size: 15px;
         line-height: 16px;
         padding-bottom: 12px;
         font-weight: 400;
         color: #757575;
         margin: 0;
         padding: 0;
         border: 0;
         font: inherit;
         vertical-align: baseline;
         -webkit-margin-before: 1em;
         -webkit-margin-after: 1em;
         -webkit-margin-start: 0px;
         -webkit-margin-end: 0px;
     }

     .module {
         width: calc(100% / 4);
         display: inline-block;
         font: inherit;
         margin-right: 40px;
         min-width: 355px;
         vertical-align: top;
     }

     .module.gestures {
         width: calc(100% / 2);
     }

     .module h3 {
         font-size: 13px;
     }

     .module p {
         margin-bottom: 20px;
     }

     .module img {
         width: 100%;
     }

     .module h2 {
         font-weight: 400;
     }

     #materialListBoxContainer #usage .module:nth-child(5), #materialListBoxContainer #usage .module:nth-child(6), #materialListBoxContainer #behavior .module:nth-child(5), #materialListBoxContainer #behavior .module:nth-child(6), #materialListBoxContainer #behavior .module:nth-child(7), #materialListBoxContainer #behavior .module:nth-child(8), #materialListBoxContainer #behavior .module:nth-child(9), #materialListBoxContainer #behavior .module:nth-child(10), #materialListBoxContainer #behavior .module:nth-child(11), #materialListBoxContainer #behavior .module:nth-child(12), #materialListBoxContainer #multiLineLists .module:nth-child(4), #materialListBoxContainer #multiLineLists .module:nth-child(5), #materialListBoxContainer #multiLineLists .module:nth-child(6) {
         margin-top: 50px;
     }

     #materialListBoxContainer #indicatorTypes .module:first-of-type {
         width: 100%;
     }

     #materialListBoxContainer #behavior smart-list-box {
         height: 500px;
         width: 300px;
         --smart-material-items-group-border-color: #2693E5;
     }

     #materialListBoxContainer #behavior .horizontal-scrolling, #materialListBoxContainer #behavior #gestureListBox {
         width: 300px;
         height: 300px
     }

     #materialListBoxContainer #gestureListBox .smart-list-item-container {
         width: 100%;
     }

     #materialListBoxContainer #gestureListBox .templateContainer {
         display: flex;
         justify-content: space-between;
         align-content: center;
         width: 270px;
     }

     smart-list-item {
         overflow: visible;
     }

     smart-list-item .smart-container, smart-list-item .smart-content {
         overflow: visible;
     }

     #materialListBoxContainer #gestureListBox .secondLine {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     #materialListBoxContainer #gestureListBox .secondLine {
         width: 50px;
     }

     #materialListBoxContainer #gestureListBox .material-icons {
         font-size: 20px;
     }

     #materialListBoxContainer #gestureListBox .swipe-right .templateContainer {
         flex-direction: row-reverse;
         width: 250px;
     }

     #materialListBoxContainer #gestureListBox .swipe-right-left .firstLine {
         animation: animate-label 0.2s ease-out;
     }

     #materialListBoxContainer #gestureListBox .swipe-left .secondLine {
         transform: translateX(0);
         transition: transform 0.2s ease-out;
     }

     #materialListBoxContainer #gestureListBox .swipe-right .firstLine, #materialListBoxContainer #gestureListBox .swipe-right .secondLine {
         transform: translateX(0);
         animation: show-button 0.2s ease-out;
     }

     @keyframes show-button {
         0% {
             transform: translateX(-100px);
         }
         100% {
             transform: translateX(0px);
         }
     }

     @keyframes animate-label {
         0% {
             transform: translateX(100px);
         }
         100% {
             transform: translateX(0px);
         }
     }

     #materialListBoxContainer #behavior .gestures {
         position: relative;
     }

     #phoneBook smart-list-item, #settingsMenu smart-list-item, #appearance smart-list-item {
         height: 50px;
     }

     #listBoxLight smart-list-item {
         height: 60px;
     }

     #twoLineList smart-list-item, #twoLineCheckList smart-list-item {
         height: 70px;
     }

     #twoLineList smart-list-item .templateContainer, #twoLineCheckList smart-list-item .templateContainer, #listBoxLight smart-list-item .templateContainer {
         align-items: flex-start;
         flex-direction: column;
     }

     #listBoxLight smart-list-item .templateContainer.single-line {
         flex-direction: row;
     }

     #listBoxLight smart-list-item .templateContainer.single-line .secondLine {
         justify-content: flex-end;
     }

     #listBoxLight smart-list-item .templateContainer .secondLine {
         width: 100%;
     }

     .templateContainer {
         width: 250px;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     #materialListBoxContainer #behavior .primaryAction, #materialListBoxContainer #behavior .secondaryAction {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 1px;
     }

     #materialListBoxContainer #behavior .primaryAction .material-icons {
         margin-right: 5px;
     }

     smart-switch-button .smart-thumb:before {
         opacity: 0;
     }

     #materialListBoxContainer #behavior smart-switch-button {
         width: 35px;
         height: 25px;
     }

     #materialListBoxContainer #appearance smart-switch-button {
         width: 35px;
         height: 25px;
     }

     #materialListBoxContainer #phoneBook .material-icons {
         background-position: center;
         background-size: contain;
         background-repeat: no-repeat;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     #gestureListBox smart-button, #phoneBook smart-button {
         color: inherit;
     }

     #materialListBoxContainer #phoneBook .primaryAction .material-icons {
         width: 35px;
         height: 35px;
     }

     #materialListBoxContainer #phoneBook smart-button {
         width: 30px;
         height: 30px;
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(1) .primaryAction .material-icons {
         background-image: url(./images/phonebook/andrew.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(2) .primaryAction .material-icons {
         background-image: url(./images/phonebook/anne.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(3) .primaryAction .material-icons {
         background-image: url(./images/phonebook/avril.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(4) .primaryAction .material-icons {
         background-image: url(./images/phonebook/janet.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(5) .primaryAction .material-icons {
         background-image: url(./images/phonebook/johanna.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(6) .primaryAction .material-icons {
         background-image: url(./images/phonebook/johnny.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(7) .primaryAction .material-icons {
         background-image: url(./images/phonebook/laura.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(8) .primaryAction .material-icons {
         background-image: url(./images/phonebook/margaret.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(9) .primaryAction .material-icons {
         background-image: url(./images/phonebook/Maria.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(10) .primaryAction .material-icons {
         background-image: url(./images/phonebook/mark.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(11) .primaryAction .material-icons {
         background-image: url(./images/phonebook/maya.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(12) .primaryAction .material-icons {
         background-image: url(./images/phonebook/michael.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(13) .primaryAction .material-icons {
         background-image: url(./images/phonebook/monica.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(14) .primaryAction .material-icons {
         background-image: url(./images/phonebook/nancy.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(15) .primaryAction .material-icons {
         background-image: url(./images/phonebook/robert.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(16) .primaryAction .material-icons {
         background-image: url(./images/phonebook/steven.jpeg);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(17) .primaryAction .material-icons {
         background-image: url(./images/phonebook/steven.png);
     }

     #materialListBoxContainer #phoneBook smart-list-item:nth-of-type(18) .primaryAction .material-icons {
         background-image: url(./images/phonebook/toni.jpeg);
     }

     #materialListBoxContainer #multiLineLists .secondLine {
         opacity: 0.5;
         font-size: 12px;
     }

     .swipe-right .secondLine smart-button {
         left: -17px;
         position: relative;
     }

     #materialListBoxContainer .checkList {
         position: relative;
     }

     #materialListBoxContainer .checkList #deleteButton {
         position: absolute;
         top: 77%;
         left: 65%;
         animation: delete-button-appear 0.2s ease-out;
         -webkit-transform-origin: center;
         transform-origin: center;
     }

     #materialListBoxContainer .checkList #deleteButton .material-icons {
         font-size: 25px;
         margin-left: -3px;
     }

     #materialListBoxContainer .checkList #deleteButton.smart-visibility-hidden {
         animation: delete-button-hide 0.2s ease-in;
         transition: animation, visibility 0.2s ease-in;
     }

     #materialListBoxContainer #multiLineLists smart-list-box, #materialListBoxContainer #appearance smart-list-box {
         height: 500px;
         width: 300px;
     }

     #materialListBoxContainer #appearance smart-list-box .secondLine {
         display: flex;
         align-items: center;
         padding: 1px;
         font-size: 12px;
         color: #808080;
     }

     #materialListBoxContainer #appearance smart-list-box .secondLine .material-icons {
         font-size: 18px;
     }

     #materialListBoxContainer #appearance smart-slider {
         width: 100%;
         padding-left: 5%;
         padding-right: 2.5%;
     }

     #materialListBoxContainer #appearance smart-slider .smart-thumb::before {
         content: none;
     }

     @keyframes delete-button-appear {
         0% {
             opacity: 0;
             transform: scale(0, 0) rotate(-180deg);
         }
         50% {
             opacity: 0.5;
             transform: scale(0.5, 0.5) rotate(-90deg);
         }
         100% {
             opacity: 1;
             transform: scale(1, 1) rotate(0deg);
         }
     }

     .smart-demo-container section h2 {
         font-weight: 400;
         font-size: 24px;
         line-height: 40px;
         margin-bottom: 30px;
         color: #764ebe;
     }

     @keyframes delete-button-hide {
         0% {
             opacity: 1;
             transform: scale(1, 1) rotate(0deg);
         }
         50% {
             opacity: 0.5;
             transform: scale(0.5, 0.5) rotate(-90deg);
         }
         100% {
             opacity: 0;
             transform: scale(0, 0) rotate(-180deg);
         }
     }