<smart-docking-layout #dockinglayout id="layout" [layout]="layout"></smart-docking-layout>
<div class="options">
    <div class="caption">Insert Layout</div>
    <div class="option">
        <smart-button #button id="insertLayoutLeft">Left</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="insertLayoutRight">Right</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="insertLayoutTop">Top</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="insertLayoutBottom">Bottom</smart-button>
    </div>
</div>
<br/>
<br/>
<div class="description">Insert Top Level Docking Layout Item on Left, Right, Top, Bottom</div>