@import "_vars";

/* *******************************************
 **************** Navigation *************** *
 ******************************************* */


.navigation-holder {
  .navbar-brand .logo {
    max-width: 200px !important;

    &.logo-dark {
      display: none;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    font-weight: bold;
  }
}


.nav-holder {
  a:hover, a:hover span {
    color: $primary;
  }

  .dropdown-menu {
    a {
      padding: 0.7rem 1rem !important;
      font-weight: normal !important;
    }
  }

  @media screen and (max-width: 991px) {
    width: 100%;
    .navbar-nav {
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      padding: 15px;
      border-radius: 3px;
      width: 100%;

      .dropdown-menu {
        padding: 0 0 0 20px;
        border: 0;
        margin-bottom: 10px;

        a {
          padding: 0.7rem 1rem !important;
          font-weight: normal !important;
        }
      }
    }
  }
}

.navbar-toggler {
  border: 1px solid black;
  padding: 5px;
  outline: 0 !important;
}
