@import "_vars";
/* *******************************************
 **************** Sections *************** *
 ******************************************* */
@import "vars";


/* *******************************************
 ************** Section ************** *
 ******************************************* */

.section {
  min-height: 100px;
  padding: 30px 0;
}


/* *******************************************
 ************** Layout 1 ************** *
 ******************************************* */

.layout-1 {
  .card {
    height: 100%;
    background: $body-bg;
    border: 0;
    padding: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    .stamp {
      margin-left: 0;
      margin-bottom: 30px;
      color: $textLight;
      font-size: 35px;

      i {
        color: $textDark;
      }

      @media screen and (max-width: 767px) {
        font-size: 30px;
        width: 80px;
        height: 60px;
        padding: 0;
        margin-bottom: 0;
      }
    }

    &.dark {
      background: $primary;

      h1, h2, h3, h4, p {
        color: $textLight;
      }

      i {
        color: $textLight;
      }
    }

    &:hover {
      background: $primary;

      h1, h2, h3, h4, p {
        color: $textLight;
      }

      i {
        color: $textLight;
      }
    }
  }
}

/* *******************************************
 ************** Layout 2 ************** *
 ******************************************* */
.layout-2 {
  min-height: 100px;
  padding: 30px 0;

  .info-holder {
    z-index: 9;
    background: $body-bg;
    padding: 50px 70px;
    border: 1px solid rgba(red($silver), green($silver), blue($silver), 0.3);
  }

  .flexbox-container {
    justify-content: center;
  }

  .left-side {
    padding: 120px 60px;
    min-height: 550px;

    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $textDark;
  }

  p {
    margin-bottom: 10px;
  }

  .img-holder {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen and (max-width: 1199px) {

  }

  @media screen and (max-width: 991px) {

    .left-side {
      min-height: auto;
      padding: 10px;
    }

    p {
      text-align: center;
    }

    .img-holder {
      padding-top: 56.25%; /* 16:9 Aspect Ratio */
      //padding-top: 75%; /* 4:3 Aspect Ratio */
    }

    .flexbox-container {
      flex-direction: column-reverse;
    }

    .info-holder {
      padding: 50px 20px;
    }
  }
}

/* *******************************************
 ************** Layout 3 ************** *
 ******************************************* */
.layout-3 {
  min-height: 100px;
  padding: 30px 0;

  .info-holder {
    z-index: 9;
    background: $body-bg;
    padding: 50px 70px;
    border: 1px solid rgba(red($silver), green($silver), blue($silver), 0.3);
  }

  .flexbox-container {
    //align-items: center;
    justify-content: center;
  }

  .right-side {
    padding: 120px 60px;
    min-height: 550px;

    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $textDark;
  }

  p {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 991px) {

    .right-side {
      min-height: auto;
      padding: 10px;
    }

    p {
      text-align: center;
    }

    .flexbox-container {
      flex-direction: column;
    }
  }

  .img-holder {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen and (max-width: 991px) {
    .img-holder {
      padding-top: 56.25%; /* 16:9 Aspect Ratio */
      //padding-top: 75%; /* 4:3 Aspect Ratio */
    }

    .info-holder {
      padding: 50px 20px;
    }
  }
}

/* *******************************************
 ************** Layout 4 ************** *
 ******************************************* */
.layout-4 {
  position: relative;
  z-index: 9;

  .background-image-holder {
    -webkit-background-size: cover;
    background-size: cover;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(red($primary), green($primary), blue($primary), .8);
      content: '';
      width: 100%;
      height: 100%;
      z-index: 1;
      visibility: hidden;
    }
  }

  .icon-holder {
    color: $textLight;
    margin-top: 10px;
    margin-bottom: 20px;

    i, span {
      font-size: 45px;
      color: $textLight;
      display: block;
    }
  }

  .square {
    position: relative;
    width: 100%;
    z-index: 2;
    visibility: hidden;

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      p {
      }
    }
  }

  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .background-image-holder {
    &:hover {
      cursor: pointer;

      .square {
        visibility: visible;
      }

      &:before {
        visibility: visible;
      }
    }
  }

  ul.socials {
    margin: 0 0 20px 0;
    padding: 0;
  }

  ul.socials li {
    margin: 0 2px;
    list-style-type: none;
    display: inline;
  }

  ul.socials li a,
  ul.socials li a:hover {
    color: $textLight;
    background: transparent;
    font-size: 24px;
  }

  ul.socials li a:hover {
    color: rgba(red($textLight), green($textLight), blue($textLight), 0.5)
  }

  .socials-holder {
    position: absolute;
    bottom: 0;
  }

}
