<div class="demo-description">DataGrid supports Filtering of hierarchical data. When a child element
    is visible, all its ancestors should also be visible. The filter applied
    to the DataGrid is [ 'FirstName', 'contains Michael or contains Nancy'
    ], which means it will display all records with 'FirstName' equal to 'Michael'
    or 'Nancy'. As 'Michael' and 'Nancy' are sub-records of 'Andrew' and 'Steven',
    they are displayed in the view.</div>
<smart-grid [dataSource]="dataSource" [behavior]="behavior" [columns]="columns" [onRowInit]="onRowInit" [filtering]="filtering" [sorting]="sorting" #grid id="grid"></smart-grid>