smart-docking-layout {
    width: 100%;
    height: 600px;
    --smart-splitter-item-size: 50%;
}

#saveState {
    margin-left: 65%;
}

.smart-window smart-carousel,
.smart-window smart-multiline-text-box,
.smart-window smart-gauge,
.smart-window smart-tank {
    width: 100%;
    height: 100%;
    border: none;
}

    .smart-window smart-carousel .smart-carousel-item .smart-carousel-item-container {
        background-size: cover;
    }

.smart-window smart-tab-item > .smart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smart-window smart-multiline-text-box {
    color: black;
}

.smart-window smart-progress-bar {
    margin-right: 5px;
}

#saveCurrentState {
    width: 150px;
}
