<smart-menu #menu id="menu" [checkboxes]="true">
    <smart-menu-items-group>
        File
        <smart-menu-item [shortcut]="'Ctrl+N'">New</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+0'">Open</smart-menu-item>
        <smart-menu-items-group>
            Open Containing Folder
            <smart-menu-item>Explorer</smart-menu-item>
            <smart-menu-item>cmd</smart-menu-item>
        </smart-menu-items-group>
        <smart-menu-item [shortcut]="'Ctrl+S'" [disabled]="true">Save</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+Alt+S'" [separator]="true">Save As...</smart-menu-item>
        <smart-menu-item [shortcut]="'Alt+F4'">Exit</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Edit
        <smart-menu-item [shortcut]="'Ctrl+Z'">Undo</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+Y'" [separator]="true">Redo</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+X'">Cut</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+C'">Copy</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+V'" [disabled]="true">Paste</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group [checkable]="true" [checkMode]="'checkbox'">
        View
        <smart-menu-item [shortcut]="'Ctrl+W, S'" [checked]>Solution Explorer</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+\, Ctrl+M'" [checked]>Team Explorer</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+W, L'">Server Explorer</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group [checkable]="true" [checkMode]="'radioButton'">
        Encoding
        <smart-menu-item>Encode in ANSI</smart-menu-item>
        <smart-menu-item>Encode in UTF-8</smart-menu-item>
        <smart-menu-item>Encode in UTF-8-BOM</smart-menu-item>
        <smart-menu-item>Encode in UTCS-2 BE BOM</smart-menu-item>
        <smart-menu-item>Encode in UTCS-2 LE BOM</smart-menu-item>
    </smart-menu-items-group>
</smart-menu>