.kanban-tasks1 {
    #kanban {
        border: none;
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    #kanban .smart-kanban-column-header {
        --smart-border: var(--smart-outline);
    }

    #kanban .smart-kanban-task {
        background-color: var(--light);
    }
}
