table {
    padding-left: 30px;
    padding-top: 10px;
}

body {
	height: 800px;
}
smart-chart {
	width: 65%;
}
@media only screen and (max-width: 600px) {
	smart-chart {  
	   width: 100%;
	}
}
smart-slider {
    width: 200px;
    height: 50px;
}
