<div class="demo-description">Gantt Chart fully supports right-to-left (RTL) language locales. You can
    enable/disable the right-to-left support using rightToLeft property.</div>
<smart-gantt-chart
#ganttchart [rightToLeft]="true" [view]="'month'" [locale]="'he'" [dataSource]="dataSource"></smart-gantt-chart>
    <div class="options">
         <h3>Gantt Right To Left</h3>
        <div class="option">
            <smart-check-box #checkbox [checked]="true">Right To Left</smart-check-box>
        </div>
    </div>