@inject IJSRuntime jsRuntime

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorEmployees</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">All</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="salaried">Salaried</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="commission">Commission</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contract">Contract</NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await setTitle();
    }

    private async Task setTitle()
    {
        await jsRuntime.InvokeVoidAsync("setTitle", "Employees" );
    }
}

<style>
    li.nav-item a {
        color: #5c5d5f !important;
    }
</style>