<div class="container">
    <div class="row mb-5">
        <div class="col-md-6">
            <div class="row row-mx-10 h-100">
                <div class="col-md-6 col-px-10 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h6 class="font-weight-bold mb-0">Visitors</h6>
                                </div>
                                <div class="col text-right">
                                    <span class="smart-badge smart-badge-success">Today</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h5 class="mb-0">5.305</h5>
                                </div>
                                <div class="col text-right">
                                    <span class="">91%</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center">
                                <div class="col-12">
                                    <smart-progress-bar value="91" class="success"></smart-progress-bar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-px-10 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h6 class="font-weight-bold mb-0">Bounce</h6>
                                </div>
                                <div class="col text-right">
                                    <span class="smart-badge smart-badge-warning">Annaul</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h5 class="mb-0">809</h5>
                                </div>
                                <div class="col text-right">
                                    <span class="">23%</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center">
                                <div class="col-12">
                                    <smart-progress-bar value="23" class="warning"></smart-progress-bar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-px-10 mb-5 mb-md-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h6 class="font-weight-bold mb-0">Real-Time</h6>
                                </div>
                                <div class="col text-right">
                                    <span class="smart-badge smart-badge-primary">Monthly</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h5 class="mb-0">17.380</h5>
                                </div>
                                <div class="col text-right">
                                    <span class="">50%</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center">
                                <div class="col-12">
                                    <smart-progress-bar value="50" class="primary"></smart-progress-bar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-px-10 mb-5 mb-md-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h6 class="font-weight-bold mb-0">Activity</h6>
                                </div>
                                <div class="col text-right">
                                    <span class="smart-badge smart-badge-info">Yearly</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center mb-5">
                                <div class="col">
                                    <h5 class="mb-0">992</h5>
                                </div>
                                <div class="col text-right">
                                    <span class="">41%</span>
                                </div>
                            </div>

                            <div class="row justify-content-between align-items-center">
                                <div class="col-12">
                                    <smart-progress-bar value="41" class="info"></smart-progress-bar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Real-Time</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body">
                    <div id="visitorsMap" class="mh-250 h-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Languages</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body maxh-300">
                    <div id="languagesTable" class="no-border"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Mobile / Desktop</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body">
                    <div id="devicesChart" class="w-100 h-100"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Interests</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body">
                    <div id="interestsChart" class="w-100 h-100"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Source</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body">
                    <div id="sourceChart" class="combo-chart w-100 h-auto p-0 mb-3"></div>
                    <div id="sourceTable" class="small-table no-border w-100"></div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Traffic</h4>
                    <div class="settings-button material-icons">expand_more</div>
                </div>
                <div class="card-body maxh-350">
                    <div id="trafficTable" class="table-striped no-border"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate"></smart-menu-item>
    <smart-menu-item>First action</smart-menu-item>
    <smart-menu-item>Second action</smart-menu-item>
    <smart-menu-item separator>Third action</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>

<template id="settingsTemplate">SETTINGS</template>