#tableContainer {
    position: relative;
    width: 100%;
    height: auto;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    font-size: 23px;
    cursor: pointer;
}

#addNewRow {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v52/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}