html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#listMenu {
    --smart-font-size: 30px;
    --smart-list-menu-header-height: 100px;
    --smart-list-menu-filter-input-size: 100px;
    width: 100%;
    height: 100%;
}

    #listMenu smart-button {
        width: 100px;
    }

p {
    white-space: initial;
}
