<smart-filter-builder></smart-filter-builder>
<smart-window #window id="valueToString"></smart-window>
<div id="filterQueryBox">
    <smart-text-box #textbox id="addPosition" placeholder="Item id"></smart-text-box>
    <br />
     <h3>Group</h3>
    <smart-text-box #textbox2 id="addGroupRule" placeholder="Group Rule"></smart-text-box>
    <br />
    <smart-button #button id="addGroupButton">Add Group</smart-button>
    <br />
    <smart-button #button2 id="updateGroupButton">Update Group</smart-button>
    <br />
    <smart-button #button3 id="removeGroupButton">Remove Group</smart-button>
    <hr />
     <h3>Condition</h3>
    <smart-drop-down-list #dropdownlist id="addConditionField" placeholder="Field Name"
    selection-mode="zeroOrOne"></smart-drop-down-list>
    <br />
    <smart-drop-down-list #dropdownlist2 id="addConditionRule" placeholder="Rule"
    selection-mode="zeroOrOne"></smart-drop-down-list>
    <br />
    <smart-text-box #textbox3 id="addConditionValue" placeholder="Value"></smart-text-box>
    <br />
    <smart-button #button4 id="addConditionButton">Add Condition</smart-button>
    <br />
    <smart-button #button5 id="updateConditionButton">Update Condition</smart-button>
    <br />
    <smart-button #button6 id="removeConditionButton">Remove Condition</smart-button>
    <br />
    <smart-button #button7 id="toStringButton">Value To String</smart-button>
</div>