<h3>Horizontal Switch Button</h3>
<smart-switch-button #switchbutton [switchMode]="'click'"></smart-switch-button>
<br />
<smart-switch-button #switchbutton2 [switchMode]="'default'"></smart-switch-button>
<br />
<smart-switch-button #switchbutton3 [switchMode]="'drag'"></smart-switch-button>
<br />
<smart-switch-button #switchbutton4 [checked]="null" [switchMode]="'click'"></smart-switch-button>
 <h3>Vertical Switch Button</h3>
<smart-switch-button #switchbutton5 [orientation]="'vertical'" [switchMode]="'click'"></smart-switch-button>
<smart-switch-button #switchbutton6 [checked]="null"
[orientation]="'vertical'" [switchMode]="'click'"></smart-switch-button>