<smart-grid #grid [dataSource]="dataSource" [columns]="columns" id="grid"></smart-grid>
<div class="options">
    <div class="caption"></div>
    <div class="option">
        <smart-button #button id="xlsxBtn">Export to Excel</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="pdfBtn">Export to PDF</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="htmlBtn">Export to HTML</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="csvBtn">Export to CSV</smart-button>
    </div>
    <div class="option">
        <smart-button #button5 id="tsvBtn">Export to TSV</smart-button>
    </div>
    <div class="option">
        <smart-button #button6 id="xmlBtn">Export to XML</smart-button>
    </div>
</div>