body {
    margin: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #fafafa;
    font-weight: 100;
    --smart-primary: #4CAF50;
    --smart-surface: white;
}

smart-menu {
    --smart-menu-default-width: calc(100% - 300px);
    --smart-surface: transparent;
    --smart-surface-color: white;
    --smart-background: #4CAF50;
    --smart-background-color: white;
    --smart-border-width: 0;
    --smart-elevation-4: none;
    --smart-ui-state-focus: transparent;
    --smart-ui-state-color-focus: white;
    --smart-ui-state-hover: transparent;
    --smart-ui-state-border-hover: white;
    --smart-ui-state-color-hover: #ccc;
}

smart-grid {
    --smart-border: transparent;
    --smart-grid-cell-horizontal-border: #ebebeb;
    --smart-grid-default-width: 100%;
    --smart-grid-default-height: auto;
}

/* Header */
header {
    width: 100%;
    font-weight: bold;
    background: #4CAF50;
    box-sizing: border-box;
    z-index: 1;
}

    header h1 {
        color: white;
    }

.header-container {
    margin: 0 5%;
    display: flex;
    align-items: center;
}
    /* Header ^ */

    /* Menu */
    .header-container .smart-menu .smart-hamburger-icon-line {
        background: white;
    }

    .header-container smart-menu-item.active-item {
        color: #ccc;
        border-bottom: 2px solid #ccc;
    }

    .header-container .smart-menu .smart-menu-main-container {
        flex-direction: row-reverse;
    }

.recent-tickets-card,
.maps-card {
    width: 100%;
}

    .recent-tickets-card  .title,
    .maps-card  .title {
        padding: 10px;
        font-size: 16px;
    }

.top-qa-card {
    border: 1px solid #ebebeb;
    position: relative;
}

    .top-qa-card.active {
        border: 1px solid #4CAF50;
        background: #D2ECD3;
    }

#recentTickets smart-grid-cell {
    padding-top: 37px;
    line-height: normal;
    white-space: normal;
}

.top-qa-card .title {
    font-weight: bold;
    padding: 5px;
}

.top-qa-card,
.top-qa-card:hover {
    box-shadow: none;
}

    .top-qa-card .image img {
        float: left;
        padding: 10px;
        width: 100px;
        height: 70px;
    }

    .top-qa-card .points {
        position: absolute;
        font-weight: bold;
        font-size: 16px;
        padding: 10px;
        top: 0;
        right: 0;
    }

#map,
#example-map {
    position: relative;
    overflow: hidden;
    display: block;
    height: 400px;
    width: 100%;
}

.rating {
    margin-top: 10px;
}

smart-rating {
    --smart-primary: #94A1B3;
    --smart-secondary: #FDBF4C;
    --smart-font-size: 16px;
}

    smart-rating .rating-star.hover {
        --smart-secondary: #FFD700;
    }

        smart-rating .rating-star.hover::after,
        smart-rating .rating-star.active.hover::after {
            color: #FFD700;
        }

.status-open {
    color: #1CA1C1;
}

.status-pending {
    color: #E2574C;
}

.status-complete {
    color: #41ad7c;
}


/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#root > div {
    width:100%;
    height: 100%;
}