<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Checkout page layout example</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>

    <link rel="stylesheet" type="text/css" href="../../source/styles/smart.default.css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />

	
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.2.0/webcomponents-lite.js"></script>
    <script type="text/javascript" src="../../source/smart.element.js"></script>
    <script type="text/javascript" src="../../source/smart.button.js"></script>
    <script type="text/javascript" src="../../source/smart.checkbox.js"></script>
    <script type="text/javascript" src="../../source/smart.chip.js"></script>
    <script type="text/javascript" src="../../source/smart.card.js"></script>
    <script type="text/javascript" src="../../source/smart.scrollbar.js"></script>
    <script type="text/javascript" src="../../source/smart.listbox.js"></script>
    <script type="text/javascript" src="../../source/smart.dropdownlist.js"></script>
    <script type="text/javascript" src="../../source/smart.combobox.js"></script>
    <script type="text/javascript" src="../../source/smart.textbox.js"></script>
    <script type="text/javascript" src="../../source/smart.breadcrumb.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <header>
        <div class="logo">Company name</div>
    </header>

    <smart-card id="card">
        <h1>Checkout</h1>
        <!--<smart-breadcrumb id="breadcrumb"></smart-breadcrumb>-->
        <smart-breadcrumb id="breadcrumb" data-source='[{ "label": "Shipping address", "value": "checked" }]' item-template="breadcrumbTemplate" step="1"></smart-breadcrumb>

        <section id="address">
            <h2>Shipping address</h2>

            <form>
                <smart-text-box label="First name*" id="firstName"></smart-text-box>
                <smart-text-box label="Last name*" id="lastName"></smart-text-box>

                <smart-text-box label="Address line 1*" id="address1"></smart-text-box>
                <smart-text-box label="Address line 2" id="address2"></smart-text-box>

                <smart-text-box label="City*" id="city"></smart-text-box>
                <smart-text-box label="State/Province/Region" id="state"></smart-text-box>

                <smart-text-box label="Zip / Postal code*" id="zip"></smart-text-box>
                <smart-text-box label="Country*" id="country"></smart-text-box>

                <smart-check-box enable-container-click>Use this address for payment details</smart-check-box>
            </form>
        </section>

        <section id="details">
            <h2>Payment method</h2>

            <form>
                <smart-text-box label="Name on card*" id="nameOnCard"></smart-text-box>
                <smart-text-box label="Card number*" id="cardNumber"></smart-text-box>

                <smart-text-box label="Expiry date*" id="expiry"></smart-text-box>
                <smart-text-box label="CVV*" hint="Last three digits on signature strip" id="ccv"></smart-text-box>

                <smart-check-box enable-container-click>Remember credit card details for next time</smart-check-box>
            </form>
        </section>
        
        <section id="order">
            <h2>Order summary</h2>

            <table id="orderSumary">
                <tr>
                    <td>Product 1 A nice thing</td>
                    <td>$9.99</td>
                </tr>
                <tr>
                    <td>Product 2 Another thing</td>
                    <td>$3.45</td>
                </tr>
                <tr>
                    <td>Product 3 Something else</td>
                    <td>$6.51</td>
                </tr>
                <tr>
                    <td>Product 4 Best thing of all</td>
                    <td>$14.11</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td id="total">$34.06</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Shipping</th>
                    <th>Payment details</th>
                    <th></th>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>Card type</td>
                    <td>Visa</td>
                </tr>
                <tr>
                    <td>1 Material-UI Drive, Reactville,</td>
                    <td>Card holder</td>
                    <td>Mr John Smith</td>
                </tr>
                <tr>
                    <td>Anytown, 99999, USA</td>
                    <td>Card number</td>
                    <td>xxxx-xxxx-xxxx-1234</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Expiry date</td>
                    <td>04/2024</td>
                </tr>
            </table>
        </section>

        <section id="sumary">
            <h2>Thank you for your order.</h2>
            <p>
                Your order number is #2001539. 
                We have emailed your order confirmation, 
                and will send you an update when your order has shipped.
            </p>
        </section>

        <div class="buttons-container">
            <smart-button id="prev" class="flat smart-hidden">BACK</smart-button>
            <smart-button id="next" class="primary">NEXT</smart-button>
            <smart-button id="placeOrder" class="primary smart-hidden">PLACE ORDER</smart-button>
        </div>
    </smart-card>

    <template id="breadcrumbTemplate">
        <i class="material-icons breadcrumb-circle"></i> {{label}}
    </template>
</body>
</html>