<div class="demo-description">CardView can operate in virtual mode, which greatly reduces the number
    of html elements on the web page and the start-up time when working with
    the component. In this demo, the CardView's data source is 1000 records.
    While you scroll, cards data is updated dynamically by the component depending
    on the scroll position and record index.</div>
    <smart-card-view [cellOrientation]="cellOrientation" [coverMode]="coverMode" [scrolling]="scrolling" [coverField]="coverField" [titleField]="titleField" [dataSource]="dataSource" [columns]="columns" #cardview id="cardView"></smart-card-view>
