@import "_vars";

/* *******************************************
 ************* jQWidgets Changes *********** *
 ******************************************* */

//----------------------------------------------------/
// Overwrite Smart Elements Design
//----------------------------------------------------/

/* Fix buttons on mobile safari */
button, [type="button"], [type="reset"], [type="submit"] {
  &.smart-button {
    -webkit-appearance: unset !important;
  }
}

/* Smart Scrollbars */
.sidebar {
  --smart-scroll-bar-size: 5px; /* Default scrollbar size */

  .smart-scroll-viewer {
    .smart-scroll-bar {
      .smart-container {
        .smart-track {
          height: 100% !important;
          background: var(--sidebar-background);

          .smart-thumb {
            background: var(--dark);
            opacity: 0.5;
          }
        }

        .smart-scroll-button {
          display: none !important;
        }
      }
    }

    &:hover {
      .smart-thumb {
        opacity: 1;
      }
    }
  }
}

/* Smart ProgressBar */

.smart-progress-bar,
smart-progress-bar {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;

  .smart-container {
    border: 0;
    background: #e9ecef;
  }

  .smart-label {
    //color: var(--white);
    color: transparent;
  }
}

.smart-circular-progress-bar,
smart-circular-progress-bar {
  .smart-label {
    color: var(--dark);
    font-size: 30px !important;
    font-weight: 700 !important;
  }
}

.smart-circular-progress-bar.smart-container,
.smart-progress-bar.smart-container,
smart-circular-progress-bar > .smart-container,
smart-progress-bar > .smart-container {
  background: var(--light);
}

/* Smart Menu */
.smart-menu-item,
.smart-menu-items-group {
  white-space: unset;
}

.smart-menu.smart-custom-dropdown-menu {
  background: var(--white);
  border: 0 solid rgba(0, 0, 0, .15);
  border-radius: .42rem;
  -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
  transform-origin: top right;

  &[mode="dropDown"] {
    transform-origin: top right;
    max-width: 300px;
    width: auto;
    height: auto !important;
  }

  smart-menu-item:not(:last-child) {
    border-bottom: 1px solid var(--smart-border);
  }

  .menu-footer:hover {
    cursor: pointer;
  }

  .menu-header .smart-menu-item-label-element > span,
  .menu-footer .smart-menu-item-label-element > span {
    justify-content: center;
  }
}

/* Smart Tooltip */
.smart-tooltip {
  box-shadow: unset !important;

  .smart-tooltip-content {
    box-shadow: unset !important;
    color: var(--white) !important;
    background: var(--dark) !important;
  }
}

/* Other */
.smart-form {
  background: var(--smart-background);
}

.smart-button.primary {
  a {
    color: var(--smart-primary-color);
    text-decoration: none;
  }
}


.smart-element {
  .smart-button,
  &.smart-button {
    outline: unset;
  }

  &.close {
    font-size: inherit;
    opacity: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    line-height: inherit;
    float: inherit;
    color: inherit;
  }
}


.smart-check-input,
.smart-date-input,
.smart-date-range-input,
.smart-input,
.smart-multi-combo-input,
.smart-multi-input,
.smart-number-input,
.smart-password-input,
.smart-text-box,
.smart-time-input {
  textarea,
  input {
    background: var(--smart-background);
  }

  &.smart-element {
    background: var(--smart-background);
  }
}


.smart-badge {
  font-size: .75rem;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: .25rem;
}


smart-tab-item.smart-tab-item {
  > .smart-container {
    padding: 15px;
  }
}

.smart-invalid.smart-input.outlined:not([focus]) .smart-input,
.smart-invalid.smart-input.outlined:not([focus]) .smart-input:not(:focus):placeholder-shown {
  border-top: 1px solid;
  z-index: 5;
}

.smart-drop-down-box.outlined {
  padding-top: 5px;

  > .smart-container > .smart-content {
    padding: 3px 3px;
  }
}

.smart-toggle-box .smart-overlay {
  left: 0;
}

.smart-error-holder {
  padding: var(--smart-button-padding);
}

.card .card-header,
.smart-element {
  .pill {
    padding: 3px 7px;
    border-radius: 15px;
    font-size: 12px;
    color: var(--white);
    display: inline-block;
    line-height: 1.5;
  }
}


.smart-element {
  .tooltip {
    font-family: inherit;
    opacity: unset;
    font-size: inherit;
    position: unset;
  }
}

.input-group-text {
  padding: 0 0.75rem;
  padding-top: 0;
  padding-bottom: 0;
}

.form-control {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.hover-text-primary:hover {
  color: var(--smart-primary) !important;

  .smart-element.smart-button {
    border-color: var(--smart-primary);
    color: var(--smart-primary);
  }
}

.hover-text-secondary:hover {
  .smart-element.smart-button {
    border-color: var(--smart-secondary);
    color: var(--smart-secondary);
  }
}

.hover-text-success:hover {
  .smart-element.smart-button {
    border-color: var(--smart-success);
    color: var(--smart-success);
  }
}

.hover-text-danger:hover {
  .smart-element.smart-button {
    border-color: var(--smart-error);
    color: var(--smart-error);
  }
}

.hover-text-warning:hover {
  .smart-element.smart-button {
    border-color: var(--smart-warning);
    color: var(--smart-warning);
  }
}

.hover-text-info:hover {
  .smart-element.smart-button {
    border-color: var(--smart-info);
    color: var(--smart-info);
  }
}

.hover-text-light:hover {
  .smart-element.smart-button {
    border-color: var(--white);
    color: var(--white);
  }
}

.hover-text-dark:hover {
  .smart-element.smart-button {
    border-color: var(--smart-dark);
    color: var(--smart-dark);
  }
}


//----------------------------------------------------/
// Some Structures
//----------------------------------------------------/
#content {
  min-height: calc(100vh - var(--header-height) - var(--subheader-height) - 50px);
}

.smart-button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.content {
  .btn-icon,
  .smart-button.smart-button-icon {
    .material-icons {
      line-height: 0;
      margin-inline-end: 6px;
    }
  }
}

.appointment {
  position: relative;
  padding: 20px;
  padding-top: 0;
  padding-left: 40px;

  p {
    margin: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 1px;
    height: 100%;
    background-color: var(--smart-border);
  }

  &:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    border: 3px solid var(--smart-primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--smart-background);
  }

  &:first-child {
    margin-top: 20px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  > .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    > span {
      font-size: 12px;
      opacity: 0.8;
    }
  }
}


.header-menu {
  display: grid;
  grid-template-columns: 1fr 35px 35px;
  grid-template-rows: 35px 35px;
  grid-template-areas:
        "welcome welcome welcome"
        "today filter refresh";
  gap: 5px;
  justify-content: start;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr auto 35px 35px;
    grid-template-rows: 35px;
    grid-template-areas:
            "welcome today filter refresh";
  }

  .welcome {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-area: welcome;
  }


  smart-button {
    --smart-button-padding: 5px;
  }

  .today-button {
    margin-left: auto;
    width: 133px;
    grid-area: today;

    button {
      display: flex;
      align-items: center;

      > * {
        margin: 0 5px;
      }
    }
  }


  .smart-button:last-child {
    grid-area: refresh;
  }

  .smart-button:nth-last-child(2) {
    grid-area: filter;
  }
}

.smart-menu[mode=dropDown]:not([animation=none]) {
  transition: unset;

  -webkit-transform-origin: unset;
  transform-origin: unset;
}

.smart-element-transparent {
  .smart-element {
    &.smart-table,
    &.smart-calendar,
    &.smart-chart {
      background: transparent !important;
    }

    rect {
      fill: transparent !important;
    }
  }
}

smart-table.table-bordered{
  border: 0;
}