smart-gantt-chart {
  display: block;
  width: var(--smart-gantt-chart-default-width);
  height: var(--smart-gantt-chart-default-height);
  contain: content;

  &:not([animation="none"]) {
    .smart-timeline-task-cell,
    .smart-timeline-resource-cell {
      transition: background ease-in-out 0.28s;
    }
  }
}

smart-gantt-chart,
.smart-gantt-chart {
  .smart-splitter {
    //Necessary in order to set the default size of the Splitters inside the GanttChart

    /*width: auto;*/
    width: 100%;
    height: 100%;
    border: none;
    border-radius: initial;
  }
}

smart-gantt-chart > .smart-container,
.smart-gantt-chart.smart-container {
  overflow: hidden;

  &:not(.hscroll) {
    //Hides the resize trigger
    margin-bottom: -3px;
  }
}


.smart-container .smart-resource-splitter > .smart-resize-trigger-container {
  margin-bottom: -2px;
}

.smart-gantt-chart {
  smart-splitter {
    smart-splitter-bar {
      overflow: visible;
      min-width: 1px;
      width: 1px;
      //In order to pick the splitter bar's pseudo element from both sides to drag it z-index is necessary
      z-index: 1;
    }

    .smart-splitter-bar-feedback {
      //In order to pick the splitter bar's pseudo element from both sides to drag it z-index is necessary
      z-index: 1;
    }

    &:not([orientation="horizontal"]) {
      &.transition-scroll-bars {
        smart-splitter-bar {
          transition: height 0.2s ease-in;
        }
      }
    }

    &[orientation="horizontal"] {
      > .smart-container > smart-splitter-bar {
        min-height: 5px;
        height: 5px;
        /*background-color: var(--smart-border);*/
      }
    }
  }

  smart-splitter-item {
    background-color: var(--smart-background);

    &.smart-timeline-splitter-item {
      > .smart-container,
      > .smart-container > .smart-content {
        overflow: hidden;
      }
    }
  }

  smart-splitter-bar {
    .smart-splitter-resize-button {
      display: none;
    }
  }

  smart-scroll-viewer {
    width: 100%;
    height: 100%;
    border: none;
    padding: initial;
  }

  smart-tree {
    .smart-tree-item-label-container {
      height: var(--smart-gantt-chart-task-default-height);
    }

    &[selection-mode="checkBox"],
    &[selection-mode="radioButton"] {
      smart-tree-item,
      smart-tree-items-group > .smart-tree-item-label-container {
        border-radius: 0;
      }
    }

    &:not([selection-display-mode="label"]) {
      smart-tree-items-group {
        > .smart-tree-item-label-container {
          border-bottom-width: var(--smart-border-width);
          border-bottom-style: solid;
          border-top-color: var(--smart-border);
          border-bottom-color: var(--smart-border);
        }
      }

      &:not([selection-mode="checkBox"]):not([selection-mode="radioButton"]) {
        smart-tree-item[selected],
        smart-tree-items-group[selected] > .smart-tree-item-label-container {
          border-top-color: var(--smart-border);
          border-bottom-color: var(--smart-border);
        }
      }
    }
  }

  smart-tree-item {
    &:not([selected]) {
      border-radius: 0;
    }
  }

  smart-tree-items-group {
    &:not([selected]) {
      > .smart-tree-item-label-container {
        border-radius: 0;
      }
    }
  }

  > .smart-container,
  &.smart-container {
    position: relative;

    &.hscroll > smart-splitter {
      height: calc(100% - var(--smart-scroll-bar-size));
    }

    > .smart-popup-window-modal {
      position: absolute;
      opacity: 0.5;
      background-color: var(--smart-disabled);
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: calc(var(--smart-editor-drop-down-z-index) - 1);
    }
  }

  .smart-splitter {
    > .smart-container {
      > smart-splitter-bar {
        > .smart-container {
          transform: scaleX(5);
          transform-origin: left;
        }
      }
    }

    &:not([dragged]) {
      smart-splitter-bar.smart-element {
        background-color: var(--smart-border);
      }
    }

    &[orientation="horizontal"] {
      > .smart-container {
        > smart-splitter-bar {
          > .smart-container {
            transform: scaleY(2.5);
            transform-origin: center;
          }
        }
      }
    }
  }

  .smart-splitter-item {
    &[sort] {
      .smart-task-tree-content,
      .smart-resource-tree-content {
        background: var(--smart-grid-cell-background-sort);
        color: var(--smart-grid-cell-color-sort);
      }
    }

    &[sort="asc"] {
      .smart-task-tree-header,
      .smart-resource-tree-header {
        &:after {
          transform: rotate(180deg) scale(1);
        }
      }
    }

    &[sort="desc"] {
      .smart-task-tree-header,
      .smart-resource-tree-header {
        &:after {
          transform: rotate(0) scale(1);
        }
      }
    }
  }

  .smart-splitter-bar-feedback {
    &[vertical] {
      width: 1px;
    }

    &[horizontal] {
      height: 5px;
    }
  }

  .smart-tree {
    --smart-tree-default-width: auto;
    --smart-tree-default-height: 100%;
    --smart-tree-item-label-height: calc(var(--smart-gantt-chart-task-default-height) - var(--smart-border-width));
    --smart-tree-item-vertical-offset: 0;
    --smart-tree-item-horizontal-offset: 0;
    --smart-item-border-width: 0;
    --smart-item-border-top-left-radius: 0;
    --smart-item-border-top-right-radius: 0;
    --smart-item-border-bottom-left-radius: 0;
    --smart-item-border-bottom-right-radius: 0;
    --smart-background: transparent;
    border: none;

    .smart-resize-trigger-container {
      display: none;
    }
  }

  .smart-tree-splitter {
    --smart-border-top-left-radius: 0;
    --smart-border-top-right-radius: 0;
    --smart-border-bottom-left-radius: 0;
    --smart-border-bottom-right-radius: 0;

    --smart-splitter-bar-fit-size: var(--smart-gantt-chart-task-tree-splitter-bar-fit-size);

    smart-splitter-bar {
      --smart-splitter-bar-background: var(--smart-border);
    }

    smart-splitter-item {
      > .smart-container {
        > .smart-content {
          padding: 0;
          overflow: hidden;
        }
      }
    }

    smart-tree-item[assigned],
    smart-tree-items-group[assigned] > .smart-tree-item-label-container {
      /*border-color: #{'rgba(var(--smart-primary-rgb), .05)'};*/
      background-color: #{'rgba(var(--smart-primary-rgb), .05)'};
      color: #{'rgba(var(--smart-primary), .5)'};
    }

    .smart-resize-trigger-container {
      //hide the unnecessary Resize Triggers
      margin-bottom: -1px;
    }

    .smart-task-drop-down {
      transform: scaleY(1);
      transform-origin: top;
      overflow: hidden;

      &.smart-visibility-hidden {
        margin-top: 0;
        height: 0;
        transform: scaleY(0);
      }
    }
  }

  .smart-tree-item-label-container {
    border-bottom-width: var(--smart-border-width);
    border-bottom-style: solid;
    border-top-color: var(--smart-border);
    border-bottom-color: var(--smart-border);
  }

  .smart-timeline {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    overflow: hidden;
    height: 100%;
    display: flex;

    &[task-bar-hovered] {
      cursor: e-resize;

      .smart-timeline-task.project .smart-timeline-task-fill,
      .smart-timeline-task.task .smart-timeline-task-fill {
        cursor: e-resize;
      }
    }
  }

  .smart-timeline-header {
    box-shadow: var(--smart-gantt-chart-header-box-shadow);
    position: relative;
  }

  .smart-timeline-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 2 * var(--smart-gantt-chart-task-default-height));
    transition: max-height 0.2s ease-in, min-height 0.2s ease-in, height 0.2s ease-in;

    &:empty {
      &:after {
        content: 'No Items';
        height: var(--smart-gantt-chart-task-default-height);
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
      }
    }

    .smart-timeline-task:not(.milestone)[disable-resize],
    .smart-timeline-task:not(.milestone)[disable-resize] .smart-task-container {
      &:after {
        content: none;
      }
    }
  }

  .smart-timeline-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .smart-timeline-scroll-bar {
    overflow: visible;
    position: relative;
    /*bottom: 0;*/
    height: calc(var(--smart-scroll-bar-size));
    width: 100%;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: var(--smart-scroll-bar-size);
      background: var(--smart-scroll-bar-background);
      left: 100%;
      top: 0;
      /*left:0;*/
    }

    &.bottom-corner {
      width: calc(100% - var(--smart-scroll-bar-size));
    }

    &.smart-resource-scroll-bar {
      height: calc(100% - var(--smart-gantt-chart-task-default-height));
      top: var(--smart-gantt-chart-task-default-height);
      z-index: 1;

      &[orientation="vertical"] {
        &:before {
          top: calc(-1 * var(--smart-gantt-chart-task-default-height));
          height: var(--smart-gantt-chart-task-default-height);
        }

        &[disabled] {
          &:after {
            left: 0;
            height: 100%;
          }
        }
      }
    }

    &[orientation="vertical"] {
      position: absolute;
      right: 0;
      top: calc(2 * var(--smart-gantt-chart-task-default-height));
      height: calc(100% - 2 * var(--smart-gantt-chart-task-default-height));
      width: calc(var(--smart-scroll-bar-size));

      &:before {
        position: absolute;
        width: 100%;
        background: var(--smart-scroll-bar-background);
        content: '';
        left: 0;
        top: calc(-2 * var(--smart-gantt-chart-task-default-height));
        height: calc(2 * var(--smart-gantt-chart-task-default-height));
        border: 1px solid var(--smart-border);
        border-top: none;
        box-sizing: border-box;
      }
    }
  }

  .smart-timeline-cells-container {
    &:empty {
      //The Timeline needs some height when all tasks are hidden
      min-height: 1px;
    }
  }

  .smart-timeline-task {
    position: absolute;
    height: var(--smart-gantt-chart-task-default-height);

    &:empty {
      height: 0;
    }

    .smart-timeline-task-progress-thumb {
      &:after {
        content: "";
        border-right: var(--smart-gantt-chart-timeline-task-progress-thumb-size) solid transparent;
        border-left: var(--smart-gantt-chart-timeline-task-progress-thumb-size) solid transparent;
        border-bottom: var(--smart-gantt-chart-timeline-task-progress-thumb-size) solid var(--smart-gantt-chart-task-thumb-color);
        box-shadow: 0 1px 0 0 var(--smart-gantt-chart-task-thumb-color);
        position: absolute;
        bottom: calc(-1 * var(--smart-gantt-chart-task-bar-fill-padding) / 2);
        left: calc(-1 * var(--smart-gantt-chart-timeline-task-progress-thumb-size));
        z-index: 1;
      }
    }

    &.task {
      .smart-timeline-task-label {
        color: var(--smart-gantt-chart-task-label-color);
      }

      &[selected] {
        .smart-timeline-task-label {
          color: var(--smart-gantt-chart-task-label-color-selected);
        }
      }
    }

    &.project {
      .smart-timeline-task-label {
        color: var(--smart-gantt-chart-project-label-color);
      }

      &[selected] {
        .smart-timeline-task-label {
          color: var(--smart-gantt-chart-project-label-color-selected);
        }
      }
    }

    &:not(.milestone) {
      min-width: var(--smart-gantt-chart-timeline-task-min-width);

      &:after {
        content: '';
        width: var(--smart-gantt-chart-timeline-task-resize-indicator-width);
        height: var(--smart-gantt-chart-timeline-task-resize-indicator-width);
        position: absolute;
        top: calc(50% - var(--smart-gantt-chart-timeline-task-resize-indicator-width) / 2);
        left: calc(100% - var(--smart-gantt-chart-timeline-task-resize-indicator-width) / 2);
        background-color: var(--smart-gantt-chart-timeline-task-resize-indicator-color);
        box-shadow: 0 0 0 1px var(--smart-gantt-chart-timeline-task-resize-indicator-border-color);
        transform: scale(0);
        pointer-events: none;
      }

      .smart-task-container {
        &:after {
          content: '';
          width: var(--smart-gantt-chart-timeline-task-resize-indicator-width);
          height: var(--smart-gantt-chart-timeline-task-resize-indicator-width);
          position: absolute;
          top: calc(50% - var(--smart-gantt-chart-timeline-task-resize-indicator-width) / 2);
          left: calc(-1 * var(--smart-gantt-chart-timeline-task-resize-indicator-width) / 2);
          background-color: var(--smart-gantt-chart-timeline-task-resize-indicator-color);
          box-shadow: 0 0 0 1px var(--smart-gantt-chart-timeline-task-resize-indicator-border-color);
          transform: scale(0);
          pointer-events: none;
        }
      }
    }

    &[selected] {
      .smart-timeline-task-progress-thumb {
        transform: scale(1);
      }

      &:not([disable-resize]) {
        &:after {
          transform: scale(1);
        }

        .smart-task-container::after {
          transform: scale(1);
        }
      }

      &:not(.milestone) {
        .smart-timeline-task-fill {
          box-shadow: var(--smart-elevation-2);
        }
      }
    }

    &[connection-point="end"] {
      .smart-task-connection-feedback {
        left: 100%;
      }
    }

    &[disable-drag] {
      cursor: pointer;
    }
  }

  .smart-timeline-task-progress {
    width: 100%;
    height: 100%;
    transform-origin: left;
    position: relative;
  }

  .smart-timeline-task-progress-thumb {
    position: absolute;
    right: 0;
    cursor: e-resize;
    transform: scale(0);
    transform-origin: left bottom;
  }

  .smart-timeline-task-fill {
    width: 100%;
    height: 100%;
    border-radius: var(--smart-gantt-chart-task-fill-border-radius);
    overflow: hidden;
  }

  .smart-timeline-task-label {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    padding: var(--smart-gantt-chart-task-label-padding);
    transform: translate(-50%, -50%);
    font-size: inherit;
    font-family: inherit;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .smart-timeline-task-cells {
    position: relative;
    /*overflow: hidden;*/
  }

  .smart-timeline-view-details {
    display: flex;
    width: 100%;
    height: var(--smart-gantt-chart-task-default-height);

    &:empty {
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: var(--smart-surface);
      color: var(--smart-surface-color);
      box-shadow: var(--smart-gantt-chart-header-box-shadow);
      border-bottom: var(--smart-border-width) solid var(--smart-border);
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: var(--smart-gantt-chart-header-placeholder);
      }
    }

    .smart-timeline-view-cell {
      min-width: initial;

      border-top: none;

      &:not(:first-of-type) {
        border-left-color: transparent;
      }
    }
  }

  .smart-timeline-view-cells {
    display: flex;
    width: 100%;
    height: var(--smart-gantt-chart-task-default-height);
    //display: grid;
    //    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    //Lags when DIV's are more than 1000 and 1fr calculates inaccurately

    &:empty {
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: var(--smart-surface);
      color: var(--smart-surface-color);
      box-shadow: var(--smart-gantt-chart-header-box-shadow);
      border-bottom: var(--smart-border-width) solid var(--smart-border);
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: var(--smart-gantt-chart-header-placeholder);
      }
    }

    .smart-timeline-view-cell {
      &:after {
        content: '';
        width: 100%;
        background-color: transparent;
        border-left: var(--smart-border-width) solid var(--smart-border);
        border-right: var(--smart-border-width) solid transparent;
        position: absolute;
        top: calc(100% + var(--smart-border-width));
        right: 0;
        height: var(--smart-gantt-chart-task-timeline-content-height);
      }

      &:last-of-type {
        &:after {
          border-right-color: transparent;
        }
      }

      &:not(:first-of-type) {
        border-left-color: transparent;
      }

      &[weekend] {
        &:after {
          background: var(--smart-gantt-chart-timeline-weekend-color);
        }
      }

      &[nonworking] {
        &:after {
          background: var(--smart-gantt-chart-timeline-nonworking-color);
        }
      }
    }

    div {
      border-bottom-color: var(--smart-border);
    }
  }

  .smart-timeline-view-cell {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--smart-surface);
    color: var(--smart-surface-color);
    border-top: var(--smart-border-width) solid var(--smart-border);
    border-bottom: var(--smart-border-width) solid var(--smart-border);
    border-left: var(--smart-border-width) solid var(--smart-border);
    border-right: var(--smart-border-width) solid var(--smart-border);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--smart-gantt-chart-task-bar-fill-padding);
    height: 100%;
    border-bottom-color: transparent;
    height: var(--smart-gantt-chart-task-default-height);
    min-width: var(--smart-gantt-chart-timeline-cell-min-size);
    width: var(--smart-gantt-chart-timeline-cell-size);

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .smart-timeline-animation-inner-container {
    width: 100%;
    position: absolute;

    > div {
      transform: scaleY(1);
      transform-origin: top;
      transition: height 0.2s ease-in, transform 0.2s ease-in;

      &.animate {
        transform: scaleY(0);
        height: 0;
      }
    }
  }

  .smart-timeline-animation-container {
    width: 100%;
    position: absolute;
    pointer-events: none;
    height: calc(100% - 2 * var(--smart-gantt-chart-task-default-height));
    overflow: hidden;
    transform: scale(1);

    &.smart-visibility-hidden {
      transform: scale(0);
    }

    .smart-timeline-task {
      position: initial;

      &:after,
      &:before {
        content: ' ';
        position: absolute;
        width: 100%;
        border-top: var(--smart-border-width) solid var(--smart-border);
        top: initial;
        left: 0;
        height: 0;
        box-shadow: none;
        transform: translateY(-1px);
      }

      &:before {
        transition: background ease-in-out 0.28s;
        background: var(--smart-gantt-chart-timeline-task-background-color);
      }

      &[selected] {
        &:after {
          transform: scale(0);
        }

        &:before {
          content: ' ';
          position: absolute;
          width: 100%;
          border-top: var(--smart-border-width) solid var(--smart-border);
          top: initial;
          left: 0;
          height: 0;
          box-shadow: none;
          transform: translateY(-1px);
          //height: var(--smart-gantt-chart-task-default-height);
          box-sizing: border-box;
          background: var(--smart-ui-state-selected);
        }
      }

      &[assigned] {
        &:after {
          transform: scale(0);
        }

        &:before {
          height: var(--smart-gantt-chart-task-default-height);
          box-sizing: border-box;
          background: #{'rgba(var(--smart-primary-rgb), .05)'};
        }
      }

      &[focus] {
        &:before {
          height: var(--smart-gantt-chart-task-default-height);
          box-sizing: border-box;
          background: var(--smart-ui-state-focus);
        }
      }

      &[hover] {
        &:before {
          height: var(--smart-gantt-chart-task-default-height);
          box-sizing: border-box;
          background: var(--smart-ui-state-hover);
        }
      }

      &.milestone {
        .smart-task-container {
          width: 0;
        }
      }
    }
  }

  .smart-timeline-task-cell,
  .smart-timeline-resource-cell {
    border-width: var(--smart-border-width);
    border-style: solid;
    border-top-color: var(--smart-border);
    border-bottom-color: var(--smart-border);
    border-left-color: var(--smart-border);
    border-right-color: var(--smart-border);
    background: var(--smart-gantt-chart-timeline-task-background-color);
    border-left: none;
    border-right: none;
    border-top-color: transparent;
    position: relative;
    height: var(--smart-gantt-chart-task-default-height);

    &:first-of-type {
      border-left-color: var(--smart-border);
    }

    &:last-of-type {
      border-right-color: var(--smart-border);
    }

    &[assigned] {
      background: #{'rgba(var(--smart-primary-rgb), .05)'};
    }

    &[focus] {
      background: var(--smart-ui-state-focus);
    }

    &[hover] {
      background: var(--smart-ui-state-hover);
    }

    &[selected] {
      background: var(--smart-ui-state-selected);
    }

    &.smart-visibility-hidden {
      height: 0;
      border: 0;
    }
  }

  .smart-resource-splitter {
    --smart-splitter-bar-fit-size: calc(var(--smart-gantt-chart-resource-timeline-content-height) + var(--smart-gantt-chart-task-default-height));

    .smart-timeline-view-cells {
      .smart-timeline-view-cell {
        border-top: none;
      }
    }

    .smart-tree-splitter {
      --smart-splitter-bar-fit-size: var(--smart-gantt-chart-resource-tree-splitter-bar-fit-size);
    }

    .smart-timeline-content {
      height: calc(100% - var(--smart-gantt-chart-task-default-height));
    }
  }

  .smart-resource-splitter-item {
    > .smart-container {
      > .smart-content {
        overflow: hidden;
        //Can't use Grid, because Gantt uses JS height when it has animations and height is 'auto' */
        /*display: grid;/*
        /*grid-template-rows: auto 1fr;*/
      }
    }

    .smart-timeline-view-cells {
      .smart-timeline-view-cell {
        &:after {
          height: var(--smart-gantt-chart-resource-timeline-content-height);
        }
      }
    }

    &[show-header] {
      .smart-resource-splitter {
        height: calc(100% - var(--smart-gantt-chart-header-height));
      }

      .smart-timeline-view-cells {
        .smart-timeline-view-cell {
          border-top: var(--smart-border-width) solid var(--smart-border);
        }
      }
    }
  }

  .smart-resource-panel-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: var(--smart-gantt-chart-header-height);
    background: var(--smart-surface);

    &:empty {
      display: none;
    }
  }

  .smart-resource-timeline-view-cell {
    background: var(--smart-gantt-chart-timeline-task-background-color);
    bottom: 0;
    border: none;

    &:after {
      position: absolute;
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      font-size: var(--smart-font-size);
      font-family: var(--smart-font-family-icon);
      box-sizing: border-box;
    }

    &[load] {
      &:after {
        content: attr(load) !important;
        transform: scale(1) rotate(0deg) !important;
      }
    }

    &.warning[load] {
      &:after {
        background: var(--smart-error);
        color: var(--smart-error-color);
        border-radius: 5px;
      }
    }
  }

  .smart-resource-tree-header {
    height: var(--smart-gantt-chart-task-default-height);
    //height: calc(2 * var(--smart-gantt-chart-task-default-height));
    padding: var(--smart-gantt-chart-task-bar-fill-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--smart-border-width) solid var(--smart-border);
    border-left: none;
    border-right: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--smart-surface);
    color: var(--smart-surface-color);
    box-shadow: var(--smart-gantt-chart-header-box-shadow);

    &:after {
      content: "";
      position: absolute;
      right: 2.5%;
      content: var(--smart-icon-arrow-down);
      font-family: var(--smart-font-family-icon);
      font-size: var(--smart-font-size);
      transform: rotate(0deg) scale(0);
      transition: transform .2s ease-out, opacity .2s ease-out;
    }

    &:empty {
      padding: 0;
    }

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .smart-resource-tree-content {
    //height: calc(100% - 2 * var(--smart-gantt-chart-task-default-height));
    overflow: hidden;
    height: calc(100% - var(--smart-gantt-chart-task-default-height));
  }

  .smart-resource-item-label-container {
    border-bottom-width: var(--smart-border-width);
    border-bottom-style: solid;
    border-top-color: var(--smart-border);
    border-bottom-color: var(--smart-border);
  }

  .smart-resource-label-container {
    cursor: pointer;
    height: var(--smart-gantt-chart-task-default-height);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-bottom-width: var(--smart-border-width);
    border-bottom-style: solid;
    border-top-color: var(--smart-border);
    border-bottom-color: var(--smart-border);

    > span {
      white-space: inherit;
      overflow: inherit;
      text-overflow: inherit;
    }

    &[assigned] {
      /*border-color: #{'rgba(var(--smart-primary-rgb), .05)'};*/
      background-color: #{'rgba(var(--smart-primary-rgb), .05)'};
      color: #{'rgba(var(--smart-primary), .5)'};
    }

    &[focus] {
      border-color: var(--smart-ui-state-border-focus);
      background-color: var(--smart-ui-state-focus);
      color: var(--smart-ui-state-color-focus);
    }

    &[hover],
    &[hover] {
      border-color: var(--smart-ui-state-border-hover);
      background-color: var(--smart-ui-state-hover);
      color: var(--smart-ui-state-color-hover);
    }

    &[selected],
    &[selected] {
      border-color: var(--smart-ui-state-border-selected);
      background-color: var(--smart-ui-state-selected);
      color: var(--smart-ui-state-color-selected);
    }

  }

  .smart-task-tree-header {
    height: calc(2 * var(--smart-gantt-chart-task-default-height));
    padding: var(--smart-gantt-chart-task-bar-fill-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--smart-border-width) solid var(--smart-border);
    border-left: none;
    border-right: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--smart-surface);
    color: var(--smart-surface-color);
    box-shadow: var(--smart-gantt-chart-header-box-shadow);

    &:after {
      content: "";
      position: absolute;
      right: 2.5%;
      content: var(--smart-icon-arrow-down);
      font-family: var(--smart-font-family-icon);
      font-size: var(--smart-font-size);
      transform: rotate(0deg) scale(0);
    }

    &:empty {
      padding: 0;
    }

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .smart-task-tree-content {
    height: calc(100% - 2 * var(--smart-gantt-chart-task-default-height));
    overflow: hidden;
  }

  .smart-task-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: var(--smart-gantt-chart-task-bar-fill-padding);
    padding-bottom: var(--smart-gantt-chart-task-bar-fill-padding);
  }

  .smart-task-panel-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: var(--smart-gantt-chart-header-height);
    background: var(--smart-surface);

    &:empty {
      display: none;
    }
  }

  .smart-task-splitter {
    // --smart-gantt-chart-splitter-bar-fit-size in this case shouldn't be changed, because it is used for the collapse/expand animation !
    --smart-gantt-chart-splitter-bar-fit-size: calc(var(--smart-gantt-chart-task-timeline-content-height) + 2 * var(--smart-gantt-chart-task-default-height));
    --smart-splitter-bar-fit-size: var(--smart-gantt-chart-splitter-bar-fit-size);

    > .smart-resize-trigger-container {
      display: none;
    }
  }

  .smart-task-splitter-item {
    > .smart-container {
      > .smart-content {
        overflow: hidden;
        //Can't use Grid, because Gantt uses JS height when it has animations and height is 'auto' */
        /*display: grid;/*
        /*grid-template-rows: auto 1fr;*/
      }
    }

    &[show-header] {
      .smart-resource-splitter {
        height: calc(100% - var(--smart-gantt-chart-header-height));
      }

      .smart-timeline-view-details {
        .smart-timeline-view-cell {
          border-top: var(--smart-border-width) solid var(--smart-border);
        }
      }
    }
  }

  .smart-task-connection {
    cursor: pointer;
    position: absolute;
    border: var(--smart-gantt-chart-timeline-task-connection-width) var(--smart-gantt-chart-timeline-task-connection-style) var(--smart-gantt-chart-timeline-task-connection-color);
    top: 50%;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border: inherit;
      position: absolute;
      border-color: transparent;
      border-width: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &[arrow-direction] {
      &:before {
        content: '';
        position: absolute;
        left: calc(100% - var(--smart-gantt-chart-timeline-task-connection-arrow-width) + 1px);
        top: calc(-1 * var(--smart-gantt-chart-timeline-task-connection-arrow-width));
        border-top: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) transparent;
        border-bottom: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) transparent;
        border-left: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) var(--smart-gantt-chart-timeline-task-connection-feedback-color);
      }
    }

    &[arrow-direction="left"] {
      &:before {
        left: calc(-1 * var(--smart-gantt-chart-timeline-task-connection-arrow-width) / 2 + 1px);
        border-right: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) var(--smart-gantt-chart-timeline-task-connection-feedback-color);
        border-left: none;
      }
    }

    &[hover] {
      border-color: var(--smart-gantt-chart-timeline-task-connection-color-hover);
      box-shadow: 0 0 2.5px 0 var(--smart-gantt-chart-timeline-task-connection-color);

      &:before {
        border-left-color: var(--smart-gantt-chart-timeline-task-connection-color-hover);
        border-right-color: var(--smart-gantt-chart-timeline-task-connection-color-hover);
      }
    }
  }

  .smart-task-connection-point {
    cursor: pointer;
    position: absolute;
    border: 1px solid #A9A9A9;
    border-radius: 50%;
    width: calc(var(--smart-gantt-chart-task-default-height) / 2);
    height: calc(var(--smart-gantt-chart-task-default-height) / 2);
    top: 50%;
    transform: translateY(-50%) scale(0);
    background-color: #DEDEDE;

    &.start {
      left: calc(-1 * var(--smart-gantt-chart-task-default-height) / 1.5);
    }

    &.end {
      right: calc(-1 * var(--smart-gantt-chart-task-default-height) / 1.5);
    }
  }

  .smart-task-connection-feedback {
    position: absolute;
    top: 50%;
    transform-origin: left;
    border: var(--smart-gantt-chart-timeline-task-connection-feedback-width) var(--smart-gantt-chart-timeline-task-connection-feedback-style) var(--smart-gantt-chart-timeline-task-connection-feedback-color);
    z-index: 1;
    pointer-events: none;

    &:before {
      content: '';
      position: absolute;
      left: calc(100% - var(--smart-gantt-chart-timeline-task-connection-arrow-width) + 1px);
      top: calc(-1 * var(--smart-gantt-chart-timeline-task-connection-arrow-width));
      border-top: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) transparent;
      border-bottom: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) transparent;
      border-left: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) var(--smart-gantt-chart-timeline-task-connection-feedback-color);
    }
  }

  .smart-task-bar-limitter-min {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    border-style: dashed;
    border-width: 1px;
    border-color: lightgreen;
  }

  .smart-task-bar-limitter-max {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    border-style: dashed;
    border-width: 1px;
    border-color: red;
  }

  .smart-task-bar-limitter-min-date,
  .smart-task-bar-limitter-max-date {
    position: absolute;
    top: 0;
    left: var(--smart-border-width);
    height: calc(100% - 2 * var(--smart-border-width));
    background-image: linear-gradient(135deg, rgba(255, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 0, 0, 0.2) 50%, rgba(255, 0, 0, 0.2) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    border: 1px solid white;
  }

  .smart-task-bar-limitter-max-date {
    left: inherit;
    right: 0;
  }

  .smart-task-label-container {
    cursor: pointer;
    height: var(--smart-gantt-chart-task-default-height);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-bottom-width: var(--smart-border-width);
    border-bottom-style: solid;
    border-top-color: var(--smart-border);
    border-bottom-color: var(--smart-border);

    > span {
      white-space: inherit;
      overflow: inherit;
      text-overflow: inherit;
    }

    &[assigned] {
      /*border-color: #{'rgba(var(--smart-primary-rgb), .05)'};*/
      background-color: #{'rgba(var(--smart-primary-rgb), .05)'};
      color: #{'rgba(var(--smart-primary), .5)'};
    }

    &[focus] {
      border-color: var(--smart-ui-state-border-focus);
      background-color: var(--smart-ui-state-focus);
      color: var(--smart-ui-state-color-focus);
    }

    &[hover],
    &[hover] {
      border-color: var(--smart-ui-state-border-hover);
      background-color: var(--smart-ui-state-hover);
      color: var(--smart-ui-state-color-hover);
    }

    &[selected],
    &[selected] {
      border-color: var(--smart-ui-state-border-selected);
      background-color: var(--smart-ui-state-selected);
      color: var(--smart-ui-state-color-selected);
    }

  }

  [show-header] {
    .smart-task-tree-header,
    .smart-resource-tree-header {
      border-top: var(--smart-border-width) solid var(--smart-border);
    }
  }

  .milestone {
    height: var(--smart-gantt-chart-task-default-height);

    .smart-task-container {
      padding: 0;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        box-sizing: border-box;
        left: calc(-1 * var(--smart-gantt-chart-task-default-height) / 2);
        border-right: calc(var(--smart-gantt-chart-task-default-height) / 2) solid var(--smart-gantt-chart-milestone-color);
        border-top: calc(var(--smart-gantt-chart-task-default-height) / 2) solid transparent;
        border-bottom: calc(var(--smart-gantt-chart-task-default-height) / 2) solid transparent;
      }

      &:after {
        content: "";
        position: absolute;
        height: 100%;
        box-sizing: border-box;
        top: 0;
        border-left: calc(var(--smart-gantt-chart-task-default-height) / 2) solid var(--smart-gantt-chart-milestone-color);
        border-top: calc(var(--smart-gantt-chart-task-default-height) / 2) solid transparent;
        border-bottom: calc(var(--smart-gantt-chart-task-default-height) / 2) solid transparent;
      }
    }

    .smart-task-connection-point {
      &.start {
        left: calc(-1 * var(--smart-gantt-chart-task-default-height) * 1.15);
      }

      &.end {
        right: calc(-1 * var(--smart-gantt-chart-task-default-height) * 1.15);
      }
    }

    .smart-task-connection-feedback {
      left: calc(-1 * var(--smart-gantt-chart-task-default-height) / 2);
    }

    &[connection-point="end"] .smart-task-connection-feedback {
      left: calc(100% + var(--smart-gantt-chart-task-default-height) / 2);
    }
  }

  .project {
    .smart-timeline-task-fill {
      background: var(--smart-gantt-chart-project-color);
    }

    .smart-timeline-task-progress {
      background: var(--smart-gantt-chart-project-progress-color);
    }
  }

  .task {
    .smart-timeline-task-fill {
      background: var(--smart-gantt-chart-task-color);
    }

    .smart-timeline-task-progress {
      background: var(--smart-gantt-chart-task-progress-color);
    }
  }

  &:not([disable-task-drag]) {
    .smart-timeline-task:not([disable-drag]).milestone .smart-task-container::after,
    .smart-timeline-task:not([disable-drag]).milestone .smart-task-container::before,
    .smart-timeline-task:not([disable-drag]) .smart-timeline-task-fill {
      cursor: move;
    }
  }

  &:not([dragged]):not([resized]) {
    .smart-timeline-task[selected] .smart-task-connection-point,
    .smart-timeline-task[hover] .smart-task-connection-point {
      transform: translateY(-50%) scale(1);
    }
  }

  &:not([disable-task-progress-change]) {
    .smart-timeline-task .smart-timeline-task-progress-thumb:after {
      cursor: pointer;
    }
  }

  &:not([inverted]) {
    .smart-timeline-scroll-bar[orientation="vertical"]::before {
      border-right: none;
    }
  }

  &:not([resource-timeline-mode="histogram"]) {
    .smart-resource-timeline-view-cell::after {
      height: calc(var(--smart-gantt-chart-task-default-height) - var(--smart-gantt-chart-task-bar-fill-padding));
      width: calc(var(--smart-gantt-chart-task-default-height) - var(--smart-gantt-chart-task-bar-fill-padding));
      border-radius: 50%;
      transform: scale(0) rotate(360deg);
      background: var(--smart-success);
      color: var(--smart-success-color);
      line-height: 100%;
    }

    .smart-timeline-resource-cell:first-of-type .smart-resource-timeline-view-cell {
      border-top: none;
    }
  }

  &[resource-timeline-mode="histogram"] {
    .smart-resource-timeline-view-cell {
      /*border-color: var(--smart-primary);*/
      border: var(--smart-border-width) solid var(--smart-primary);
      border-bottom: none;
      height: 0;
      padding: 0;
      background: #{'rgba(var(--smart-primary-rgb), 0.15)'};

      &:after {
        width: 100%;
        content: '-';
        height: calc(var(--smart-gantt-chart-task-default-height) - 2px);
        bottom: 0;
      }

      &.hide-left-border,
      &.hide-right-border {
        &:before {
          width: 100%;
          content: '';
          position: absolute;
          height: 100%;
          bottom: 0;
          z-index: 1;
        }

        &.warning {
          &:before {
            z-index: initial;
            left: initial;
          }
        }
      }

      &.hide-right-border {
        border-right: none;

        &:before {
          border-right: 1px solid var(--smart-border);
          left: 0;
        }
      }

      &.hide-left-border {
        border-left: none;

        &:before {
          border-left: 1px solid var(--smart-border);
          left: -1px;
        }
      }

      &[load] {
        border-bottom: none;
        /*border-left: none;
            border-right: none;*/
        border-top: var(--smart-border-width) solid var(--smart-primary);
      }

      &.warning[load]::after {
        border-radius: initial;
      }
    }


  }

  &:not([animation="none"]) {
    .smart-resource-splitter {
      .smart-resource-timeline-view-cell {
        &:after {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
        }
      }
    }

    .smart-resource-timeline-view-cell {
      &[load] {
        &:after {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1), border-radius 0.2s cubic-bezier(0.4, 0.0, 0.6, 1), background 0.2s cubic-bezier(0.4, 0.0, 0.6, 1), color 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }
      }
    }

    .smart-task-connection-point {
      transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    .smart-task-tree-header {
      &:after {
        transition: transform .2s ease-out, opacity .2s ease-out;
      }
    }

    .smart-timeline-task {
      &:after {
        transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
      }

      .smart-task-container {
        &:after {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }
      }

      .smart-timeline-task-fill {
        transition: box-shadow 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
      }

      &[selected] {
        &:after {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }

        .smart-task-connection-point {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }

        .smart-timeline-task-progress-thumb {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }

        .smart-task-container::after {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }
      }

      &[hover] {
        .smart-task-connection-point {
          transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }
      }

      &.task {
        .smart-timeline-task-label {
          transition: color 0.2s ease-in-out;
        }
      }

      &.project {
        .smart-timeline-task-label {
          transition: color 0.2s ease-in-out;
        }
      }
    }

    .smart-timeline-task-progress-thumb {
      transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    }

    .smart-tree-splitter {
      .smart-task-drop-down {
        transition: height 0.2s ease-in, transform 0.2s ease-in, visibility 0.2s ease-in;
      }
    }

    &[resource-timeline-mode="histogram"] {
      .smart-resource-timeline-view-cell {
        transition: height 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);

        &:after {
          transition: background 0.2s cubic-bezier(0.4, 0.0, 0.6, 1), color 0.2s cubic-bezier(0.4, 0.0, 0.6, 1);
        }
      }
    }

    &[show-progress-label] {
      .smart-timeline-task-progress::after {
        transition: color 0.2s ease-in-out;
      }
    }

    smart-tree:not([selection-display-mode="label"]) smart-tree-item,
    smart-tree:not([selection-display-mode="label"]) smart-tree-items-group > .smart-tree-item-label-container,
    .smart-task-label-container,
    .smart-resource-label-container {
      transition: color ease-in-out 0.28s, border-color ease-in-out 0.28s, background ease-in-out 0.28s;
    }
  }

  &[animation="none"] {
    .smart-timeline-animation-container {
      display: none;
    }

    .smart-timeline-view-cells:not([no-transition]) {
      .smart-timeline-view-cell::after {
        transition: height 0.2s ease-in;
      }
    }
  }

  &.vscroll {
    .smart-timeline {
      width: calc(100% - var(--smart-scroll-bar-size));
    }
  }

  &[sortable] {
    .smart-task-tree-header,
    .smart-resource-tree-header {
      padding: 0 var(--smart-font-size) 0 var(--smart-font-size);
    }
  }

  &[inverted] {
    .smart-timeline-scroll-bar[orientation="vertical"] {
      right: initial;

      &:before {
        border-left: none;
      }
    }

    > .smart-container.vscroll,
    &.smart-container.vscroll {
      .smart-timeline {
        margin-left: var(--smart-scroll-bar-size);
      }

      .smart-timeline-scroll-bar:not([orientation="vertical"]) {
        left: calc(var(--smart-scroll-bar-size));
      }
    }

    .smart-timeline-scroll-bar {
      &:after {
        width: calc(var(--smart-scroll-bar-size));
        left: calc(-1 * var(--smart-scroll-bar-size));
      }
    }
  }

  &[hide-timeline-header-details] {
    .smart-timeline-view-details {
      display: none;
    }

    .smart-task-splitter-item:not([show-header]) .smart-timeline-view-cell {
      border-top: none;
    }

    .smart-timeline-view-cells,
    .smart-task-tree-header {
      height: var(--smart-gantt-chart-task-default-height);
    }

    .smart-task-splitter {
      --smart-gantt-chart-splitter-bar-fit-size: calc(var(--smart-gantt-chart-task-timeline-content-height) + var(--smart-gantt-chart-task-default-height));
    }

    .smart-timeline-animation-container {
      height: calc(100% - var(--smart-gantt-chart-task-default-height));
    }

    .smart-task-tree-content {
      height: calc(100% - var(--smart-gantt-chart-task-default-height));
    }

    .smart-timeline-content {
      height: calc(100% - var(--smart-gantt-chart-task-default-height));
    }

    .smart-timeline-scroll-bar[orientation="vertical"] {
      top: var(--smart-gantt-chart-task-default-height);
      height: calc(100% - var(--smart-gantt-chart-task-default-height));

      &:before {
        top: calc(-1 * var(--smart-gantt-chart-task-default-height));
        height: var(--smart-gantt-chart-task-default-height);
      }
    }
  }

  &[show-progress-label] {
    .smart-timeline-task-progress {
      &:after {
        display: flex;
        height: 100%;
        content: attr(value);
        align-items: center;
        padding: var(--smart-gantt-chart-progress-label-padding);
        color: var(--smart-gantt-chart-task-label-color);
        font-weight: var(--smart-font-weight);
        font-size: var(--smart-font-size);
      }
    }

    [selected] .smart-timeline-task-progress::after {
      color: var(--smart-gantt-chart-task-label-color-selected);
    }

    .project {
      .smart-timeline-task-progress::after {
        color: var(--smart-gantt-chart-project-label-color);
      }

      &[selected] .smart-timeline-task-progress::after {
        color: var(--smart-gantt-chart-project-label-color-selected);
      }
    }
  }

  &[connecting-task] {
    .smart-task-connection {
      pointer-events: none;
    }
  }

  &[auto-schedule][auto-schedule-strict-mode] {
    .smart-timeline-task.milestone[connected] .smart-task-container::after,
    .smart-timeline-task.milestone[connected] .smart-task-container::before,
    .smart-timeline:not([task-bar-hovered]) .smart-timeline-task[connected] .smart-timeline-task-fill {
      cursor: initial;
    }
  }

  &[dragged],
  &[resized] {
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &[modal] {
    pointer-events: none;
  }

  //Right To Left
  &[right-to-left] {
    .smart-timeline-task-label,
    .smart-task-tree-header,
    .smart-resource-tree-header {
      direction: rtl;
    }

    .milestone .smart-task-container {
      direction: initial;
    }

    > .smart-container.vscroll {
      .smart-timeline-scroll-bar:not([orientation="vertical"]) {
        left: calc(var(--smart-scroll-bar-size));
      }

      .smart-timeline {
        margin-left: var(--smart-scroll-bar-size);
      }
    }

    .smart-timeline-view-cell {
      direction: rtl;

      &:last-of-type {
        border-right: var(--smart-border-width) solid var(--smart-border)
      }

      &:first-of-type {
        border-right: none;
        border-left: var(--smart-border-width) solid transparent;
      }
    }

    .smart-timeline-task {
      &[connection-point="end"] {
        .smart-task-connection-feedback {
          left: initial;
          right: 100%;
        }
      }
    }

    .smart-timeline-scroll-bar {
      &:after {
        right: 100%;
        left: initial;
      }

      &[orientation="vertical"] {
        &:after {
          left: calc(-1 * var(--smart-scroll-bar-size));
        }
      }
    }

    .smart-task-connection-point {
      &.end {
        left: calc(-1 * var(--smart-gantt-chart-task-default-height) / 1.5);
        right: initial;
      }

      &.start {
        right: calc(-1 * var(--smart-gantt-chart-task-default-height) / 1.5);
        left: initial;
      }
    }

    .smart-task-connection-feedback {
      transform-origin: right;

      &:before {
        left: initial;
        right: calc(100% - var(--smart-gantt-chart-timeline-task-connection-arrow-width) + 1px);
        border-right: var(--smart-gantt-chart-timeline-task-connection-arrow-width) var(--smart-gantt-chart-timeline-task-connection-arrow-type) var(--smart-gantt-chart-timeline-task-connection-feedback-color);
        border-left: initial;
      }
    }

    .smart-task-bar-limitter-min-date,
    .smart-task-bar-limitter-max-date {
      right: var(--smart-gantt-chart-timeline-column-border-width);
      left: initial;
    }

    .smart-task-bar-limitter-max-date {
      right: inherit;
      left: 0;
    }

    .milestone {
      .smart-task-connection-point {
        &.end {
          left: calc(-1 * var(--smart-gantt-chart-task-default-height) * 1.15);
          right: initial;
        }

        &.start {
          right: calc(-1 * var(--smart-gantt-chart-task-default-height) * 1.15);
          left: initial;
        }
      }

      .smart-task-connection-feedback {
        right: calc(-1 * var(--smart-gantt-chart-task-default-height) / 2);
        left: initial;
      }

      &[connection-point="end"] {
        .smart-task-connection-feedback {
          right: calc(100% + var(--smart-gantt-chart-task-default-height) / 2);
        }
      }
    }

    &:not([inverted]) {
      .smart-timeline-scroll-bar[orientation="vertical"] {
        right: initial;
        left: 0;

        &:before {
          border-left: none;
          border-right: 1px solid var(--smart-border);
        }
      }
    }

    &[inverted] {
      > .smart-container.vscroll {
        .smart-timeline {
          margin-right: var(--smart-scroll-bar-size);
        }

        .smart-timeline-scroll-bar:not([orientation="vertical"]) {
          left: initial;
        }
      }

      .smart-timeline-scroll-bar {
        &:after {
          right: calc(-1 * var(--smart-scroll-bar-size));
        }

        &[orientation="vertical"] {
          right: 0;

          &:before {
            border-right: none;
            border-left: 1px solid var(--smart-border);
          }
        }
      }
    }
  }
}

/* Popup Windows */
.smart-window.smart-task-popup-window {
  --smart-window-header-height: var(--smart-gantt-chart-popup-window-header-height);
  --smart-window-footer-height: var(--smart-gantt-chart-popup-window-footer-height);
  --smart-window-header-footer-padding: 10px;
  --smart-window-default-height: auto;
  --smart-window-header-background: transparent;
  --smart-window-default-width: var(--smart-gantt-chart-task-popup-window-default-width);

  .smart-content-container {
    > .smart-footer {
      display: grid;
      grid-template-columns: 23% 23% 23% 23%;
      grid-column-gap: 2%;
      grid-template-areas: "buttonOk buttonCancel . buttonDelete";

      @media not all and (min-resolution: .001dpcm) {
        //Safari specific. There's an issue with align-items when display: grid
        align-content: start;
      }

      .smart-icon {
        position: relative;
        height: 100%;
        font-family: var(--smart-font-family-icon);
        font-size: 18px;
        margin-right: 2.5px;
      }
    }

    > .smart-content {
      display: grid;
      grid-row-gap: 10px;
    }
  }

  .smart-popup-window-button.ok {
    .smart-icon::after {
      content: var(--smart-icon-check);
    }
  }

  &[right-to-left] {
    > .smart-container > .smart-footer .smart-icon {
      margin-left: 2.5px;
    }
  }
}

.smart-connection-popup-window {
  --smart-window-header-height: var(--smart-gantt-chart-popup-window-header-height);
  --smart-window-footer-height: var(--smart-gantt-chart-popup-window-footer-height);
  --smart-window-header-footer-padding: 10px;
  --smart-window-default-height: auto;
  --smart-window-header-background: transparent;
  --smart-window-default-width: var(--smart-gantt-chart-connection-popup-window-default-width);

  .smart-content-container {
    > .smart-content {
      justify-content: center;
      max-height: calc(var(--smart-gantt-chart-task-timeline-content-height) - var(--smart-window-header-height));
    }

    > .smart-footer {
      @media not all and (min-resolution: .001dpcm) {
        //Safari specific. There's an issue with align-items when display: grid
        align-content: start;
      }
    }
  }

  .smart-gantt-chart-popup-window-editor {
    justify-items: center;
  }
}

.smart-gantt-chart-popup-window {
  .smart-content-container {
    > .smart-footer {
      display: grid;
      grid-template-columns: 40% 40%;
      grid-column-gap: 2%;
      justify-content: center;
      align-items: center;
      grid-template-areas: "buttonOk buttonCancel";

      smart-button {
        width: 100%;
        height: 100%;
        --smart-button-padding: 0.2rem;
      }
    }
  }

  .smart-popup-window-button {
    &.ok {
      grid-area: buttonOk;
    }

    &.cancel {
      grid-area: buttonCancel;

      .smart-icon::after {
        content: var(--smart-icon-cancel);
      }
    }

    &.delete {
      grid-area: buttonDelete;

      .smart-icon::after {
        content: var(--smart-icon-delete);
      }
    }
  }

  .smart-gantt-chart-popup-window-editor {
    display: grid;
    grid-row-gap: 5px;

    .smart-drop-down-list,
    .smart-date-time-picker {
      width: 100%;
    }

    > b {
      text-align: center;
    }

    input {
      height: var(--smart-editor-height);
    }
  }
}

.smart-confirm-popup-window {
  --smart-window-header-height: var(--smart-gantt-chart-popup-window-header-height);
  --smart-window-footer-height: var(--smart-gantt-chart-popup-window-footer-height);
  --smart-window-header-footer-padding: 10px;
  --smart-window-default-height: auto;
  --smart-window-header-background: transparent;
  --smart-window-default-width: var(--smart-gantt-chart-confirm-popup-window-default-width);

  .smart-content-container {
    > .smart-content {
      justify-content: center;
      max-height: calc(var(--smart-gantt-chart-task-timeline-content-height) - var(--smart-window-header-height));

      @media not all and (min-resolution: .001dpcm) {
        //Safari specific. There's an issue with align-items when display: grid
        align-content: start;
      }
    }
  }

  .smart-gantt-chart-popup-window-editor {
    justify-items: center;
  }
}

.smart-gantt-chart-popup-window-editor {
  .smart-input[disabled] {
    opacity: 0.55;
    cursor: default;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

