smart-filter-panel {
  width: var(--smart-filter-panel-default-width);
  height: var(--smart-filter-panel-default-height);

  &.smart-element {
    padding: var(--smart-filter-panel-padding);
    border: none;
  }
}

.smart-filter-panel {
  smart-numeric-text-box {
    &.smart-filter-panel-input {
      input {
        text-align: right;
      }
    }
  }

  smart-tree,
  smart-filter-builder {
    width: 100%;
    height: var(--smart-filter-panel-main-element-height);
    margin-bottom: var(--smart-filter-panel-vertical-offset);
  }

  smart-tree {
    &.date-excel {
      smart-tree-items-group[level="1"] > .smart-tree-item-label-container > .smart-tree-items-group-arrow {
        visibility: hidden;
      }
    }

    &.standard-excel {
      .smart-tree-items-group-arrow {
        visibility: hidden;
      }

      smart-tree-item:not([level="1"]) > .smart-tree-item-label-container {
        margin-left: -30px;
      }
    }
  }

  smart-filter-builder {
    --smart-filter-builder-item-width: 150px;
    display: block;

    .smart-filter-field-name {
      display: none;
    }

    .smart-scroll-viewer-content-container {
      padding: 0;
    }

    .smart-content-container {
      > .smart-filter-group > .smart-filter-group-operator {
        margin-left: 15px;
      }
    }

    .smart-filter-group-condition-container {
      padding-left: 15px;
    }
  }

  smart-menu-item {
    &[value="notand"],
    &[value="notor"] {
      display: none;
    }
  }

  .smart-filter-panel-label {
    margin-bottom: var(--smart-filter-panel-vertical-offset);
  }

  .smart-filter-panel-list {
    width: 100%;
    margin-bottom: var(--smart-filter-panel-vertical-offset);
  }

  .smart-filter-panel-operator-list {
    width: 80px;
    margin-bottom: var(--smart-filter-panel-vertical-offset);
  }

  .smart-filter-panel-button-container {
    width: 100%;
    min-height: 33px;
    height: var(--smart-editor-height);
    display: flex;
    justify-content: space-around;

    > smart-button {
      width: 80px;

      button {
        padding: 8px;
      }
    }
  }

  .smart-filter-panel-input {
    height: var(--smart-editor-height);
    width: 100%;
    display: block;
    margin-bottom: var(--smart-filter-panel-vertical-offset);
  }

  &[filter-type="string"] {
    smart-filter-builder {
      height: calc(var(--smart-filter-panel-main-element-height) - var(--smart-editor-height));
      margin-bottom: 0;
    }

    .case-sensitive {
      display: block;
      margin-top: 5px;
      margin-bottom: calc(var(--smart-filter-panel-vertical-offset) - 5px);
    }
  }

  &[filter-type="boolean"] {
    smart-filter-builder {
      --smart-filter-builder-item-width: 34px;

      .smart-filter-value,
      .smart-editors-container {
        min-width: initial;
      }

      .smart-value-container {
        width: 100px;
      }

      .smart-editors-container[open] {
        .smart-check-box-editor {
          width: 100%;
        }
      }
    }
  }

  &[right-to-left] {
    direction: rtl;

    smart-tree.standard-excel {
      smart-tree-item:not([level="1"]) > .smart-tree-item-label-container {
        margin-right: -30px;
        margin-left: unset;
      }
    }
  }
}