$dark-theme: false !default;

$white: #ffffff;
$black: #000000;
$base: #e8e8e8;
$base-50: #f7f7f7;
$base-100: #f1f1f1;
$base-200: #e6e6e6;
$base-300: #d0d0d0;
$base-400: #a19f9d;
$base-500: #7d7d7d;
$base-600: #605e5c;
$base-700: #3b3a39;
$base-800: #323130;
$base-900: #201f1e;
$base-light: #f3f2f1;
$base-lighter: #ffffff;
$base-dark: #605e5c;
$base-darker: #201f1e;
$primary: #217346;
$primary-rgb: 33, 115, 70;
$primary-light: #8ec7a5;
$primary-lighter: #e3f0e8;
$primary-dark: #185c37;
$primary-darker: #0f3f24;
$secondary: #6f6f6f;
$secondary-light: #c5c4c3;
$secondary-lighter: #f0f0ef;
$secondary-dark: #7c7a79;
$secondary-darker: #686665;
$info: #00b7c3;
$info-light: #80dbe1;
$info-lighter: #def6f7;
$info-dark: #00a5b0;
$info-darker: #008992;
$success: #107c10;
$success-light: #88be88;
$success-lighter: #e0eee0;
$success-dark: #0e700e;
$success-darker: #0c5d0c;
$warning: #ffc80a;
$warning-light: #ffe485;
$warning-lighter: #fff8df;
$warning-dark: #e6b409;
$warning-darker: #bf9608;
$error: #a4262c;
$error-light: #d29396;
$error-lighter: #f3e3e4;
$error-dark: #942228;
$error-darker: #7b1d21;
$on-base: #201f1e;
$on-base-light: #201f1e;
$on-base-lighter: #201f1e;
$on-base-dark: #ffffff;
$on-base-darker: #ffffff;
$on-primary: #ffffff;
$on-primary-light: #ffffff;
$on-primary-lighter: #0f3f24;
$on-primary-dark: #ffffff;
$on-primary-darker: #ffffff;
$on-secondary: #ffffff;
$on-secondary-light: #ffffff;
$on-secondary-lighter: #686665;
$on-secondary-dark: #ffffff;
$on-secondary-darker: #ffffff;
$on-info: #ffffff;
$on-info-light: #ffffff;
$on-info-lighter: #008992;
$on-info-dark: #ffffff;
$on-info-darker: #ffffff;
$on-success: #ffffff;
$on-success-light: #ffffff;
$on-success-lighter: #0c5d0c;
$on-success-dark: #ffffff;
$on-success-darker: #ffffff;
$on-warning: #201f1e;
$on-warning-light: #201f1e;
$on-warning-lighter: #bf9608;
$on-warning-dark: #201f1e;
$on-warning-darker: #ffffff;
$on-error: #ffffff;
$on-error-light: #ffffff;
$on-error-lighter: #7b1d21;
$on-error-dark: #ffffff;
$on-error-darker: #ffffff;

@if $dark-theme {
   $white: #ffffff;
    $black: #000000;
    $base: #45494f;
    $base-50: #e0e4e9;
    $base-100: #c4c9d0;
    $base-200: #8f9399;
    $base-300: #45494f;
    $base-400: #383b3e;
    $base-500: #34373b;
    $base-600: #292c30;
    $base-700: #1f2226;
    $base-800: #1b1d20;
    $base-900: #121518;
    $base-light: #8f9399;
    $base-lighter: #ffffff;
    $base-dark: #121518;
    $base-darker: #000000;
    $primary: #217346;
    $primary-rgb: 33, 115, 70;
    $primary-light: #a6d0b8;
    $primary-lighter: rgba(166, 208, 184, 0.24);
    $primary-dark: #2a8f58;
    $primary-darker: #0f3f24;
    $secondary: #c2cbdc;
    $secondary-light: #c2cbdc;
    $secondary-lighter: #414D65;
    $secondary-dark: #444b58;
    $secondary-darker: #191f2b;
    $info: #085786;
    $info-light: #aadaff;
    $info-lighter: rgba(170, 218, 255, 0.24);
    $info-dark: #086791;
    $info-darker: #002d41;
    $success: #386A20;
    $success-light: #c0ffaa;
    $success-lighter: rgba(192, 255, 170, 0.24);
    $success-dark: #3e9108;
    $success-darker: #194100;
    $warning: #e8e971;
    $warning-light: #f9ffaa;
    $warning-lighter: rgba(249, 255, 170, 0.24);
    $warning-dark: #918908;
    $warning-darker: #413d00;
    $error: #b3261e;
    $error-light: #ffb4aa;
    $error-lighter: rgba(255, 180, 170, 0.24);
    $error-dark: #91080a;
    $error-darker: #410001;
    $on-base: #ffffff;
    $on-base-light: #121518;
    $on-base-lighter: #121518;
    $on-base-dark: #ffffff;
    $on-base-darker: #ffffff;
    $on-primary: #ffffff;
    $on-primary-light: #0f3f24;
    $on-primary-lighter: #a6d0b8;
    $on-primary-dark: #a6d0b8;
    $on-primary-darker: #a6d0b8;
    $on-secondary: #191f2b;
    $on-secondary-light: #191f2b;
    $on-secondary-lighter: #c2cbdc;
    $on-secondary-dark: #c2cbdc;
    $on-secondary-darker: #c2cbdc;
    $on-info: #ffffff;
    $on-info-light: #002d41;
    $on-info-lighter: #aadaff;
    $on-info-dark: #aadaff;
    $on-info-darker: #aadaff;
    $on-success: #ffffff;
    $on-success-light: #194100;
    $on-success-lighter: #c0ffaa;
    $on-success-dark: #c0ffaa;
    $on-success-darker: #c0ffaa;
    $on-warning: #121518;
    $on-warning-light: #413d00;
    $on-warning-lighter: #f9ffaa;
    $on-warning-dark: #f9ffaa;
    $on-warning-darker: #f9ffaa;
    $on-error: #ffffff;
    $on-error-light: #410001;
    $on-error-lighter: #ffb4aa;
    $on-error-dark: #ffb4aa;
    $on-error-darker: #ffb4aa;
}
