  :root {
      --smart-white: #{$white};
      --smart-black: #{$black};
      --smart-base: #{$base};
      --smart-base-50: #{$base-50};
      --smart-base-100: #{$base-100};
      --smart-base-200: #{$base-200};
      --smart-base-300: #{$base-300};
      --smart-base-400: #{$base-400};
      --smart-base-500: #{$base-500};
      --smart-base-600: #{$base-600};
      --smart-base-700: #{$base-700};
      --smart-base-800: #{$base-800};
      --smart-base-900: #{$base-900};
      --smart-base-light: #{$base-light};
      --smart-base-lighter: #{$base-lighter};
      --smart-base-dark: #{$base-dark};
      --smart-base-darker: #{$base-darker};
      --smart-primary: #{$primary};
      --smart-primary-rgb: #{$primary-rgb};
      --smart-primary-light: #{$primary-light};
      --smart-primary-lighter: #{$primary-lighter};
      --smart-primary-dark: #{$primary-dark};
      --smart-primary-darker: #{$primary-darker};
      --smart-secondary: #{$secondary};
      --smart-secondary-light: #{$secondary-light};
      --smart-secondary-lighter: #{$secondary-lighter};
      --smart-secondary-dark: #{$secondary-dark};
      --smart-secondary-darker: #{$secondary-darker};
      --smart-info: #{$info};
      --smart-info-light: #{$info-light};
      --smart-info-lighter: #{$info-lighter};
      --smart-info-dark: #{$info-dark};
      --smart-info-darker: #{$info-darker};
      --smart-success: #{$success};
      --smart-success-light: #{$success-light};
      --smart-success-lighter: #{$success-lighter};
      --smart-success-dark: #{$success-dark};
      --smart-success-darker: #{$success-darker};
      --smart-warning: #{$warning};
      --smart-warning-light: #{$warning-light};
      --smart-warning-lighter: #{$warning-lighter};
      --smart-warning-dark: #{$warning-dark};
      --smart-warning-darker: #{$warning-darker};
      --smart-error: #{$error};
      --smart-error-light: #{$error-light};
      --smart-error-lighter: #{$error-lighter};
      --smart-error-dark: #{$error-dark};
      --smart-error-darker: #{$error-darker};
      --smart-on-base: #{$on-base};
      --smart-on-base-light: #{$on-base-light};
      --smart-on-base-lighter: #{$on-base-lighter};
      --smart-on-base-dark: #{$on-base-dark};
      --smart-on-base-darker: #{$on-base-darker};
      --smart-on-primary: #{$on-primary};
      --smart-on-primary-light: #{$on-primary-light};
      --smart-on-primary-lighter: #{$on-primary-lighter};
      --smart-on-primary-dark: #{$on-primary-dark};
      --smart-on-primary-darker: #{$on-primary-darker};
      --smart-on-secondary: #{$on-secondary};
      --smart-on-secondary-light: #{$on-secondary-light};
      --smart-on-secondary-lighter: #{$on-secondary-lighter};
      --smart-on-secondary-dark: #{$on-secondary-dark};
      --smart-on-secondary-darker: #{$on-secondary-darker};
      --smart-on-info: #{$on-info};
      --smart-on-info-light: #{$on-info-light};
      --smart-on-info-lighter: #{$on-info-lighter};
      --smart-on-info-dark: #{$on-info-dark};
      --smart-on-info-darker: #{$on-info-darker};
      --smart-on-success: #{$on-success};
      --smart-on-success-light: #{$on-success-light};
      --smart-on-success-lighter: #{$on-success-lighter};
      --smart-on-success-dark: #{$on-success-dark};
      --smart-on-success-darker: #{$on-success-darker};
      --smart-on-warning: #{$on-warning};
      --smart-on-warning-light: #{$on-warning-light};
      --smart-on-warning-lighter: #{$on-warning-lighter};
      --smart-on-warning-dark: #{$on-warning-dark};
      --smart-on-warning-darker: #{$on-warning-darker};
      --smart-on-error: #{$on-error};
      --smart-on-error-light: #{$on-error-light};
      --smart-on-error-lighter: #{$on-error-lighter};
      --smart-on-error-dark: #{$on-error-dark};
      --smart-on-error-darker: #{$on-error-darker};

      --smart-border-width: 1px;
      --smart-root-font-size: 16px;
      --smart-body-font-size: 13px;
      --smart-body-line-height: 1.5;
      --smart-text-font-family: ui-sans-serif, system-ui, -apple-system, Inter, Segoe UI, Roboto, sans-serif;
      --smart-font-family: ui-sans-serif, system-ui, -apple-system, Inter, Segoe UI, Roboto, sans-serif;
      --smart-outline-offset: 2px;
      --smart-outline-width: 2px;

      --smart-border-radius: 1px;
      --smart-border-radius-0: 0;
      --smart-border-radius-1: 0.25rem;
      --smart-border-radius-2: 0.5rem;
      --smart-border-radius-3: 0.75rem;
      --smart-border-radius-4: 1rem;
      --smart-border-radius-5: 1.25rem;
      --smart-border-radius-6: 1.5rem;
      --smart-border-radius-7: 1.75rem;
      --smart-border-radius-8: 2rem;
      --smart-border-radius-9: 2.25rem;
      --smart-border-radius-10: 2.5rem;

  }