<div class="smart-demo-container">
    <div id="materialSliderContainer">
        <section>
            <div>
                 <h2>Sliders let users select from a range of values by moving the slider thumb.</h2>
                <div class="module">
                    <p>Sliders are ideal components for adjusting settings that reflect intensity
                        levels, such as volume, brightness, or color saturation.</p>
                    <p>Sliders may have icons on both ends of the bar that reflect the value
                        intensity. Place the smallest value for the slider range on the left and
                        the largest value on the right.</p>
                </div>
                <div class="module">
                     <h3>Continuous sliders</h3>
                    <p>Continuous sliders allow users to select a value along a subjective range.
                        They do not require a specific value to make adjustments, although they
                        may, in some instances, offer an editable numeric value.</p>
                     <h3>Discrete sliders</h3>
                    <p>Discrete sliders allow users to select a specific value from a range.</p>
                </div>
            </div>
        </section>
        <nav>
             <h2>Contents</h2>
            <ul>
                <li><a href="#continuousSliders">Continuous slider</a>
                </li>
                <li><a href="#discreteSliders">Discrete slider</a>
                </li>
                <li><a href="#scaleSliders">Scales</a>
                </li>
                <li><a href="#verticalSliders">Orientation</a>
                </li>
                <li><a href="#demoSliders">Demo</a>
                </li>
            </ul>
        </nav>
        <section id="continuousSliders">
             <h2>Continuous slider</h2>
            <div class="module">
                <p>Use continuous sliders for subjective settings that do not require a specific
                    value for the user to make meaningful adjustments.</p>
            </div>
            <div class="module continuousSliderLight">
                <table>
                    <tr>
                        <td>
                            <smart-slider #slider scale-position="none"></smart-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <smart-slider #slider2 scale-position="none" value="50"></smart-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <smart-slider #slider3 scale-position="none" value="100"></smart-slider>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <section id="discreteSliders">
             <h2>Discrete slider</h2>
            <div class="module">
                <p>The discrete slider thumb snaps to evenly spaced tick marks along the
                    slider rail. Use for objective settings that require specific values for
                    the user to make meaningful adjustments. Each tick mark should change the
                    setting to a level that’s discernible to the user. The values are predetermined
                    and aren’t user-editable.</p>
                <p>The thumb label can be positioned on the near of the far side of the track
                    by setting the thumbLabelPosition property to "near" or "far". Default
                    value is "near".</p>
            </div>
            <div class="module">
                 <h2>With a numeric value label</h2>
                <p>Use for settings for which users need to know the exact value of the setting.</p>
            </div>
            <div class="module discreteSliderLight">
                <table>
                    <tr>
                        <td>
                            <smart-slider #slider4 labels-visibility="endPoints" interval="10" [coerce]="true"
                            ticks-visibility="major" show-thumb-label scale-type="integer" scale-position="far"></smart-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <smart-slider #slider5 labels-visibility="endPoints" interval="10" [coerce]="true"
                            ticks-visibility="major" show-thumb-label scale-type="integer" scale-position="far"
                            value="50"></smart-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <smart-slider #slider6 labels-visibility="endPoints" interval="10" [coerce]="true"
                            ticks-visibility="major" show-thumb-label scale-type="integer" scale-position="far"
                            value="100"></smart-slider>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <section id="scaleSliders">
             <h2>Scales</h2>
            <div class="module">
                <p>Continuous smartSlider with a scale.</p>
            </div>
            <div class="module continuousScaleSlider">
                <table>
                    <tr>
                        <td>
                            <smart-slider #slider7 scale-type="integer" scale-position="near" ticks-position="scale"
                            ticks-visibility="major"></smart-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <smart-slider #slider8 scale-position="both" scale-type="integer" ticks-position="track"
                            ticks-visibility="major"></smart-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <smart-slider #slider9 scale-type="integer" scale-position="far" ticks-position="scale"
                            ticks-visibility="major"></smart-slider>
                        </td>
                    </tr>
                </table>
                <p>Continuous slider with scale positions: near, both and far</p>
            </div>
            <div class="module">
                <p>Discrete smartSlider can have a scale on the track</p>
            </div>
            <div class="module discreteScaleSlider">
                <div>
                    <smart-slider #slider10 [coerce]="true" interval="20" show-thumb-label scale-type="integer"
                    scale-position="both" ticks-visibility="major"></smart-slider>
                </div>
                <p>Discrete slider</p>
            </div>
            <div class="module">
                <p>smartSlider can have multiple thumbs</p>
            </div>
            <div class="module discreteScaleSlider">
                <div>
                    <smart-slider #slider11 range-slider scale-type="integer" scale-position="both"
                    ticks-visibility="major"></smart-slider>
                </div>
                <p>Range slider</p>
            </div>
        </section>
        <section id="verticalSliders">
             <h2>Orientation</h2>
            <div class="module">
                <p>Smart Slider can be horizontal or vertical depending on the orientation
                    property.</p>
            </div>
            <div class="module">
                <div>
                    <smart-slider #slider12 orientation="vertical" scale-position="none" value="50"></smart-slider>
                    <smart-slider #slider13 orientation="vertical" scale-position="none"
                    value="75" [inverted]="true"></smart-slider>
                </div>
                <p>Vertical continuous slider / Vertical continuous slider inverted</p>
            </div>
            <div class="module">
                <div>
                    <smart-slider #slider14 [coerce]="true" interval="20" orientation="vertical" show-thumb-label
                    scale-type="integer" scale-position="both" value="50"></smart-slider>
                    <smart-slider #slider15 [coerce]="true" interval="20" orientation="vertical"
                    show-thumb-label scale-type="integer" scale-position="both" value="25"
                    [inverted]="true"></smart-slider>
                </div>
                <p>Vertical discrete slider / Vertical discrete slider inverted</p>
            </div>
        </section>
        <section id="demoSliders">
             <h2>Demo</h2>
            <div class="module">
                <p>Sliders are controls that are used for adjusting values precisely.</p>
            </div>
            <div class="module media-controls">
                <div>
                     <h2>Volumes</h2>
                    <div>
                         <h3>Media volume</h3>
                        <div id="mediaControl" class="controls"> <i class="material-icons">&#xE04D;</i>
                            <smart-slider #slider16 id="mediaSlider"
                            scale-position="none" value="25"></smart-slider>
                        </div>
                    </div>
                    <div>
                         <h3>Alarm volume</h3>
                        <div id="alarmControl" class="controls"> <i class="material-icons">&#xE855;</i>
                            <smart-slider #slider17 id="alarmSlider"
                            scale-position="none" value="50"></smart-slider>
                        </div>
                    </div>
                    <div>
                         <h3>Ring volume</h3>
                        <div id="ringControl" class="controls"> <i class="material-icons">&#xE7F4;</i>
                            <smart-slider #slider18 id="volumeSlider"
                            scale-position="none" value="75"></smart-slider>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module power-controls">
                <div>
                     <h2>Battery Saver Mode</h2>
                    <div>
                         <h3>Low battery alert on <b id="lowBatteryAlert">15</b> %</h3>
                        <div id="mediaControl" class="controls"> <i class="material-icons">&#xE8B2;</i>
                            <smart-slider #slider19 id="lowBatterySlider"
                            scale-position="none" value="15" scale-type="integer" show-thumb-label></smart-slider>
                        </div>
                    </div>
                    <div>
                         <h3>Power saver mode active on <b id="powerSaver">50</b>%</h3>
                        <div id="alarmControl" class="controls"> <i class="material-icons">&#xE19C;</i>
                            <smart-slider #slider20 id="powerSaverSlider"
                            scale-position="none" value="50" scale-type="integer" show-thumb-label></smart-slider>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>