.getting-started {
    .getting-started-header {
        margin-bottom: 0.75rem;
        flex: 0 0 100%;
        max-width: 100%;

        h4 {
            font-size: 1.5rem;
        }
    }

    .custom-card {
        margin-bottom: 1.5rem;

        .getting-started-card-header {
            font-size: 1.5rem;
        }

        p {
            opacity: 0.9;
        }
    }

    pre {
        border: 1px solid var(--smart-border);
        border-radius: 3px;
        padding: 10px;
        background-color: var(--smart-surface);
        display: block;
        font-size: 87.5%;
        color: #212529;
        margin-top: 0;
        margin-bottom: 1rem;
        overflow: auto;
    }
}

#getting-started-browserIconContainer {
    .browser-icon {
        margin-right: 1rem;
    }
}

#getting-started-chrome {
    background-position: -10px -10px;
}

#getting-started-firefox {
    background-position: -10px -78px;
}

#getting-started-safari {
    background-position: -146px -10px;
}

#getting-started-edge {
    background-position: -78px -10px;
}

#getting-started-opera {
    background-position: -78px -78px;
}
