<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Tables</h4></div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Basic Table</h4>
                </div>
                <div class="card-body">
                    <div id="basicTable"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Striped Rows</h4>
                </div>
                <div class="card-body">
                    <div id="stripedTable" class="table-striped"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Condensed Table</h4>
                </div>
                <div class="card-body">
                    <div id="condensedTable" class="small-table table-striped"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Hoverable Rows</h4>
                </div>
                <div class="card-body">
                    <div id="hoverableTable" class="table-hover"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Bordered Table</h4>
                </div>
                <div class="card-body">
                    <div id="borderedTable" class="table-bordered"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Contextual Row Colors</h4>
                </div>
                <div class="card-body">
                    <div id="coloredTable"></div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="label">Spreadsheet Table</h4>
                </div>
                <div class="card-body">
                    <div id="spreadsheetTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>