<div class="container sign-in">
    <div class="sign-in-header">
        <h2>Welcome back, John!</h2>
        <p>Please sign in to your account to continue</p>
    </div>

    <div class="sign-in-body custom-row">
        <div class="card-wrapper custom-col">
            <div class="card-shadow">
                <div class="card-body">
                    <div class="img-as-background">
                        <img src="../../../../assets/images/phonebook/mark.png">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <smart-input></smart-input>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <smart-password-text-box></smart-password-text-box>
                        <a href="#" class="small">Forgot your password?</a>
                    </div>

                    <div class="form-group">
                        <smart-check-box [checked]="true">Remember me</smart-check-box>
                    </div>

                    <div class="text-center">
                        <smart-button class="primary">Sign in</smart-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>