<smart-drop-down-list #dropdownlist [itemTemplate]="'template'">
    <smart-list-items-group [label]="'Swedish Cars'">
        <smart-list-item [selected]="true" [value]="'volvo'">Volvo</smart-list-item>
        <smart-list-item [value]="'saab'">Saab</smart-list-item>
        <smart-list-item [value]="'saab'">Scania</smart-list-item>
    </smart-list-items-group>
    <smart-list-items-group [label]="'German Cars'">
        <smart-list-item [value]="'mercedes'">Mercedes</smart-list-item>
        <smart-list-item [value]="'vw'">VW</smart-list-item>
        <smart-list-item [value]="'audi'">Audi</smart-list-item>
        <smart-list-item [value]="'porsche'">Porsche</smart-list-item>
    </smart-list-items-group>
    <smart-list-items-group [label]="'Japanese Cars'">
        <smart-list-item [value]="'mazda'">Mazda</smart-list-item>
        <smart-list-item [value]="'honda'">Honda</smart-list-item>
        <smart-list-item [value]="'infinity'">Infinity</smart-list-item>
        <smart-list-item [value]="'mitsubishi'">Mitsubishi</smart-list-item>
        <smart-list-item [value]="'toyota'">Toyota</smart-list-item>
    </smart-list-items-group>
</smart-drop-down-list>