<smart-menu #menu id="menu">
    <smart-menu-item [value]="'Sun'">
        <img src="./../../../src/images/sun.png" title="Sun" />Sun</smart-menu-item>
    <smart-menu-items-group>
        <img src="./../../../src/images/earth.png" title="Planets" />Planets
        <smart-menu-item [value]="'Earth'">
            <img src="./../../../src/images/earth.png" title="Earth" />Earth</smart-menu-item>
        <smart-menu-item [value]="'Mars'">
            <img src="./../../../src/images/mars.png" title="Mars" />Mars</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-item [value]="'Moon'">
        <img src="./../../../src/images/moon.png" title="Moon" />Moon</smart-menu-item>
</smart-menu>