<smart-docking-layout #dockinglayout id="layout" [layout]="layout"></smart-docking-layout>
<div class="options">
    <div class="option">
        <smart-drop-down-list #dropDownList>
            <smart-list-item [value]="'itemA'">ItemA</smart-list-item>
            <smart-list-item [value]="'itemB'">ItemB</smart-list-item>
            <smart-list-item [value]="'itemC'">ItemC</smart-list-item>
            <smart-list-item [value]="'itemD'">ItemD</smart-list-item>
        </smart-drop-down-list>
    </div>
    <br />
    <div class="option">
        <smart-button #button id="autoHideTop">AutoHideTop</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="autoHideBottom">AutoHideBottom</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="autoHideLeft">AutoHideLeft</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="autoHideRight">AutoHideRight</smart-button>
    </div>
</div>
<br />
<br />