smart-switch-button {
    font-size: 10px;
}

    smart-switch-button .smart-true-content {
        color: rosybrown;
    }

    smart-switch-button .smart-false-content {
        color: gray;
    }

    smart-switch-button[orientation="vertical"] .smart-true-content,
    smart-switch-button[orientation="vertical"] .smart-false-content {
        writing-mode: tb-rl;
    }

    smart-switch-button[orientation="vertical"] .smart-true-content {
        padding: 0px 0px 5px 0px;
    }

    smart-switch-button[orientation="vertical"] .smart-false-content {
        padding: 5px 0px 0px 0px;
    }
