smart-switch-button .smart-true-content,
smart-switch-button .smart-false-content {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

smart-switch-button .smart-true-content {
    background-color: green;
}

smart-switch-button .smart-false-content {
    background-color: red;
}
