<div class="demo-description">Kanban with custom tasks styling.</div>

<smart-kanban #kanban id="kanban" [collapsible]="collapsible" [editable]="editable" [columnFooter]="columnFooter"
[columnSummary]="columnSummary" [priorityList]="priorityList" [taskUserIcon]="taskUserIcon" [taskPriority]="taskPriority"
[dataSourceMap]="dataSourceMap" [dataSource]="dataSource" [taskCustomFields]="taskCustomFields" [allowColumnEdit]="allowColumnEdit"
[allowColumnReorder]="allowColumnReorder" [taskDue]="taskDue" [taskComments]="taskComments" [currentUser]="currentUser" [taskProgress]="taskProgress"
[users]="users" [columns]="columns" [onTaskRender]="onTaskRender" [dialogRendered]="dialogRendered" [localizeFormatFunction]="localizeFormatFunction">
</smart-kanban>