html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    --smart-scheduler-event-size-basic: 50px;
}

#root > div {
    width: 100%;
    height: 100%;
}

.smart-scheduler {
    width: 100%;
    height: 100%;
}

.event-content-wrapper {
    height: 100%;
    display: grid;
    row-gap: 5px;
    justify-items: start;
    overflow: auto;
    font-family: Roboto,Arial,sans-serif;
    text-align: start;
}

.event-content-wrapper .time {
    font-size: 10px;
}

.event-content-wrapper img {
    width: 100%;
}