/* ------------ Google fonts ------------ */ /* APACHE LICENSE 2.0 ! */

/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

smart-tabs {
	width:100%;
	height:100%;
	overflow:hidden;
}

smart-tab-item .smart-container {
	overflow: hidden;
}
/* ------------ */
.smart-demo-container {
	margin: 0 !important;
}
#materialWindowContainer {
	
	line-height: 24px;
	font-size: 13px;
	margin: 5% 10%;
}
#materialWindowContainer section h2 {
			font-weight: 400;
			font-size: 24px;
			line-height: 40px;
			margin-bottom: 30px;
			color: #764ebe;
		}
	#materialWindowContainer section h2 {
		border-top: 1px solid rgba(0,0,0,.12);
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 30px;
		color: #3949ab;
	}

	#materialWindowContainer smart-tabs-window {
		--smart-window-default-width: 80%;
		--smart-window-default-height: 80%;
	}

	#materialWindowContainer smart-tabs-window smart-tab-item div h2 {
		border-top: initial;
		font-size: 30px;
	}

	#materialWindowContainer section:first-of-type h2 {
		font-size: 34px;
		border-top: initial;
	}

	#materialWindowContainer #appearance h2 {
		border-top: initial;
	}

	#materialWindowContainer section:first-of-type div h2 {
		font-size: 20px;
	}

	#materialWindowContainer section {
		margin-top: 80px;
	}

		#materialWindowContainer section:first-of-type {
			margin-top: 0;
		}

		#materialWindowContainer section div h2 {
			color: #212121;
			font-size: 20px;
			font-weight: 400;
			line-height: 32px;
			margin-bottom: 30px;
			max-width: 940px;
		}

	#materialWindowContainer nav {
		display: block;
		border-left: 5px #3949ab solid;
		padding-left: 20px;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		-webkit-font-smoothing: antialiased;
		font: inherit;
		margin-top: 60px;
	}

		#materialWindowContainer nav ul {
			list-style: none;
			margin-top: 0;
			padding-left: 0;
			margin: 0;
			padding: 0;
			border: 0;
			font: inherit;
			vertical-align: baseline;
			display: block;
			list-style-type: disc;
		}

		#materialWindowContainer nav li {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
			font-size: 20px;
			line-height: 40px;
		}

			#materialWindowContainer nav li a {
				text-decoration: none;
			}

		#materialWindowContainer nav h2 {
			font-size: 15px;
			line-height: 16px;
			padding-bottom: 12px;
			font-weight: 400;
			color: #757575;
			margin: 0;
			padding: 0;
			border: 0;
			font: inherit;
			vertical-align: baseline;
			-webkit-margin-before: 1em;
			-webkit-margin-after: 1em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
		}

.module {
	width: calc(100% / 4);
	display: inline-block;
	font: inherit;
	margin-right: 40px;
	min-width: 355px;
	vertical-align: top;
}

	.module.gestures {
		width: calc(100% / 2);
	}

	.module h3 {
		font-size: 13px;
	}

	.module p {
		margin-bottom: 20px;
	}

	.module img {
		width: 100%;
	}

	.module h2 {
		font-weight: 400;
	}


#materialWindowContainer #appearance .module:nth-child(4),
#materialWindowContainer #appearance .module:nth-child(5),
#materialWindowContainer #behavior .module:nth-child(5),
#materialWindowContainer #behavior .module:nth-child(6),
#materialWindowContainer #behavior .module:nth-child(7),
#materialWindowContainer #behavior .module:nth-child(8),
#materialWindowContainer #behavior .module:nth-child(9),
#materialWindowContainer #behavior .module:nth-child(10),
#materialWindowContainer #behavior .module:nth-child(11),
#materialWindowContainer #behavior .module:nth-child(12),
#materialWindowContainer #types .module {
	margin-top: 50px;
}

#materialWindowContainer #appearance .module:nth-child(3),
#materialWindowContainer #appearance .module:nth-child(5),
#materialWindowContainer #appearance .module:nth-child(7) {
	width: calc(100% / 2);
}

#materialWindowContainer #appearance .module:nth-child(5),
#materialWindowContainer #appearance .module:nth-child(7) {
	height: 400px;
}

#materialWindowContainer .headerTemplateContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

	#materialWindowContainer .headerTemplateContainer i {
		margin-right: 5px;
		font-size: 16px;
	}

#materialWindowContainer smart-window:first-of-type {
	--smart-window-default-height: 250px;
	--smart-window-default-width: 250px;
}

#materialWindowContainer smart-window {
	--smart-window-default-width: 400px;
	--smart-window-default-height: 200px;
}

		#materialWindowContainer smart-window.content-window smart-list-box {
			height: 100%;
			width: 100%;
			box-shadow: initial;
			background-color: initial;
		}


#materialWindowContainer #appearance .module:nth-child(5) p {
	margin-top: 350px;
	padding-left: 125px;
}

#materialWindowContainer #appearance .module:nth-child(7) p {
	margin-top: 365px;
	padding-left: 300px;
}

#materialWindowContainer .confirmation-window {
	background-image: url(https://www.htmlelements.com/demos/images/components-windows-confirmation.png);
	height: 725px;
	width: 405px;
	background-size: cover;
}

#materialWindowContainer .confirmation-window2 {
	height: 725px;
	width: 405px;
	background-color: #E0E0E0;
}

	#materialWindowContainer .confirmation-window2 smart-window {
		--smart-window-default-width: 300px;
		--smart-window-default-height: 225px;
	}

#materialWindowContainer .confirmation-window smart-window {
	--smart-window-default-width: 317px;
	--smart-window-default-height: 588px;
	top: 55px;
	left: 45px;
}

#materialWindowContainer #appearance .module:nth-child(8),
#materialWindowContainer .confirmation-window,
#materialWindowContainer .confirmation-window2,
#materialWindowContainer .window-themes {
	margin-top: 50px;
}

	#materialWindowContainer .confirmation-window smart-window,
	#materialWindowContainer .confirmation-window2 smart-window {
		--smart-window-header-height: 55px;
		--smart-window-footer-height: 55px;
	}

	#materialWindowContainer .confirmation-window .smart-header-section,
	#materialWindowContainer .confirmation-window2 .smart-header-section {
		background-color: initial;
		font-size: 23px;
		padding: 20px;
		font-weight: 600;
	}

	#materialWindowContainer .confirmation-window smart-list-item .smart-input:after,
	#materialWindowContainer .confirmation-window smart-list-items-group .smart-input:after,
	#materialWindowContainer .confirmation-window2 smart-list-item .smart-input:after,
	#materialWindowContainer .confirmation-window2 smart-list-items-group .smart-input:after {
		line-height: 15px;
	}

	#materialWindowContainer .confirmation-window smart-list-item .smart-input,
	#materialWindowContainer .confirmation-window smart-list-items-group .smart-input,
	#materialWindowContainer .confirmation-window2 smart-list-item .smart-input,
	#materialWindowContainer .confirmation-window2 smart-list-items-group .smart-input {
		font-size: inherit;
	}



	#materialWindowContainer .confirmation-window .smart-footer,
	#materialWindowContainer .confirmation-window2 .smart-footer {
		background-color: initial;
		display: flex;
		justify-content: flex-end;
	}

		#materialWindowContainer .confirmation-window .smart-footer smart-button,
		#materialWindowContainer .confirmation-window2 .smart-footer smart-button {
			height: 100%;
		}


	#materialWindowContainer .confirmation-window p,
	#materialWindowContainer .confirmation-window2 p {
		margin-top: 750px;
	}

#materialWindowContainer smart-list-box.material smart-list-item {
	border-bottom: initial;
}

#materialWindowContainer .window-themes {
	margin-top: 100px;
}

#materialWindowContainer .window-themes1,
#materialWindowContainer .window-modal,
#materialWindowContainer .window-types {
	height: 500px;
}

#materialWindowContainer .window-with-header-themes1,
#materialWindowContainer .window-with-header-themes2 {
	background-image: url('https://www.htmlelements.com/demos/images/components-windows-header.png');
	background-size: cover;
	height: 665px;
}

	#materialWindowContainer .window-with-header-themes1 smart-window,
	#materialWindowContainer .window-with-header-themes2 smart-window {
		left: 40px;
		top: 165px;
		--smart-window-default-width: 295px;
		--smart-window-default-height: 300px;
		--smart-window-header-height: 70px;
		--smart-window-footer-height: 50px;
	}

		#materialWindowContainer .window-with-header-themes1 smart-window .smart-header-section,
		#materialWindowContainer .window-with-header-themes2 smart-window .smart-header-section {
			font-size: 20px;
			padding: 20px;
			color: white;
			background-color: initial;
		}

		#materialWindowContainer .window-with-header-themes1 smart-window .smart-footer,
		#materialWindowContainer .window-with-header-themes2 smart-window .smart-footer {
			background-color: initial;
		}

			#materialWindowContainer .window-with-header-themes1 smart-window .smart-footer button,
			#materialWindowContainer .window-with-header-themes2 smart-window .smart-footer button {
				color: #2693E5;
			}

		#materialWindowContainer .window-with-header-themes2 smart-window .smart-header-section {
			color: black;
			background-color: initial;
		}

		#materialWindowContainer .window-with-header-themes1 smart-window > .smart-container > .smart-content,
		#materialWindowContainer .window-with-header-themes2 smart-window > .smart-container > .smart-content {
			padding: 20px;
		}


#materialWindowContainer .window-themes1 > p,
#materialWindowContainer .window-themes2 > p {
	margin-top: 525px;
}

#materialWindowContainer .window-with-header-themes1 > p,
#materialWindowContainer .window-with-header-themes2 > p {
	margin-top: 685px;
}

#materialWindowContainer .window-themes1 smart-window smart-button,
#materialWindowContainer .window-themes2 smart-window smart-button,
#materialWindowContainer .window-modal smart-window smart-button {
	height: 100%;
}

#materialWindowContainer .header-controls > smart-button,
#materialWindowContainer .window-types > smart-button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#materialWindowContainer .window-modal.header-controls.dark {
	background-color: black;
}

#materialWindowContainer .header-controls smart-window img {
	height: 100%;
}

#materialWindowContainer .window-modal.header-controls smart-window.material {
	--smart-window-header-height: 50px;
	--smart-window-default-width: 250px;
	--smart-window-default-height: 300px;
}

#materialWindowContainer .window-modal.header-controls smart-window.material-dark {
	--smart-window-header-height: 50px;
	--smart-window-default-width: 250px;
	--smart-window-default-height: 300px;
}

	#materialWindowContainer .window-modal.header-controls smart-window.material-dark smart-tabs {
		width: 100%;
		height: 100%;
	}

	#materialWindowContainer .window-modal.header-controls smart-window.material-dark smart-tab-item {
		overflow: initial;
	}

	#materialWindowContainer .window-modal.header-controls smart-window.material-dark .smart-tabs-content-section {
		margin: initial;
	}

#materialWindowContainer .header-controls smart-window .smart-content {
	height: 100%;
}

#materialWindowContainer .window-themes1 smart-window .smart-content p,
#materialWindowContainer .window-themes2 smart-window .smart-content p,
#materialWindowContainer .window-modal smart-window .smart-content p {
	width: 100%;
	margin-left: 35px;
	margin-top: 0;
}

#materialWindowContainer .window-modal.unpinned .smart-header-section,
#materialWindowContainer .window-modal.scrollable-content .smart-header-section,
#materialWindowContainer .window-modal.header-controls .smart-header-section {
	display: flex;
}

.scrollable-content smart-window {
	width:250px;
	left: 0px;
}
#materialWindowContainer .window-modal.scrollable-content smart-window .smart-content {
	overflow: scroll;
}

#materialWindowContainer .window-modal.scrollable-content .smart-content > div {
	height: 100%;
}

#materialWindowContainer .window-modal.scrollable-content .smart-container > .smart-content {
	padding: 10px;
}

#materialWindowContainer .window-modal.unpinned smart-window,
#materialWindowContainer .window-modal.scrollable-content smart-window {
	--smart-window-header-height: 50px;
	--smart-window-default-height: 200px;
}

#materialWindowContainer .window-modal.scrollable-content smart-window {
	--smart-window-default-height: 350px;
	--smart-window-default-width: 600px;
	min-width: 150px;
}

#materialWindowContainer .window-modal.scrollable-content,
#materialWindowContainer .window-types.tabs-window {
	width: calc(100% / 2);
}

	#materialWindowContainer .window-types.tabs-window:last-of-type {
		background-color: black;
	}

#materialWindowContainer .window-modal.header-controls smart-window .smart-header-section smart-button {
	display: initial;
}

#materialWindowContainer .window-modal.unpinned .smart-content p {
	text-align: center;
	margin: initial;
}

#materialWindowContainer .window-themes2 {
	background-color: black;
	height: 500px;
}

	@media (max-width: 1026px) {
		#materialWindowContainer .window-modal.scrollable-content,
		#materialWindowContainer .window-types.tabs-window  {
			width:96% !important;
		}
	}