<div class="container">
    <div class="row">
        <div class="col">
            <div class="header-menu">
                <div class="welcome">Dashboard</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div id="sales" class="card">
                <div class="header">
                    <div class="label">Total sales</div>
                    <div class="value">$60,432</div>
                </div>
                <div>
                    <smart-progress-bar value=59 />
                </div>
                <div class="footer">
                    <div>Target</div>
                    <div class="value">59%</div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="downloads" class="card">
                <div class="header">
                    <div class="label">Downloads</div>
                </div>
                <div class="center">
                    <smart-gauge 
                        analog-display-type="fill" labels-visibility="none" 
                        ticks-visibility="none" digital-display start-angle="-30" 
                        end-angle="210" min="0" max="100" value="70" precision-digits="2">
                    </smart-gauge>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="newCustomers" class="card">
                <div class="header">
                    <div class="label">New customers</div>
                    <div class="value">765</div>
                </div>
                <div>
                    <smart-chart id="newCustomersChart" />
                </div>
                <div class="footer">
                    <div>2019</div>
                    <div>2021</div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div id="employee" class="card">
                <div class="header">
                    <div class="label">Employee of the month</div>
                </div>
                <div class="center">
                    <img src="../../images/phonebook/steven.png">
                    <span>Steven Buchanan</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="large-card">
                <div class="card-header">
                    <div class="label">Top Employees</div>
                    <smart-button id="exportBtn" class="primary"><span class="material-icons">get_app</span>Export</smart-button>
                </div>
                <div id="employeesTable" table-striped></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="large-card">
                <div class="card-header">
                    <div class="label">Product sales</div>
                    <smart-button-group data-source='[2018, 2019, 2021]' selected-values='[2021]'></smart-button-group>
                </div>
                <smart-chart id="productSales" />
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate"></smart-menu-item>
    <smart-menu-item>First action</smart-menu-item>
    <smart-menu-item>Second action</smart-menu-item>
    <smart-menu-item separator>Third action</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>

<template id="settingsTemplate">SETTINGS</template>