html,
body,
#root > div,
#kanban {
    width: 100%;
    height: 100%;
}

html,
body {
    margin: 0;
}

.smart-kanban-task-text.high .priority {
    display: none;
}

.attention {
    color: orangered;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    margin-top: 5px;
}

.thumb {
    border: 1px solid var(--smart-primary);
    height: 100px;
    background-size: cover;
}
