body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#root > div {
    width: 100%;
    height: 100%;
}

smart-carousel {
    width: 100%;
    height: 100%;
    display: block;
    border-width: 0px;
}

    smart-carousel .smart-carousel-item-label {
        font-size: 50px;
    }

    smart-carousel .smart-carousel-item .smart-carousel-item-content {
        color: black;
        padding: 50px;
        text-shadow: 0px 0px 25px #fefefe;
    }

    smart-carousel .smart-arrow:after {
        font-size: 40px;
        position: absolute;
        color: white;
    }

    smart-carousel .smart-arrow-left:after {
        left: 20px;
    }

    smart-carousel .smart-arrow-right:after {
        right: 20px;
    }

    smart-carousel .smart-indicator {
        border-color: white;
        box-shadow: 0px 0px 25px #000;
        border-radius: 50%;
        background-color: white;
    }

        smart-carousel .smart-indicator.smart-active {
            border-width: 5px;
        }
