<div class="smart-demo-container">
    <section>
        <div>
             <h2>Tooltips are text labels that appear when the user hovers over, focuses on, or touches an element.</h2>
            <div class="module">
                <p>Tooltips identify an element when they are activated. They may contain
                    brief helper text about its function. For example, they may contain text
                    information about actionable icons.</p>
                <p>Tooltip labels do not receive input focus.</p>
            </div>
            <div class="module">
                 <h3>Summoned by:</h3>
                <p>Hovering over an element with a cursor
                    <br>Focusing on an element with a keyboard (usually the tab key)
                    <br>Upon touch</p>
            </div>
            <div class="module"></div>
        </div>
    </section>
    <nav>
         <h2>Contents</h2>
        <ul>
            <li><a href="#tooltip-usage">Usage</a>
            </li>
            <li><a href="#tooltip-interaction">Interaction</a>
            </li>
            <li><a href="#tooltip-desktop">Tooltips - desktop style</a>
            </li>
            <li><a href="#tooltip-mobile">Tooltips - mobile style</a>
            </li>
        </ul>
    </nav>
    <section id="tooltip-usage">
         <h2>Usage</h2>
        <div class="module">
            <p>Use tooltips for interactive imagery.</p>
        </div>
        <div class="module light module-large">
            <table>
                <tr>
                    <td>
                        <smart-button #button id="usageTooltipNormalBtn"><i class='material-icons'>&#xE8AD;</i>
                        </smart-button>
                        <br/>
                        <br/>
                        <smart-tooltip #tooltip id="usageTooltipNormal" selector="usageTooltipNormalBtn"
                        position="bottom" class="animation material">Print</smart-tooltip>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section id="tooltip-usage2">
        <div class="module">
            <p>Tooltips usually don’t display rich information including images and formatted
                text.</p>
            <p>Tooltips are different than ALT-attributes, which are intended primarily
                for static images.</p>
            <p>Tooltips by default don’t have directional arrows; instead, they rely
                on motion emanating from the source to convey direction.</p>
        </div>
        <div class="quick">
            <p>Move the pointer over the icon</p> <i style="margin-left:100px;" id="quickAdd"
            class="material-icons">&#xE145;</i>
            <smart-tooltip #tooltip2 id="tooltipQuickAdd"
            selector="quickAdd" position="bottom" [offset]="[0,20]" class="animation material">Quick add</smart-tooltip>
        </div>
        <div class="module">
            <br/>
            <br/>
            <div class="menu-container toggle-button-exclusive-selection">
                <div id="smallMenu">
                    <smart-toggle-button #togglebutton class="exclusive-selection" group="small"><i class="material-icons">format_bold</i>
                    </smart-toggle-button>
                    <smart-toggle-button #togglebutton2 class="exclusive-selection" group="small"><i class="material-icons">format_italic</i>
                    </smart-toggle-button>
                    <smart-toggle-button #togglebutton3 class="exclusive-selection" group="small"><i class="material-icons">format_underlined</i>
                    </smart-toggle-button>
                    <smart-toggle-button #togglebutton4 class="exclusive-selection" group="small"><i class="material-icons">format_color_fill</i>
                    </smart-toggle-button>
                </div>
            </div>
            <smart-tooltip #tooltip3 id="commonSmallMenuTooltip" position="bottom"
            [offset]="[0,10]" class="animation material"></smart-tooltip>
        </div>
    </section>
    <section id="tooltip-interaction">
         <h2>Interaction</h2>
        <div class="module ">
            <p>A tooltip is triggered by tapping and holding an item. Keep the tooltip
                displayed as long as the user continues to hold the element.</p>
             <h2>Motion details</h2>
            <p>The tooltip entrance occurs over 150ms, using the Deceleration Curve.
                It also exits over 150ms, using the Acceleration Curve.</p>
             <h2>Tooltip delay</h2>
            <p>User can control the delay of tooltip show by configuring the "delay"
                property.</p>
        </div>
        <div class="module module-large" style="padding:10px;">
            <smart-button #button2 id="button300ms" class="material">300ms</smart-button>
            <br/>
            <br/>
            <smart-tooltip #tooltip4 id="tooltip300ms" selector="button300ms" position="bottom"
            [delay]="300" [offset]="[0,10]" class="animation material">300ms delay</smart-tooltip>
            <br/>
            <br/>
            <smart-button #button3 id="button500ms" class="material">500ms</smart-button>
            <br/>
            <br/>
            <smart-tooltip #tooltip5 id="tooltip500ms" selector="button500ms" position="bottom"
            [delay]="500" [offset]="[0,10]" class="animation material">500ms delay</smart-tooltip>
            <br/>
            <br/>
            <smart-button #button4 id="button1000ms" class="material">1000ms</smart-button>
            <br/>
            <br/>
            <smart-tooltip #tooltip6 id="tooltip1000ms" selector="button1000ms" position="bottom"
            [delay]="1000" [offset]="[0,10]" class="animation material">1000ms delay</smart-tooltip>
            <br/>
            <br/>
            <smart-button #button5 id="button1500ms" class="material">1500ms</smart-button>
            <br/>
            <br/>
            <smart-tooltip #tooltip7 id="toolti1500ms" selector="button1500ms" position="bottom"
            [delay]="1500" [offset]="[0,10]" class="animation material">1500ms delay</smart-tooltip>
        </div>
    </section>
    <section id="tooltip-desktop">
        <div class="module module-large" style="position:relative;">
            <div class="menu-container toggle-button-exclusive-selection">
                <div id="largeMenu">
                    <smart-toggle-button #togglebutton5 id="btnBold" class="exclusive-selection"
                    group="large"><i class="material-icons">format_bold</i>
                    </smart-toggle-button>
                    <smart-toggle-button #togglebutton6 id="btnItalic" class="exclusive-selection"
                    group="large"><i class="material-icons">format_italic</i>
                    </smart-toggle-button>
                    <smart-toggle-button #togglebutton7 id="btnUnderline" class="exclusive-selection"
                    group="large"><i class="material-icons">format_underlined</i>
                    </smart-toggle-button>
                    <smart-toggle-button #togglebutton8 id="btnAlignLeft" class="exclusive-selection"
                    group="large"><i class="material-icons">format_align_left</i>
                    </smart-toggle-button>
                    <smart-toggle-button #togglebutton9 id="btnAlignCenter" class="exclusive-selection"
                    group="large"><i class="material-icons">format_align_center</i>
                    </smart-toggle-button>
                </div>
            </div>
            <smart-tooltip #tooltip8 id="commonLargeMenuTooltip" selector="btnAlignJustify"
            position="bottom" [offset]="[0,10]" class="animation material">Align Justify</smart-tooltip>
        </div>
    </section>
    <section id="tooltip-mobile">
         <h2>Tooltips</h2>
        <div class="module"></div>
        <div class="module light" style="position:relative;">
            <div>
                <smart-button #button6 id="button4a" class="primary"><i class="material-icons">&#xE5D5;</i>
                </smart-button>
                <br/>
                <br/>
                <smart-tooltip #tooltip9 id="tooltip4a" selector="button4a" position="bottom"
                [offset]="[0,10]" class="animation mobile">Refresh</smart-tooltip>
            </div>
        </div>
    </section>
</div>