.carousel-page {
    smart-carousel {
        width: 100%;
        height: 300px;
    }
    
    #carouselWithCaptions .smart-carousel-item-label {
        padding: 3px;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
    }
}
