.CustomerID:after {
    background-image: url("https://img.icons8.com/ios-filled/16/000000/digi-id.png");
}

.ContactName:after {
    background-image: url("https://img.icons8.com/ios/16/000000/user-filled.png");
}

.Age:after {
    background-image: url("https://img.icons8.com/ios/16/000000/birthday-filled.png");
}

.Sex:after {
    background-image: url("https://img.icons8.com/ios/16/000000/gender.png");
}

.Address:after {
    background-image: url("https://img.icons8.com/ios-filled/16/000000/address--v1.png");
}

.PostalCode:after {
    background-image: url("https://img.icons8.com/ios-filled/16/000000/post-office.png");
}

.City:after {
    background-image: url("https://img.icons8.com/ios/16/000000/city-buildings.png");
}

.Country:after {
    background-image: url("https://img.icons8.com/ios/16/000000/country-filled.png");
}