<div class="demo-description">
     <h1>Data Grid Alternating Rows</h1>
    <p>The Data Grid provides Alternating Rows options. It can render alternation
        by one or multiple rows. It can have custom alternation start and end.
        This is controlled by the 'appearance.alternationStart', 'appearance.alternationEnd',
        'appearance.alternationCount' properties. In this demo, use the checkboxes
        to change the alternation style.</p>
</div>
<smart-grid #grid id="datagrid"></smart-grid>
<div class="options">
    <div class="caption">Appearance</div>
    <div class="option">
        <smart-check-box #checkbox id="alternationStart">alternationStart = 1</smart-check-box>
        <br />
        <br />
        <smart-check-box #checkbox2 id="alternationEnd">alternationEnd = 10</smart-check-box>
        <br />
        <br />
        <smart-check-box #checkbox3 id="alternationCount">AlternationCount = 5</smart-check-box>
        <br />
        <br />
    </div>
</div>