<smart-gauge #gauge id="gauge1" [analogDisplayType]="'needle'" [digitalDisplay]="true"
             [startAngle]="-30" [endAngle]="210" [min]="'-9223372036854775808'" [max]="'9223372036854775807'"
             [value]="0" [scaleType]="'integer'" [wordLength]="'int64'" [significantDigits]="2"></smart-gauge>
<smart-gauge #gauge2 id="gauge2" [analogDisplayType]="'line'"
             [digitalDisplay]="true" [startAngle]="-30" [endAngle]="210" [min]="0" [max]="1.8E+19"
             [value]="1.7E+19" [scaleType]="'integer'" [wordLength]="'uint64'" [significantDigits]="2"
             [coerce]="true" [interval]="1E+18"></smart-gauge>