<smart-card #card class="expandable-card" item-template="customTemplate"></smart-card>
<smart-card #card2 class="expandable-card" item-template="customTemplate"></smart-card>
<smart-card #card3 class="expandable-card" item-template="customTemplate"></smart-card>
<smart-card #card4 class="expandable-card" item-template="customTemplate"></smart-card>
<smart-card #card5 class="expandable-card" item-template="customTemplate"></smart-card>
<smart-card #card6 class="expandable-card" item-template="customTemplate"></smart-card>
