.pill.css {
    background-color: navy;
}

.pill.c-sharp {
    background-color: orchid;
}

.pill.html {
    background-color: orange;
}

.pill.java {
    background-color: coral;
}

.pill.javascript {
    background-color: yellow;
    color: black;
}

.pill.typescript {
    background-color: #2F6897;
}