<div class="container">
    <div class="row">
        <div class="col">
            <div class="header-menu">
                <div class="welcome">Welcome back, John!</div>
                <smart-button class="today-button settings-button"><span class="material-icons">calendar_today</span>Today<span class="material-icons">keyboard_arrow_down</span></smart-button>
                <smart-button class="primary"><span class="material-icons">filter_alt</span></smart-button>
                <smart-button class="primary"><span class="material-icons">refresh</span></smart-button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h5 class="font-weight-bold mb-0">Income</h5>
                        </div>
                        <div class="col text-right">
                            <span class="smart-badge smart-badge-info">Today</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h4 class="mb-0">$53.305</h4>
                        </div>
                        <div class="col text-right">
                            <span class="">91%</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center">
                        <div class="col-12">
                            <smart-progress-bar value="91" class="info"></smart-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h5 class="font-weight-bold mb-0">Orders</h5>
                        </div>
                        <div class="col text-right">
                            <span class="smart-badge smart-badge-warning">Annual</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h4 class="mb-0">9.809</h4>
                        </div>
                        <div class="col text-right">
                            <span class="">23%</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center">
                        <div class="col-12">
                            <smart-progress-bar value="23" class="warning"></smart-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h5 class="font-weight-bold mb-0">Activity</h5>
                        </div>
                        <div class="col text-right">
                            <span class="smart-badge smart-badge-primary">Monthly</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h4 class="mb-0">17.380</h4>
                        </div>
                        <div class="col text-right">
                            <span class="">50%</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center">
                        <div class="col-12">
                            <smart-progress-bar value="50" class="primary"></smart-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h5 class="font-weight-bold mb-0">Revenue</h5>
                        </div>
                        <div class="col text-right">
                            <span class="smart-badge smart-badge-success">Yearly</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center mb-5">
                        <div class="col">
                            <h4 class="mb-0">$28.940</h4>
                        </div>
                        <div class="col text-right">
                            <span class="">41%</span>
                        </div>
                    </div>

                    <div class="row justify-content-between align-items-center">
                        <div class="col-12">
                            <smart-progress-bar value="41" class="success"></smart-progress-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Sales Locations</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body">
                    <div id="salesMap" class="mh-300 h-100"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Total Revenue</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body maxh-350">
                    <div id="revenueChart" class="h-100 w-100"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Order Activity</h4>
                    <div class="settings-button">…</div>
                </div>

                <div class="card-body maxh-350 p-0">
                    <div id="appointmentContainer" class="h-100">
                        <div class="appointment">
                            <div class="label"><strong>Delivered</strong></div>
                            <p class="">30 minutes ago</p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>In transit</strong></div>
                            <p class="">3 hours ago</p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Shipped</strong></div>
                            <p class="">1 day ago</p>
                        </div>
                        <div class="appointment">
                            <div class="label"><strong>Received</strong></div>
                            <p class="">2 days ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Real-Time</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body">
                    <div id="bestSellingTable" class="table-striped no-border maxh-300"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Sales Comparison</h4>
                    <div class="settings-button">…</div>
                </div>
                <div class="card-body">
                    <div id="salesComparisonChart" class="w-100 h-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<smart-menu id="todayMenu" mode="dropDown">
    <smart-menu-item label="settingsTemplate"></smart-menu-item>
    <smart-menu-item>First action</smart-menu-item>
    <smart-menu-item>Second action</smart-menu-item>
    <smart-menu-item separator>Third action</smart-menu-item>
    <smart-menu-item>Additional action</smart-menu-item>
</smart-menu>

<template id="settingsTemplate">SETTINGS</template>