<smart-drop-down-button [placeholder]="'DropDown'" #dropdownbutton [dropDownWidth]="'auto'">
    <smart-tree #tree>
        <smart-tree-item>Home</smart-tree-item>
        <smart-tree-items-group>Solutions
            <smart-tree-item>Education</smart-tree-item>
            <smart-tree-item>Financial services</smart-tree-item>
            <smart-tree-item>Government</smart-tree-item>
            <smart-tree-item>Manufacturing</smart-tree-item>
            <smart-tree-item>All industries and solutions</smart-tree-item>
        </smart-tree-items-group>
        <smart-tree-items-group expanded>Products
            <smart-tree-item>PC products</smart-tree-item>
            <smart-tree-item>Mobile products</smart-tree-item>
            <smart-tree-item>All products</smart-tree-item>
        </smart-tree-items-group>
    </smart-tree>
</smart-drop-down-button>