<smart-splitter #splitter id="horizontalSplitter">
    <smart-splitter-item [size]="'25%'" [collapsible]="true">Item 1</smart-splitter-item>
    <smart-splitter-item [size]="'25%'" [collapsible]="true">item 2</smart-splitter-item>
    <smart-splitter-item [collapsible]="true">item 3</smart-splitter-item>
</smart-splitter>
<div class="options">
    <div class="caption">Methods</div>
    <div class="option">
        <smart-button #button id="appendItem">Append Item</smart-button>
    </div>
    <div class="option">
        <smart-button #button2 id="insertBefore">Insert Before</smart-button>
    </div>
    <div class="option">
        <smart-button #button3 id="removeItem">Remove Item</smart-button>
    </div>
    <div class="option">
        <smart-button #button4 id="insertButton">Insert</smart-button>
    </div>
    <div class="option">
        <smart-button #button5 id="removeButton">Remove</smart-button>
    </div>
    <div class="option">
        <smart-button #button6 id="collapseItem">Collapse</smart-button>
    </div>
    <div class="option">
        <smart-button #button7 id="expandItem">Expand</smart-button>
    </div>
    <div class="option">
        <smart-button #button8 id="showSplitterBar">Show Splitter Bar</smart-button>
    </div>
    <div class="option">
        <smart-button #button9 id="hideSplitterBar">Hide Splitter Bar</smart-button>
    </div>
    <div class="option">
        <smart-button #button10 id="lockSplitterItem">Lock Splitter Item</smart-button>
    </div>
    <div class="option">
        <smart-button #button11 id="unlockSplitterItem">Unlock Splitter Item</smart-button>
    </div>
</div>