<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Product Details</h4></div>
    </div>

    <div class="card product-details">
        <div class="card-body">
            <div class="row my-2">
                <div class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/images/products/1.png" class="product-image img-fluid" alt="product image"/>
                    </div>
                </div>

                <div class="col-12 col-md-7">
                    <h4>Apple Watch Series 5</h4>
                    <span class="item-company">By <a href="#" class="text-primary">Apple</a></span>
                    <div class="d-flex flex-wrap mt-1">
                        <h4 class="text-primary mr-1">$499.99</h4>
                    </div>

                    <p>Available - <span class="text-success">In stock</span></p>

                    <p>
                        GPS, Always-On Retina display, 30% larger screen, Swimproof, ECG app, Electrical and optical heart sensors,
                        Built-in compass, Elevation, Emergency SOS, Fall Detection, S5 SiP with up to 2x faster 64-bit dual-core
                        processor, watchOS 6 with Activity trends, cycle tracking, hearing health innovations, and the App Store on
                        your wrist
                    </p>

                    <ul class="product-features list-unstyled">
                        <li>
                            <i class="fas fa-shopping-basket"></i>
                            <span>Free Shipping</span></li>
                        <li>
                            <i class="fas fa-money-bill-alt"></i>
                            <span>Cash on delivery</span>
                        </li>
                    </ul>
                    <hr>

                    <div>
                        <h6>Colors</h6>

                        <div>
                            <smart-radio-button class="purple" checked></smart-radio-button>
                            <smart-radio-button class="green"></smart-radio-button>
                            <smart-radio-button class="red"></smart-radio-button>
                            <smart-radio-button class="orange"></smart-radio-button>
                        </div>
                    </div>

                    <hr>
                    <div class="d-flex flex-column flex-sm-row pt-1">
                        <a href="#" class="btn btn-primary mr-0 mr-sm-2 mb-1 mb-sm-0">
                            <i class="fas fa-shopping-basket mr-2"></i>
                            <span>Add to cart</span>
                        </a>
                        <a href="#" class="btn btn-outline-secondary mb-1 mb-sm-0">
                            <i class="fas fa-heart mr-2"></i>
                            <span>Wishlist</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center py-8">
        <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="w-75 mx-auto">
                <i class="fas fa-medal text-primary font-size-40px"></i>
                <h4 class="mt-2 mb-1">100% Original</h4>
                <p class="card-text">Chocolate bar candy canes ice cream toffee. Croissant pie cookie halvah.</p>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="w-75 mx-auto">
                <i class="fas fa-clock text-primary font-size-40px"></i>
                <h4 class="mt-2 mb-1">10 Day Replacement</h4>
                <p class="card-text">Marshmallow biscuit donut dragée fruitcake. Jujubes wafer cupcake.</p>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="w-75 mx-auto">
                <i class="fas fa-shield-alt text-primary font-size-40px"></i>
                <h4 class="mt-2 mb-1">1 Year Warranty</h4>
                <p class="card-text">Cotton candy gingerbread cake I love sugar plum I love sweet croissant.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="text-center mt-6 mb-7">Related products</h4>
            <smart-carousel id="carousel" class="related-products-carousel slide slider-style-adaptive-height multi-items" adaptive-height slide-show loop item-template="itemTemplateMultiItems"></smart-carousel>

            <template id="itemTemplateMultiItems">
                <div class="slides-holder">
                    <div class="item bg-secondary-opacity-1 border">
                        <div>
                            <h5>{{label1}}</h5>
                            <p>by {{brand1}}</p>
                        </div>

                        <div class="image">
                            <img class="image" src="{{image1}}"/>
                        </div>
                        <br/>
                        <h6 class="text-primary">{{price1}}</h6>
                    </div>
                    <div class="item bg-secondary-opacity-1 border">
                        <div>
                            <h5>{{label2}}</h5>
                            <p>by {{brand2}}</p>
                        </div>

                        <div class="image">
                            <img class="image" src="{{image2}}"/>
                        </div>
                        <br/>
                        <h6 class="text-primary">{{price2}}</h6>
                    </div>
                    <div class="item bg-secondary-opacity-1 border">
                        <div>
                            <h5>{{label3}}</h5>
                            <p>by {{brand3}}</p>
                        </div>

                        <div class="image">
                            <img class="image" src="{{image3}}"/>
                        </div>
                        <br/>
                        <h6 class="text-primary">{{price3}}</h6>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>