<smart-card #card item-template="cardTemplate"></smart-card>
<smart-card #card2 item-template="cardTemplate"></smart-card>
<smart-card #card3 item-template="cardTemplate"></smart-card>
<smart-card #card4 item-template="cardTemplate"></smart-card>
<smart-card #card5 item-template="cardTemplate"></smart-card>
<smart-card #card6 item-template="cardTemplate"></smart-card>
<smart-card #card7 item-template="cardTemplate"></smart-card>
<smart-card #card8 item-template="cardTemplate"></smart-card>
<smart-card #card9 item-template="cardTemplate"></smart-card>
<smart-card #card10 item-template="cardTemplate"></smart-card>
<smart-card #card11 item-template="cardTemplate"></smart-card>
<smart-card #card12 item-template="cardTemplate"></smart-card>
<smart-card #card13 item-template="cardTemplate"></smart-card>
<smart-card #card14 item-template="cardTemplate"></smart-card>
<smart-card #card15 item-template="cardTemplate"></smart-card>
<smart-card #card16 item-template="cardTemplate"></smart-card>
<smart-card #card17 item-template="cardTemplate"></smart-card>
<smart-card #card18 item-template="cardTemplate"></smart-card>
<smart-card #card19 item-template="cardTemplate"></smart-card>
<smart-card #card20 item-template="cardTemplate"></smart-card>
<smart-card #card21 item-template="cardTemplate"></smart-card>
