<div id="header">
    <div>
        <h3>Statistics</h3>
        <p id="dates"><span id="startDate">Sep 16, 2021</span> - <span id="endDate">Dec 16, 2021</span></p>
    </div>
    <div id="buttons" class="buttons">
        <smart-button id="btn3Months" class="primary">3 MONTHS</smart-button>
        <smart-button id="btn6Months">6 MONTHS</smart-button>
        <smart-button id="btn1Year">1 YEAR</smart-button>
    </div>
</div>

<div id="tabs">
    <smart-tabs #tabs [selectedIndex]="0" [selectionMode]="'click'">
        <smart-tab-item [label]="'All issues'">
            <app-tabs-charts [chartData]="data"></app-tabs-charts>
        </smart-tab-item>
        <smart-tab-item [label]="'Assigned to me'">
            <app-tabs-charts [chartData]="dataToMe"></app-tabs-charts>
        </smart-tab-item>
        <smart-tab-item [label]="'Created by me'">
            <app-tabs-charts [chartData]="dataByMe"></app-tabs-charts>
        </smart-tab-item>
    </smart-tabs>
</div>

<div id="charts">
    <div id="issueTypes">
        <div class="title">Issue Types</div>
            <smart-chart #donutChart id="donut" [caption]="''" [description]="''"                  
                [padding]="padding" [titlePadding]="titlePadding"
                [showBorderLine]="false" [showLegend]="true" [legendLayout]="legendLayout"
                [colorScheme]="colorScheme" [seriesGroups]="seriesGroups">
            </smart-chart>
    </div>
    <div id="typesDistribution">
        <div class="title">Types Distribution</div>
        <div>
            <div class="types-info">
                <div (click)="showHideSerie(0, 'low')">
                    <div class="labels low">
                        <div class="count">60</div>
                        <div class="label">Low</div>
                    </div>
                </div>
                <div (click)="showHideSerie(1, 'medium')">
                    <div class="labels medium">
                        <div class="count">54</div>
                        <div class="label">Medium</div>
                    </div>
                </div>
                <div (click)="showHideSerie(2, 'high')">
                    <div class="labels high">
                        <div class="count">20</div>
                        <div class="label">High</div>
                    </div>
                </div>
                <div (click)="showHideSerie(3, 'other')">
                    <div class="labels other grey">
                        <div class="count">4</div>
                        <div class="label">Others</div>
                    </div>
                </div>
            </div>
            <smart-chart #linesChart id="linesChart" [caption]="''" [description]="''" 
                [showBorderLine]="false" [colorScheme]="colorScheme" [showLegend]="false"
                [padding]="linesChartPadding" [titlePadding]="titlePadding" [dataSource]="typesDistibutionSource" 
                [xAxis]="xAxis" [valueAxis]="valueAxis" [seriesGroups]="lineSeriesGroups">
            </smart-chart>
        </div>
    </div> 
</div>