/* header */

#header {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin-bottom: 0;
}

#dates {
    margin-top: 10px;
}

.buttons {
    height: 35px;
    align-self: flex-end;
}

#btn3Months {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

#btn6Months {    
    border-left: none;
    border-right: none;
    border-radius: unset;
}

#btn1Year {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

/* main */
smart-tabs {
    width: 100%;
    height: auto;
    min-height: initial;
    margin-top: 30px;
    padding: 0;
}
    smart-tabs smart-tab-item:not(.smart-visibility-hidden) {
        position: relative;
    }

/* charts */
#charts {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#issueTypes, #typesDistribution {
    background-color: #fff;
}

#issueTypes {
    width: 29%;
}

#typesDistribution {
    width: 69%;
}

.title {
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 10px;
}

#donut {
    width: 100%;
    height: 400px;
}

.types-info {
    display: flex;
    padding: 0 20px;
}

.types-info > div {
    width: 25%;
    padding: 10px;
    cursor: pointer;
}

.count {
    font-size: 56px;
    font-weight: 200;
}

.label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.labels {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.labels.low {
    color: #28a745;
}

.labels.medium {
    color: #f96;
}

.labels.high {
   color: #dc3545;
}

.labels.other {
    color: #52c3d3;
}

.labels.grey {
    color: #a2acac;
}

#linesChart {
    width: 100%;
    height: 300px;
}
