<div class="demo-description"></div>
<div class="smart-grid-layout">
    <div class="row">
        <div class="col-sm-2">Orientation</div>
        <div class="col-sm-5">Horizontal</div>
        <div class="col-sm-5">Vertical - when "vertical" class name is used.</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Stretch</div>
        <div class="col-sm-5">"stretch" - stretches items horizontally.</div>
        <div class="col-sm-5">"vertical-stretch" - stretches items vertically.</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Class prefixes when Stretched</div>
        <div class="col-sm-5">"item.strech-" - from 1 to 6. Defines the strech size of the item.</div>
        <div
        class="col-sm-5">"spacing-" - from 1 to 6. Defines the spacing between the items.</div>
</div>
<div class="row">
    <div class="col-sm-2">Alignment Class</div>
    <div class="col-sm-1">"left" - aligns items to the left.</div>
    <div class="col-sm-1">"center" - aligns items in the center.</div>
    <div class="col-sm-2">"right" - aligns items to the right.</div>
    <div class="col-sm-2">"top" - aligns items to the top.</div>
    <div class="col-sm-2">"middle" - aligns items in the middle.</div>
    <div class="col-sm-2">"bottom" - aligns items to the bottom.</div>
</div>
</div>
<br/>