<smart-tabs #tabs id="tabs" selected-index="0">
    <smart-tab-item label="Accordion 1">
        <smart-accordion #accordion expand-mode="single">
            <smart-accordion-item index="0" label="Item 0">Content</smart-accordion-item>
            <smart-accordion-item index="1" label="Item 1">Content</smart-accordion-item>
            <smart-accordion-item index="2" label="Item 3">Content</smart-accordion-item>
        </smart-accordion>
    </smart-tab-item>
    <smart-tab-item label="Accordion 2">
        <smart-accordion #accordion2 expand-mode="single">
            <smart-accordion-item index="0" label="Item 0">Content</smart-accordion-item>
            <smart-accordion-item index="1" label="Item 1">Content</smart-accordion-item>
            <smart-accordion-item index="2" label="Item 3">Content</smart-accordion-item>
        </smart-accordion>
    </smart-tab-item>
    <smart-tab-item label="Accordion 3">
        <smart-accordion #accordion3 expand-mode="single">
            <smart-accordion-item index="0" label="Item 0">Content</smart-accordion-item>
            <smart-accordion-item index="1" label="Item 1">Content</smart-accordion-item>
            <smart-accordion-item index="2" label="Item 3">Content</smart-accordion-item>
        </smart-accordion>
    </smart-tab-item>
</smart-tabs>