<div class="demo-description">This demo demonstrates the Grid column formatting options. The numbers
    in the first column are with "Percent" formatting. The numbers in the second
    column are with "Currency" formatting. The numbers in the third column
    are with "Exponential" formatting, The numbers in the fourth column are
    with "Scientific" formatting. The Dates in the fifth column are with "dd/MM/yyyy"
    formatting. The Dates in the last column are with "F" formatting, which
    includes Date/Time information.</div>
<br />
<smart-grid [dataSource]="dataSource" [columns]="columns" #grid id="grid"></smart-grid>