<smart-list-menu #listmenu [rightToLeft]="true">
    <smart-menu-items-group>
        קובץ
        <smart-menu-item [shortcut]="'Ctrl+N'">חדש</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+0'">פתוח</smart-menu-item>
        <smart-menu-items-group>
            תיקייה פתוחה המכילה
            <smart-menu-item>מגלה ארצות</smart-menu-item>
            <smart-menu-item>cmd</smart-menu-item>
        </smart-menu-items-group>
        <smart-menu-item [shortcut]="'Ctrl+S'" [disabled]="true">להציל</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+Alt+S'" [separator]="true">שמור כ...</smart-menu-item>
        <smart-menu-item [shortcut]="'Alt+F4'">יציאה</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        ערוך
        <smart-menu-item [shortcut]="'Ctrl+Z'">לבטל</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+Y'" [separator]="true">מוכן</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+X'">גזירה</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+C'">עותק</smart-menu-item>
        <smart-menu-item [shortcut]="'Ctrl+V'" [disabled]="true">הדבק</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        קידוד
        <smart-menu-item>קידוד ב- ANSI</smart-menu-item>
        <smart-menu-item>קידוד ב- UTF-8</smart-menu-item>
        <smart-menu-item>קידוד ב- UTF-8-BOM</smart-menu-item>
        <smart-menu-item>קידוד ב- UTCS-2 BE BOM</smart-menu-item>
        <smart-menu-item>קידוד ב- UTCS-2 LE BOM</smart-menu-item>
        <smart-menu-items-group [separator]="true">
            ערכות תווים
            <smart-menu-items-group>
                קירילית
                <smart-menu-item>ISO 8859-5</smart-menu-item>
                <smart-menu-item>KOI8-R</smart-menu-item>
                <smart-menu-item>KOI8-U</smart-menu-item>
                <smart-menu-item>Windows-1251</smart-menu-item>
            </smart-menu-items-group>
            <smart-menu-items-group>
                סינית
                <smart-menu-item>Big5 (מסורתי)</smart-menu-item>
                <smart-menu-item>GB2312 (מפושט)</smart-menu-item>
            </smart-menu-items-group>
            <smart-menu-items-group>
                Western European
                <smart-menu-item>ISO 8859-1</smart-menu-item>
                <smart-menu-item>ISO 8859-15</smart-menu-item>
                <smart-menu-item>OEM 850</smart-menu-item>
                <smart-menu-item>Windows-1252</smart-menu-item>
            </smart-menu-items-group>
        </smart-menu-items-group>
        <smart-menu-item>להמיר ל ANSI</smart-menu-item>
        <smart-menu-item>להמיר ל UTF-8</smart-menu-item>
        <smart-menu-item>להמיר ל UTF-8-BOM</smart-menu-item>
        <smart-menu-item>להמיר ל UTCS-2 BE BOM</smart-menu-item>
        <smart-menu-item>להמיר ל UTCS-2 LE BOM</smart-menu-item>
    </smart-menu-items-group>
</smart-list-menu>