<smart-list-box #listbox id="phoneBook" [sorted]="true">
    <smart-list-item><i class="icon"></i>Andrew Watson</smart-list-item>
    <smart-list-item><i class="icon"></i>Anne Kean</smart-list-item>
    <smart-list-item><i class="icon"></i>Avril Janin</smart-list-item>
    <smart-list-item><i class="icon"></i>Janet Pattenson</smart-list-item>
    <smart-list-item><i class="icon"></i>Johanna Svensson</smart-list-item>
    <smart-list-item><i class="icon"></i>Johnny Abana</smart-list-item>
    <smart-list-item><i class="icon"></i>Laura Thene</smart-list-item>
    <smart-list-item><i class="icon"></i>Margaret Vetton</smart-list-item>
    <smart-list-item><i class="icon"></i>Maria Sevrano</smart-list-item>
    <smart-list-item><i class="icon"></i>Mark Yemen</smart-list-item>
    <smart-list-item><i class="icon"></i>Maya Verdara</smart-list-item>
    <smart-list-item><i class="icon"></i>Michael Barton</smart-list-item>
    <smart-list-item><i class="icon"></i>Monica Oghini</smart-list-item>
    <smart-list-item><i class="icon"></i>Nancy Queens</smart-list-item>
    <smart-list-item><i class="icon"></i>Robert Drawny</smart-list-item>
    <smart-list-item><i class="icon"></i>Steven Fedrichy</smart-list-item>
    <smart-list-item><i class="icon"></i>Toni Versachi</smart-list-item>
</smart-list-box>