<smart-gauge #gauge [analogDisplayType]="'fill'" [startAngle]="0" [endAngle]="180"
             [min]="-15" [max]="15" [value]="13" [sizeMode]="'auto'"></smart-gauge>
<smart-gauge #gauge2 [analogDisplayType]="'needle'" [startAngle]="-30"
             [endAngle]="210" [min]="0" [max]="100" [value]="0" [sizeMode]="'auto'"></smart-gauge>
<smart-gauge #gauge3 [analogDisplayType]="'needle'" [startAngle]="30"
             [endAngle]="70" [min]="0" [max]="100" [value]="100" [sizeMode]="'auto'"></smart-gauge>
<smart-gauge #gauge4 [analogDisplayType]="'fill'" [startAngle]="30"
             [endAngle]="70" [min]="0" [max]="100" [value]="100" [sizeMode]="'auto'"></smart-gauge>
<smart-gauge #gauge5 id="gaugeLargeFont" [analogDisplayType]="'fill'"
             [startAngle]="30" [endAngle]="70" [min]="0" [max]="100" [value]="100" [sizeMode]="'auto'"></smart-gauge>
<smart-gauge #gauge6 [analogDisplayType]="'line'" [startAngle]="-30"
             [endAngle]="-70" [min]="0" [max]="100" [value]="100" [sizeMode]="'auto'"></smart-gauge>
<smart-gauge #gauge7 [analogDisplayType]="'line'" [startAngle]="-70"
             [endAngle]="-30" [min]="0" [max]="100" [value]="100" [sizeMode]="'auto'"></smart-gauge>
<smart-gauge #gauge8 [analogDisplayType]="'line'" [startAngle]="80"
             [endAngle]="100" [min]="0" [max]="100" [value]="100" [sizeMode]="'auto'"></smart-gauge>