.e-commerce-list {
    .e-commerce-list-header {
        margin-bottom: 0.75rem;
    }

    .text-break-line-2 {
        height: 50px;
    }

    .cards-row {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .card-info {
            padding-top: 2rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;

            img {
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
            }

            .make-price-wrapper {
                margin-bottom: 1rem;
            }

            .card-info-text {
                margin-top: 2rem;

                .custom-col-8 {
                    flex: 0 0 66.6666666667%;
                    max-width: 66.6666666667%;
                }

                .custom-col-4 {
                    flex: 0 0 33.3333333333%;
                    max-width: 33.3333333333%;
                }
            }
        }

        smart-button {
            i {
                margin-right: 0.5rem;
            }
        }
    }

    .cards-row > .custom-col {
        margin-bottom: 1.5rem;
    }

    @media (min-width: 576px) {
        .col-entity-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (min-width: 768px) {
        .col-entity-md-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
    }

    @media (min-width: 1200px) {
        .col-entity-xl-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}
