<!DOCTYPE html>
<html>

<head>
    <title id='Description'>Angular SwitchButton Template | SwitchButton | https://www.htmlelements.com/</title>
    <base href="./../../../dist/switchbutton/template/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>
    <app-root>Loading...</app-root>

    <template id="trueTemplate"> <span class="smart-true-content">{{content}}</span>
    </template>
    <template id="falseTemplate"> <span class="smart-false-content">{{content}}</span>
    </template>
    <template id="trueTemplate2"> <span class="smart-true-content">{{content}}!</span>
    </template>
    <template id="falseTemplate2"> <span class="smart-false-content">{{content}}!</span>
    </template>

    <script src="runtime.js" type="module"></script>
    <script src="polyfills.js" type="module"></script>
    
    
    <script src="main.js" type="module"></script>
    
</body>

</html>