<div class="button-demo css-fizzy-button">
    <label>Fizzy Button</label>
    <div class="demo-buttons-group">
        <div class='button'>
            <input id='button' type='checkbox'>
            <label for='button'>
                <div class='button_inner q'>
                    <smart-button #button class="smart-button"> <i class='l ion-log-in'></i> <span class='t'>Downloads</span> <span>

                                <i class='tick ion-checkmark-round'></i>

                            </span>
                    </smart-button>
                    <div class='b_l_quad'>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                        <div class='button_spots'></div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>