<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Vector Maps</h4></div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">World Map</h4>
                </div>
                <div class="card-body">
                    <div id="worldMap" class="map"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Map of Europe</h4>
                </div>
                <div class="card-body">
                    <div id="europeMap" class="map"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Map of Europe With Largest Cities</h4>
                </div>
                <div class="card-body">
                    <div id="europeCitiesMap" class="map"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">Map of Africa With Selectable Countries</h4>
                </div>
                <div class="card-body">
                    <div id="africaSelectableMap" class="map"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="label">World Map With Colors</h4>
                </div>
                <div class="card-body">
                    <div id="colorsMap" class="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>