<smart-carousel #carousel [autoPlay]="true" [slideShow]="true" [interval]="2000" [loop]="true"></smart-carousel>
<smart-carousel #carousel2 class="fade" [autoPlay]="true" [slideShow]="true" [interval]="2000" [loop]="true">
</smart-carousel>
<smart-carousel #carousel3 class="slide" [autoPlay]="true" [slideShow]="true" [interval]="2000" [loop]="true">
</smart-carousel>
<smart-carousel #carousel4 class="slide-right" [autoPlay]="true" [slideShow]="true" [interval]="2000" [loop]="true">
</smart-carousel>
<smart-carousel #carousel5 class="slide-top" [autoPlay]="true" [slideShow]="true" [interval]="2000" [loop]="true">
</smart-carousel>
<smart-carousel #carousel6 class="slide-bottom" [autoPlay]="true" [slideShow]="true" [interval]="2000" [loop]="true">
</smart-carousel>