<h3 id="log">smartCalendar animations On</h3>
<br>
 <h3 id="animationSwitchLabel">Toggle animation</h3>
<smart-switch-button #switchbutton id="animationSwitch" [switchMode]="'click'"
[checked]="true"> 
</smart-switch-button>
<smart-calendar #calendar id="calendar" class="animation"></smart-calendar>
<br>
 <h3 id="animationDirectionSwitchLabel">Animation direction</h3>
<smart-switch-button #switchbutton2 id="animationDirectionSwitch" [switchMode]="'click'"
[checked]="true">
</smart-switch-button>