<div class="issues-info">
    <div>
        <div class="labels active">
            <div class="count">{{chartData.totalActive}}</div>
            <div class="label">Active issues</div>
        </div>
        <smart-chart #activeChart [caption]="''" [description]="''" 
            [showBorderLine]="false" [showLegend]="false" [padding]="padding"
            [titlePadding]="titlePadding" [colorScheme]="colorScheme" 
            [dataSource]="chartData.activeChartData" [xAxis]="xAxis" 
            [valueAxis]="valueAxis" [seriesGroups]="seriesGroups">
        </smart-chart>
    </div>
    <div>
        <div class="labels closed">
            <div class="count">{{chartData.totalClosed}}</div>
            <div class="label">Closed issues</div>
        </div>
        <smart-chart #closedChart id="closedChart" [caption]="''" [description]="''" 
            [showBorderLine]="false" [showLegend]="false" [padding]="padding" 
            [titlePadding]="titlePadding"  [colorScheme]="colorScheme" [dataSource]="chartData.closedChartData"
            [xAxis]="xAxis" [valueAxis]="valueAxis" [seriesGroups]="seriesGroups1">
        </smart-chart>
    </div>
    <div>
        <div class="labels open">
            <div class="count">{{chartData.totalOpen}}</div>
            <div class="label">Open issues</div>
        </div>
        <smart-chart #openChart [caption]="''" [description]="''" 
            [showBorderLine]="false" [showLegend]="false" [padding]="padding" 
            [titlePadding]="titlePadding" [colorScheme]="colorScheme" [dataSource]="chartData.openChartData"
            [xAxis]="xAxis" [valueAxis]="valueAxis" [seriesGroups]="seriesGroups2">
        </smart-chart>
    </div>
    <div>
        <div class="labels rate">
            <div class="count">{{chartData.closeRate}}%</div>
            <div class="label">Close rate</div>
        </div>
        <p>Highest: 100% on Aug 10, 2021</p>
        <p>Lowest: 21% on Nov 14, 2021</p>
        <smart-progress-bar #progressbar id="progressbar" [value]="chartData.closeRate"></smart-progress-bar>
    </div>
</div>
<smart-chart #allIssuesChart id="allIssuesChart" [caption]="''" [description]="''"
    [colorScheme]="colorScheme" [showBorderLine]="false" [showLegend]="false" [padding]="padding" 
    [titlePadding]="titlePadding" [dataSource]="chartData.allIssuesData"
    [xAxis]="xAxis" [valueAxis]="valueAxis" [seriesGroups]="seriesGroups3">
</smart-chart>