.issues-info {
    display: flex;
    --smart-ui-state-active: #dc3545;
    --smart-ui-state-border-active: #dc3545;
}

.issues-info > div {
    width: 24%;
    padding: 10px;
}

.count {
    font-size: 56px;
    font-weight: 200;
}

.label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.issues-info smart-chart {
    width: 100%;
    height: 80px;
}

.active .count, .active .label {
    color: #000000;
}

.closed .count, .closed .label {
   color: #dc3545; 
}

.open .count, .open .label {
    color: #28a745;
}

.rate .count, .rate .label {
    color: #000000;
}

.issues-info p {
    margin: 0;
}

#progressbar {
    height: 25px;
    background: #28a745;
}

#allIssuesChart {
    width: 100%;
    height: 400px;
}