<div class="demo-horizontal-layout">
    <div>
        <label>Default Buttons</label>
        <div class="demo-buttons-group">
            <smart-button>Normal</smart-button>
            <smart-button #button class="raised">Raised</smart-button>
            <smart-button #button2 class="outlined">Outlined</smart-button>
            <smart-button #button3 class="flat">Flat</smart-button>
            <smart-button #button4 class="floating"><span class="button-demo-icon demo-icon demo-device-icon-phone-portrait demo-button-demo-icon"><i class="material-icons">&#xE53F;</i></span>
            </smart-button>
        </div>
    </div>
    <div>
        <label>Primary Buttons</label>
        <div class="demo-buttons-group">
            <smart-button #button5 class="primary">Normal</smart-button>
            <smart-button #button6 class="raised primary">Raised</smart-button>
            <smart-button #button7 class="outlined primary">Outlined</smart-button>
            <smart-button #button8 class="flat primary">Flat</smart-button>
            <smart-button #button9 class="floating primary"><span class="button-demo-icon demo-icon demo-device-icon-phone-portrait demo-button-demo-icon"><i class="material-icons">&#xE53F;</i></span>
            </smart-button>
        </div>
    </div>
    <div>
        <label>Secondary Buttons</label>
        <div class="demo-buttons-group">
            <smart-button #button10 class="secondary">Normal</smart-button>
            <smart-button #button11 class="raised secondary">Raised</smart-button>
            <smart-button #button12 class="outlined secondary">Outlined</smart-button>
            <smart-button #button13 class="flat secondary">Flat</smart-button>
            <smart-button #button14 class="floating secondary"><span class="button-demo-icon demo-icon demo-device-icon-phone-portrait demo-button-demo-icon"><i class="material-icons">&#xE53F;</i></span>
            </smart-button>
        </div>
    </div>
    <div>
        <label>Success Buttons</label>
        <div class="demo-buttons-group">
            <smart-button #button15 class="success">Normal</smart-button>
            <smart-button #button16 class="raised success">Raised</smart-button>
            <smart-button #button17 class="outlined success">Outlined</smart-button>
            <smart-button #button18 class="flat success">Flat</smart-button>
            <smart-button #button19 class="floating success"><span class="button-demo-icon demo-icon demo-device-icon-phone-portrait demo-button-demo-icon"><i class="material-icons">&#xE53F;</i></span>
            </smart-button>
        </div>
    </div>
    <div>
        <label>Error Buttons</label>
        <div class="demo-buttons-group">
            <smart-button #button20 class="error">Normal</smart-button>
            <smart-button #button21 class="raised error">Raised</smart-button>
            <smart-button #button22 class="outlined error">Outlined</smart-button>
            <smart-button #button23 class="flat error">Flat</smart-button>
            <smart-button #button24 class="floating error"><span class="button-demo-icon demo-icon demo-device-icon-phone-portrait demo-button-demo-icon"><i class="material-icons">&#xE53F;</i></span>
            </smart-button>
        </div>
    </div>
</div>