html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    --smart-scheduler-shortcut-size: 30px;
}

#root > div {
    width: 100%;
    height: 100%;
}

@media (max-width: 750px) {
    .options {
        position: relative;
        top: 30px;
        width: 240px;
        margin: 0 auto;
    }
}

.smart-scheduler {
    width: calc(100% - 260px);
    height: calc(100% - 140px);
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, .15);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 260px
}

.options {
    box-sizing: border-box;
    overflow: hidden;
}

.options .smart-input {
    width: 100%;
}

.demo-header {
    width: calc(100% - 260px);
    height: 140px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    display: grid;
    grid-template-columns: minmax(0, auto) 1fr;
    grid-column-gap: 10px;
    position: relative;
}

.demo-header-label {
    width: 100%;
    font-size: 45px;
    text-shadow: 1px 5px 5px var(--smart-border);
    display: flex;
    align-items: flex-end;
}

.demo-content {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.demo-header .person-a,
.demo-header .person-b,
.demo-header .person-c {
    height: 100%;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px 4px var(--smart-border);
}

.demo-header .person-a {
    background-image: url(./images/people/steven.png);
}

.demo-header .person-b {
    background-image: url(./images/people/mark.png);
}

.demo-header .person-c {
    background-image: url(./images/people/janet.png);
}

@media (max-width: 750px) {
    .smart-scheduler {
        width: 100%;
    }

    .demo-header {
        width: 100%;
    }
}

#steven {
    --smart-primary: #208056;
    --smart-ui-state-border-active: var(--smart-primary);
    --smart-ui-state-active: var(--smart-primary);
}

#mark {
    --smart-primary: #7B60BF;
    --smart-ui-state-border-active: var(--smart-primary);
    --smart-ui-state-active: var(--smart-primary);
}

#janet {
    --smart-primary: #807120;
    --smart-ui-state-border-active: var(--smart-primary);
    --smart-ui-state-active: var(--smart-primary);
}

.steven {
    --smart-scheduler-event-background-rgb: 32, 128, 86;
    --smart-scheduler-event-background: rgba(var(--smart-scheduler-event-background-rgb), 1);
    --smart-scheduler-event-focus: rgba(var(--smart-scheduler-event-background-rgb), .9);
    --smart-scheduler-event-hover: rgba(var(--smart-scheduler-event-background-rgb), .8);
}

.mark {
    --smart-scheduler-event-background-rgb: 123, 96, 191;
    --smart-scheduler-event-background: rgba(var(--smart-scheduler-event-background-rgb), 1);
    --smart-scheduler-event-focus: rgba(var(--smart-scheduler-event-background-rgb), .9);
    --smart-scheduler-event-hover: rgba(var(--smart-scheduler-event-background-rgb), .8);
}

.janet {
    --smart-scheduler-event-background-rgb: 128, 113, 32;
    --smart-scheduler-event-background: rgba(var(--smart-scheduler-event-background-rgb), 1);
    --smart-scheduler-event-focus: rgba(var(--smart-scheduler-event-background-rgb), .9);
    --smart-scheduler-event-hover: rgba(var(--smart-scheduler-event-background-rgb), .8);
}