<smart-accordion #accordion id="accordion">
    <smart-accordion-item index="0" label="Tabs 1">
        <smart-tabs #tabs class="demoTabs" selected-index="1">
            <smart-tab-item label="TAB 1">Content 1</smart-tab-item>
            <smart-tab-item label="TAB 2">Content 2</smart-tab-item>
        </smart-tabs>
    </smart-accordion-item>
    <smart-accordion-item index="1" label="Tabs 2">
        <smart-tabs #tabs2 class="demoTabs" selected-index="1">
            <smart-tab-item label="TAB 1">Content 1</smart-tab-item>
            <smart-tab-item label="TAB 2">Content 2</smart-tab-item>
        </smart-tabs>
    </smart-accordion-item>
    <smart-accordion-item index="2" label="Tabs 3">
        <smart-tabs #tabs3 class="demoTabs" selected-index="1">
            <smart-tab-item label="TAB 1">Content 1</smart-tab-item>
            <smart-tab-item label="TAB 2">Content 2</smart-tab-item>
            <smart-tab-item label="TAB 3">Content 3</smart-tab-item>
        </smart-tabs>
    </smart-accordion-item>
    <smart-accordion-item index="3" label="Tabs 4">
        <smart-tabs #tabs4 class="demoTabs" selected-index="1">
            <smart-tab-item label="TAB 1">Content 1</smart-tab-item>
            <smart-tab-item label="TAB 2">Content 2</smart-tab-item>
            <smart-tab-item label="TAB 3">Content 3</smart-tab-item>
            <smart-tab-item label="TAB 4">Content 4</smart-tab-item>
        </smart-tabs>
    </smart-accordion-item>
</smart-accordion>