.typography-page {
    .primary {
        color: var(--smart-primary);
    }
    
    .secondary {
        color: var(--smart-secondary);
    }
    
    .success {
        color: var(--smart-success);
    }
    
    .error {
        color: var(--smart-error);
    }
    
    .info {
        color: var(--smart-info);
    }
    
    .warning {
        color: var(--smart-warning);
    }
}
