<!DOCTYPE html>
<html>

<head>
    <title id='Description'>Angular Layout Dashboard | Layout | https://www.htmlelements.com/</title>
    <base href="./../../../dist/layout/dashboard/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>
    <app-root>Loading...</app-root>

    <template id="template"> <span class="list-item">
            <img height="53px" class="icon" src="../../images/people/nancy.jpg" />{{label}}</span>
    </template>

    <template id="calendatFooter">
        <smart-button #button class="flat primary">Clear</smart-button>
    </template>

    <script src="runtime.js" type="module"></script>
    <script src="polyfills.js" type="module"></script>
    
    
    <script src="main.js" type="module"></script>
    
</body>

</html>