<smart-chart #chart id="chart" [caption]="caption" [description]="description" [showLegend]="showLegend"
    [padding]="padding" [titlePadding]="titlePadding" [dataSource]="dataSource" [xAxis]="xAxis"
    [colorScheme]="colorScheme" [seriesGroups]="seriesGroups"></smart-chart>
<br />
<div class="options">
    <smart-button #button id="saveAsJPEG">Save As JPEG</smart-button>
    <smart-button #button2 id="saveAsPNG">Save As PNG</smart-button>
    <smart-button #button3 id="saveAsPDF">Save As PDF</smart-button>
    <smart-check-box #checkbox id="landscape">(landscape)</smart-check-box>
    <br />
    <br />
    <smart-button #button4 id="print" class="success outlined">Print</smart-button>
</div>