<h2>Logarithmic Scale</h2>
<br />
<h3>Horizontal</h3>
<smart-slider #slider id="horizontalSlider" [showTooltip]="true" [logarithmicScale]="true"
              [coerce]="true" [interval]="1" [min]="0" [max]="10000000" [value]="1000" [scalePosition]="'both'"></smart-slider>
<br />
<h3>Vertical</h3>
<smart-slider #slider2 id="verticalSlider" [showTooltip]="true" [tooltipPosition]="'far'"
              [orientation]="'vertical'" [logarithmicScale]="true" [coerce]="true" [interval]="1" [min]="0" [max]="10000000"
              [value]="1000" [scalePosition]="'far'"></smart-slider>