<div class="demo-description">In this example the dialogCustomizationFunction is used to customize the built-in Kanban window.</div>

<smart-kanban #kanban  [collapsible]="collapsible" 
 [editable]="editable" [columnActions]="columnActions" [columnEditMode]="columnEditMode"
 [columnFooter]="columnFooter" [columnSummary]="columnSummary" [columnColors]="columnColors" 
 [columnColorEntireSurface]="columnColorEntireSurface" [allowColumnEdit]="allowColumnEdit" [allowColumnReorder]="allowColumnReorder" 
 [taskActions]="taskActions" [dataSource]="dataSource" [taskDue]="taskDue"  [taskProgress]="taskProgress" [columns]="columns"
 [dialogCustomizationFunction]="dialogCustomizationFunction">
</smart-kanban>